# Jekyll Configuration

#
# Site settings
#

title: Gridcoin
description: > # this ">" means to ignore newlines until "baseurl:"
  Gridcoin is a cryptocurrency which rewards volunteer distributed computation
  performed on the BOINC platform on top of Proof-of-Stake.
baseurl: "" # the subpath of your site, e.g. /blog
license: The MIT License
license_url: https://opensource.org/licenses/MIT

#
# Build settings
#

destination: build

sass:
  sass_dir: assets/sass

exclude: ["README.md", "LICENSE"]

#
# Front Matter Defaults
#

defaults:
  -
    scope:
      path: ""
    values:
      layout: default