---
title: "Gridcoin Development Team"
description: "Gridcoin development team and notable contributors"
---
<section>
    <div class="container py-5 mt-5">
        <div class="row">
            {% for devteam in site.data.dev_team.devteam %}
                <div class="col-12 my-2">
                    <div class="card bg-light devcard">
                        <div class="row no-gutters">
                            <div class="col-2">
                                <img src={{ devteam.profile_picture_link }} class="card-img-top rounded-circle m-1" alt="" >
                            </div>
                            <div class="col-10">
                                <div class="card-body">
                                    <div class="row">
                                        {% if devteam.show_alias == "yes" %}
                                            <div class="col-6">
                                        {% else %}
                                            <div class="col-12">
                                        {% endif %}
                                            <h5 class="font-weight-bold">Name</h5>
                                            <p class="card-title">{{ devteam.name }}</p>
                                        </div>                                       
                                        {% if devteam.show_alias == "yes" %}
                                            <div class="col-6">
                                                <h5 class="font-weight-bold">Alias</h5>
                                                <p class="card-title">{{ devteam.alias }}</p>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <h5 class="font-weight-bold">Role</h5>
                                            <p class="card-text">{{ devteam.role_description }}</p>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <h5 class="font-weight-bold">Country</h5>
                                            <p class="card-text">{{ devteam.country_residence }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="card-footer bg-transparent">
                                    <a href={{ devteam.github_profile_link }} class="btn grcbtn">Github Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>