---
title: "Gridcoin - RPC Reference"
description: ""
---
<!--Intro-->
<section class="grc-ref grc-bgcolor grclink">
    <div class="container">
        <div class='row'>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h3 class="text-bold">Gridcoin RPC Reference</h3>
                <p>This page provides the commands available within the Gridcoin-Research client.</p>
                <ul>
                  <li><a href="#wallet_commands">Wallet Commands</a></li>
                  <li><a href="#network_commands">Network Commands</a></li>
                  <li><a href="#mining_commands">Mining Commands</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--/Intro-->


  <section class="grc-bgcolor">
      <div class="container">
        <div class="row" style="border-bottom: 1px dashed grey;">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <a name="wallet_commands"></a>
              <h4><b>Wallet commands</b></h4>
            </div>
            {% for command in site.data.wallet_commands.commands %}
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <h5>
                      <b>{{ command.command }}</b>
                      {% if command.parameters != "" %}
                        {{ command.parameters }}
                      {% endif %}
                    </h5>
                    <p>{{ command.description }}</p>
                    <p>
                      {% if command.unlock == "Y" %}
                        Requires unlocked wallet
                      {% else %}
                        Doesn't require an unlocked wallet
                      {% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>

        <div class="row" style="padding-top:50px;border-bottom: 1px dashed grey;">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <a name="mining_commands"></a>
            <h4><b>Mining commands</b></h4>
          </div>
            {% for command in site.data.mining_commands.commands %}
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <h5>
                      <b>{{ command.command }}</b>
                      {% if command.parameters != "" %}
                        {{ command.parameters }}
                      {% endif %}
                    </h5>
                    <p>{{ command.description }}</p>
                    <p>
                      {% if command.unlock == "Y" %}
                        Requires unlocked wallet
                      {% else %}
                        Wallet unlock unneccessarry
                      {% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>

        <div class="row" style="padding-top:50px;">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <a name="network_commands"></a>
            <h4><b>Network commands</b></h4>
          </div>
            {% for command in site.data.network_commands.commands %}
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <h5>
                      <b>{{ command.command }}</b>
                      {% if command.parameters != "" %}
                        {{ command.parameters }}
                      {% endif %}
                    </h5>
                    <p>{{ command.description }}</p>
                    <p>
                      {% if command.unlock == "Y" %}
                        Requires unlocked wallet
                      {% else %}
                        Wallet unlock unneccessarry
                      {% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>
      </div>
  </section>
  <!-- End of guide links -->
