<!DOCTYPE html>
<html class="h-100" lang="en">
	<%= partial "/layouts/partials/head" %>
	<body class="h-100 d-flex flex-column">
		<%= partial "/layouts/partials/header" %>
		<%= yield %>
		<%= partial "/layouts/partials/footer" %>

        <!--   Core JS Files   -->
        <script src="/assets/js/core/jquery-3.3.1.slim.min.js" type="text/javascript"></script>
        <script src="/assets/js/core/bootstrap.bundle.min.js" type="text/javascript"></script> 
    </body>
</html>
