<!--TEST AREA-->
<section class="acquire-grc grc-bgcolor grclink">
    <div class="container">
        <div class="row">
            <div class='col-12 col-sm-12 text-center'>
                <h4 class="text-bold">
                     Sync With the Blockchain
                </h4>
            </div>
        </div>
        <!--prereqs-->
        <div class="row">
            <div class="col-12">
                <ul>
                    <li>
                        Before your wallet can do anything, it needs to be synced. The cloud icon at the bottom right of the wallet shows your sync status, you can hover the mouse over it for detailed information. A green cloud means it is fully synced. Note that the first time you run the wallet, it may take several hours to fully sync depending on your computer and internet connection speed.
                    </li>
                    <li>
                        If you don't want to sync from 0, then you can download a snapshot of the blockchain from clicking File -> Snapshot Download or using the <code>-snapshotdownload</code> command line argument
                        <ul>
                            <li>
                                The snapshot will only bring you up to 80-90% sync. Allow it to continue syncing after the snapshot has been extracted.
                            </li>
                        </ul>
                    </li>
                    <li>
                        If you are unable to acquire connections to the Gridcoin network, attempt the following:
                        <ul>
                            <li>
                                Verify you're running the latest version of the Gridcoin client, as there are frequent updates. Check the <a href="/#Downloads">downloads page for the most recent version</a>.
                            </li>
                            <li>
                                Verify that your computer's time is in the correct timezone.
                            </li>
                            <li>
                                Investigate whether or not your ISP, firewall, or anti-virus is blocking P2P traffic.
                            </li>
                            <li>
                                Ask for help on any community platform
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--/prereqs-->
    </div>
</section>
<!--/TEST AREA-->

<!--TEST AREA-->
<section class="acquire-grc grc-bgcolor">
    <div class="container">
        <div class="row">
            <div class='col-12 col-sm-12 text-center'>
                <h4 class="text-bold">
                    Get Some Gridcoin
                </h4>
            </div>
        </div>
        <!--Contribute content-->
        <div class="row">
            <div class="col-12">
                <ul>
                    <li>
                        In Gridcoin's Proof-of-Stake (PoS) system, BOINC rewards are given when a user stakes, along with an additional 10 GRC.
                    </li>
                    <li>
                        Since Gridcoin 5.4 you don't have to stake on your own to get BOINC rewards. Instead you can get your rewards by clicking a button and paying a small fee to have somebody else stake for you via an MRC request.
                        See <a href="https://gridcoin.us/wiki/faq.html#what-is-manual-reward-claim-mrc">this wiki entry</a> for further details.
                    <ul>
                        <li>
                            For monthly staking, a balance of 5000 GRC is recommended.
                        </li>
                        <li>
                            Note: Your balance does not affect the amount of the payout, only how frequent. You also need to wait around 16 hours before any coins received are able to stake.
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--/TEST AREA-->
