<section class="boinc-c grclink grc-bgcolor">

    <div class="container">

        <!--Step 2 banner-->
        <div class="row">
            <div class="col-12">
                <h4 class="text-bold">
                    Choose Projects on the Whitelist
                </h4>
            </div>
        </div>
        <!--/Step 2 banner-->
        <div class="row">
            <div class="col-12 col-sm-4">
                <h6>Sources of whitelist data</h6>
                <ul>
                    <li>
                        Gridcoin Wallet.
                    </li>
                    <li>
                        <a href="http://wiki.gridcoin.us/Current_BOINC_Whitelist">Gridcoin wiki: Whitelist page</a>
                    </li>
                    <li>
                        <a href="/Guides/whitelist.htm">Gridcoin.us Whitelist page</a>
                    </li>
                    <li>
                        <a href="https://gridcoinstats.eu/project">Gridcoinstats.eu</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-8">
                <h6>Project Selection Tips</h6>
                <ul>
                    <li>
                        Choose projects with least competiton. Use <a href="https://gridcoinstats.eu/project">Gridcoinstats</a> to help identify such projects.
                    </li>
                    <li>
                        Select projects most compatible with your computer hardware, don't crunch GPU work with a CPU.
                    </li>
                    <li>
                        Verify your projects have enough work available, you don't want downtime for projects to generate new work.
                    </li>
                    <li>
                        Have a backup project in case your primary project runs out of work or goes down.
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!--End of GRC Feature Section-->
</section>
