<section class="boinc-b grc-bgcolor grclink" data-background-color="black">
    <!--Start of GRC Feature section-->
    <div class="container">

    <!--First row of features-->
        <!--Step 3 banner-->
        <div class="row">
            <div class="col-xs-12 text-center" >
                <h4 class="text-bold">
                    Pros and Cons of Account Managers
                </h4>
            </div>
        </div>
        <!--/Step 3 banner-->
        <!--Step 3 banner-->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                <ul>
                    <li>
                        Choose and follow the instructions for your choice
                    </li>
                    <li>
                        Use an Account Manager:
                        <ul>
                            <li>
                                Single Sign On: One password for BOINC to remember.
                            </li>
                            <li>
                                Manage computer resources &amp; configuration from one location.
                            </li>
                            <li>
                                Manage all BOINC projects from one management portal online.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Disadvantages:
                        <ul>
                            <li>
                                Single Sign On: If your account manager's credentials are compromised, then all of your BOINC project accounts will be compromised.
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--/Step 3 banner-->
        <!--Step 3 content-->
        <div class="row">
            <div class="col-xs-12">
                <h4 class="text-bold">No Account Manager Setup</h4>
                <ul>
                    <li>
                        After starting BOINC, select the "add a project" button.
                    </li>
                    <li>
                        After clicking "Next" choose a project.
                    </li>
                    <li>
                        For some projects (such as World Community Grid) you have to register directly on the homepage of the project. Remember to use the same email address for all BOINC projects.
                    </li>
                    <li>
                        Confirm the registration. After tapping the "Finish" button, a browser should open. If not, go to the project homepage (can be found via Google). Find the “Your Account” button and press it.
                    </li>
                    <li>
                        Within the web page, enter your username (country/post-code can be blank) then press OK.
                    </li>
                    <li>
                        Search for and join team "Gridcoin".
                    </li>
                    <li>
                        Repeat these steps for all projects you want to participate in.
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h4 class="text-bold">BOINC Account Manager Setup</h4>
                <ul>
                    <li>
                        Create a BAM! account <a href="https://boincstats.com/en/bam/register">here</a>.
                    </li>
                    <li>Wait for the activation mail, and activate your account.</li>
                    <li>Login to BAM! (the login box is at the top-right of <a href="https://boincstats.com">this page</a>).</li>
                    <li>Go to "<a href="https://boincstats.com/en/bam/signup/">Sign-up for projects</a>" in the BAM! menu and click the "Create account" icon for every project you want to join.</li>
                    <li>
                        Joining team Gridcoin:
                        <ul>
                            <li>Go to the <a href="https://boincstats.com/en/bam/teams/">Team</a> page.</li>
                            <li>For each project, tick the checkbox in the 3rd column.</li>
                            <li>Click the green "Change/Join team" button at the bottom of the list of projects.</li>
                            <li>Enter "Gridcoin" in the popup text field &amp; click the "Search" button.</li>
                            <li>Select team "Gridcoin" in each dropdown menu &amp; click the green "Change/join team" button.</li>
                            <li>Click the orange "back to overview" button.</li>
                        </ul>
                    </li>
                    <li>Go to "<a href="https://boincstats.com/en/bam/projects/">My projects</a>" in the BAM! menu and select the projects that you want all your new hosts to attach to by clicking the "Attach new host by default" icon.</li>
                    <li>Attach your BOINC client to BAM!. The instructions are <a href="https://boincstats.com/en/bam/attachInstruction">here</a>.</li>
                    <li>The client will make two connections to BAM!. It will connect to projects that are set to default attach.</li>
                    <li>Configure BAM! to your liking. Read the <a href="https://boincstats.com/en/page/faq">F.A.Q.</a> for details.</li>
                </ul>
            </div>
        </div>
        <!--/Step 3 content-->
    </div>
    <!--End of GRC Feature Section-->
</section>
