<section class="boinc-b grc-bgcolor grclink">
    <!--Start of GRC Feature section-->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="text-bold">Adding projects to BOINC</h4>
                <ul>
                    <li>
                        Note: If you are an existing BOINC user ane use an account manager such as BAM, you can add projects via your account manager so long as accounts at the projects all use the same e-mail address (BAM's default).
                    </li>
                    <li>
                        After starting BOINC, select the "add a project" button.
                    </li>
                    <li>
                        After clicking "Next" choose a project.
                    </li>
                    <li>
                        For some projects (such as World Community Grid) you have to register directly on the homepage of the project. Remember to use <b>the same email address</b> for all BOINC projects.
                    </li>
                    <li>
                        Confirm the registration. After tapping the "Finish" button, a browser should open. If not, go to the project homepage (can be found via Google). Find the “Your Account” button and press it.
                    </li>
                    <li>
                        Within the web page, enter your username (country/post-code can be blank) then press OK.
                    </li>
                    <li>
                        (optional) Search for and join team "Gridcoin" or a team of your choice.
                    </li>
                    <li>
                        Repeat these steps for all projects you want to participate in.
                    </li>
                </ul>
                        Note that you may wish to edit the computing preferences in BOINC (or via a project website) to control when and how BOINC uses your computer. For example, you can instruct BOINC to only use the computer when it is otherwise idle. You can edit your computing preferences on any project website or within BOINC Manager itself. BOINC manager will over-ride any settings from project websites.
            </div>
        </div>
    </div>
    <!--End of GRC Feature Section-->
</section>
