<footer class="gridcoin-footer">
    <div class="container">
        <div class="row">
            <!--Social links-->
            <div class="col-12 col-sm-3">
                <a name="Footer"></a> <!-- Link from nav -->
                <ul>
                    <li role="presentation"><h6>Community</h6></li>
                    <li>
                        <a href="/blog.htm">Blog</a>
                    </li>
                    <li>
                        <a href="/contact.htm">Contact Us</a>
                    </li>
                    <li>
                        <a href="https://cryptocurrencytalk.com/forum/464-gridcoin-grc/">Cryptocurrency talk</a>
                    </li>
                    <li>
                        <a href="https://discord.gg/jf9XX4a">Discord</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/gridcoins">Facebook</a>
                    </li>
                    <li>
                        <a href="https://www.reddit.com/r/gridcoin">Reddit</a>
                    </li>
                    <li>
                        <a href="https://chat.gridcoin.io/">Rocket chat</a>
                    </li>
                    <li>
                        <a href="https://join.slack.com/t/teamgridcoin/shared_invite/enQtMjk2NTI4MzAwMzg0LTUzMmY0YjdiNzYxYzQ0MDc3MGE1NjQ3Nzg2NWMzZTUzMjAwZjdhMWI1YWUzMDE4YzQyZjVjMjMzOTc1M2RmMmM/">Slack</a>
                    </li>
                    <li>
                        <a href="https://steemit.com/trending/gridcoin">Steemit</a>
                    </li>
                    <li>
                      <a href="https://whaleshares.io/created/gridcoin">Whaleshares</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/GridcoinNetwork">Twitter</a>
                    </li>
                    <li>
                        <a href="https://t.me/gridcoin">Gridcoin Telegram</a>
                    </li>
                    <li>
                        <a href="https://t.me/BOINC_Telegram">BOINC Telegram</a>
                    </li>
                    <li>
                        <a href="https://jq.qq.com/?_wv=1027&k=5fDyjCV">Gridcoin 中国 qq 群</a>
                    </li>
                </ul>
                <ul>
                    <li role="presentation"><h6>Media</h6></li>
                    <li>
                        <a href="https://github.com/gridcoin-community/Gridcoin-Marketing">Marketing & Media Files</a>
                    </li>
                    <li>
                        <a href="https://www.mixcloud.com/gridcoin_hangouts/">Mixcloud</a>
                    </li>
                    <li>
                        <a href="https://soundcloud.com/gridcoin-community-hangouts/">SoundCloud</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/c/GridcoinNetwork">YouTube</a>
                    </li>
                </ul>
            </div>
            <!--/Social Links-->
            <!--Social links-->
            <div class="col-12 col-sm-3">
                <ul>
                    <li role="presentation"><h6>Development</h6></li>
                    <li>
                        <a href="https://github.com/gridcoin-community/Gridcoin-Research">Github</a>
                    </li>
                    <li>
                        <a href="https://github.com/gridcoin-community/Gridcoin-Research/graphs/contributors">Core Wallet Contributors</a>
                    </li>
                    <li>
                        <a href="/Dev/rpc-reference.htm">RPC Reference</a>
                    </li>
                    <li>
                        <a href="/#Downloads">Wallet Downloads</a>
                    </li>
                    <li>
                        <a href="https://download.gridcoin.us/download/downloadstake/signed/snapshot.zip">Official Snapshot</a>
                    </li>
                    <li role="presentation"><h6>Block Explorers</h6></li>
                    <li>
                        <a href="https://www.gridcoinstats.eu/block">GridcoinStats</a>
                    </li>
                    <li>
                        <a href="https://www.nuad.de/block-explorer/">Nuad.de</a>
                    </li>
                    <li>
                        <a href="https://gridcoin.network/">Gridcoin.network</a>
                    </li>
                    <li>
                        <a href="https://grcexplorer.neuralminer.io">NeuralMiner.io</a>
                    </li>
                    <li role="presentation"><h6>Team Stats</h6></li>
                    <li>
                        <a href="https://boincstats.com/en/stats/-1/team/detail/118094994/projectList">Boincstats</a>
                    </li>
                    <li>
                        <a href="http://stats.free-dc.org/stats.php?page=teambycpid&team=Gridcoin">Free-DC</a>
                    </li>
                    <li>
                        <a href="http://www.boinc.netsoft-online.com/e107_plugins/boinc/bp_home.php">Netsoft</a>
                    </li>
                    <li>
                        <a href="https://statsbzh.boinc-af.org/team.php?name=R3JpZGNvaW4=">SETIBZH</a>
                    </li>
                </ul>
            </div>
            <!--/Social Links-->
            <!--Quick Start Steps-->
            <div class="col-12 col-sm-3">
                <ul>
                    <li role="presentation">
                        <h6>Main Guides</h6>
                    </li>
                    <li>
                        <a href="/Guides/boinc-install.htm">Solo-Crunching</a>
                    </li>
                    <li>
                        <a href="/Guides/pool.htm">Pool-Crunching</a>
                    </li>
                    <li>
                        <a href="/Guides/investor-gridcoin-setup.htm">Investor mode</a>
                    </li>
                </ul>

                <ul>
                    <li role="presentation"><h6>Guides</h6></li>
                    <li>
                        <a href="/Guides/whitelist.htm">Project Whitelist</a>
                    </li>
                    <li>
                        <a href="/Guides/security.htm">Security</a>
                    </li>
                    <li>
                        <a href="/Guides/misc.htm">Misc. Guides</a>
                    </li>
                    <li>
                        <a href="/Guides/terminology.htm">Terminology</a>
                    </li>
                    <li>
                        <a href="http://wiki.gridcoin.us/FAQ">GRC FAQ</a>
                    </li>
                </ul>
                <ul>
                    <li role="presentation"><h6>Publications</h6></li>
                    <li>
                        <a href="/assets/img/whitepaper.pdf">Whitepaper</a>
                    </li>
                    <li>
                        <a href="https://boinc.berkeley.edu/wiki/Publications_by_BOINC_projects">BOINC Project Publications</a>
                    </li>
                    <li>
                        <a href="https://scholar.google.co.uk/scholar?q=BOINC">BOINC Academic Articles</a>
                    </li>
                    <li>
                        <a href="http://wiki.gridcoin.us/Main_Page">Gridcoin Wiki</a>
                    </li>
                </ul>
            </div>
            <!--/Quick Start Steps-->
            <!--Guides-->
            <div class="col-12 col-sm-3">
                <ul>
                    <li role="presentation">
                        <h6>Exchanges</h6>
                    </li>
                    <li>
                        <a href="https://www.bitker.com/#/bbTrades/grc_btc">Bitker</a>
                    </li>
                    <li>
                        <a href="https://market.rudex.org/#/asset/RUDEX.GRC">RUDEX</a>
                    </li>
					<li>
						<a href="https://txbit.io/Asset/GRC">Txbit.io</a>
					</li>
                    <!--
                    <li>
                        <a href="https://bitshares.openledger.info/#/market/OPEN.GRC_OPEN.BTC">OpenLedger</a>
                    </li>
                  -->
                    <li>
                        <a href="https://www.southxchange.com/Market/Book/GRC/BTC">SouthXchange</a>
                    </li>
                    <li role="presentation"><h6>Exchange Stats</h6></li>
                    <li>
                        <a href="https://bitsharescan.com/asset/RUDEX.GRC">BitShareScan</a>
                    </li>
                    <li>
                        <a href="https://www.coincap.io/GRC">CoinCap</a>
                    </li>
                    <li>
                        <a href="https://www.coingecko.com/en/coins/gridcoin-research">CoinGecko</a>
                    </li>
                    <li>
                        <a href="https://coinmarketcap.com/currencies/gridcoin/">Coinmarketcap</a>
                    </li>
                    <li>
                        <a href="https://www.cryptocompare.com/coins/grc/overview">CryptoCompare</a>
                    </li>
                    <li>
                        <a href="https://www.worldcoinindex.com/coin/gridcoin">WorldCoinIndex</a>
                    </li>
                    <li role="presentation">
                        <h6>3rd party wallets</h6>
                    </li>
                    <li>
                        <a href="https://coinomi.com/">Coinomi</a>
                    </li>
                    <li>
                        <a href="https://holytransaction.com/">HolyTransaction</a>
                    </li>
                </ul>
                <ul>
                    <li role="presentation"><h6>Spend your Gridcoin</h6></li>
                    <li>
                        <a href="https://cointopay.com/M_MarketOverview.jsp">Cointopay</a>
                    </li>
                </ul>
            </div>
            <!--/Guides-->
        </div>
    </div>
</footer>
<!-- End of Footer -->
