<footer class="gridcoin-footer">
    <div class="container">
        <div class="row">
            <!--Social links-->
            <div class="col-12 col-sm-3">
                <a name="Footer"></a> <!-- Link from nav -->
                <ul>
                    <li role="presentation"><h6>Community</h6></li>
                    <li>
                        <a href="/contact.htm">Contact Us</a>
                    </li>
                    <li>
                        <a href="https://discord.gg/UMWUnMjN4x">Discord</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/gridcoins">Facebook</a>
                    </li>
                    <li>
                        <a href="https://www.reddit.com/r/gridcoin">Reddit</a>
                    </li>
                    <li>
                        <a href="https://join.slack.com/t/teamgridcoin/shared_invite/enQtMjk2NTI4MzAwMzg0LTE4N2I3ZWZjYWJlZGM1Zjg3MTUyMDhiN2M5NmRmZTA2NDA0ZmY1ZTFmOGM3ZGU2YTBkOTdhNTk2ZjkzMGZkODY">Slack</a>
                    </li>
                    <li>
                        <a href="https://steemit.com/trending/gridcoin">Steemit</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/GridcoinNetwork">Twitter</a>
                    </li>
                    <li>
                        <a href="https://t.me/gridcoin">Gridcoin Telegram</a>
                    </li>
                    <li>
                        <a href="https://t.me/BOINC_Telegram">BOINC Telegram</a>
                    </li>
                    <li>
                        <a href="https://jq.qq.com/?_wv=1027&k=5fDyjCV">Gridcoin 中国 qq 群</a>
                    </li>
                </ul>
                <ul>
                    <li role="presentation"><h6>Media</h6></li>
                    <li>
                        <a href="https://github.com/gridcoin-community/Gridcoin-Marketing">Marketing & Media Files</a>
                    </li>
                    <li>
                        <a href="https://www.mixcloud.com/gridcoin_hangouts/">Mixcloud</a>
                    </li>
                    <li>
                        <a href="https://soundcloud.com/gridcoin-community-hangouts/">SoundCloud</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/c/GridcoinNetwork">YouTube</a>
                    </li>
                </ul>
            </div>
            <!--/Social Links-->
            <!--Social links-->
            <div class="col-12 col-sm-3">
                <ul>
                    <li role="presentation"><h6>Development</h6></li>
                    <li>
                        <a href="https://github.com/gridcoin-community/Gridcoin-Research">Github</a>
                    </li>
                    <li>
                        <a href="/wiki/team-and-contributors.html">Team & Contributors</a>
                    </li>
                    <li>
                        <a href="/wiki/rpc.html">RPC Wiki Page</a>
                    </li>
                    <li>
                        <a href="/#Downloads">Wallet Downloads</a>
                    </li>
                    <li>
                        <a href="https://snapshot.gridcoin.us/snapshot.zip">Official Snapshot</a>
                    </li>
                    <li role="presentation"><h6>Block Explorers</h6></li>
                    <li>
                        <a href="https://www.gridcoinstats.eu/block">GridcoinStats</a>
                    </li>
                    <li>
                        <a href="https://gridcoin.network/">Gridcoin.network</a>
                    </li>
                    <li>
                        <a href="https://gridcoin.ch/dashboard">Gridcoin.ch</a>
                    </li>
                    <li role="presentation"><h6>Team Stats</h6></li>
                    <li>
                        <a href="https://boincstats.com/en/stats/-1/team/detail/118094994/projectList">Boincstats</a>
                    </li>
                    <li>
                        <a href="http://stats.free-dc.org/stats.php?page=teambycpid&team=Gridcoin">Free-DC</a>
                    </li>
                    <li>
                        <a href="http://www.boinc.netsoft-online.com/e107_plugins/boinc/bp_home.php">Netsoft</a>
                    </li>
                    <li>
                        <a href="https://statsbzh.boinc-af.org/team.php?name=R3JpZGNvaW4=">SETIBZH</a>
                    </li>
                </ul>
            </div>
            <!--/Social Links-->
            <!--Quick Start Steps-->
            <div class="col-12 col-sm-3">
                <ul>
                    <li role="presentation">
                        <h6>Main Guides</h6>
                    </li>
                    <li>
                        <a href="/guides/boinc-install.htm">Solo-Crunching</a>
                    </li>
                    <li>
                        <a href="/guides/pool.htm">Pool-Crunching</a>
                    </li>
                    <li>
                        <a href="/guides/noncruncher-gridcoin-setup.htm">Non-Cruncher</a>
                    </li>
                </ul>

                <ul>
                    <li role="presentation"><h6>Guides</h6></li>
                    <li>
                        <a href="/guides/whitelist.htm">Project Whitelist</a>
                    </li>
                    <li>
                        <a href="/guides/security.htm">Security</a>
                    </li>
                    <li>
                        <a href="/guides/misc.htm">Misc. Guides</a>
                    </li>
                    <li>
                        <a href="/guides/terminology.htm">Terminology</a>
                    </li>
                    <li>
                        <a href="/wiki/faq.html">Gridcoin FAQ</a>
                    </li>
                </ul>
                <ul>
                    <li role="presentation"><h6>Publications</h6></li>
                    <li>
                        <a href="/assets/docs/whitepaper.pdf">Whitepaper</a>
                    </li>
                    <li>
                        <a href="/assets/docs/grc-bluepaper-section-1.pdf">Gridcoin Staking Bluepaper</a>
                    </li>
                    <li>
                        <a href="/assets/docs/scraper-summary.pdf">Executive Scraper Summary</a>
                    </li>
                    <li>
                        <a href="/wiki/publications.html">Publications Mentioning Gridcoin</a>
                    </li>
                    <li>
                        <a href="https://boinc.berkeley.edu/wiki/Publications_by_BOINC_projects">BOINC Project Publications</a>
                    </li>
                    <li>
                        <a href="https://scholar.google.co.uk/scholar?q=BOINC">BOINC Academic Articles</a>
                    </li>
                    <li>
                        <a href="/wiki/">Gridcoin Wiki</a>
                    </li>
                </ul>
            </div>
            <!--/Quick Start Steps-->
            <!--Guides-->
            <div class="col-12 col-sm-3">
                <ul>
                    <li role="presentation">
                        <h6>Exchanges</h6>
                    </li>
                    {% for exchange in site.data.exchanges.centralized-exchanges %}
                    <li>
                        <a href="{{exchange.link}}">{{exchange.name}}</a>
                    </li>
                    {% endfor %}
                    <li role="presentation"><h6>Exchange Stats</h6></li>
                    <li>
                        <a href="https://www.coingecko.com/en/coins/gridcoin-research">CoinGecko</a>
                    </li>
                    <li>
                        <a href="https://coinmarketcap.com/currencies/gridcoin/">Coinmarketcap</a>
                    </li>
                    <li>
                        <a href="https://www.cryptocompare.com/coins/grc/overview">CryptoCompare</a>
                    </li>
                    <li>
                        <a href="https://www.worldcoinindex.com/coin/gridcoin">WorldCoinIndex</a>
                    </li>
                    <li role="presentation">
                        <h6>3rd party wallets</h6>
                    </li>
                    <li>
                        <a href="https://holytransaction.com/">HolyTransaction</a>
                    </li>
                </ul>
            </div>
            <!--/Guides-->
        </div>
    </div>
</footer>
<!-- End of Footer -->
