<section class="boinc-a grc-bgcolor grclink pt-4">
    <!--Start of GRC Feature section-->
    <!--First row of features-->
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8">
                <h4 class="text-bold">IMPORTANT NOTICE</h4>
                <p><b>You will need approx 1-2 GRC to get started with solo crunching, which you can obtain from a faucet, a friendly user on our <a href="https://discord.gg/jf9XX4a">discord server</a>, or an exchange. To collect accrued rewards, you must <a href="/wiki/staking.html">stake</a> a block or use MRC (manual reward claim) to have somebody stake for you.  MRC does have some <a href="/wiki/faq.html">fees</a>, and the less often you make MRC requests the lower the fees will be. Once you have sufficient GRC (approx 5,000 to stake once a month on <i>average</i>), you will no longer need to make MRC claims as your wallet will be able to regularly stake blocks on its own.</b></p>
                <h5 class="text-bold">Don't Want BOINC/Folding@Home rewards?</h5>
                <p>Switch to the <a href="/guides/noncruncher-gridcoin-setup.htm">Non-Cruncher guide</a>. You do not need to install or run BOINC in order to use GRC as a cryptocurrency.</p>
                <h4 class="text-bold">BOINC Introduction</h4>
                <p>To earn Gridcoin, you need to crunch whitelisted <a href="https://boinc.berkeley.edu/">BOINC</a> projects or <a href="https://foldingathome.org">Folding@home</a>. You must install the BOINC client and select one or more BOINC projects. <b>Note that if you are intending to only crunch Folding@home (a non-BOINC project), you must still attach to a BOINC project to obtain your beacon & CPID</b>. You can set the project to "no new tasks" in BOINC if you don't want to crunch it.</p>
                <p>For getting Gridcoin, see <a href="/guides/acquire-grc.htm">step 3</a>. You can also start out by <a href="/guides/pool.htm">pool mining</a> which does not require staking/MRC and does not support Folding@home.</p>
                <h5>BOINC video introductions:</h5>
                <ul>
                    <li><a href="https://www.youtube.com/watch?v=MHiUninQn18">David Anderson talks BOINC, Citizen Science, and Why We Still Need You!</a></li>
                    <li><a href="https://www.youtube.com/watch?v=--Vy5ee7DwE">Serge Berig - BOINC: Compute for Good, Change the World</a></li>
                </ul>
                
            </div>
            <div class="col-sm-4 hidden-xs">
                <a href="https://boinc.berkeley.edu/"><img src="/assets/img/boinc-logo.svg" alt="BOINC Logo"  style="width: 240px; height: 240px;"/></a>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4 class="text-bold">Install BOINC</h4>
            </div>
        </div>

        <!--Step 1-->
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                <p>Go to the <a href="https://boinc.berkeley.edu">BOINC website</a>, download and install BOINC for any computer you want to run BOINC on. If you don't have projects that use <a href="https://www.virtualbox.org/wiki/Downloads">VirtualBox</a>, BOINC+VirtualBox is not needed.</p>
                <a href="https://boinc.berkeley.edu/download.php"><button class="btn btn-round grcbtn">BOINC client downloads</button></a>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                BOINC Installation Video Tutorials:
                    <ul>
                        <li><a href="https://www.youtube.com/watch?v=SiQ0Ro_bCZY">Pi my life up: Setting up BOINC on a Raspberry Pi</a></li>
                        <li><a href="https://www.youtube.com/watch?v=3hKUU9YWCKE">Rasim Muratovic: Installing BOINC</a></li>
                    </ul>
            </div>
        </div>
        <!--/Step 1-->

    </div>
    <!--End of GRC Feature Section-->
</section>
