<section class="boinc-a grc-bgcolor grclink pt-4">
    <!--Start of GRC Feature section-->
    <!--First row of features-->
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8">
                <h4 class="text-bold">IMPORTANT NOTICE</h4>
                <p><b>To solo mine, you must have a balance of Gridcoin able to stake within 180 days. You should have enough Gridcoin to stake about once every month, this is around 5000 GRC. Consider following the <a href="/guides/pool.htm">pool mining guide</a> if you do not have 5000 GRC</b></p>
                <h5 class="text-bold">Don't Want BOINC rewards?</h5>
                <p>Switch to the <a href="/guides/investor-gridcoin-setup.htm">Investor guide</a>. You do not need to install or run BOINC in order to use GRC as a cryptocurrency.</p>
                <h4 class="text-bold">BOINC Introduction</h4>
                <p>To earn Gridcoin, you need to crunch whitelisted <a href="https://boinc.berkeley.edu/">BOINC</a> projects on team Gridcoin. You must install the BOINC client and select several BOINC projects.</p>
                <p>For getting Gridcoin, see <a href="/guides/acquire-grc.htm">step 3</a>. You can also start out by <a href="/guides/pool.htm">pool mining</a>, which needs no Gridcoin to get rewards.</p>
                <h5>BOINC video introductions:</h5>
                <ul>
                    <li><a href="https://www.youtube.com/watch?v=MHiUninQn18">David Anderson talks BOINC, Citizen Science, and Why We Still Need You!</a></li>
                    <li><a href="https://www.youtube.com/watch?v=--Vy5ee7DwE">Serge Berig - BOINC: Compute for Good, Change the World</a></li>
                </ul>
                
            </div>
            <div class="col-sm-4 hidden-xs">
                <a href="https://boinc.berkeley.edu/"><img src="/assets/img/boinc_logo2.png" alt="BOINC Logo" /></a>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4 class="text-bold">Install BOINC</h4>
            </div>
        </div>

        <!--Step 1-->
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                <p>Go to the <a href="https://boinc.berkeley.edu">BOINC website</a>, download and install BOINC for any computer you want to run BOINC on. If you don't have projects that use <a href="https://www.virtualbox.org/wiki/Downloads">VirtualBox</a>, BOINC+VirtualBox is not needed.</p>
                <a href="https://boinc.berkeley.edu/download.php"><button class="btn btn-round grcbtn">BOINC client downloads</button></a>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                BOINC Installation Video Tutorials:
                    <ul>
                        <li><a href="https://www.youtube.com/watch?v=SiQ0Ro_bCZY">Pi my life up: Setting up BOINC on a Raspberry Pi</a></li>
                        <li><a href="https://www.youtube.com/watch?v=3hKUU9YWCKE">Rasim Muratovic: Installing BOINC</a></li>
                    </ul>
            </div>
        </div>
        <!--/Step 1-->

    </div>
    <!--End of GRC Feature Section-->
</section>
