<section class="grc-bgcolor" data-background-color="black">
    <div class="container">
        <!--Step 1-->
        <div class="row">
            <div class="col-12 col-sm-12">
                <h4 class="text-bold">
                    Install the Gridcoin client
                </h4>
                <h5>
                    Microsoft Windows
                </h5>
                <ul>
                    <li>
                        <a class="btn btn-round grcbtn" href="https://github.com/gridcoin-community/Gridcoin-Research/releases/latest">Download Windows Client</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-12">
                <h5>
                    Mac OS
                </h5>
                    <a class="btn btn-round grcbtn" href="https://github.com/Git-Jiro/homebrew-jiro/releases">
                        DMG packages
                    </a>
                    <a class="btn btn-round grcbtn" href="http://wiki.gridcoin.us/OS_X_Guide">Gridcoin wiki: Mac OS guide</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12">
                <h5>
                    Debian Packages (Ubuntu)
                </h5>
                <a class="btn btn-round grcbtn" href="https://code.launchpad.net/~gridcoin/+archive/ubuntu/gridcoin-stable">Launchpad built ubuntu releases</a>
                <ul>
                    <li>sudo add-apt-repository ppa:gridcoin/gridcoin-stable</li>
                    <li>sudo apt-get update</li>
                    <li>sudo apt-get install gridcoinresearch-qt</li>
                    <li>gridcoinresearch</li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-12">
                <h5>
                    RPM Packages (OpenSUSE/Fedora)
                </h5>
                <a class="btn btn-round grcbtn" href="https://software.opensuse.org/package/gridcoinresearch">OpenSuse/Fedora RPMs</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12">
                <h5>
                    AUR (Arch Linux)
                </h5>
                <a class="btn btn-round grcbtn" href="https://aur.archlinux.org/packages/gridcoinresearch-qt">Archlinux AUR package</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12">
                <h5>
                    Manually compile the Gridcoin client
                </h5>
                <a class="btn btn-round grcbtn" href="http://wiki.gridcoin.us/Linux_guide">Linux compiling guide</a>
                <a class="btn btn-round grcbtn" href="https://github.com/gridcoin/Gridcoin-Research">Gridcoin GitHub Repo</a>
            </div>
        </div>
        <!--End of GRC Feature Section-->
    </div>
</section>