<section class="grc-bgcolor">
    <div class="container">
        <!--Step 1-->
        <div class="row">
            <div class="col-12 col-sm-12">
                <h4 class="text-bold">
                    Install the Gridcoin client
                </h4>
                <h4>Wallet Download</h4>
                <a id="64-bit-windows" class="btn rounded-pill grcbtn m-1" style="display:none"> 
                    Download Gridcoin wallet
                </a>
                <a class="btn rounded-pill grcbtn m-1" href="/#Downloads">
                    Download Gridcoin wallet
                </a><br />
                <br />
        </div>
        <!--End of GRC Feature Section-->
    </div>
</section>
