
        <div class="row" style="margin-top:20px;">
            <div class="col-xs-12 col-sm-6 col-md-6" style="background-color: #2d2d2d; padding-bottom: 1000px; margin-bottom: -1000px; ">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-10">
                    <h4 style="color:white;text-align:center;font-weight:bold;">Solo Crunching</h4>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #7d00f4; margin-top: 0px; font-weight: bold;">Advantages</h6>
                     <ul style="list-style-type: none; padding-left: 0;">
                        <li style="text-align:left; margin-bottom: 10px;">
                            Your individual user statistics are tracked across multiple BOINC and Gridcoin statistics websites.
                        </li>
                        <li style="text-align:left; margin-bottom: 10px;">
                            By regularly staking, you're processing broadcast transactions and helping secure the Gridcoin network.
                        </li>
                        <li style="text-align:left; margin-bottom: 10px;">
                            You can vote using your balance and DPOR weight within the client. You lose this ability when pool crunching.
                        </li>
                    </ul>
                    <h6 style="color: #7d00f4; margin-top: 0px; font-weight: bold;">Disadvantages</h6>
                     <ul style="list-style-type: none; padding-left: 0;">
                        <li style="text-align:left; margin-bottom: 10px;">
                            Since Distributed Proof of Research <span style="color:#7d00f4;">(DPOR - BOINC reward mechanism)</span> is rewarded on top of the Proof of Stake cryptocurrency reward mechanism, an initial balance of Gridcoin is required in order to continuously stake blocks. A desired increased probability/frequency of staking requires an increased Gridcoin balance. 
                        </li>
                        <li style="text-align: center;">
                            <a href="/Guides/boinc-install.htm"><button class="btn btn-round" style="background-color:#4e0097;margin:5px;margin-top:35px;font-weight:bold;">Solo Crunching Guide</button></a>
                        </li>
                    </ul>
            
                </div>
                <div class="col-xs-1">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <div class="col-xs-10 col-xs-offset-1">
                    <h5 style="color: white; text-align: center; font-weight: bold; padding-top: 32px;"><a href="/Guides/pool.htm">Pool Crunching</a></h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #7d00f4; margin-top: 0px; font-weight: bold;">Advantages</h6>
                     <ul style="list-style-type: none; padding-left: 0;">
                        <li style="text-align:left; margin-bottom: 10px;">
                        No need to stake or acquire an initial balance of Gridcoin in order to earn Gridcoin.
                        </li>
                        <li style="text-align:left; margin-bottom: 10px;">
                        Users with a low Gridcoin balance in their wallet (less than several thousand) earn Gridcoin rewards faster using a pool than through solo-staking. You can switch to solo-staking once you've built up a sufficient balance capable of staking at the frequency you desire.
                        </li>
                    </ul>
                    <h6 style="color: #7d00f4; margin-top: 0px; font-weight: bold;">Disadvantages</h6>
                     <ul style="list-style-type: none; padding-left: 0;">
                        <li style="text-align:left; margin-bottom: 10px;">
                        Pools charge fees on earnings.
                        </li>
                        <li style="text-align:left; margin-bottom: 10px;">
                        Pools introduce centralization to Gridcoin.
                        </li>
                        <li style="text-align:left; margin-bottom: 10px;">
                        You cannot use your DPOR weight to vote on polls within the Gridcoin client.
                        </li>
                        <li style="text-align:left; margin-bottom: 10px;">
                        Your individual BOINC statistics will likely only be reported on the pool website, all other BOINC/Gridcoin stat sites will report stats only for the pool's BOINC account. 
                        </li>
                        <li style="text-align: center;">
                            <a href="/Guides/pool.htm"><button class="btn btn-round" style="background-color:#4e0097;font-weight:bold;">Pool Crunching Guide</button></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    <div class="container" style="overflow:hidden;">
    
        <div class="row">
            <div class="col-xs-12" style="text-align: center; width: 100%;">
                <h4 style="color:white; font-weight:bold;">Earn Gridcoin through Proof of Stake</h4>
                <h5 style="color:white; font-weight:bold;">Interest is 1.5% APR</h5>
            </div>
        </div>

        <div class="row">
            <div class="hidden-xs col-sm-3 col-md-3">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">  
                <h5 style="color: white; text-align: center; font-weight: bold; padding-top:25px;"><a href="/Guides/investor-gridcoin-setup.htm" class="text-center">Investor mode</a></h5>
                <hr style="border-color: #40413c;" />
                <h6 style="color: #7d00f4; margin-top: 0px; font-weight: bold;">Advantages</h6>
                 <ul style="list-style-type: none; padding-left: 0;">
                    <li style="text-align:left; margin-bottom: 10px;">
                        By staking blocks, you're processing broadcast transactions and helping secure the Gridcoin network.
                    </li>
                    <li style="text-align:left; margin-bottom: 10px;">
                        Staking with the windows client helps maintain an accurate Neural Network of BOINC statistics for the Gridcoin network. 
                    </li>
                    <li style="text-align:left; margin-bottom: 10px;">
                        You can vote on important community initiatives within the Gridcoin client.
                    </li>
                </ul>
                <h6 style="color: #7d00f4; margin-top: 0px; font-weight: bold;">Disadvantages</h6>
                 <ul style="list-style-type: none; padding-left: 0;">
                    <li style="text-align:left; margin-bottom: 10px;">
                        You'll earn less Gridcoin than those participating in DPOR, since you'll only earn interest on your Gridcoin balance.
                    </li>
                    <li style="text-align: center;">
                        <a href="/Guides/investor-gridcoin-setup.htm" class="text-center"><button class="btn btn-round" style="background-color:#4e0097;font-weight:bold;">Investor Guide</button></a>
                    </li>
                </ul>
            </div>
            <div class="hidden-xs col-sm-3 col-md-3">
            </div>
        </div>
    </div>