<section  data-background-color="black" style="margin-bottom: 50px;">
    <div class="container">
        <!--Social Media-->
        <div class="row" style="text-align:center;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center; padding-bottom:15px; padding-top:5px;">
                <h4 style="color:white; font-weight:bold;">Social Media</h4>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://twitter.com/GridcoinNetwork"><img src="/Images/Social/128-twitter.png" alt="twitter" /></a>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://www.fb.com/gridcoins"><img src="/Images/Social/128-facebook.png" alt="facebook" /></a>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://github.com/gridcoin/Gridcoin-Research"><img src="/Images/Social/128-github.png" style="background-color: #b0c4de;" alt="github" /></a>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://www.reddit.com/r/gridcoin"><img src="/Images/Social/128-reddit.png" alt="reddit" /></a>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://cryptocurrencytalk.com/forum/464-gridcoin-grc/"><img src="/Images/Social/128-cctalk.png" alt="cryptocurrencytalk gridcoin" /></a>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://kiwiirc.com/client/irc.freenode.net:6697/#gridcoin-help"><img src="/Images/Social/128-kiwiirc.png" alt="kiwiirc" /></a>
            </div>
        </div>
        <!--/Social Media-->
        <!--Social Media-->
        <div class="row" style="text-align:center;">
            <div class="col-xs-2 col-sm-2 col-xs-offset-1" style="margin-top:20px;">
                <a href="https://soundcloud.com/gridcoin-community-hangouts"><img src="/Images/Social/128-soundcloud.png" alt="soundcloud" /></a>
            </div>
            <div class="col-xs-2 col-sm-2" style="margin-top:20px;">
                <a href="https://www.mixcloud.com/gridcoin_hangouts/"><img src="/Images/Social/128-mixcloud.png" alt="mixcloud" /></a>
            </div>
            <div class="col-xs-2 col-sm-2" style="margin-top:20px;">
                <a href="https://steemit.com/active/gridcoin"><img src="/Images/Social/128-steemit.png" alt="steemit" /></a>
            </div>
            <div class="col-xs-2 col-sm-2" style="margin-top:20px;">
                <a href="https://t.me/gridcoin"><img src="/Images/Social/128-telegram.png" alt="telegram" /></a>
            </div>
            <div class="col-xs-2 col-sm-2" style="margin-top:20px;">
                <a href="https://www.youtube.com/channel/UC0Z3uczcC2okYRrLLCZFrMQ"><img src="/Images/Social/128-youtube.png" alt="youtube" /></a>
            </div>
            <div class="col-xs-2 col-sm-2" style="margin-top:20px;">
                <a href="https://gridcoin.tumblr.com/"><img src="/Images/Social/128-tumblr.png" alt="tumblr" /></a>
            </div>
        </div>
        <!--/Social Media-->
        <!--Social Media-->
        <div class="row" style="text-align:center;">
            <div class="col-xs-2 col-sm-2" style="margin-top:30px;">
                <a href="https://discord.gg/Bt4YHxJ"><img src="/Images/Social/128-discord.png" alt="discord" /></a>
            </div>
            <div class="col-xs-2 col-sm-2" style="margin-top:30px;">
                 <a href="https://plus.google.com/116846427793240288155"><img src="/Images/Social/128-googleplus.png" alt="google plus" /></a>
             </div>
        <!--/Social Media-->
    </div>
</section>
<!-- End of download -->