<!--Getting started section-->
<section  data-background-color="black" style="padding-bottom: 5px;">
    <div class="container" style="overflow:hidden;">
        <div class="row">
            <div class="col-xs-12" style="text-align: center; width: 100%;">
                <h4 style="font-weight:bold;">How to earn Gridcoin</h4>
                <h5>Approximately 50k GRC distributed as BOINC rewards each day (Solo &amp; Pool)</h5>
                <h5>1.5% APR interest for POS rewards (Solo &amp; Investor)</h5>
            </div>
        </div><!--#7d00f4, #41007f-->
        <div class="row" style="margin-top:20px; border-style: dotted; border-width: 1px; border-color:#7d00f4;">

            <div class="col-xs-12 col-sm-12 col-md-12" style="background-color: #303030;">
                    <h4 style="color:white;text-align:center;font-weight:bold;">Solo Crunching</h4>
                    <hr style="border-color: #40413c;" />
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6" style="background-color: #303030;">
                    <h6 style="font-weight: bold;">Advantages</h6>
                        <p style="margin-bottom: 10px;">
                            Your individual user statistics are tracked across multiple BOINC and Gridcoin statistics websites.
                        </p>
                        <p style="margin-bottom: 10px;">
                            By regularly staking, you're processing broadcast transactions and helping secure the Gridcoin network.
                        </p>
                        <p style="margin-bottom: 10px;">
                            You can vote using your balance and DPOR weight within the client. You lose this ability when pool crunching.
                        </p>
                </div>
            <div class="col-xs-6 col-sm-6 col-md-6" style="background-color: #303030;">
                <h6 style="font-weight: bold;">Disadvantages</h6>
                    <p style="margin-bottom: 10px;">
                        Since Distributed Proof of Research <span style="color:#7d00f4;">(DPOR - BOINC reward mechanism)</span> is rewarded on top of the Proof of Stake cryptocurrency reward mechanism, an initial balance of Gridcoin is required in order to continuously stake blocks. A desired increased probability/frequency of staking requires an increased Gridcoin balance. 
                    </p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12" style="background-color: #303030; text-align: center; padding-bottom: 25px;">
                <a href="/Guides/boinc-install.htm"><button class="btn btn-round" style="background-color:#4e0097;margin:5px;font-weight:bold;">Solo Crunching Guide</button></a>
            </div>
        </div>

        <div class="row" style="margin-top:5px; border-style: dotted; border-width: 1px; border-color:#4e0097;">
            <div class="col-xs-12 col-sm-12 col-md-12" style="background-color: #2d2d2d;">
                <h4 style="color: white; text-align: center; font-weight: bold;"><a href="/Guides/pool.htm">Pool Crunching</a></h4>
                <hr style="border-color: #40413c;" />
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6" style="background-color: #2d2d2d;">
                <h6 style="font-weight: bold;">Advantages</h6>
                    <p style="margin-bottom: 10px;">
                    No need to stake or acquire an initial balance of Gridcoin in order to earn Gridcoin.
                    </p>
                    <p style="margin-bottom: 10px;">
                    Users with a low Gridcoin balance in their wallet (less than several thousand) earn Gridcoin rewards faster using a pool than through solo-staking. You can switch to solo-staking once you've built up a sufficient balance capable of staking at the frequency you desire.
                    </p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6" style="background-color: #2d2d2d;">
                <h6 style="font-weight: bold;">Disadvantages</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <p style="margin-bottom: 10px;">
                    Pools charge fees on earnings.
                    </p>
                    <p style="margin-bottom: 10px;">
                    Pools introduce centralization to Gridcoin.
                    </p>
                    <p style="margin-bottom: 10px;">
                    You cannot use your DPOR weight to vote on polls within the Gridcoin client.
                    </p>
                    <p style="margin-bottom: 10px;">
                    Your individual BOINC statistics will likely only be reported on the pool website, all other BOINC/Gridcoin stat sites will report stats only for the pool's BOINC account. 
                    </p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12" style="background-color: #2d2d2d; text-align: center; padding-bottom: 25px;">
                <a href="/Guides/pool.htm"><button class="btn btn-round" style="background-color:#4e0097;font-weight:bold;">Pool Crunching Guide</button></a>
            </div>
        </div>

        <div class="row" style="margin-top:5px; border-style: dotted; border-width: 1px; border-color:#7d00f4;">

            <div class="col-xs-12 col-sm-12 col-md-12" style="background-color: #303030;">
                <h4 style="color: white; text-align: center; font-weight: bold;"><a href="/Guides/investor-gridcoin-setup.htm" class="text-center">Investor mode</a></h4>
                <hr style="border-color: #40413c;" />
            </div>
            
            <div class="col-xs-6 col-sm-6 col-md-6" style="background-color: #303030;">
                <h6 style="font-weight: bold;">Advantages</h6>
                    <p style="margin-bottom: 10px;">
                        By staking blocks, you're processing broadcast transactions and helping secure the Gridcoin network.
                    </p>
                    <p style="margin-bottom: 10px;">
                        Staking with the windows client helps maintain an accurate Neural Network of BOINC statistics for the Gridcoin network. 
                    </p>
                    <p style="margin-bottom: 10px;">
                        You can vote on important community initiatives within the Gridcoin client.
                    </p>
            </div>
            
            <div class="col-xs-6 col-sm-6 col-md-6" style="background-color: #303030;">
                <h6 style="font-weight: bold;">Disadvantages</h6>
                    <p style="margin-bottom: 10px;">
                        You'll earn less Gridcoin than those participating in DPOR, since you'll only earn interest on your Gridcoin balance.
                    </p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12" style="background-color: #303030; text-align: center; padding-bottom: 25px;">
                <a href="/Guides/investor-gridcoin-setup.htm" class="text-center"><button class="btn btn-round" style="background-color:#4e0097;font-weight:bold;">Investor Guide</button></a>
            </div>
        </div>
    </div>
</section>
<!--/Getting started section-->