---
title: "Gridcoin - 3rd Party Applications"
description: "A list of 3rd party BOINC applications - use at your own discretion!"
---
<!--Intro-->
<section  data-background-color="black" style="padding-bottom: 0px; padding-top:52px; margin-top: -20px;">
    <div class="container">
        <div class='row'>
            <div class='col-xs-12 text-center'>
                <h4 style="color:white; font-weight:bold;">BOINC 3rd party apps</h4>
            </div>
        </div>
    </div>
</section>
<!--/Intro-->
<!-- Boinc Sections -->
<section data-background-color="black">
    <div class="content">
        <div class="container">
            <div class="col-sm-12">
                <!--Start of additional software-->
                <div class="alert alert-warning" style="text-align: center;">
                    <p>These applications are not endorsed by BOINC or Gridcoin, use them at your own risk.</p>
                    <p>We do not provide instructions for installing or using these applications.</p>
                </div>

                <h6>Windows</h6>
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Add-on</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=win&item=SETI_at_BOINCWatch_1.10.15.exe">SETI@BOINCWatch</a></td>
                            <td>A SETI@Home/BOINC client watcher! User statistics powered by BOINCStats</td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=win&item=DBSetup.zip">SQL Setup for BoincSpy</a></td>
                            <td>Stores Workunits into SQL database</td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=win&item=setup.exe">CPDNSpy</a></td>
                            <td>Stats/Benchmarkprogram. Only for CPDN!!!</td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=win&item=http%3A%2F%2Fthreadmaster.tripod.com%2F">ThreadMaster</a></td>
                            <td>Control max CPU usage and prevent overheating (not specific to BOINC)</td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=win&item=http%3A%2F%2Fwww.setispirit.de%2F">SETISpirit</a></td>
                            <td>SETIspirit is free add-on tool for SETI@home users which provides information about the tasks, the SETI@home project status, workunits and credits, statistic charts and a detailed sky map.</td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=win&item=http%3A%2F%2Fwww.bc-team.org%2Fdownloads.php">BOINCcalculator</a></td>
                            <td>Show details of CPDN jobs</td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=win&item=SetiMapView_Setup_v6.54.exe">SETI@home-MapView</a></td>
                            <td>SETI@home-Mapview creates skymaps for the BOINC projects SETI@home-II, Einstein@home and Astropulse.</td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=win&item=BoincLogX_Setup_v1.51.exe">BoincLogX</a></td>
                            <td>BoincLogX creates detailed logfiles for all BOINC projects.</td>
                        </tr>
                        <tr>
                            <td><a href="http://www3.telus.net/BoincSpy/">BoincSpy</a></td>
                            <td>Views BOINC project statistics</td>
                        </tr>
                        <tr>
                            <td><a href="https://efmer.com/">TThrottle</a></td>
                            <td>TThrottle throttles CPU usage to keep its temperature below a limit you select.</td>
                        </tr>
                        <tr>
                            <td><a href="https://code.google.com/p/boinc-client-configuration/">BOINC Client Configuration</a></td>
                            <td>Windows GUI for editing the client configuration file</td>
                        </tr>
                        <tr>
                            <td><a href="https://efmer.com/boinctasks/">BoincTasks</a></td>
                            <td>An advanced and powerful BOINC GUI</td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=win&item=boincview.zip">BoincView</a></td>
                            <td>Advanced BOINC manager for networks</td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=win&item=SETIatBOINCWatch%28.NET2.0%29.exe">SETI@BOINCWatch(.NET 2.0)</a></td>
                            <td>A SETI@Home/BOINC client watcher! User statistics powered by BOINCStats. But now built with the .NET environment.</td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=win&item=SETIatBOINCWatch%28.NET%29.exe">SETI@BOINCWatch(.NET)</a></td>
                            <td>A SETI@Home/BOINC client watcher! User statistics powered by BOINCStats. But now built with the .NET environment.</td>
                        </tr>
                    </tbody>
                </table>

                <h6>Linux</h6>
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Add-on</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=linux&item=boincctl">boincctl</a></td>
                            <td>Script to start boinc at boot time.</td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=linux&item=SETITracker_V1.0BETA.zip">SETI@Boinc Tracker</a></td>
                            <td>SETI@Boinc Tracker is a GUI Client for Tracking Boinc CLI Client!</td>
                        </tr>
                        <tr>
                            <td><a href="https://code.google.com/p/boinctui/">boinctui</a></td>
                            <td>Fullscreen text mode manager for BOINC</td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=linux&item=boinctop-0.5.16.tar.gz">boinctop</a></td>
                            <td>top like view of boinc status</td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=linux&item=cpulimit-1.1.tar.gz">CPU limiter</a></td>
                            <td>Limits the CPU usage (good for laptops)</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.vanheusden.com/multitail/">MultiTail</a></td>
                            <td>Multitail shows several simultaneous tails in different curses windows.</td>
                        </tr>
                        <tr>
                            <td><a href="https://store.kde.org/content/show.php?content=154630">BOINC Monitor</a></td>
                            <td>Plasmoid to show BOINC status on the KDE desktop</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.vanheusden.com/boinctail/">BOINCTail</a></td>
                            <td>BOINCTail displays the status of jobs running in the BOINC environment in a 'tail-like' way.</td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=linux&item=boinc-2.7.tar.bz2">Boinc bash script</a></td>
                            <td>Boinc state displayer</td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=linux&item=boincprog-1.1.5.tar.gz">BOINCprog</a></td>
                            <td>A BOINC project progress monitor</td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=linux&item=rc.boinc-slackware-linux-latest.txt">rc.boinc (Slackware)</a></td>
                            <td>rc.boinc - Slackware Startup Script</td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=linux&item=boinc-suse-1.1.1.tar.gz">boinc-suse</a></td>
                            <td>Init script for SuSE 9.2 and 9.3</td>
                        </tr>
                        <tr>
                            <td><a href="http://edu.iki.fi/programs/boinctray/">Boinctray</a></td>
                            <td>A system tray application for monitoring the BOINC client</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.linux-apps.com/content/show.php?content=44237">KBoingMgr</a></td>
                            <td>A Linux/KDE replacement for the standard BOINC Manager</td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=linux&item=boincstat-2.02.tar">BOINCSTAT</a></td>
                            <td>Command line view of BOINC status</td>
                        </tr>
                    </tbody>
                </table>

                <h6>Mac</h6>
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Add-on</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=mac&item=scr0.9.dmg">Seti Check Revolutions</a></td>
                            <td>Boinc state displayer. Only for seti@home!</td>
                        </tr>
                        <tr>
                            <td><a href="https://efmer.com/download-boinctasks/">BoincTasks</a></td>
                            <td>An advanced and powerful BOINC GUI (requires Wine)</td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=mac&item=SETITracker_V1.0BETA.zip">SETI@Boinc Tracker</a></td>
                            <td>SETI@Boinc Tracker is a GUI Client for Tracking Boinc CLI Client!</td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=mac&item=CPDNSpy.rar">CPDNSpy Linux/Mac</a></td>
                            <td>Stats/Benchmarkprogram. Only for CPDN!!!</td>
                        </tr>
                        <tr>
                            <td><a href="http://brotherbard.com/boinc">BOINCMenubar 2</a></td>
                            <td>Mac GUI for BOINC</td>
                        </tr>
                    </tbody>
                </table>

                <h6>Mobile</h6>
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Add-on</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="https://efmer.com/boinctasks-mobile/">BoincTasks Mobile</a></td>
                            <td>BOINC graphical interface for mobile devices (Android, iPhone, iPad)</td>
                        </tr>

                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=mobile&item=http%3A%2F%2Fcode.google.com%2Fp%2Fandroboinc%2F">AndroBOINC</a></td>
                            <td>BOINC graphical interface for Android devices</td>
                        </tr>
                    </tbody>
                </table>

                <h6>Web browser toolbars and plugins</h6>
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Add-on</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=browser&item=sahuserstats.xpi">SAH User Statistics</a></td>
                            <td>
                                An extension for Firefox (works only with 1.0 to 1.5;
                                may work under Mozilla)
                                that displays your stats for SAH
                            </td>
                        </tr>
                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=browser&item=boinc_server_status.zip">BOINC Server Status</a></td>
                            <td>Yahoo! widget adds the BOINC Online Scheduler image to your desktop.</td>
                        </tr>
                    </tbody>
                </table>

                <h6>Web applications</h6>
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Add-on</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="https://www.facebook.com/progressthruprocessors">Progress Thru Processors</a></td>
                            <td>Facebook-based interface to BOINC</td>
                        </tr>

                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=web&item=goinc.zip">GOINC</a></td>
                            <td>GOINC: A Google homepage module for keeping tabs on BOINC.</td>
                        </tr>

                        <tr>
                            <td><a href="https://apps.facebook.com/boinc_milestones/">BOINC Milestones</a></td>
                            <td>Facebook application that posts credit milestones in your Status</td>
                        </tr>

                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=web&item=b-sig.zip">Forum signature showing jobs in progress</a></td>
                            <td>A PHP script that generates a forum signature showing jobs in progress</td>
                        </tr>

                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=web&item=boincphpgui-2.3.tar.gz">BoincPHP5-GUI</a></td>
                            <td>Monitor and control Boinc from a web browser</td>
                        </tr>

                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=web&item=SetiathomeBoincProgressStatus-1.0.0.tar.gz">SETI@home/BOINC progress status</a></td>
                            <td>Show your SETI@home/BOINC progress on your homepage</td>
                        </tr>

                        <tr>
                            <td><a href="http://boinc.berkeley.edu/addon_item.php?platform=web&item=http%3A%2F%2Fdl.onext.de%2Fpub%2Fboinc_lcs%2Fboinc_lcs_latest.tar.gz">Boinc LCS</a></td>
                            <td>Shows the current state and other information from an unlimited number of BOINC clients connected to the Internet.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--End of additional software-->
        </div>
    </div>
</section>
<!-- End of BOINC Content -->
