---
title: "Gridcoin - Step 3: Acquire Gridcoin"
---
<!--Getting started section-->
<section data-background-color="black" style="padding-bottom: 5px; padding-top:52px; margin-top: -20px;">
    <div class="container" style="overflow:hidden;">
        <div class="row" style="margin-top:20px;">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d; padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/boinc-install.htm">
                    <h5 style="color:white;text-align:center;font-weight:bold;">Step 1</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold;">Setup BOINC &amp; Projects</h6>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/gridcoin-install.htm">
                    <h5 style="text-align: center; font-weight: bold;">Step 2</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Setup Gridcoin Research Client</h6>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/acquire-grc.htm">
                    <h5 style="text-align: center; font-weight: bold;">Step 3</h5>
                    <span class="label label-success" style="margin-bottom:7px; text-align:center;">You are here</span>
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Sync client &amp; Acquire Gridcoin</h6>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/earn-grc.htm">
                    <h5 style="text-align: center; font-weight: bold;">Step 4</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Earn Gridcoin via POS and DPOR</h6>
                </a>
            </div>
        </div>
    </div>
</section>
<!--/Getting started section-->

    <%= partial "/layouts/partials/acquire" %>

<!--Getting started section-->
<section data-background-color="black" style="padding-bottom: 5px; padding-top: 5px;">
    <div class="container" style="overflow:hidden;">
        <div class="row" style="margin-top:20px;">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d; padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/boinc-install.htm">
                    <h5 style="color:white;text-align:center;font-weight:bold;">Step 1</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold;">Setup BOINC &amp; Projects</h6>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/gridcoin-install.htm">
                    <h5 style="text-align: center; font-weight: bold;">Step 2</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Setup Gridcoin Research Client</h6>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/acquire-grc.htm">
                    <h5 style="text-align: center; font-weight: bold;">Step 3</h5>
                    <span class="label label-success" style="margin-bottom:7px; text-align:center;">You are here</span>
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Sync client &amp; Acquire Gridcoin</h6>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/earn-grc.htm">
                    <h5 style="text-align: center; font-weight: bold;">Step 4</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Earn Gridcoin via POS and DPOR</h6>
                </a>
            </div>
        </div>
    </div>
</section>
<!--/Getting started section-->