---
title: "Gridcoin - Step 3: Sync client &amp; acquire Gridcoin"
description: "Step 3 of the solo crunching guide; Informing the user how to sync the client and where to acquire Gridcoins."
---
<section  data-background-color="black" style="padding-bottom: 5px; padding-top:60px; margin-top: 20px;">
    <div class="container" style="overflow:hidden; margin-top:20px; border: 2px dotted #40413c;">
        <div class="row" style="text-align:center;">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d; padding-bottom: 10px;">
                <h5 style="color:white;font-weight:bold;">Step 1</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/boinc-install.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                        Setup BOINC &amp; Projects
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;">
                <h5 style="font-weight: bold;">Step 2</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/gridcoin-install.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Setup Gridcoin Research Client
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d;">
                <h5 style="font-weight: bold;">Step 3</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/acquire-grc.htm">
                    <button class="btn btn-success" id="Guide-Button">
                    Sync client &amp; Acquire Gridcoin
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;">
                <h5 style="font-weight: bold;">Step 4</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/earn-grc.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Earn Gridcoin via POS and DPOR
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

    <%= partial "/layouts/partials/acquire" %>
    <%= partial "/layouts/partials/acquire_details" %>

<section  data-background-color="black" style="padding-bottom: 5px; padding-top:60px; margin-top: 0px;">
    <div class="container" style="overflow:hidden; margin-top:20px; border: 2px dotted #40413c;">
        <div class="row" style="text-align:center;">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d; padding-bottom: 10px;">
                <h5 style="color:white;font-weight:bold;">Step 1</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/boinc-install.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                        Setup BOINC &amp; Projects
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;">
                <h5 style="font-weight: bold;">Step 2</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/gridcoin-install.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Setup Gridcoin Research Client
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d;">
                <h5 style="font-weight: bold;">Step 3</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/acquire-grc.htm">
                    <button class="btn btn-success" id="Guide-Button">
                    Sync client &amp; Acquire Gridcoin
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;">
                <h5 style="font-weight: bold;">Step 4</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/earn-grc.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Earn Gridcoin via POS and DPOR
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>