---
title: "Gridcoin - BOINC DAC"
layout: layout
---
<!--Intro-->
<section data-background-color="black" style=" padding-bottom:0px;">
    <div class="container">
        <div class='row'>
            <div class='col-xs-12 text-center'>
                <h4 style="color:white; font-weight:bold;">BOINC DAC Overview</h4>
            </div>
        </div>
    </div>
</section>
<!--/Intro-->
    <!-- BDAC Content -->
    <section data-background-color="black" style="min-height:100%">
        <div class="container">
            <div class="col-sm-10 col-sm-offset-1" style="padding-top:25px; padding-bottom:25px;">
            <div class="row">
                <h4>What is a DAC?</h4>
                Distributed Autonomous Corporations (DACs),  or Decentralized Autonomous Companies, are a generalization of the concept of a crypto-currency where the currency is backed by the services its miners perform rather than a real-world commodity like gold, oil, or, ahem, thin air.  If we can barter for goods and services, why can’t we back currencies with goods or services?<br />
                <br />
                DACs may be simultaneously viewed as crypto-currencies and crypto-equities (unmanned businesses). As businesses, they perform services intended to be valuable to their customers.  Such services might include money transmission (Bitcoin), asset trading (BitShares), domain name services (DomainShares), or a thousand other business models sure to emerge as people realize that DACs are not mere “altcoins”.<br />
                <br />
                DACs pay for the services they need (like computer resources and bandwidth) with shares of their own company “stock”.  They charge for their services using those same shares. Finally, they transfer all profits they earn to their shareholders denominated in those same shares.  To the extent that their services are in demand, those same shares will be in demand. Just like a brick and mortar and flesh and blood company.<br />
                <br />
                To the outside world a DAC is nothing but a crypto-currency backed by the value of the services it provides.   But as owners of shares in a DAC, you may be entitled to a share of the profits that DAC earns from providing those services.  Every DAC will have its own terms and conditions.  You can always choose to view your DAC shares polymorphically – either as spendable coins or as shares in a profitable, perhaps dividend-paying business.  Just like light can be viewed as both a particle and a wave.<br />
                <br />
                Bitcoin itself can be viewed as an early form of DAC. We are generalizing the concept for use in the open source community, building on Bitcoin's proven technology. Bitcoin could be reimplemented as a full open standards-compliant DAC. Perhaps someday it will.<br />
                <br />
                Distributed Autonomous Corporations have many advantages.  DACs are...<br />
                <ul>
                    <li>Corporations – They are, and of a right ought to be, free and independent persons.</li>
                    <li>Autonomous – once up to speed; they no longer need (or heed) their creators.</li>
                    <li>Distributed – there are no central points of control or failure that can be attacked.</li>
                    <li>Transparent – their books and business rules are auditable by all.</li>
                    <li>Confidential – customer information is securely (and incorruptibly) protected.</li>
                    <li>Trustworthy – because no interaction with them depends on trust.</li>
                    <li>Fiduciaries – acting solely in their customers’ and shareholders’ interests.</li>
                    <li>Self-regulating – they obey their own rules like, well, robots.</li>
                    <li>Incorruptible – no one can exercise seductive or coercive influence over them.</li>
                    <li>Sovereign – over their digital resources.  They don’t need governments to exist.</li>
                </ul>
            </div>
                <div class="row">
                <h4>What potential role could BOINC play in a DAC?</h4>
                <ul>
                    <li>BOINC can act as the data distribution layer for your distributed computing project with little setup.</li>
                    <li>Easy to set up - there are BOINC project cookbooks available online; the same can't be said about maidsafe or ethereum.</li>
                    <li>Work Unit distribution and scoring managed by boinc - a hurdle in a DAC/Distributed App tackled for you.</li>
                    <li>There's a huge BOINC community, provide a financial incentive and you'll have a massive amount of computing power at your fingertips.</li>
                    <li>Run a BOINC project server on TOR and let your imagination go wild..</li>
                </ul>
            </div>
            <div class="row">
                <h4>Possible BOINC DAC Projects</h4>
                <ul>
                    <li>Cryptocurrency full node distribution w/ financial incentive & version control.</li>
                    <li>Distributed DNS</li>
                    <li>Financial incentive for running volunteer projects such as TOR/I2P.</li>
                    <li>Proof of bandwidth (See TOR/I2P/Anon storage).</li>
                </ul>
            </div>
            <div class="row">
                <h4>Challenges facing BOINC DACs</h4>
                <ul>
                    <li>Creating a decentralized BOINC server; BOINC project servers are generally entirely centralized.</li>
                    <li>Who distributes the work units? You can't let the project be taken over by malicious users.</li>
                    <li>Potential legal issues; Any serious offenders will not be whitelisted for gridcoin.</li>
                    <li>There are no 'shareholders' in a BOINC DAC unless you implement a second payment protocol within your BOINC APP; GRC is the main crypto that backs any BOINC APP.</li>
                </ul>
            </div>
            <div class="row">
                <h4>Want to find out more?</h4>
                Navigate to the <a href="../../Dev/boincdevtest.htm">BOINC Project Developement</a> section, and start looking into how you could implement a commercial distributed autonomous application!
            </div>
            </div>
        </div>
    </section>
    <!-- /BDAC Content -->