---
page.title: "Gridcoin - Step 1: BOINC Installation"
---
<!--Getting started section-->
<section data-background-color="black" style="padding-bottom: 5px; padding-top:32px; margin-top: -20px;">
    <div class="container" style="overflow:hidden;">
        <div class="row" style="margin-top:20px;">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d; padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/boinc-install.htm">
                    <h5 style="color:white;text-align:center;font-weight:bold;">Step 1</h5>
                    <span class="label label-success" style="margin-bottom:7px; text-align:center;">You are here</span>
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold;">Setup BOINC &amp; Projects</h6>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/gridcoin-install.htm">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Step 2</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Setup Gridcoin Research Client</h6>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/acquire-grc.htm">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Step 3</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Sync client &amp; Acquire Gridcoin</h6>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/earn-grc.htm">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Step 4</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Earn Gridcoin via POS and DPOR</h6>
                </a>
            </div>
        </div>
    </div>
</section>
<!--/Getting started section-->
<!--TEST AREA-->
<section data-background-color="black" style="padding-top: 0px; padding-bottom: 15px;">
    <!--Start of GRC Feature section-->
    <!--First row of features-->
    <div class="container" style="overflow:hidden;">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <h4 style="text-align:left; color:white;">BOINC Introduction</h4>
                <p>First of all, if you're only investing in Gridcoin you can skip this guide in favour of immediately <a href="/Guides/gridcoin-install.htm" title="Gridcoin Client installation">installing the Gridcoin Wallet</a>.</p>
                <p>In order to earn Gridcoin, you need to crunch one or more whitelisted <a href="https://boinc.berkeley.edu/">BOINC</a> projects within team Gridcoin. You must install the <a href="https://boinc.berkeley.edu/">BOINC</a> client, select several <a href="https://boinc.berkeley.edu/">BOINC</a> projects and get crunching!</p>
                BOINC video introductions:
                <ul>
                    <li><a href="https://www.youtube.com/watch?v=79rTDNjdOf8">David Anderson talks BOINC, Citizen Science, and Why We Still Need You!</a></li>
                    <li><a href="https://www.youtube.com/watch?v=--Vy5ee7DwE">
Serge Berig - 
BOINC: Compute for Good, Change the World</a></li>
                </ul>
            </div>
            <div class="col-sm-4 hidden-xs">
                <a href="https://boinc.berkeley.edu/"><img src="/Images/boinc_logo2.png" alt="BOINC Logo" /></a>
            </div>
        </div>

        <div class='row' style="margin-bottom:25px; padding-top:10px;">
            <div class='col-xs-12'>
                <h4 style=" color:white; font-weight:bold;">Step 1A: Install BOINC</h4>
            </div>
        </div>

        <!--Step 1-->
        <div class="row" style="margin-top:10px;">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p>Navigate to the <a href="https://boinc.berkeley.edu">BOINC website</a>, download and install the appropriate BOINC client on your each of the computers you wish to crunch BOINC work upon. If you're not crunching projects which require <a href="https://www.virtualbox.org/wiki/Downloadsl">VirtualBox</a> you don't need to install BOINC+VirtualBox.</p>
                <a class="btn btn-simple btn-default" style="margin:5px;" href="https://boinc.berkeley.edu/download.php">BOINC client downloads</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                Here's some BOINC installation video tutorials:
                    <ul>
                        <li><a href="https://www.youtube.com/watch?v=laO_oMuY5xE">Rick's Performance Computing: BOINC install guide</li>
                        <li><a href="https://www.youtube.com/watch?v=SiQ0Ro_bCZY">Pi my life up: Setting up BOINC on a Raspberry PI</a></li>
                        <li><a href="https://www.youtube.com/watch?v=3hKUU9YWCKE">Rasim Muratovic: Installing BOINC</a></li>
                        <li><a href="https://www.youtube.com/watch?v=jX78dSvg8kg">How To: Gridcoin + BOINC + Windows 7 Installation (Part 1 of 3)</a></li>
                    </ul>
            </div>
        </div>
        <!--/Step 1-->

        <!--Step 2 banner-->
        <div class='row' style="margin-bottom:25px; padding-top:10px;">
            <div class='col-xs-12'>
                <h4 style=" color:white; font-weight:bold;">
                    Step 1B: Choose BOINC projects from the whitelist
                </h4>
            </div>
        </div>
        <!--/Step 2 banner-->
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h6>Sources of whitelist data</h6>
                <ul>
                    <li>
                        Within the Gridcoin client.
                    </li>
                    <li>
                        <a href="http://wiki.gridcoin.us/Current_BOINC_Whitelist">Gridcoin wiki: Whitelist page</a>
                    </li>
                    <li>
                        <a href="/Guides/whitelist.htm">Gridcoin.us Whitelist page</a>
                    </li>
                    <li>
                        <a href="https://gridcoinstats.eu/project">Gridcoinstats.eu</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-8">
                <h6>Project selection pro-tips</h6>
                <ul>
                    <li>
                        Select projects with least participation/competiton (you earn less on a project with 1000 participants than one with 50). Use <a href="https://gridcoinstats.eu/project">Gridcoinstats</a> to help identify such projects.
                    </li>
                    <li>
                        Select projects most compatible with your computer hardware, don't crunch GPU work with a CPU.
                    </li>
                    <li>
                        Verify your projects have sufficient work units available for computation, you don't want downtime whilst projects generate new work.
                    </li>
                    <li>
                        Select a backup project in case your primary project runs out of work units or goes down.
                    </li>
                </ul>
            </div>
        </div>
        <!--Step 3 banner-->
        <div class='row' style="margin-top:10px;">
            <div class='col-xs-12 text-center' >
                <h4 style=" color:white; font-weight:bold;">
                    Step 1C: Sign up to chosen BOINC projects
                </h4>
            </div>
        </div>
        <!--/Step 3 banner-->
        <!--Step 3 banner-->
        <div class='row' style="margin-top:10px;">
            <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6' >
                <h6 style="color:white; text-align:left;">
                    Foreword prior to proceeding:
                </h6>
                <ul style="text-align: justify; list-style-type: none; padding-left: 0;">
                    <li style="margin-bottom: 10px; text-align:left;">
                        You must use the same email address for all BOINC projects.
                    </li>
                    <li style="margin-bottom: 10px; text-align:left;">
                        Currently you must be a member of team Gridcoin to earn GRC.    
                    </li>
                    <li style="margin-bottom: 10px; text-align:left;">
                        To earn GRC, only crunch whitelisted BOINC projects.
                    </li>
                    <li style="margin-bottom: 10px; text-align:left;">
                        There are two methods of adding BOINC projects; these are to manually setup each project one at a time, or to use an account manager service to speed up the process.
                    </li>
                </ul>
            </div>
            <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6' >
                <ul style="text-align: justify; list-style-type: none; padding-left: 0;">
                    <li style="text-align:left;">
                        Advantages of using an account manager:
                        <ul>
                            <li>
                                Single Sign On: One password for BOINC to remember.
                            </li>
                            <li>
                                Manage computer resources &amp; configuration from one location.
                            </li>
                            <li>
                                Manage all BOINC projects from one management portal online.
                            </li>
                        </ul>
                    </li>
                    <li style="text-align:left;">
                        Disadvantages of using an account manager:
                        <ul>
                            <li>
                                Single Sign On: If your account manager's credentials are compromised, then all of your boinc project accounts will be compromised.
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--/Step 3 banner-->
        <!--Step 3 content-->
        <div class="row" style="margin-bottom:5px;">
            <div class="col-xs-12">
                <h4>Manually setting up projects</h4>
                <ul>
                    <li>
                        After installing and starting the BOINC Manager, you are asked to add a project or use an account manager. Select the 'add a project' radio button.
                    </li>
                    <li>
                        After clicking “Next“ choose a desired project.
                    </li>
                    <li>
                        You will be prompted to either create an account or login to an existing one. For some projects (such as World Community Grid) you have to register directly on the homepage of the project. Remember, to use the same email address for your BOINC activities.
                    </li>
                    <li>
                        You will be prompted with a registration confirmation. Once you have press the 'Finish' button, a web browser should launch with additional registration fields required. If not, go to the project homepage (you can definitely find it via Google). You have to find the “Your Account” button and press it. The project homepage of a different project can look different, but should have the same functions!
                    </li>
                    <li>
                        Within the launched web page, enter your username (don't bother with country/post-code) then press OK.
                    </li>
                    <li>
                        You'll be next be presented with a team search field, search for and join team 'Gridcoin'. Currently, team 'Gridcoin' membership is mandatory.
                    </li>
                    <li>
                        Your computer will now be crunching work units for the chosen project within team Gridcoin.
                    </li>
                    <li>
                        Repeat these steps for all projects you want to participate in.
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" style="margin-top:10px;">
                <h4>BOINC Account Manager Guide</h4>
                <ul>
                    <li>
                        Create a BAM! account <a href="http://boincstats.com/en/bam/register">here</a>.
                    </li>
                    <li>Wait for the activation mail, and activate your account.</li>
                    <li>Login to BAM! (the login box is at the top-right of <a href="http://boincstats.com">this page</a>).</li>
                    <li>Navigate to "<a href="http://boincstats.com/en/bam/signup/">Sign-up for projects</a>" in the 'BAM!' menu and click the 'Create account' icon (<img src="/Images/bam-icon.png" alt="icon" />) for every project you want to join.</li>
                    <li>
                        Follow these steps to join team Gridcoin in each project:
                        <ul>
                            <li>Navigate to the <a href="http://boincstats.com/en/bam/teams/">Team</a> page.</li>
                            <li>For each project you wish to contribute towards, tick the checkbox in the 3rd column.</li>
                            <li>Click the green 'Change/Join team' button at the bottom of the list of projects.</li>
                            <li>Enter 'Gridcoin' in the popup text field &amp; click the 'Search' button.</li>
                            <li>The page will change to just the checked projects, and will show their respective results for the team 'Gridcoin' search query in a dropdown box.</li>
                            <li>Select team 'Gridcoin' in each dropdown menu &amp; click the green 'Change/join team' button.</li>
                            <li>Click the orange 'back to overview' button.</li>
                        </ul>
                    </li>
                    <li>Navigate to "<a href="http://boincstats.com/en/bam/projects/">My projects</a>" in the 'BAM!' menu and select the projects that you want all your new hosts to attach to by click the "Attach new host by default" icon.</li>
                    <li>Attach your BOINC client to BAM!. The instructions are <a href="http://boincstats.com/en/bam/attachInstruction">here</a>.</li>
                    <li>The client will make two connections to BAM!. It will connect to all projects that are set to default attach.</li>
                    <li>Done! There are more options in BAM! to fine-tune settings and hosts. Browse around and read the <a href="http://boincstats.com/en/page/faq">F.A.Q.</a> for details.</li>
                </ul>
            </div>
        </div>
        <!--/Step 3 content-->
    </div>
    <!--End of GRC Feature Section-->
</section>
<!--/TEST AREA-->
<!--Getting started section-->
<section data-background-color="black" style="padding-bottom: 5px; padding-top: 5px;">
    <div class="container" style="overflow:hidden;">
        <div class="row" style="margin-top:20px;">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d; padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/boinc-install.htm">
                    <h5 style="color:white;text-align:center;font-weight:bold;">Step 1</h5>
                    <span class="label label-success" style="margin-bottom:7px; text-align:center;">You are here</span>
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold;">Setup BOINC &amp; Projects</h6>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/gridcoin-install.htm">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Step 2</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Setup Gridcoin Research Client</h6>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/acquire-grc.htm">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Step 3</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Sync client &amp; Acquire Gridcoin</h6>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/earn-grc.htm">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Step 4</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Earn Gridcoin via POS and DPOR</h6>
                </a>
            </div>
        </div>
    </div>
</section>
<!--/Getting started section-->
