---
title: "Gridcoin - BOINC Issues"
layout: layout
---
<!--Intro-->
<section data-background-color="black" style=" padding-bottom:0px;">
    <div class="container">
        <div class='row'>
            <div class='col-xs-12 text-center'>
                <h4 style="color:white; font-weight:bold;">Troubleshooting BOINC</h4>
            </div>
        </div>
    </div>
</section>
<!--/Intro-->
<!-- FAQ Content -->
<section data-background-color="black">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="row">

                        <h2 id="installing">Problems installing BOINC</h2>

                        <p>
                            (Windows) In rare cases, installation may fail because
                            of an existing installation of BOINC. If this happens:
                        </p>

                        <ul>
                            <li>
                                Quit BOINC if it's running, and uninstall BOINC
                                using <strong>
                                    <a class="missing wiki">Start/Control?</a> <a class="missing wiki">Panel/Add?</a> and remove
                                    programs
                                </strong>. Install the new version again.
                            </li>

                            <li>
                                If that fails, reinstall the version of BOINC you
                                were previously running (you can get an older version
                                from the <a href="/download_all.php">
                                    download
                                    page
                                </a>). Uninstall it, then install the new version.
                            </li>

                            <li>
                                If that fails, download the <a class="ext-link"
                                                               href="http://support.microsoft.com/kb/290301">
                                    <span class="icon">
                                    </span>Windows Install Clean Up
                                </a> utility from
                                Microsoft and run it. The old BOINC version shows
                                up as either BOINC.msi or as a corrupt icon .msi
                                (it'll be the top option). Click on it to select,
                                then click Remove and Exit. Reboot your computer.
                                Install the new version. (Warning: leave all other
                                .msi files as they are, otherwise you will have
                                problems uninstalling other programs).
                            </li>
                        </ul>

                        <h2 id="attaching">Problems attaching to a project</h2>

                        <p>
                            If you try to attach to a project that's down, you'll
                            get a <strong>Project temporarily unavailable</strong>
                            error. Wait a while, then try again.
                        </p>

                        <p>
                            If you get a <strong>
                                Network communication
                                failure
                            </strong>, it means BOINC can't do any communication
                            at all. The likely problems are:
                        </p>

                        <ul>
                            <li>
                                Connectivity: you don't have a network connection.
                                Check your network or modem connection (if your web
                                browser can get to outside sites, this is not the
                                problem). See this <a class="ext-link" href="http://support.microsoft.com/kb/326155/">
                                    <span class="icon">
                                    </span>information on Windows networking
                                    troubleshooting
                                </a> from Microsoft website.
                            </li>

                            <li>
                                Personal firewall software (ZoneAlarm, Norton
                                Personal Firewall, McAfee, etc.) is blocking BOINC.

                                <ul>
                                    <li>
                                        The first time you run BOINC, your personal
                                        firewall will bring up a dialog asking if
                                        boincmgr.exe and boinc.exe should be allowed to
                                        communicate (say yes).
                                    </li>

                                    <li>
                                        If this dialog doesn't appear, bring up
                                        your personal firewall program and add an
                                        'exception' entry allowing BOINC to
                                        communicate. If it already has an entry for
                                        BOINC, delete it. Detail vary between firewall
                                        packages.
                                    </li>

                                    <li>
                                        You may have accidentally installed more
                                        than one firewall. Uninstall or disable all but
                                        the primary one.
                                    </li>
                                </ul>
                            </li>

                            <li>
                                Proxy server: there are two kinds of proxies, HTTP
                                and SOCKS. You may be using one or both. Most home
                                computers do not use proxies. To find out if you're
                                using a proxy, look at the Internet settings of your
                                web browser. (Firefox: <a class="missing wiki">Tools/Options/General/Connection?</a>
                                Settings; Internet Explorer: <a class="missing wiki">
                                    Tools/Internet?
                                </a> <a class="missing wiki">Options/Connections/Settings?</a>).
                                Copy the settings there (server, port, etc.) to the
                                BOINC dialog.
                            </li>

                            <li>
                                (Windows) SETI@home: if it appears to attach OK,
                                but the Messages tab has repeated <strong>
                                    shared memory
                                    error
                                </strong> messages from the server: uninstall
                                BOINC and delete the install directory (typically
                                C:\Program Files\BOINC). Reinstall BOINC, but in a
                                different directory (such as C:\Program
                                Files\BOINC2).
                            </li>

                            <li>
                                Some DSL customers in the UK report needing to set
                                MTU=1492 in their modem/router and rebooting it.
                            </li>
                        </ul>

                        <h2 id="running-windows">
                            Problems while running BOINC
                            (Windows)
                        </h2>

                        <ul>
                            <li>
                                If screensaver graphics aren't working, make sure
                                you have the latest driver for your graphics
                                adapter.
                            </li>

                            <li>
                                If BOINC applications are repeatedly crashing on
                                your computer, it's possible that you need to
                                <a class="missing wiki">
                                    upgrade to the latest
                                    version of DirectX?
                                </a> (9.0c or later).
                            </li>

                            <li>
                                If you repeatedly see
                                <pre class="wiki">
'''Can't delete previous state file; Access is denied.'''
</pre>
                            </li>
                        </ul>

                        <blockquote>
                            <p>
                                in your message log, you're probably running a
                                program that is accessing files and keeping them locked
                                for long periods. Try using Microsoft's <a class="ext-link" href="http://www.microsoft.com/technet/sysinternals/FileAndDisk/Filemon.mspx">
                                    <span class="icon">​</span>FileMon
                                </a> utility to
                                discover what the offending program is, then configure
                                it to not access files in the BOINC directory. Known
                                problems: TSVNCache (part of TortoiseSVN).
                            </p>
                        </blockquote>

                        <ul>
                            <li>
                                (Vista) If BOINC applications fail each time you
                                shut down your computer, copy the following text and
                                paste it into the Notepad window, called
                                WaitToKill.reg:
                                <pre class="wiki">
Windows Registry Editor Version 5.00
[HKEY_LOCAL_MACHINESYSTEMCurrentControlSetControl]
"WaitToKillServiceTimeout"="20000"
</pre>
                            </li>
                        </ul>

                        <blockquote>
                            <p>
                                The 20000 is 20 seconds. Increase/decrease to your
                                liking. To add this to the registry double-click the
                                file. The UAC will come up, press continue, press Yes
                                on the next window and OK on the one thereafter. You
                                need to reboot to make the changes have effect.
                            </p>
                        </blockquote>

                        <p>
                            <strong>N.B.</strong> The shutdown and restart crashing
                            of the science applications ending Tasks in "computation
                            error" is well and truly resolved in BOINC version 5.10.35
                            and upwards.
                        </p>

                        <h3 id="aol-bug">Workaround for AOL problem</h3>

                        <p>
                            On 20 December 2006 we investigated a problem with the
                            following symptoms:
                        </p>

                        <ul>
                            <li>
                                The BOINC client connects to some projects but
                                scheduler requests return an error message saying
                                <pre class="wiki">
Project encountered internal error: shared memory
</pre>
                            </li>

                            <li>
                                The BOINC client fails to attach to other projects,
                                giving the error message:
                                <pre class="wiki">
The URL you supplied is not that of a BOINC-based project.
</pre>
                            </li>
                        </ul>

                        <p>
                            We believe that this problem only affects people
                            connected to the Internet using AOL, and that it is caused
                            by the AOL software. We were able to work around the
                            problem as follows:
                        </p>

                        <ul>
                            <li>
                                Reinstall BOINC. When asked what directory to
                                install in, select
                                <pre class="wiki">
C:\Program Files\BOINC2
</pre>(or any name other than BOINC).
                            </li>
                        </ul>

                        <p>
                            <strong>Note:</strong> you must install to a new
                            directory. It doesn't work to rename BOINC to BOINC2, then
                            install.
                        </p>

                        <h2 id="running-linux">
                            Problems while running BOINC
                            (Linux)
                        </h2>

                        <ul>
                            <li>
                                If the web site buttons in the Manager don't work,
                                make sure your $BROWSER environment variable is
                                set.
                            </li>

                            <li>
                                If BOINC produces as error message of the form
                                <pre class="wiki">
boinc_client: /lib/libc.so.6: version 'GLIBC_2.2' not found (required by ./boinc_client)
</pre>
                            </li>
                        </ul>

                        <blockquote>
                            <p>
                                then you need to install a newer version of
                                libc.
                            </p>
                        </blockquote>

                        <h2 id="running-all">
                            Problems while running BOINC (all
                            platforms)
                        </h2>

                        <ul>
                            <li>
                                If you get repeated 'bad checksum' or 'wrong size'
                                errors on downloaded JPEG image files, check the 'Skip
                                image file verification' checkbox in your <a class="missing wiki">General Preferences?</a>. Typically this
                                means your ISP is using something called UMTS, which
                                does extra compression of JPEG files.
                            </li>

                            <li>
                                If you have a problem with a particular project, go
                                to the 'Questions and Answers' area of the project's
                                web site. You may find the solution to your problem. If
                                not, post it there, and you'll get help from other
                                users. If the problem persists, use the BOINC Manager
                                to 'reset' that project. This will erase any jobs in
                                progress and start from scratch.
                            </li>

                            <li>
                                If you see an error like
                                <pre class="wiki">
2007-06-08 14:33:56 [---] Can't delete previous state file; The file or directory is corrupted and unreadable. (0x570)
</pre>
                            </li>
                        </ul>

                        <blockquote>
                            <p>
                                then back up your BOINC directory and run chkdsk
                                (Windows) or fsck (Unix) on the drive containing it. If
                                files are irretrievably lost, create a new BOINC
                                directory and reattach all projects.
                            </p>
                        </blockquote>

                        <h2 id="FurtherHelp">Further Help</h2>

                        <p>If these tips don't solve your problem:</p>

                        <ul>
                            <li>
                                <a href="/help.php">Talk with a Help Volunteer</a>
                            </li>

                            <li>
                                Browse <a href="/links.php#info">
                                    other
                                    BOINC-related web sites
                                </a>
                            </li>

                            <li>
                                Check out the <a href="/dev/">
                                    BOINC message
                                    boards
                                </a>
                            </li>
                        </ul>

                        <h2 id="ReportaBug">Report a Bug</h2>

                        <p>
                            If all else fails, you may need to <a class="wiki" href="/trac/wiki/ReportBugs">report a bug</a>. Bug reports are
                            <strong>not</strong> for general troubleshooting. Please
                            discuss the bug on the <a href="/dev/">
                                BOINC message
                                boards
                            </a> and gather as much information as you can before
                            submitting your report.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of FAQ Content -->