---
title: "Gridcoin - Step 4: Earn Gridcoin"
layout: layout
---
<!--Getting started section-->
<section data-background-color="black" style="padding-bottom: 5px;">
    <div class="container" style="overflow:hidden;">
        <div class="row" style="margin-top:20px;">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d; padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/boinc-install.htm">
                    <h5 style="color:white;text-align:center;font-weight:bold;">Step 1</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold;">Setup BOINC & Projects</h6>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/gridcoin-install.htm">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Step 2</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Setup Gridcoin Research Client</h6>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/acquire-grc.htm">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Step 3</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Sync client & Acquire Gridcoin</h6>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/earn-grc.htm">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Step 4</h5>
                    <div class="ribbon" style="margin-bottom:7px;">You are here</div>
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Earn Gridcoin via POS and DPOR</h6>
                </a>
            </div>
        </div>
    </div>
</section>
<!--/Getting started section-->

<!--TEST AREA-->
<section data-background-color="black" style="padding-top:0px;padding-bottom: 25px;">
    <div class="container" style="overflow:hidden;">
            <div class="row" style="margin-top:10px;">
                <div class='col-xs-12 col-sm-12 text-center' style="">
                    <h4>
                        Earn GRC via Proof of Stake
                    </h4>
                </div>
            </div>

            <!--prereqs-->
            <div class="row">
                <div class="col-xs-12" style="">
                    <ul style="text-align: justify; list-style-type: none; padding-left: 5px;">
                        <li style="margin-bottom: 10px; text-align:left;">
                            <ul>
                                <li>
                                    Once running an up-to-date fully synced client with a positive balance, all that is required is for you to unlock your wallet for 'staking only'.  
                                </li>
                                <li style="padding-top:10px;">
                                    Once your wallet is unlocked, it will take up to 16 hours for your coins to fully start staking.
                                </li>
                                <li style="padding-top:10px;">
                                    In order for your Gridcoin client to begin staking, it must locate coins to stake - newly acquired Gridcoin must mature (be present in your wallet) for 16 hours before it transfers from your balance into the 'staking balance' to which it begins competing to be used to create the next block.
                                    <ul>
                                        <li>
                                            There are 960 blocks per day that you can attempt to stake. If you've got 1% of the total Gridcoin supply, you'll approximately stake 9.6 blocks per day.
                                        </li>
                                        <li>
                                            The formula required to work out the quantity of coins to stake in a period of time is:
                                            <ul>
                                                <li>
                                                    <code>
                                                        EstimatedDaysUntilStake=(1/(UserBalance/NetworkCoinSupply))/960
                                                    </code>
                                                </li>
                                                <li>
                                                    <code>
                                                        CoinsRequired=(1/(days*960))*NetworkCoinSupply
                                                    </code>
                                                </li>
                                                <li>
                                                    <b>Note</b>: The maximum payout window is approximately 182.5 days. This may (most likely will) increase in the future. 
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            Best practice is to stake 24/7, since you have an opportunity to stake each block (even if your probability is low).
                                        </li>
                                    </ul>
                                </li>
                                <li style="padding-top:10px;">
                                    If you're wanting to read about the proof of stake mechanism behind gridcoin, read <a href="http://blackcoin.co/blackcoin-pos-protocol-v2-whitepaper.pdf">blackcoin's pos v2 whitepaper</a>.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/prereqs-->

        </div>
</section>
<!--/TEST AREA-->

<section data-background-color="black" style="padding-top:0px;padding-bottom: 25px; ">
        <div class="container" style="overflow:hidden;">
            <!--Step 1-->
            <div class='row'>
                <div class='col-xs-12 text-center' style="">
                    <h4 style="font-weight:bold;">
                        Earn GRC via DPOR
                        <a name="DPOR"></a>
                    </h4>
                </div>
            </div>
            <!--/Step 1-->
            <!--Contibute content-->
            <div class="row">
                <div class="col-xs-12" style="">
                    <ul style="text-align: justify; list-style-type: none; padding-left: 0;">
                        <li style="margin-bottom: 10px; text-align:left;">
                            <b>Execute the following 5 steps to begin earning DPOR payments:</b>
                            <ul>
                                <li>
                                    Verify that each project you're contributing towards has been attached to team Gridcoin & that your projects are infact <a href="../guides/whitelist.htm">whitelisted</a>. Contributing to projects outside of the whitelist will not give you any reward for those projects.
                                </li>
                                <li style="padding-top:10px;">
                                    Verify that all of your BOINC projects are using the one CPID. If your projects are using multiple CPIDs issues will arise and you'll be unable to proceed!
                                    <ul>
                                        <li>
                                            You can locate your CPID directly via the project's site, or via <a href="http://www.boincstats.com">boincstats</a>.
                                        </li>
                                    </ul>
                                </li>
                                <li style="padding-top:10px;">
                                    <b><u>Before proceeding</u>: you must verify that your Gridcoin client has detected your CPID.</b>
                                    <ul>
                                        <li>
                                            Navigate to the overview page, and verify that your CPID is showing in the bottom left messages section.
                                        </li>
                                        <li>
                                            If your CPID is not showing, and instead 'INVESTOR' is present, you must troubleshoot what's gone wrong.
                                            <ul>
                                                <li>
                                                    BOINC stats take time to propagate, if you've been contributing towards BONIC for less than 24 hours then you should wait until the next day before proceeding (continue computing BOINC work units!).
                                                </li>
                                                <li>
                                                    Verify your BOINC projects do not have split CPIDs (multiple cpids).
                                                </li>
                                                <li>
                                                    Verify that you're a member of team gridcoin for all projects.
                                                </li>
                                                <li>
                                                    Did you install BOINC to a <b>non-default</b> location? You'll need to specify this location in the gridcoinresearch.conf file. These instructions are available back in step 2.
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li style="padding-top:10px;">
                                    Register your CPID to the DPOR system via advertising a beacon:
                                    <ul>
                                        <li>
                                            <b>Note:</b> A small balance of GRC is required in order to advertise your beacon (a smart transaction) in the DPOR system (currently costs approx 0.0011 GRC).
                                        </li>
                                        <li>
                                            Temporarily, fully unlock (not for staking only) your wallet to allow for the beacon to be sent in the next step now.
                                        </li>
                                        <li>
                                            Navigate to the debug console <code>Help | Debug window | Console</code>, enter the command <code>execute advertisebeacon</code> (Or wait for the beacon to be sent automatically).
                                            <ul>
                                                <li>
                                                    A small outbound smart transaction (approx 0.0001 GRC) will be sent from your wallet (this is the beacon). If this outbound transaction does not appear, your beacon has not been advertised & you should investigate why your client was unable to advertise it's beacon!
                                                </li>
                                                <li>
                                                    Once you've confirmed that the outbound smart transaction has been sent, you should lock your wallet then unlock your wallet for 'staking only' to begin securely staking.
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li style="padding-top:10px;">
                                    Wait until your CPID is included in the next superblock
                                    <ul>
                                        <li>
                                            There is a single superblock created daily to register new users & update user BOINC stats, so it could take up to 24hrs before your CPID is registered fully.
                                        </li>
                                        <li>
                                            Navigate to the debug console <code>Help | Debug window | Console</code>, enter the command <code>execute beaconreport</code>.
                                        </li>
                                        <li>
                                            In the output, search for your CPID. If not present, wait until the next superblock. When your CPID is present, continue to the next step.
                                        </li>
                                        <li>
                                            If after a several superblocks your CPID is still not present, retry advertising your beacon.
                                        </li>
                                    </ul>
                                </li>
                                <li style="padding-top:10px;">
                                    Once CPID is present in the beacon report, sync the neural network:
                                    <ul>
                                        <li>
                                            Navigate to the debug console <code>Help | Debug window | Console</code>, enter the command <code>execute syncdpor2</code>.
                                        </li>
                                        <li>
                                            If successful, the output will be '"syncing" : 1'.
                                        </li>
                                        <li>
                                            Navigate to the neural network <code>Advanced | Neural Network</code>.
                                        </li>
                                        <li>
                                            In the neural network window, there should be a progress bar showing the sync progress. Once fully synced, click the '<b>Refresh</b>' button and search for your CPID.
                                        </li>
                                        <li>
                                            If your CPID is not present, verify that your cpid is present in the beaconreport (<b>previous step</b>). If it's present in the beaconreport, resync the neural network ("<b>execute syncdpor2</b>").
                                        </li>
                                        <li>
                                            When your CPID is present, double clicking on your row provides a thorough breakdown for each project's individual magnitude calculation in a new window.
                                        </li>
                                    </ul>
                                </li>
                                <li style="padding-top:10px;">
                                    Unlock your wallet for staking only, and upon staking you'll recieve DPOR earnings ontop of POS earnings.
                                    <ul>
                                        <li>
                                            Bear in mind, that earnings are dependent on both how much you are owed (from BOINC computation completed) and your Gridcoin balance. If you have a low balance and a low magnitude, you could stake a block (being rewarded POS+POR) only once every few weeks/months.
                                        </li>
                                        <li>
                                            The payout window has recently been increased from 14 days to 6 months, so even if you're only staking once every 5 months you'll earn your owed BOINC rewards.
                                        </li>
                                        <li>
                                            If you're not satisfied with your staking rate, you need to increase your Gridcoin balance (due to the nature of proof of stake).
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</section>


<!--TEST AREA-->
<section data-background-color="black" style="padding-top:0px;padding-bottom: 25px;">
    <div class="container" style="overflow:hidden;">
        <div class="row" style="margin-top:10px;">
            <div class='col-xs-12 col-sm-12 text-center' style="">
                <h4>
                    Tips
                </h4>
            </div>
        </div>

        <!--prereqs-->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6" style="">
                <ul>
                    <li style="margin-bottom: 10px; text-align:left;">
                        Use the following website to get a birds-eye view of other researcher's efforts:
                        <ul>
                            <li>
                                <a href="http://gridresearchcorp.com/">GridResearchCorp</a> : Block explorer, magnitude reports, network analysis, etc.
                            </li>
                            <li>
                            <a href="http://www.gridcoin.co/" style="color:#707C34;">Katiee's GRC Magnitude/Earnings Calculator</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6" style="">
                <ul>
                    <li style="margin-bottom: 10px; text-align:left;">
                        Further worthwhile reading:
                        <ul>
                            <li>
                                <a href="security.htm">Security Guide</a>
                            </li>
                            <li>
                                <a href="misc.htm">MISC BOINC Guides</a>
                            </li>
                            <li>
                                <a href="http://wiki.gridcoin.us/FAQ">Gridcoin F.A.Q.</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>