---
title: "Gridcoin - Step 4: Earn Gridcoin"
description: "Step 4 of the solo crunching guide; Instructing users how they can begin earning Gridcoin in five steps."
---
<section  data-background-color="black" style="padding-bottom: 5px; padding-top:60px; margin-top: 20px;">
    <div class="container" style="overflow:hidden; margin-top:20px; border: 2px dotted #40413c;">
        <div class="row" style="text-align:center;">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d; padding-bottom: 10px;">
                <h5 style="color:white;font-weight:bold;">Step 1</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/boinc-install.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                        Setup BOINC &amp; Projects
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;">
                <h5 style="font-weight: bold;">Step 2</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/gridcoin-install.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Setup Gridcoin Research Client
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d;">
                <h5 style="font-weight: bold;">Step 3</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/acquire-grc.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Sync client &amp; Acquire Gridcoin
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;">
                <h5 style="font-weight: bold;">Step 4</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/earn-grc.htm">
                    <button class="btn btn-success" id="Guide-Button">
                    Earn Gridcoin via POS and DPOR
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

<section  data-background-color="black" style="padding-top:0px;padding-bottom: 25px; ">
        <div class="container" style="overflow:hidden;">
            <!--Step 1-->
            <div class='row'>
                <div class='col-xs-12 text-center' style="">
                    <h4 style="font-weight:bold;">
                        Earn GRC via DPOR
                        <a name="DPOR"></a>
                    </h4>
                </div>
            </div>
            <!--/Step 1-->
            <!--Contibute content-->
            <div class="row">
                <div class="col-xs-12" style="">
                    <ul style="text-align: justify; list-style-type: none; padding-left: 0;">
                        <li style="margin-bottom: 10px; text-align:left;">
                            <b>Execute the following 5 steps to begin earning DPOR payments:</b>
                            <ul>
                                <li>
                                    Verify that each project you're contributing towards has been attached to team Gridcoin &amp; that your projects are in fact <a href="../guides/whitelist.htm">whitelisted</a>. Contributing to projects outside of the whitelist will not give you any reward for those projects.
                                </li>
                                <li style="padding-top:10px;">
                                    Verify that all of your BOINC projects are using the same CPID. If your projects are using multiple CPIDs issues will arise and you'll be unable to proceed!
                                    <ul>
                                        <li>
                                            You can locate your CPID directly via the project's site, or via <a href="https://www.boincstats.com">boincstats</a>.
                                        </li>
                                    </ul>
                                </li>
                                <li style="padding-top:10px;">
                                    <b><u>Before proceeding</u>: you must verify that your Gridcoin client has detected your CPID.</b>
                                    <ul>
                                        <li>
                                            Navigate to the overview page, and verify that your CPID is showing in the bottom left messages section.
                                        </li>
                                        <li>
                                            If your CPID is not showing, and instead 'INVESTOR' is present, you must troubleshoot what's gone wrong.
                                            <ul>
                                                <li>
                                                    BOINC stats take time to propagate, if you've been contributing towards BOINC for less than 24 hours then you should wait until the next day before proceeding (continue computing BOINC work units!).
                                                </li>
                                                <li>
                                                    Verify your BOINC projects do not have split CPIDs (multiple cpids).
                                                </li>
                                                <li>
                                                    Verify that you're a member of team Gridcoin for all projects.
                                                </li>
                                                <li>
                                                    Did you install BOINC to a <b>non-default</b> location? You'll need to specify this location in the gridcoinresearch.conf file. These instructions are available back in step 2.
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li style="padding-top:10px;">
                                    Register your CPID on the Gridcoin blockchain by advertising a beacon:
                                    <ul>
                                        <li>
                                            Note: A small balance of GRC is required in order to advertise your beacon (a smart transaction) in the DPOR system.
                                        </li>
                                        <li>
                                            Temporarily, fully unlock (not for staking only) your wallet to allow for the beacon transaction.
                                        </li>
                                        <li>
                                            Navigate to the debug console <code>Help | Debug window | Console</code>, enter the command <code>advertisebeacon</code> (Or wait for the beacon to be sent automatically).
                                            <ul>
                                                <li>
                                                    A small outbound smart transaction will be sent from your wallet (this is the beacon).
                                                </li>
                                                <li>
                                                    Once you've confirmed that the outbound smart transaction has been sent, you should lock your wallet.
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li style="padding-top:10px;">
                                    Wait until your CPID is included in the next superblock
                                    <ul>
                                        <li>
                                            There is a single superblock created daily to register new users &amp; update user BOINC stats, so it could take up to 24hrs before your CPID is registered fully.
                                        </li>
                                        <li>
                                            Navigate to the debug console <code>Help | Debug window | Console</code>, enter the command <code>beaconreport</code>.
                                        </li>
                                        <li>
                                            In the output, search for your CPID. If not present, wait until the next superblock. When your CPID is present, continue to the next step.
                                        </li>
                                        <li>
                                            If after a several superblocks your CPID is still not present, try advertising your beacon again.
                                        </li>
                                    </ul>
                                </li>
                                <li style="padding-top:10px;">
                                    Unlock your wallet for staking only, and upon staking a block you'll receive your BOINC and POS earnings.
                                    <ul>
                                        <li>
                                            Bear in mind, that earnings are dependent on both how much you are owed (from BOINC computation completed) and your Gridcoin balance interest. If you have a low balance, you could stake a block (being rewarded POS+POR) only once every few weeks/months (consider using a pool instead).
                                        </li>
                                        <li>
                                            Best practice is to continuously stake 24/7 if possible, since you have an opportunity to stake each block (even if your probability is low) and coin age is not considered within the staking probability calculation.
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</section>

<section  data-background-color="black" style="padding-bottom: 5px; padding-top:60px; margin-top: 0px;">
    <div class="container" style="overflow:hidden; margin-top:20px; border: 2px dotted #40413c;">
        <div class="row" style="text-align:center;">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d; padding-bottom: 10px;">
                <h5 style="color:white;font-weight:bold;">Step 1</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/boinc-install.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                        Setup BOINC &amp; Projects
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;">
                <h5 style="font-weight: bold;">Step 2</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/gridcoin-install.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Setup Gridcoin Research Client
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d;">
                <h5 style="font-weight: bold;">Step 3</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/acquire-grc.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Sync client &amp; Acquire Gridcoin
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;">
                <h5 style="font-weight: bold;">Step 4</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/earn-grc.htm">
                    <button class="btn btn-success" id="Guide-Button">
                    Earn Gridcoin via POS and DPOR
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>