---
title: "Gridcoin - Step 4: Earn Gridcoin"
layout: layout
---
<!--Getting started section-->
<section style="background-color: #40413c; padding-bottom: 5px;">
    <div class="container" style="overflow:hidden;">
        <div class="row" style="margin-top:20px;">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d; padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/boinc-install.htm">
                    <h5 style="color:white;text-align:center;font-weight:bold;">Step 1</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold;">Setup BOINC & Projects</h6>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/gridcoin-install.htm">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Step 2</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Setup Gridcoin Research Client</h6>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/acquire-grc.htm">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Step 3</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Sync client & Acquire Gridcoin</h6>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/earn-grc.htm">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Step 4</h5>
                    <div class="ribbon" style="margin-bottom:7px;">You are here</div>
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Earn Gridcoin via POS and DPOR</h6>
                </a>
            </div>
        </div>
    </div>
</section>
<!--/Getting started section-->

<!--GRC Feature section-->
<section style="background-color: #40413c; padding-bottom: 25px;">
    <div class="container" style="overflow:hidden;">
        <div class='col-xs-12 text-center'>
            <h4 style="color:white; font-weight:bold;">How does Gridcoin's reward mechanism work?</h4>
        </div>
        <div class="row features" style="padding-top:25px;">
            <div class="col-xs-12 col-sm-4 col-md-4" style="background-color: #303030; border: solid; border-width: thick; border-color: #40413c; padding-bottom: 1000px; margin-bottom: -1000px;">
                <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-Stake">
                    <img src="/Images/FrontPage/icon01.png" alt="Graph" height="100" width="100" style="padding-top:15px; margin-bottom:-25px;">
                    <h6 style="color:white; font-weight:bold;">
                        PROOF-OF-STAKE
                    </h6>
                </a>
                <ul style="list-style-type: none; padding-left: 0; color:#9A9899;">
                    <li style="margin-bottom: 10px;">
                        Gridcoin Research utilises proof of stake (POS) as it's primary distributed consensus mechanism.
                    </li>
                    <li style="margin-bottom: 10px;">
                        In Proof-of-Stake, currency is not mined, but rather minted as yearly compound interest.
                    </li>
                    <li style="margin-bottom: 10px;">
                        As a mint mechanism Proof-of-Stake uses the stake of the holder itself. The larger a user's stake in gridcoin, the higher the probability that the user will mint a block.
                    </li>
                    <li style="text-align:center;">
                        <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-Stake">
                            Read more about POS
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4" style="background-color: #303030; border: solid; border-width: thick; border-color: #40413c; padding-bottom: 1000px; margin-bottom: -1000px;">
                <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-BOINC">
                    <img src="/Images/FrontPage/icon02.png" alt="BOINC Logo" height="100" width="100" style="padding-top:15px; margin-bottom:-25px;">
                    <h6 style="color:white; font-weight:bold;">
                        PROOF-OF-BOINC
                    </h6>
                </a>
                <ul style="list-style-type: none; padding-left: 0; color:#9A9899;">
                    <li style="margin-bottom: 10px;">
                        When a researcher registers for individual BOINC projects, a cross project ID (CPID) is generated by BOINC and used by Proof-Of-BOINC to securely track BOINC contributions made by GRC Researchers.
                    </li>
                    <li>
                        The BOINC RAC system has existed for many years and has proven uncheatable.
                    </li>
                    <li style="text-align:center;">
                        <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-BOINC">
                            Read more about POB
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4" style="background-color: #303030; border: solid; border-width: thick; border-color: #40413c; padding-bottom: 1000px; margin-bottom: -1000px;">
                <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-Research">
                    <img src="/Images/FrontPage/icon03.png" alt="POR" height="100" width="100" style="padding-top:15px; margin-bottom:-25px;">
                    <h6 style="color:white; font-weight:bold;">
                        DISTRIBUTED-PROOF-OF-RESEARCH
                    </h6>
                </a>
                <ul style="list-style-type: none; padding-left: 0; color:#9A9899;">
                    <li style="margin-bottom: 10px;">
                        Proof of stake (POS) and Proof of BOINC (POB) are tied together by Distributed Proof of Research (DPOR).
                    </li>
                    <li style="margin-bottom: 10px;">
                        Thanks to DPOR, Gridcoin no longer relies on a centralized credit checking system (netsoft); instead the client queries BOINC project servers directly & the network agrees on a superblock once per 24 hours to track all BOINC stats and register new users.
                    </li>
                    <li style="text-align:center;">
                        <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-Research">
                            Read more about DPOR
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" style="overflow:hidden;">
            <div class="row" style="margin-top:10px;">
                <div class='col-xs-12 col-sm-12 text-center' style="background-color: #282828;">
                    <h4 style=" color:white; font-weight:bold;">
                        README
                    </h4>
                </div>
            </div>

            <!--prereqs-->
            <div class="row">
                <div class="col-xs-12" style="background-color: #282828;">
                    <ul style="text-align: justify; list-style-type: none; padding-left: 5px;">
                        <li style="margin-bottom: 10px; text-align:left; color:#9A9899;">
                            <ul>
                                <li>
                                    The Distributed Proof of Research (DPOR) payment mechanism has been recently updated raising the payout window (how far into the future you can be paid for todays work) from 14 days to 6 months+, so even if you're only staking once every 3 months you'll earn your full accurate owed BOINC earnings. 
                                </li>
                                <li style="padding-top:10px;">
                                    Due to the nature of proof of stake, if you have a low quantity of GRC you may be staking infrequently (we allow up to every 6 months) - so be patient with regards to earning BOINC rewards.
                                    <ul>
                                        <li>
                                            If you wish to increase the frequency of your BOINC payment rewards, you need to increase your Gridcoin balance (a fundamental requirement to proof of stake).
                                        </li>
                                    </ul>
                                </li>
                                <li style="padding-top:10px;">
                                    The setup phase of for new users joining the Gridcoin system is typically between 2 and 3 days (depending on any issues you encounter):
                                    <ul>
                                        <li>
                                            You need to be contributing towards a BOINC project for at least 24 hours for the project server's stats to propagate fully.
                                        </li>
                                        <li>
                                            Once the Gridcoin client has detected your CPID (and you're no longer detected as an 'INVESTOR') you advertise a beacon (registration transaction) to join the 'Neural Network'; there is a superblock (block that registers new users and updates stats) that is created once every 24 hours, so you will have to wait up to 24hrs after advertising your beacon before being fully registered in the DPOR system.
                                        </li>
                                    </ul>
                                </li>
                                <li style="padding-top:10px;">
                                    There is no guarantee of being paid your 'owed' BOINC earnings, it's up to you to ensure your BOINC & Gridcoin environment are fully configured correctly and that you're able to stake blocks within the 6 month payment window. If you experience any issues, do seek help via <a href="http://www.reddit.com/r/gridcoin">Reddit</a>/<a href="https://twitter.com/GridcoinNetwork">Twitter</a>/<a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin">IRC</a>.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/prereqs-->
        </div>
</section>
<!--End of GRC Feature Section-->

<!--TEST AREA-->
<section style="padding-top:0px;background-color: #303030; padding-bottom: 25px;">
    <div class="container" style="overflow:hidden;">
            <div class="row" style="margin-top:10px;">
                <div class='col-xs-12 col-sm-12 text-center' style="background-color: #282828;">
                    <h4 style=" color:white; font-weight:bold;">
                        Earn GRC via Proof of Stake
                    </h4>
                </div>
            </div>

            <!--prereqs-->
            <div class="row">
                <div class="col-xs-12" style="background-color: #282828;">
                    <ul style="text-align: justify; list-style-type: none; padding-left: 5px;">
                        <li style="margin-bottom: 10px; text-align:left; color:#9A9899;">
                            <ul>
                                <li>
                                    Once running an up-to-date fully synced client with a positive balance, all that is required is for you to unlock your wallet for 'staking only'.  
                                </li>
                                <li style="padding-top:10px;">
                                    Once your wallet is unlocked, it will take up to 16 hours for your coins to fully start staking.
                                </li>
                                <li style="padding-top:10px;">
                                    In order for your Gridcoin client to begin staking, it must locate coins to stake - newly acquired Gridcoin must mature (be present in your wallet) for 16 hours before it transfers from your balance into the 'staking balance' to which it begins competing to be used to create the next block.
                                    <ul>
                                        <li>
                                            There are 960 blocks per day that you can attempt to stake. If you've got 1% of the total Gridcoin supply, you'll approximately stake 9.6 blocks per day.
                                        </li>
                                        <li>
                                            The formula required to work out the quantity of coins to stake in a period of time is:
                                            <ul>
                                                <li>
                                                    <code>
                                                        EstimatedDaysUntilStake=(1/(UserBalance/NetworkCoinSupply))/960
                                                    </code>
                                                </li>
                                                <li>
                                                    <code>
                                                        CoinsRequired=(1/(days*960))*NetworkCoinSupply
                                                    </code>
                                                </li>
                                                <li>
                                                    <b>Note</b>: The maximum payout window is approximately 182.5 days. This may (most likely will) increase in the future. 
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            Best practice is to stake 24/7, since you have an opportunity to stake each block (even if your probability is low).
                                        </li>
                                    </ul>
                                </li>
                                <li style="padding-top:10px;">
                                    If you're wanting to read about the proof of stake mechanism behind gridcoin, read <a href="http://blackcoin.co/blackcoin-pos-protocol-v2-whitepaper.pdf">blackcoin's pos v2 whitepaper</a>.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/prereqs-->

        </div>
</section>
<!--/TEST AREA-->

<section style="padding-top:0px;background-color: #303030; padding-bottom: 25px; ">
        <div class="container" style="overflow:hidden;">
            <!--Step 1-->
            <div class='row'>
                <div class='col-xs-12 text-center' style="background-color: #282828;">
                    <h4 style=" color:white; font-weight:bold;">
                        Earn GRC via DPOR
                        <a name="DPOR"></a>
                    </h4>
                </div>
            </div>
            <!--/Step 1-->
            <!--Contibute content-->
            <div class="row">
                <div class="col-xs-12" style="background-color: #282828;">
                    <ul style="text-align: justify; list-style-type: none; padding-left: 0;">
                        <li style="margin-bottom: 10px; text-align:left; color:#9A9899;">
                            <b>Execute the following 5 steps to begin earning DPOR payments:</b>
                            <ul>
                                <li>
                                    Verify that each project you're contributing towards has been attached to team Gridcoin & that your projects are infact <a href="../guides/whitelist.htm">whitelisted</a>. Contributing to projects outside of the whitelist will not give you any reward for those projects.
                                </li>
                                <li style="padding-top:10px;">
                                    Verify that all of your BOINC projects are using the one CPID. If your projects are using multiple CPIDs issues will arise and you'll be unable to proceed!
                                    <ul>
                                        <li>
                                            You can locate your CPID directly via the project's site, or via <a href="http://www.boincstats.com">boincstats</a>.
                                        </li>
                                    </ul>
                                </li>
                                <li style="padding-top:10px;">
                                    <b><u>Before proceeding</u>: you must verify that your Gridcoin client has detected your CPID.</b>
                                    <ul>
                                        <li>
                                            Navigate to the overview page, and verify that your CPID is showing in the bottom left messages section.
                                        </li>
                                        <li>
                                            If your CPID is not showing, and instead 'INVESTOR' is present, you must troubleshoot what's gone wrong.
                                            <ul>
                                                <li>
                                                    BOINC stats take time to propagate, if you've been contributing towards BONIC for less than 24 hours then you should wait until the next day before proceeding (continue computing BOINC work units!).
                                                </li>
                                                <li>
                                                    Verify your BOINC projects do not have split CPIDs (multiple cpids).
                                                </li>
                                                <li>
                                                    Verify that you're a member of team gridcoin for all projects.
                                                </li>
                                                <li>
                                                    Did you install BOINC to a <b>non-default</b> location? You'll need to specify this location in the gridcoinresearch.conf file. These instructions are available back in step 2.
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li style="padding-top:10px;">
                                    Register your CPID to the DPOR system via advertising a beacon:
                                    <ul>
                                        <li>
                                            <b>Note:</b> A small balance of GRC is required in order to advertise your beacon (a smart transaction) in the DPOR system (currently costs approx 0.0011 GRC).
                                        </li>
                                        <li>
                                            Temporarily, fully unlock (not for staking only) your wallet to allow for the beacon to be sent in the next step now.
                                        </li>
                                        <li>
                                            Navigate to the debug console <code>Help | Debug window | Console</code>, enter the command <code>execute advertisebeacon</code> (Or wait for the beacon to be sent automatically).
                                            <ul>
                                                <li>
                                                    A small outbound smart transaction (approx 0.0001 GRC) will be sent from your wallet (this is the beacon). If this outbound transaction does not appear, your beacon has not been advertised & you should investigate why your client was unable to advertise it's beacon!
                                                </li>
                                                <li>
                                                    Once you've confirmed that the outbound smart transaction has been sent, you should lock your wallet then unlock your wallet for 'staking only' to begin securely staking.
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li style="padding-top:10px;">
                                    Wait until your CPID is included in the next superblock
                                    <ul>
                                        <li>
                                            There is a single superblock created daily to register new users & update user BOINC stats, so it could take up to 24hrs before your CPID is registered fully.
                                        </li>
                                        <li>
                                            Navigate to the debug console <code>Help | Debug window | Console</code>, enter the command <code>execute beaconreport</code>.
                                        </li>
                                        <li>
                                            In the output, search for your CPID. If not present, wait until the next superblock. When your CPID is present, continue to the next step.
                                        </li>
                                        <li>
                                            If after a several superblocks your CPID is still not present, retry advertising your beacon.
                                        </li>
                                    </ul>
                                </li>
                                <li style="padding-top:10px;">
                                    Once CPID is present in the beacon report, sync the neural network:
                                    <ul>
                                        <li>
                                            Navigate to the debug console <code>Help | Debug window | Console</code>, enter the command <code>execute syncdpor2</code>.
                                        </li>
                                        <li>
                                            If successful, the output will be '"syncing" : 1'.
                                        </li>
                                        <li>
                                            Navigate to the neural network <code>Advanced | Neural Network</code>.
                                        </li>
                                        <li>
                                            In the neural network window, there should be a progress bar showing the sync progress. Once fully synced, click the '<b>Refresh</b>' button and search for your CPID.
                                        </li>
                                        <li>
                                            If your CPID is not present, verify that your cpid is present in the beaconreport (<b>previous step</b>). If it's present in the beaconreport, resync the neural network ("<b>execute syncdpor2</b>").
                                        </li>
                                        <li>
                                            When your CPID is present, double clicking on your row provides a thorough breakdown for each project's individual magnitude calculation in a new window.
                                        </li>
                                    </ul>
                                </li>
                                <li style="padding-top:10px;">
                                    Unlock your wallet for staking only, and upon staking you'll recieve DPOR earnings ontop of POS earnings.
                                    <ul>
                                        <li>
                                            Bear in mind, that earnings are dependent on both how much you are owed (from BOINC computation completed) and your Gridcoin balance. If you have a low balance and a low magnitude, you could stake a block (being rewarded POS+POR) only once every few weeks/months.
                                        </li>
                                        <li>
                                            The payout window has recently been increased from 14 days to 6 months, so even if you're only staking once every 5 months you'll earn your owed BOINC rewards.
                                        </li>
                                        <li>
                                            If you're not satisfied with your staking rate, you need to increase your Gridcoin balance (due to the nature of proof of stake).
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</section>


<!--TEST AREA-->
<section style="padding-top:0px;background-color: #303030; padding-bottom: 25px;">
    <div class="container" style="overflow:hidden;">
        <div class="row" style="margin-top:10px;">
            <div class='col-xs-12 col-sm-12 text-center' style="background-color: #282828;">
                <h4 style=" color:white; font-weight:bold;">
                    Tips
                </h4>
            </div>
        </div>

        <!--prereqs-->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6" style="background-color: #282828;">
                <ul>
                    <li style="margin-bottom: 10px; text-align:left; color:#9A9899;">
                        Use the following website to get a birds-eye view of other researcher's efforts:
                        <ul>
                            <li>
                                <a href="http://gridresearchcorp.com/">GridResearchCorp</a> : Block explorer, magnitude reports, network analysis, etc.
                            </li>
                            <li>
                            <a href="http://www.gridcoin.co/" style="color:#707C34;">Katiee's GRC Magnitude/Earnings Calculator</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6" style="background-color: #282828;">
                <ul>
                    <li style="margin-bottom: 10px; text-align:left; color:#9A9899;">
                        Further worthwhile reading:
                        <ul>
                            <li>
                                <a href="security.htm">Security Guide</a>
                            </li>
                            <li>
                                <a href="misc.htm">MISC BOINC Guides</a>
                            </li>
                            <li>
                                <a href="http://wiki.gridcoin.us/FAQ">Gridcoin F.A.Q.</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section style="padding-top:0px;background-color: #303030; padding-bottom: 25px;">
    <div class="container" style="overflow:hidden;">
        <!--/Contribute content-->
        <!--Participate in community title-->
        <div class='row' style="margin-top:10px;">
            <div class='col-xs-12 col-sm-12 text-center' style="background-color: #282828;">
                <h4 style=" color:white; font-weight:bold;">
                    Participate in the community
                </h4>
            </div>
        </div>
        <!--/Participate in community title-->
        <!--Social Media-->
        <div class="row" style="text-align:center;">
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://twitter.com/GridcoinNetwork"><img src="/Images/Social/128-twitter.png" alt="twitter" /></a>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://www.fb.com/gridcoins"><img src="/Images/Social/128-facebook.png" alt="facebook" /></a>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://github.com/gridcoin/Gridcoin-Research"><img src="/Images/Social/128-github.png" style="background-color: #b0c4de;" alt="g+" /></a>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="http://www.reddit.com/r/gridcoin"><img src="/Images/Social/128-reddit.png" alt="reddit" /></a>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://cryptocointalk.com/forum/464-gridcoin-grc/"><img src="/Images/Social/128-forum.png" alt="cryptocointalk gridcoin" /></a>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin"><img src="/Images/Social/128-mirc.png" alt="IRC" /></a>
            </div>
        </div>
        <!--/Social Media-->
    </div>
</section>