---
title: "Gridcoin - Step 2: Gridcoin Installation"
description: "Step 2 of the solo crunching guide; Instructing the user how to setup the Gridcoin client."
---
<section data-background-color="black" style="padding-bottom: 5px; padding-top:60px; margin-top: 0px;">
    <div class="container" style="overflow:hidden; margin-top:20px; border: 2px dotted #40413c;">
        <div class="row" style="text-align:center;">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d; padding-bottom: 10px;">
                <h5 style="color:white;font-weight:bold;">Step 1</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/boinc-install.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                        Setup BOINC &amp; Projects
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;">
                <h5 style="font-weight: bold;">Step 2</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/gridcoin-install.htm">
                    <button class="btn btn-success" id="Guide-Button">
                    Setup Gridcoin Research Client
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d;">
                <h5 style="font-weight: bold;">Step 3</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/acquire-grc.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Sync client &amp; Acquire Gridcoin
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;">
                <h5 style="font-weight: bold;">Step 4</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/earn-grc.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Earn Gridcoin via POS and DPOR
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

<section data-background-color="black" style="padding-top:0px;">
    <div class="container" style="overflow:hidden;">
        <div class="row" style=" padding-top: 30px;">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <h4>Gridcoin Introduction</h4>
                <p>To earn Gridcoin in solo staking mode you need to run the Gridcoin client and continuously stake.</p>
                <p>If you have not yet installed the BOINC client, you should read the <a href="/Guides/boinc-install.htm">BOINC installation guide</a> to setup BOINC. The BOINC client has to be installed alongside the Gridcoin client in order to verify BOINC account ownership and to access local BOINC statistics.</p>
                <p>Gridcoin install video tutorials: <a href="https://www.youtube.com/watch?v=jX78dSvg8kg">Part 1</a>, <a href="https://www.youtube.com/watch?v=aFatLrvXANg">Part 2</a>, <a href="https://www.youtube.com/watch?v=3ERUfQ1nDig">Part 3</a>.</p>
            </div>
            <div class="hidden-xs col-sm-4 col-md-4">
                <img src="/Images/grc-install.png" alt="Gridcoin Logo" />
            </div>
        </div>
    </div>
</section>

<section data-background-color="black" style="padding-top:0px;padding-bottom: 25px;">
    <div class="container" style="overflow:hidden;">
        <!--Step 1-->
        <div class='row' style="margin-top:10px;">
            <div class='col-xs-12 col-sm-12' style="">
                <h4>
                    Install the Gridcoin client
                </h4>
                <h5>
                    Microsoft Windows
                </h5>
                <ul style="text-align: justify; list-style-type: none; padding-left: 0;">
                    <li style="margin-bottom: 10px;">
                        <a class="btn btn-simple btn-default" style="margin:5px;" href="http://download.gridcoin.us/download/downloadstake/GridcoinResearch.msi">Download Windows Client</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h5>
                    macOS
                </h5>
                <a class="btn btn-simple btn-default" style="margin:5px;" href="http://wiki.gridcoin.us/OS_X_Guide">Wiki macOS guide</a>
                <a class="btn btn-simple btn-default" style="margin:5px;" href="https://cryptocointalk.com/topic/13139-os-x-builds-feedback-bug-reporting/">macOS Build Support thread</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h5>
                    Debian Packages (Ubuntu)
                </h5>
                <a class="btn btn-simple btn-default" style="margin:5px;" href="https://code.launchpad.net/~gridcoin/+archive/ubuntu/gridcoin-stable">Launchpad built ubuntu releases</a>
                <ul>
                    <li>sudo add-apt-repository ppa:gridcoin/gridcoin-stable</li>
                    <li>sudo apt-get update</li>
                    <li>sudo apt-get install gridcoinresearchd</li>
                    <li>gridcoinresearchd</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h5>
                    RPM Packages (Opensuse/Fedora)
                </h5>
                <a class="btn btn-simple btn-default" style="margin:5px;" href="https://software.opensuse.org/package/gridcoinresearch">OpenSuse/Fedora RPMs</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h5>
                    AUR (Archlinux)
                </h5>
                <a class="btn btn-simple btn-default" style="margin:5px;" href="https://aur.archlinux.org/packages/gridcoinresearch-qt">Archlinux AUR package</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h5>
                    Manually compile the Gridcoin client
                </h5>
                <a class="btn btn-simple btn-default" style="margin:5px;" href="http://wiki.gridcoin.us/Linux_guide">Linux compiling guide</a>
                <a class="btn btn-simple btn-default" style="margin:5px;" href="https://github.com/gridcoin/Gridcoin-Research">Gridcoin GitHub Repo</a>
                <h4>
                    Initial client setup
                </h4>
                    <p>
                        Once the client launches, enter your email address when prompted to do so. Your email is not public on the blockchain, don't share your BOINC email (malicious users could attack your BOINC presence).
                    </p>
                    <p>
                        If you accidentally clicked 'Cancel' or you're switching from investor mode, you can simple enter your email address into the "gridcoinresearch.conf" config file manually. Use the following format within the conf file:
                    </p>
                    <h6>
                        <span class="badge badge-default">
                            email=youremail@yourprovider.com
                        </span>
                    </h6>
            </div>
        </div>
        <!--End of GRC Feature Section-->
    </div>
</section>

<section data-background-color="black" style="padding-top:0px;padding-bottom: 25px;">
    <div class="container" style="overflow:hidden;">
            <div class="row" style="margin-top:10px;">
                <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center' style="">
                    <h4>
                        Optional post-install Gridcoin configuration
                    </h4>
                </div>
            </div>

            <!--prereqs-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>
                        If you installed the BOINC client anywhere other than the default installation location, you'll need to specify where you installed BOINC in the gridcoinresearch.conf file.
                    </p>
                    <ul style="text-align: justify;">
                        <li>
                            Windows: (Note the double backslashes are neccessary. Change location according to your non-default install location)
                            <ul>
                                <li>
                                    <code>
                                        boincdatadir=D:\\ProgramData\\BOINC\\
                                    </code>
                                </li>
                                <li>
                                    <code>
                                         boincappdir=C:\\Program Files\\BOINC\\
                                    </code>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Linux:
                            <ul>
                                <li>
                                    <code>
                                        boincdatadir=/var/lib/boinc-client/
                                    </code>
                                </li>
                            </ul>
                        </li>
                        <li>
                            You need to use the one email for all BOINC projects. Add this to your gridcoinresearch.conf file (unless the Gridcoin wizard has already done this for you):
                            <ul>
                                <li>
                                    <code>
                                        email=your@email.com
                                    </code>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/prereqs-->
        </div>
</section>

<section data-background-color="black" style="padding-bottom: 5px; padding-top:60px; margin-top: 0px;">
    <div class="container" style="overflow:hidden; margin-top:20px; border: 2px dotted #40413c;">
        <div class="row" style="text-align:center;">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d; padding-bottom: 10px;">
                <h5 style="color:white;font-weight:bold;">Step 1</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/boinc-install.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                        Setup BOINC &amp; Projects
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;">
                <h5 style="font-weight: bold;">Step 2</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/gridcoin-install.htm">
                    <button class="btn btn-success" id="Guide-Button">
                    Setup Gridcoin Research Client
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d;">
                <h5 style="font-weight: bold;">Step 3</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/acquire-grc.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Sync client &amp; Acquire Gridcoin
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030;">
                <h5 style="font-weight: bold;">Step 4</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/earn-grc.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Earn Gridcoin via POS and DPOR
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>