---
title: "Gridcoin - Step 4: Earn Gridcoin"
---
<!--Getting started section-->
<section data-background-color="black" style="padding-bottom: 5px; padding-top:52px; margin-top: -20px;">
    <div class="container" style="overflow:hidden;">
        <div class="row" style="margin-top:20px;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/investor-gridcoin-setup.htm">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Step 1</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Setup Gridcoin Research Client</h6>
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: #2d2d2d;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/investor-acquire-grc.htm">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Step 2</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Sync client &amp; Acquire Gridcoin</h6>
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/investor-earn-grc.htm">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Step 3</h5>
                    <span class="label label-success" style="margin-bottom:7px; text-align:center;">You are here</span>
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Earn Gridcoin via POS</h6>
                </a>
            </div>
        </div>
    </div>
</section>
<!--/Getting started section-->

<!--TEST AREA-->
<section data-background-color="black" style="padding-top:0px;padding-bottom: 25px;">
    <div class="container" style="overflow:hidden;">
            <div class="row" style="margin-top:10px;">
                <div class='col-xs-12 col-sm-12 text-center' style="">
                    <h4 style=" color:white; font-weight:bold;">
                        Earn GRC via Proof of Stake
                    </h4>
                </div>
            </div>

            <!--prereqs-->
            <div class="row">
                <div class="col-xs-12" style="padding-bottom: 1000px; margin-bottom: -1000px;">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <ul style="text-align: justify; list-style-type: none; padding-left: 5px;">
                            <li style="margin-bottom: 10px; text-align:left;">
                                <ul>
                                    <li>
                                        Once running an up-to-date fully synced client with a positive balance, all that is required is for you to unlock your wallet for 'staking only'.  
                                    </li>
                                    <li>
                                        Once your wallet is unlocked, it will take up to 16 hours for your coins to fully start staking.
                                    </li>
                                    <li>
                                        Best practice is to continuously stake 24/7 if possible, since you have an opportunity to stake each block (even if your probability is low) and coin age is not considered within the staking probability calculation.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <!--/prereqs-->

        </div>
</section>
<!--/TEST AREA-->

<!--Getting started section-->
<section data-background-color="black" style="padding-bottom: 5px;">
    <div class="container" style="overflow:hidden;">
        <div class="row" style="margin-top:20px;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/investor-gridcoin-setup.htm">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Step 1</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Setup Gridcoin Research Client</h6>
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: #2d2d2d;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/investor-acquire-grc.htm">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Step 2</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Sync client &amp; Acquire Gridcoin</h6>
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/investor-earn-grc.htm">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Step 3</h5>
                    <span class="label label-success" style="margin-bottom:7px; text-align:center;">You are here</span>
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Earn Gridcoin via POS</h6>
                </a>
            </div>
        </div>
    </div>
</section>
<!--/Getting started section-->