---
title: "Gridcoin - Step 2: Acquire Gridcoin"
description: "Step 2 of the 'Acquire Gridcoin' guide; Informing users where they can aquire Gridcoin."
---
<section  data-background-color="black" style="padding-bottom: 5px; padding-top:60px; margin-top: 20px;">
    <div class="container" style="overflow:hidden; margin-top:20px; border: 2px dotted #40413c;">
        <div class="row" style="text-align:center;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: #303030; padding-bottom: 5px;">
                <h5 style="font-weight: bold;">Step 1</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/investor-gridcoin-setup.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Setup Gridcoin Research Client
                    </button>
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: #2d2d2d;">
                <h5 style="font-weight: bold;">Step 2</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/investor-acquire-grc.htm">
                    <button class="btn btn-success" id="Guide-Button">
                    Sync client &amp; Acquire Gridcoin
                    </button>
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: #303030;">
                <h5 style="font-weight: bold;">Step 3</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/investor-earn-grc.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Earn Gridcoin via POS
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

    <%= partial "/layouts/partials/acquire" %>
    <%= partial "/layouts/partials/acquire_details" %>


<section  data-background-color="black" style="padding-bottom: 5px; padding-top:60px; margin-top: 0px;">
    <div class="container" style="overflow:hidden; margin-top:20px; border: 2px dotted #40413c;">
        <div class="row" style="text-align:center;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: #303030; padding-bottom: 5px;">
                <h5 style="font-weight: bold;">Step 1</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/investor-gridcoin-setup.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Setup Gridcoin Research Client
                    </button>
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: #2d2d2d;">
                <h5 style="font-weight: bold;">Step 2</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/investor-acquire-grc.htm">
                    <button class="btn btn-success" id="Guide-Button">
                    Sync client &amp; Acquire Gridcoin
                    </button>
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: #303030;">
                <h5 style="font-weight: bold;">Step 3</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/investor-earn-grc.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Earn Gridcoin via POS
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>