---
title: "Gridcoin - MISC BOINC Guides"
layout: layout
---
<!--Intro-->
<section data-background-color="black" style=" padding-bottom:0px;">
    <div class="container">
        <div class='row'>
            <div class='col-xs-12 text-center'>
                <h4 style="color:white; font-weight:bold;">MISC BOINC Guides</h4>
            </div>
        </div>
    </div>
</section>
<!--/Intro-->
<!-- Boinc Sections -->
<section data-background-color="black">
    <div class="container">
        <!--Disclaimer-->
        <div class="col-sm-10 col-sm-offset-1 alert alert-warning" style="margin-top:10px;">
            <h5>Disclaimer:</h5>
            <p>
                We are not responsible for any action you undertake from following the external guides listed on this page.<br />
                Use common sense and try not to fry your hardware/yourself.<br />
            </p>
        </div>
        <!--/Disclaimer-->
        <div class="content">
            <div class="col-sm-10 col-sm-offset-1">
                <h5>[H]ard|OCP's Distributed Computing Guides: <a href="http://hardforum.com/forumdisplay.php?f=133">(source)</a></h5>
                <ul>
                    <li>
                        <a href="http://hardforum.com/showthread.php?t=1805578">BOINC client optimized for multisocket machines [Linux]</a>
                    </li>
                    <li>
                        <a href="http://hardforum.com/showthread.php?t=1769083">[H] Ubuntu DC Appliance -- alternative approach to Linux crunching/folding</a>
                    </li>
                    <li>
                        <a href="http://hardforum.com/showthread.php?t=1729016">BOINC configurations and How To's</a>
                    </li>
                    <li>
                        <a href="http://hardforum.com/showthread.php?t=1677395">Supermicro H8QGi/6 and H8QGL Next Generation OC BIOS</a>
                    </li>
                    <li>
                        <a href="http://hardforum.com/showthread.php?t=1677662">Watercooling Component Guide for a 4P</a>
                    </li>
                    <li>
                        <a href="http://hardforum.com/showthread.php?t=1662099">CM Hyper 212+ - Alternative G34 Mounting Method</a>
                    </li>
                    <li>
                        <a href="http://hardforum.com/showthread.php?t=1652906">2P and 4P system guide</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-10 col-sm-offset-1">
                <h5>Overclock.net BOINC Guides and Tutorials: <a href="http://www.overclock.net/f/18056/boinc-guides-and-tutorials">(source)</a></h5>
                <ul>
                    <li>
                        <a href="http://www.overclock.net/t/570223/boinc-ati-support-thread-unleashing-the-dragons-get-your-gpus-full-worth-here">BOINC ATI/AMD support thread</a>
                    </li>
                    <li>
                        <a href="http://www.overclock.net/t/1449204/guide-installing-boinc-on-windows-7-8-and-8-1">Installing BOINC on windows 7/8/8.1</a>
                    </li>
                    <li>
                        <a href="http://www.overclock.net/t/1449225/guide-installing-boinc-on-ubuntu-from-the-terminal">Installing BOINC on Ubuntu from the terminal</a>
                    </li>
                    <li>
                        <a href="http://www.overclock.net/t/1449243/guide-installing-boinc-on-ubuntu-using-the-berkeley-installer">Installing BOINC on Ubuntu using the Berkeley Installer</a>
                    </li>
                    <li>
                        <a href="http://www.overclock.net/t/1065650/google-spreadsheet-boinc-cpu-gpu-wu-times-points-04-06-14">GOOGLE SPREADSHEET-BOINC CPU/GPU WU times & points 04-06-14	</a>
                    </li>
                    <li>
                        <a href="http://www.overclock.net/t/733459/boinc-essentials-thread-check-this-out-if-you-are-new-to-boinc">BOINC Essentials Thread</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-10 col-sm-offset-1">
                <h5>MISC BOINC Guides and Tutorials:</h5>
                <ul>
                    <li>
                        <a href="http://forums.overclockers.co.uk/showthread.php?t=17347384">OcUK BOINC FAQ</a>
                    </li>
                    <li>
                        <a href="http://www.techpowerup.com/forums/threads/guide-to-running-multiple-gpu-work-units.174138/">Techpowerup: Guide to running multiple GPU work units</a>
                    </li>
                    <li>
                        <a href="http://team.macnn.com/drafts/Boinc_SETI_Guide.html">Distributed Computing on Mac - Q&A, First Aid, Optimizations</a>
                    </li>
                    <li>
                        <a href="http://www.spy-hill.net/myers/help/boinc/unix.html">Installing and Running the BOINC client on Unix</a>
                    </li>
                    <li>
                        <a href="http://www.evga.com/forums/tm.aspx?m=1638127&mpage=1&print=true">AMD 4P / Quad Socket Design and Build</a>
                    </li>
                    <li>
                        <a href="http://www.evga.com/forums/tm.aspx?high=&m=1678549&mpage=1#1678549">Home Rack Garage Build - Beating the Folding Heat of Summer</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-10 col-sm-offset-1">
                <h5>
                    Cooling and power best practices for distributed computing projects
                </h5>

                <b>1. Choose a quality power supply</b><br />
                <ul>
                    <li>
                        Power supply with higher 80 plus rating will provide lowest cost of operation, as well as produce less heat
                    </li>
                    <li>
                        From highest(most efficient) to lowest(least efficient): 80 plus platinum, 80 plus gold, 80 plus silver, 80 plus bronze, and 80 plus
                    </li>
                    <li>
                        Reputable brands such as Corsair, OCZ, or Seasonic have proven to operate at high loads for long periods of time
                    </li>
                </ul>

                <b>2. To reduce the chances of burning board connectors or melting wires:</b>
                <ul>
                    <li>
                        Avoid EPS splitters to power motherboards
                    </li>
                    <li>
                        Avoid using PCI-E power splitters
                    </li>
                    <li>
                        If making splices always solder
                    </li>
                    <li>
                        Male PCI-E ends can be re-pinned to EPS.
                    </li>
                    <li>
                        Use high quality <b>powered</b> riser cables.
                    </li>
                </ul>

                <b>3. Use duty-sized cords</b>
                <ul>
                    <li>
                        Use cord included with PSU
                    </li>
                    <li>
                        Ensure any surge protector has a least 12ga wire when running multiple machines from one surge strip
                    </li>
                    <li>
                        Do not ever plug a surge bar into another surge bar
                    </li>
                    <li>
                        Avoid any light gauge cables, especially on high-draw applications
                    </li>
                    <li>
                        Avoid the use of extension cords
                    </li>
                </ul>

                <b>4. Cooling</b>
                <ul>
                    <li>
                        Always ensure you have air flow over and under motherboard. Position these fans to the edge of the board. You want a good flow over top and bottom of board.
                    </li>
                    <li>
                        Ensure ambient air movement around GPUs
                    </li>
                    <li>
                        When possible, apply heat sinks to VRMs. Cool with fans
                    </li>
                    <li>
                        If not using a case (naked) do use stand offs to suspend board off of any broad surfaces
                    </li>
                    <li>
                        Use larger coolers to dissipate more heat
                    </li>
                    <li>
                        PWM fans can ramp up/down based on heat, minimum duty cycles can be specified on some motherboards.
                    </li>
                    <li>
                        Using software (windows) to manual control or monitor GPU temps or adjust GPU fan, such as ATI’s Catalyst control center, Nvidia control panel, Trixx(ATI), MSI Afterburner (ATI & Nvidia), or EVGA Precision-X (Nvidia)
                    </li>
                    <li>
                        Monitor ambient temps using a thermometer (IR thermometers can be used to monitor CPU sockets, boards, chips, and other devices)
                    </li>
                </ul>

                <b>5. Outlets and circuits</b>
                <ul>
                    <li>
                        Do be mindful of breaker or fusing limits. If a breaker trips on a regular basis, REDUCE THE LOAD.
                    </li>
                    <li>
                        It is recommended to use dedicated breakers for high draw applications (multiple 4p or multi GPU machines)
                    </li>
                    <li>
                        For “farm” DC projects, consult an electrician for your application. We do not advocate DIY electricians.
                    </li>
                    <li>
                        A Killawatt can be used to measure the draw in watts or amps to avoid overloading circuits.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End of BOINC Content -->