---
page.title: "Gridcoin - Step 2: BOINC Installation"
---

<section data-background-color="black" style="padding-bottom: 5px; padding-top:52px; margin-top: -20px;">
    <div class="container" style="overflow:hidden;">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="background-color: #2d2d2d; padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/pool.htm">
                    <h5 style="color:white;text-align:center;font-weight:bold;">Step 1</h5>
                    <span class="label label-success" style="margin-bottom:7px; text-align:center;">You are here</span>
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold;">Setup BOINC &amp; Setup the pool</h6>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/pool-gridcoin-install.htm">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Step 2</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Setup Gridcoin Research Client</h6>
                </a>
            </div>
        </div>
    </div>
</section>

<%= partial "/layouts/partials/boinc_1AB" %>

<section data-background-color="black" style="padding-top: 0px; padding-bottom: 15px;">
    <!--Start of GRC Feature section-->
    <div class="container" style="overflow:hidden;">

    <!--First row of features-->
        <!--Step 3 banner-->
        <div class='row' style="margin-top:10px;">
            <div class='col-xs-12 text-center' >
                <h4 style=" color:white; font-weight:bold;">
                    Step 1C: Sign up to a Gridcoin pool
                </h4>
            </div>
        </div>
        <!--/Step 3 banner-->
        <!--Step 3 banner-->
        <div class='row' style="margin-top:10px;">
            <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12' >
                <h6 style="color:white; text-align:left;">
                    There are currently two pools:.
                </h6>
                <a class="btn btn-simple btn-default" style="margin:5px;" href="https://www.grcpool.com/">GRCPOOL</a>
                <a class="btn btn-simple btn-default" style="margin:5px;" href="http://pool.gridcoin.co/">Katiee's pool</a><br/>
                <o>If I had to pick between the two pools, I'd use GRCPOOL. It is almost entirely <a href="https://github.com/gustav1976/grcpool">open source</a> and more actively maintained than Katiee's pool.</o>
                
                <h6 style="padding-top: 15px;">GRCPOOL has created several video tutorials for new users:</h6>
                <a class="btn btn-simple btn-default" style="margin:5px;" href="https://www.youtube.com/watch?v=79rTDNjdOf8">Setup BOINC</a>
                <a class="btn btn-simple btn-default" style="margin:5px;" href="https://www.youtube.com/watch?v=dB-Hmg94E6s">Android Setup</a>
                <a class="btn btn-simple btn-default" style="margin:5px;" href="https://www.youtube.com/watch?v=FjVjqZnhMZA">Receive Gridcoin</a>
            </div>
        </div>

    </div>
</section>

<section data-background-color="black" style="padding-bottom: 15px;">
    <div class="container" style="overflow:hidden;">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="background-color: #2d2d2d; padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/pool.htm">
                    <h5 style="color:white;text-align:center;font-weight:bold;">Step 1</h5>
                    <span class="label label-success" style="margin-bottom:7px; text-align:center;">You are here</span>
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold;">Setup BOINC &amp; Setup the pool</h6>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <a href="/Guides/pool-gridcoin-install.htm">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Step 2</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold; ">Setup Gridcoin Research Client</h6>
                </a>
            </div>
        </div>
    </div>
</section>