---
title: "Gridcoin - Step 1: BOINC Installation"
description: "Step 1 of the 'Pool Crunching' guide; Instructing users how to install the BOINC client and join a Gridcoin pool."
---
<section  data-background-color="black" style="padding-bottom: 5px; padding-top:60px; margin-top: 20px;">
    <div class="container" style="overflow:hidden; margin-top:20px;">
        <div class="row" style="text-align:center;">
            <div class="hidden-xs col-sm-3 col-md-3">
            </div>

            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d; padding-bottom: 10px; border: 2px dotted #40413c;">
                <h5 style="color:white;font-weight:bold;">Step 1</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/pool.htm">
                    <button class="btn btn-success" id="Guide-Button">
                        Setup BOINC &amp; Join a pool
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030; border: 2px dotted #40413c;">
                <h5 style="font-weight: bold;">Step 2</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/pool-gridcoin-install.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                        Setup Gridcoin Research Client
                    </button>
                </a>
            </div>

            <div class="hidden-xs col-sm-3 col-md-3">
            </div>
        </div>
    </div>
</section>

<%= partial "/layouts/partials/boinc_1A" %>

<section  data-background-color="black" style="padding-top: 0px; padding-bottom: 15px;">
    <!--Start of GRC Feature section-->
    <div class="container" style="overflow:hidden;">

    <!--First row of features-->
        <!--Step 3 banner-->
        <div class='row' style="margin-top:10px;">
            <div class='col-xs-12 text-center' >
                <h4 style=" color:white; font-weight:bold;">
                    Sign up to a Gridcoin pool
                </h4>
            </div>
        </div>
        <!--/Step 3 banner-->
        <!--Step 3 banner-->
        <div class='row' style="margin-top:10px;">
            <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12' >
                <h6 style="color:white; text-align:left;">
                    There is currently two pools:
                </h6>
                <a class="btn btn-round" style="background-color:#4e0097;margin:5px;" href="https://www.grcpool.com/">GRCPOOL</a><br/>
                <a class="btn btn-round" style="background-color:#4e0097;margin:5px;" href="https://grc.arikado.ru/">Arikado Pool</a><br/>
                
                <h6 style="padding-top: 15px;">GRCPOOL has created several video tutorials for new users:</h6>
                <a class="btn btn-round" style="background-color:#4e0097;margin:5px;" href="https://www.youtube.com/watch?v=79rTDNjdOf8">Setup BOINC</a>
                <a class="btn btn-round" style="background-color:#4e0097;margin:5px;" href="https://www.youtube.com/watch?v=dB-Hmg94E6s">Android Setup</a>
                <a class="btn btn-round" style="background-color:#4e0097;margin:5px;" href="https://www.youtube.com/watch?v=FjVjqZnhMZA">Receive Gridcoin</a>
            </div>
        </div>

    </div>
</section>

<%= partial "/layouts/partials/boinc_1C" %>

<section  data-background-color="black" style="padding-bottom: 5px; padding-top:30px; margin-top: 0px;">
    <div class="container" style="overflow:hidden; margin-top:20px;">
        <div class="row" style="text-align:center;">
            <div class="hidden-xs col-sm-3 col-md-3">
            </div>

            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #2d2d2d; padding-bottom: 10px; border: 2px dotted #40413c;">
                <h5 style="color:white;font-weight:bold;">Step 1</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/pool.htm">
                    <button class="btn btn-success" id="Guide-Button">
                        Setup BOINC &amp; Join a pool
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background-color: #303030; border: 2px dotted #40413c;">
                <h5 style="font-weight: bold;">Step 2</h5>
                <hr style="border-color: #40413c;" />
                <a href="/Guides/pool-gridcoin-install.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                        Setup Gridcoin Research Client
                    </button>
                </a>
            </div>

            <div class="hidden-xs col-sm-3 col-md-3">
            </div>
        </div>
    </div>
</section>
