---
title: "Gridcoin - Security Guides"
description: "A brief security guide for Gridcoin users."
---
<!-- FAQ Content -->
<section  data-background-color="black" style="min-height:100%; padding-bottom: 0px; padding-top:62px; margin-top: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>Securing your wallet</h4>
                <p>
                    If your wallet.dat file is stolen, and it's unencrypted &amp; you have no backup of the file, it's the equivalent of cash being stolen; there's no way of getting it back unless you catch the thief. Thusly, you must take proper precautions to prevent the loss/theft of your Gridcoin.
                </p>
                <h5>Wallet security recommendations:</h5>
                <ul>
                    <li>Create a <a href="http://walletgenerator.net/">paper wallet</a> and store it in a waterproof, safe environment.</li>
                    <li>Backup the wallet.dat and gridcoinresearch.conf files on encrypted USB sticks and store them somewhere safe.</li>
                    <li>Alternatively, store an encrypted zip/rar/tar on any form of storage medium and keep it safe.</li>
                    <li>Regularly check that your backups work - if you encrypt your wallet then forget the pass, you're in trouble..</li>
                    <li>Read <a href="https://en.bitcoin.it/wiki/Securing_your_wallet">this wallet security guide</a> (for Bitcoin, but relevant to Gridcoin to some degree).</li>
                </ul>
            </div>
        </div>
    </div>
</section>
