<li style="padding-top:10px;">
Once your client has fully synced, you should verify that you're on the same blockchain as everyone else:
    <ul>
        <li>
            Navigate to the debug console (Help | Debug window | Console), enter the command "getblockhash latestblock" replacing 'latestblock' with the current blocknumber you're synced to.
        </li>
        <li>
            Navigate to "http://www.gridresearchcorp.com/gridcoin/?BLOCKHASH" (replacing BLOCKHASH with the blockhash acquired in the previous step).
        </li>
        <li>
            Alternatively use explorer.gridcoin.asia: http://explorer.gridcoin.asia/block/BLOCKHASH (replacing BLOCKHASH with the blockhash acquired in the previous step).
        </li>
        <li>
            You can also compare your blockhash to the latest blockhashes on http://grcnode.co.uk
        </li>
        <li>
            If your latest blockhash matches the above services' latest blockhashes, you're on the same chain as a trusted node.
        </li>
    </ul> 
</li>