---
title: "Gridcoin - BOINC Whitelist"
layout: layout
---
    <!--New Header-->
    <section data-background-color="black" style="padding-bottom:0px;">
        <div class="container">
            <div class='row'>
                <div class='col-xs-12'>
                    <h4 style=" font-weight:bold;">Gridcoin's Whitelist</h4>
                </div>
            </div>
        </div>
    </section>
    <!--/New Header-->
    <section data-background-color="black" class="content-26" style="padding-top: 0px; padding-bottom: 25px; ">
        <!--Start of GRC Feature section-->
        <!--First row of features-->
        <div class="container" style="overflow:hidden;">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h5>Whitelist justification</h5>
                    <h6>The whitelist was created to increase security and to focus user's resources on active projects.</h6>
                    
                    <h5>Discussion</h6>
                    <h6><a href="https://cryptocointalk.com/topic/29841-discussion-boinc-whitelist-monitoring/">CCT Whitelist thread</a></h6>
                    <h6><a href="https://cryptocointalk.com/forum/2436-projects/">Projects subforum</a></h6>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <h5>Status Tracking</h6>
                    <h6><a href="https://gridcoinstats.eu">Gridcoinstats</a></h6>
                    <h6><a href="http://www.gridresearchcorp.com/gridcoin/">GridResearchCorp</a></h6>
                    <h6>Additionally, verifiable within the Windows client Neural Network.</h6>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <h5>Please note:</h5>
                    <h6>You will only be rewarded for whitelisted BOINC projects.</h6>
                    <h6>Any BOINC work done outside of the whitelisted BOINC projects will not be rewarded.</h6>
                </div>
            </div>
        </div>
        <!--/Second row of features-->
        <!--End of GRC Feature Section-->
    </section>
    <!--/TEST AREA-->
    <section data-background-color="black" class="content-26" style="overflow-x: hidden;">
        <!-- BOINC Content -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h6 id="CPU" style="text-align:center;">CPU</h6>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Project
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Goal
                                </th>
                                <th>
                                    Sponsor
                                </th>
                                <th>
                                    Quick Links
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--
                            <tr>
                                <td>
                                    <a href="">ProjectName</a>
                                </td>
                                <td>
                                    Category
                                </td>
                                <td>
                                    Goal
                                </td>
                                <td>
                                    Sponsor
                                </td>
                                <td>
                                    <a href="" title="Gridcoin Team Link">Team</a>
                                    <a href="" title="Team member rankings">Team Stats</a>
                                </td>
                            </tr>
                            -->
                            <tr>
                                <td>
                                    <a href="https://atlasathome.cern.ch/">ATLAS@Home</a>
                                </td>
                                <td>
                                    Physical Science
                                </td>
                                <td>
                                    CERN: Searching for new particles and processes using head-on collisions of protons of extraordinary high energy.
                                </td>
                                <td>
                                    <a href="https://atlas.ch/">ATLAS.CH</a>
                                </td>
                                <td>¢¢ħc
                                    <a href="https://atlasathome.cern.ch/team_display.php?teamid=1869" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=atlas@home" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://volunteer.cs.und.edu/csg/">Citizen Science Grid</a>
                                </td>
                                <td>
                                    Multiple Applications
                                </td>
                                <td>Umbrella project for DNA@Home, SubsSet Sum@Home, and Wildlife@Home.</td>
                                <td>
                                University of North Dakota
                                </td>
                                <td>
                                    <a href="https://csgrid.org/csg/team_display.php?teamid=154" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=citizen%20science%20grid" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <!--<tr>
                                <td>
                                    <a href="http://burp.renderfarming.net/">BURP</a>
                                </td>
                                <td>
                                
                                </td>
                                <td>A publicly distributed system for rendering 3D animations.</td>
                                <td>
                                    ?
                                </td>
                                <td>
                                    <a href="http://burp.renderfarming.net/team_display.php?teamid=1285" title="Gridcoin Team Link">Team</a>
                                    <a href="" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>-->
                            <!--<tr>
                                <td>
                                    <a href="http://climateprediction.net/">climate prediction</a>
                                </td>
                                <td>
                                
                                </td>
                                <td>Climate modelling and prediction</td>
                                <td><a href="http://www.ox.ac.uk/">University of Oxford</a></td>
                                <td>
                                    <a href="http://climateapps2.oerc.ox.ac.uk/cpdnboinc/team_display.php?teamid=10427" title="Gridcoin Team Link">Team</a>
                                    <a href="" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>-->
                            <!--<tr>
                                <td>
                                    <a href="http://aerospaceresearch.net/constellation/">constellation</a>
                                </td>
                                <td>
                                
                                </td>
                                <td>Various aerospace related sciences and engineering</td>
                                <td>Rechenkraft.net, DGLR, Selfnet, and Shack</td>
                                <td>
                                    <a href="http://aerospaceresearch.net/constellation/team_display.php?teamid=2177" title="Gridcoin Team Link">Team</a>
                                    <a href="" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>-->
                            <tr>
                                <td>
                                    <a href="https://www.cosmologyathome.org/">Cosmology@Home</a>
                                </td>
                                <td>
                                    Physical Science
                                </td>
                                <td><a href="http://teacherlink.ed.usu.edu/tlnasa/reference/ImagineDVD/Files/imagine/docs/science/know_l1/dark_matter.html">Darkmatter</a>/Universe Model Research</td>
                                <td>Department of Astronomy at the <a href="http://www.illinois.edu/">University of Illinois at Urbana-Champaign</a></td>
                                <td>
                                    <a href="https://www.cosmologyathome.org/team_display.php?teamid=3637" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=cosmology@home" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr><!--
                            <tr>
                                <td>
                                    <a href="http://www.distributeddatamining.org/">Distributed Data Mining</a>
                                </td>
                                <td>
                                
                                </td>
                                <td>Various fields of Simulation, Data Analysis and Machine Learning.</td>
                                <td>
                                    <a href="https://www.distributeddatamining.org/ScientificPartners">Multiple Sponsors</a>
                                </td>
                                <td>
                                    <a href="http://www.distributeddatamining.org/team/2176" title="Gridcoin Team Link">Team</a>
                                    <a href="" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://home.edges-grid.eu/home/">EDGeS@Home</a>
                                </td>
                                <td>
                                
                                </td>
                                <td>Molecular docking simulations; Umbrella Project for Biovel, Zeta Research Group</td>
                                <td>The project received funding from the European Union Seventh Framework Programme (FP7/2007-2013) and is part of the International Desktop Grid Federation and the European Grid Infrastructure</td>
                                <td>
                                    <a href="http://home.edges-grid.eu/home/team_display.php?teamid=2354" title="Gridcoin Team Link">Team</a>
                                    <a href="" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>-->
                            <tr>
                                <td>
                                    <a href="http://www.enigmaathome.net/">Enigma@Home</a>
                                </td>
                                <td>
                                    Mathematics and Computing
                                </td>
                                <td>Cracking original <a href="https://en.wikipedia.org/wiki/Enigma_machine">Enigma</a> messages</td>
                                <td>Private</td>
                                <td>
                                    <a href="http://www.enigmaathome.net/team_display.php?teamid=2937" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=enigma@home" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://boinc.gorlaeus.net/">Leiden Classical</a>
                                </td>
                                <td>
                                    Earth Sciences
                                </td>
                                <td>Simulations of various molecules and atoms in a classical mechanics environment. In contrast to other projects, Leiden Classical allows volunteers, students and other scientists to submit their personal calculations to the grid.</td>
                                <td><a href="http://www.leiden.edu/">Leiden University</a></td>
                                <td>
                                    <a href="http://boinc.gorlaeus.net/team_display.php?teamid=1629" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=leiden%20classical">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://lhcathomeclassic.cern.ch/sixtrack/">LHC@Home</a>
                                </td>
                                <td>
                                    Physical Science
                                </td>
                                <td>Accelerator Physics</td>
                                <td><a href="https://home.web.cern.ch/">CERN</a></td>
                                <td>
                                    <a href="https://lhcathomeclassic.cern.ch/sixtrack/team_display.php?teamid=8128" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=lhc@home%20classic" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr><!--
                            <tr>
                                <td>
                                    <a href="https://lhcathome2.cern.ch/vLHCathome/">vLHCathome</a>
                                </td>
                                <td>
                                
                                </td>
                                <td>Full-fledged LHC event physics simulations</td>
                                <td><a href="https://home.web.cern.ch/">CERN</a></td>
                                <td>
                                    <a href="https://lhcathome2.cern.ch/vLHCathome/team_display.php?teamid=2429" title="Gridcoin Team Link">Team</a>
                                    <a href="" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>-->
                            <!--
                            <tr>
                                <td>
                                    <a href="http://mindmodeling.org/">MindModeling@home</a>
                                </td>
                                <td>
                                
                                </td>
                                <td>Utilize computational cognitive process modeling to better understand the human mind</td>
                                <td>University of Dayton and Wright State University</td>
                                <td>
                                    <a href="http://mindmodeling.org/team_display.php?teamid=2415" title="Gridcoin Team Link">Team</a>
                                    <a href="" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>-->
                            <tr>
                                <td>
                                    <a href="https://escatter11.fullerton.edu/nfs/">NFS@Home</a>
                                </td>
                                <td>
                                    Mathematics and Computing
                                </td>
                                <td>Lattice sieving step in Number Field Sieve factorization of large integers. Many public key algorithms, including the RSA algorithm, rely on the fact that the publicly available modulus cannot be factored. If it is factored, the private key can be easily calculated.</td>
                                <td>California State University Fullerton</td>
                                <td>
                                    <a href="https://escatter11.fullerton.edu/nfs/team_display.php?teamid=2353" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=nfs@home" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://numberfields.asu.edu/NumberFields/">NumberFields@home</a>
                                </td>
                                <td>
                                    Mathematics and Computing
                                </td>
                                <td><a href="https://numberfields.asu.edu/NumberFields/ProjectDescription.html">Research in number theory</a> Number theorists can mine the data for interesting patterns to help them formulate conjectures about number fields.</td>
                                <td>Arizona State University, school of Mathematics</td>
                                <td>
                                    <a href="https://numberfields.asu.edu/NumberFields/team_display.php?teamid=2069" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=numberfields@home" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://boinc.bakerlab.org/rosetta/">Rosetta@Home</a>
                                </td>
                                <td>
                                    Biology and Medicine
                                </td>
                                <td>Protein structure prediction that may ultimately lead to finding cures for some major human diseases. <a href="http://boinc.bakerlab.org/rosetta/rah_medical_relevance.php">Disease Related Research</a></td>
                                <td><a href="https://www.washington.edu/">University of Washington</a></td>
                                <td>
                                    <a href="https://boinc.bakerlab.org/rosetta/team_display.php?teamid=12575" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=rosetta@home" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr><!--
                            <tr>
                                <td>
                                    <a href="http://sat.isa.ru/pdsat/">SAT@home</a>
                                </td>
                                <td>
                                
                                </td>
                                <td>Discrete functions inversion problems, discrete optimization, bio-informatics, etc that can be effectively reduced to <a href="http://en.wikipedia.org/wiki/Boolean_satisfiability_problem">Boolean satisfiability problem</a></td>
                                <td>Institute for System Dynamics and Control Theory and Institute for Information Transmission Problems, Russian Academy of Science</td>
                                <td>
                                    <a href="http://sat.isa.ru/pdsat/team_display.php?teamid=2059" title="Gridcoin Team Link">Team</a>
                                    <a href="" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>-->
                            <tr>
                                <td>
                                    <a href="http://srbase.my-firewall.org/sr5/">SRBase</a>
                                </td>
                                <td>
                                    Mathematics and Computing
                                </td>
                                <td>Attempting to solve Sierpinski / Riesel Bases up to 1030.</td>
                                <td>The project is in collaboration with the <a href="http://www.mersenne.org/">Mersenne CRUS project</a>.</td>
                                <td>
                                    <a href="http://srbase.my-firewall.org/sr5//team_display.php?teamid=99" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=srbase" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://szdg.lpds.sztaki.hu/szdg/">SZTAKI Desktop Grid</a>
                                </td>
                                <td>
                                    Multiple Applications
                                </td>
                                <td>
                                    Mathematics, linguistics, physics, biology related goals.
                                </td>
                                <td>
                                    <a href="http://www.sztaki.hu/">SZTAKI</a>, <a href="https://ec.europa.eu/research/fp7/index_en.cfm">EU FP7</a>
                                </td>
                                <td>
                                    <a href="http://szdg.lpds.sztaki.hu/szdg/team_display.php?teamid=3502" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=sztaki%20desktop%20grid" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://pogs.theskynet.org/pogs/">theSkyNet POGS</a>
                                </td>
                                <td>
                                    Physical Science
                                </td>
                                <td>Astronomy Research. Combine the spectral coverage of GALEX, Pan-STARRS1, and WISE to generate a multi-wavelength UV-optical-NIR galaxy atlas for the nearby Universe. Calculate physical parameters such as: star formation rate, stellar mass of the galaxy, dust attenuation, and total dust mass of a galaxy; on a pixel-by-pixel basis using spectral energy distribution fitting techniques</td>
                                <td>International Centre for Radio Astronomy Research (ICRAR), a joint venture of Curtin University and The University of Western Australia</td>
                                <td>
                                    <a href="https://pogs.theskynet.org/pogs/team_display.php?teamid=2020" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=theskynet%20pogs" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://boinc.vgtu.lt/vtuathome/index.php">VGTU</a>
                                </td>
                                <td>
                                    Mathematics and Computing
                                </td>
                                <td>Distributed computing platform for scientists of <a href="">Vilnius Gediminas Technical University (VGTU)</a>.</td>
                                <td><a href="https://www.vgtu.lt/index.php?lang=2">Vilnius Gediminas Technical University</a></td>
                                <td>
                                    <a href="https://boinc.vgtu.lt/vtuathome/team_display.php?teamid=1981" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=vgtu%20project@home" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.universeathome.pl/universe/">Universe@home</a>
                                </td>
                                <td>
                                    Physical Science
                                </td>
                                <td>Physics and Astronomy</td>
                                <td><a href="https://en.uw.edu.pl/">University of Warsow</a></td>
                                <td>
                                    <a href="https://universeathome.pl/universe/team_display.php?teamid=1822" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=universe@home" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.worldcommunitygrid.org/">World Community Grid</a>
                                </td>
                                <td>
                                    Multiple Application
                                </td>
                                <td>Solve aids, cancer, disease, etc.</td>
                                <td>Sponsored by the IBM responsibility initiative</td>
                                <td>
                                    <a href="https://secure.worldcommunitygrid.org/team/viewTeamInfo.do?teamId=BBNGDQS832" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=world%20community%20grid" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://yafu.myfirewall.org/">YAFU</a>
                                </td>
                                <td>
                                    Mathematics and Computing
                                </td>
                                <td>Factorize numbers of 70-130 digit length which are needed to bring <a href="https://en.wikipedia.org/wiki/Aliquot_sequence">Aliquot Sequences</a> to a <a href="https://www.rechenkraft.net/aliquot/AllSeq.html">size of 130.</a></td>
                                <td>
                                    ?
                                </td>
                                <td>
                                    <a href="http://yafu.myfirewall.org/yafu/team_display.php?teamid=260" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=yafu" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.rechenkraft.net/yoyo/">yoyo@home</a>
                                </td>
                                <td>
                                    Multiple Applications
                                </td>
                                <td>Brings existing distributed computing projects to the Boinc world using the Boinc Wrapper technology</td>
                                <td>Supported by Rechenkraft.net e.V. , accept private Donations, also accept Bitcoin</td>
                                <td>
                                    <a href="https://www.rechenkraft.net/yoyo/team_display.php?teamid=1475" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=yoyo@home" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://sech.me/boinc/Amicable/">Amicable Numbers</a>
                                </td>
                                <td>
                                    Mathematics and Computing
                                </td>
                                <td>Amicable Numbers is an independent research project that uses Internet-connected computers to find new amicable pairs. You can contribute to our research by running a free program on your computer.</td>
                                <td>N/A</td>
                                <td>
                                    <a href="https://sech.me/boinc/Amicable/team_display.php?teamid=1806" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=amicable" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--/CPU-->
                </div>
            </div>
        </div>
    </section>
    <!-- Boinc Sections -->
    <section data-background-color="black" class="content-26" style="overflow-x: hidden;">
        <!-- BOINC Content -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h6 id="GPU" style="text-align:center;">GPU</h6>
                    The following projects also have CPU tasks, unless otherwise noted.
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Project
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Goal
                                </th>
                                <th>
                                    Sponsor
                                </th>
                                <th>
                                    Quick Links
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="https://asteroidsathome.net/boinc/">Asteroids@home</a>
                                </td>
                                <td>
                                    Physical Science
                                </td>
                                <td>
                                    Asteroid research - it uses photometric measurements of asteroids observed by professional big all-sky surveys as well as 'backyard' astronomers. The data is processed using the lightcurve inversion method and a 3D shape model of an asteroid together with the rotation period and the direction of the spin axis are derived.
                                </td>
                                <td class="hidden-xs">
                                    <a href="https://www.cuni.cz/UKENG-1.html">Charles University in Prague</a>
                                </td>
                                <td>
                                    <a href="https://asteroidsathome.net/boinc/team_display.php?teamid=2218" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=asteroids@home" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://boinc.thesonntags.com/collatz/">Collatz Conjecture</a>
                                </td>
                                <td>
                                    Mathematics and Computing
                                </td>
                                <td>Attempting to disprove the <a href="https://en.wikipedia.org/wiki/Collatz_conjecture">Collatz Conjecture</a></td>
                                <td>Private</td>
                                <td>
                                    <a href="https://boinc.thesonntags.com/collatz/team_display.php?teamid=3029" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=collatz%20conjecture" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://einstein.phys.uwm.edu/">Einstein@home</a>
                                </td>
                                <td>
                                    Physical Science
                                </td>
                                <td>Search for spinning neutron (pulsars) stars using data from the LIGO gravitational-wave detectors, the Arecibo radio telescope, and the Fermi gamma-ray satellite</td>
                                <td>Univ. of Wisconsin - Milwaukee, Max Planck Institute</td>
                                <td>
                                    <a href="https://einstein.phys.uwm.edu/team_display.php?teamid=13630" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=einstein@home" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.gpugrid.net/">GPUgrid</a>
                                </td>
                                <td>
                                    Biology and Medicine
                                </td>
                                <td>
                                    Full-atom molecular simulations of proteins
                                </td>
                                <td class="hidden-xs">
                                    Private Sponsors, accept donations in Bitcoin
                                </td>
                                <td>
                                    <a href="https://www.gpugrid.net/team_display.php?teamid=3493" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=gpugrid" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://milkyway.cs.rpi.edu/milkyway/">Milkyway@home</a>
                                </td>
                                <td>
                                    Physical Science
                                </td>
                                <td>
                                    Creation of a 3d map of the milkyway galaxy using data gathered by the Sloan Digital Sky Survey. This project enables research in both astroinformatics and computer science.
                                </td>
                                <td>
                                    <a href="https://www.rpi.edu/">Rensselaer Polytechnic Institute</a>
                                </td>
                                <td>
                                    <a href="https://milkyway.cs.rpi.edu/milkyway/team_display.php?teamid=6566" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=milkyway@home" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://moowrap.net/">Moo! Wrapper</a>
                                </td>
                                <td>
                                    Mathematics and Computing
                                </td>
                                <td>
                                    Moo! Wrapper brings together BOINC volunteer computing network resources and the Distributed.net projects. It allows a BOINC Client to participate in the RC5-72 challenge.
                                </td>
                                <td>
                                    <a href="https://www.distributed.net/">Distributed.Net</a>
                                </td>
                                <td>
                                    <a href="https://moowrap.net/team_display.php?teamid=2190" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=moowrap" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.primegrid.com/">PrimeGrid</a>
                                </td>
                                <td>
                                    Mathematics and Computing
                                </td>
                                <td>Search for prime numbers. Primes play a central role in the cryptographic systems which are used for computer security. Through the study of prime numbers it can be shown whether current security schemes are sufficiently secure.</td>
                                <td>Private, supported by Rackspace</td>
                                <td>
                                    <a href="https://www.primegrid.com/team_display.php?teamid=4469" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=primegrid" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://setiathome.berkeley.edu/">SETI@home</a>
                                </td>
                                <td>
                                    Physical Science
                                </td>
                                <td>Search for Extraterrestrial Intelligence (SETI)</td>
                                <td>Berkeley University, California</td>
                                <td>
                                    <a href="https://setiathome.berkeley.edu/team_display.php?teamid=145340" title="Gridcoin Team Link">Team</a>
                                    <a href="https://gridcoinstats.eu/projects.php?a=view&id=seti@home" title="Gridcoinstats.eu">Stats</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- End of BOINC Content -->