/* carousel */
#quote-carousel
{
  padding: 0 10px 30px 10px;
  margin-top: 0px 0px 0px;
}
    #carousel-inner
    {
      height:565px;
    }
/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 250px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
  left: -75px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
  right: -75px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
  width:100%;
  top: auto;
  bottom: 0px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
  background: #333333;
}
/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #quote-carousel
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
    }
    #carousel-inner
    {
      height:565px;
    }
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
    /* Previous button  */
    #quote-carousel .carousel-control.left
    {
    left: -50px;
    }
    /* Next button  */
    #quote-carousel .carousel-control.right
    {
    right: -50px !important;
    }
        #carousel-inner
    {
      height:750px;
    }
}