<section  data-background-color="black" style="padding-top:90px;padding-bottom: 15px;">
    <div class="container" style="overflow:hidden;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>How to buy Gridcoin?</h3>
                <p>On most centralized exchanges you need to first <a href="https://www.bitcoin.com/buy-bitcoin">buy Bitcoin</a> in order to buy Gridcoin, except from on <a href="https://flyp.me">Flyp.me</a> where you can exchange several cryptocurrencies for gridcoin.</p>
                <!--<p>On the Bitshares based decentralized exchanges you can trade any bitshares based asset for OPEN.GRC (Gridcoin via Openledger exchange), including several fiat cryptocurrencies. You can find the most liquid trading pairs by viewing <a href="http://cryptofresh.com/a/OPEN.GRC">Cryptofresh</a> or the <a href="http://cryptofresh.com/a/OPEN.GRC">Bitshares-Explorer</a> websites.</p>
                <p>An advantage of decentralized exchanges over centralized exchanges is that you are your own bank, the risk of the exchange being hacked and your funds stolen is far less likely than with centralized exchanges.</p>-->
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="text-align: center; ">
                <h3>Decentralized exchanges</h3>
                    <ul style="list-style-type: none; padding-left: 0;">
                        <li style="margin-bottom: 10px;">
                            <ul style="list-style-type: none;">
                                <li>
                                    <a href="https://bisq.network/">
                                        <img src="../assets/img/Exchanges/bisq.png" alt="bisq" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://market.rudex.org/#/asset/RUDEX.GRC">
                                        <img src="../assets/img/Exchanges/RUDEX.png" alt="RUDEX" />
                                    </a>
                                </li>
                                <!--
                                <li>
                                    <a href="https://door.one/">
                                        <img src="../assets/img/Exchanges/doorone.png" alt="DoorOne" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://bitshares.org/">
                                        <img src="../assets/img/Exchanges/bitshares.png" alt="Bitshares" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://bit.btsabc.org/#/market/OPEN.GRC_OPEN.BTC">
                                        <img src="../assets/img/Exchanges/BTSABC.png" alt="BTSABC" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://bitshares.openledger.info/#/market/OPEN.GRC_OPEN.BTC">
                                        <img src="../assets/img/Exchanges/OL.png" alt="OpenLedger" />
                                    </a>
                                </li>
                                -->
                            </ul>
                        </li>
                    </ul>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="text-align: center; ">
                <h3>Centralized exchanges</h3>
                    <ul style="list-style-type: none; padding-left: 0;">
                        <li style="margin-bottom: 10px;">
                            <ul style="list-style-type: none;">
                                <li>
                                    <a href="https://bittrex.com/Market/?MarketName=BTC-GRC">
                                        <img src="../assets/img/Exchanges/bittrex.png" alt="Bittrex" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.southxchange.com/Market/Book/GRC/BTC">
                                        <img src="../assets/img/Exchanges/southxchange.png" alt="SouthXchange" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://holytransaction.com/">
                                        <img src="../assets/img/Exchanges/Holy.png" alt="HolyTransaction" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://flyp.me/">
                                        <img src="../assets/img/Exchanges/flypme.png" alt="Flyp.Me" />
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h5 style="text-align: center;">Free/Starter Gridcoin</h5>
                <ul>
                    <li>
                        <a href="http://gridcoin.ch/faucet.php">Gridcoin Switzerland Faucet</a>
                    </li>
                    <li>
                        <a href="https://gridcoinstats.eu/faucet.php">GridcoinStats Faucet</a>
                    </li>
                    <li>
                        <a href="https://www.eobot.com/faucet">Eobot Faucet</a>
                    </li>
                    <li>
                        Visit <a href="http://uscore.net/">uscore.net</a>, receive GRC by registering for their regular Gridcoin/BOINC related newsletter.
                    </li>
                    <li>
                        Utilize cryptocurrency ASICs in the Eobot <a href="https://www.eobot.com/">multipool</a> to earn Gridcoin.
                    </li>
                    <li>
                        Join <a href="https://steemit.com/trending/gridcoin">Steemit</a>, earn STEEM and trade for Gridcoin.
                    </li>
                    <li>
                        Work on Gridcoin development bounties.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
