<!--TEST AREA-->
<section  data-background-color="black" style="padding-top:0px;padding-bottom: 5px;">
    <div class="container" style="overflow:hidden;">
            <div class="row" style="margin-top:10px;">
                <div class='col-xs-12 col-sm-12 text-center'>
                    <h4>
                        You must sync the blockchain before proceeding
                    </h4>
                </div>
            </div>

            <!--prereqs-->
            <div class="row">
                <div class="col-xs-12">
                    <ul style="list-style-type: none;">
                        <li>
                            Prior to being able to stake or transfer Gridcoin to/from the Gridcoin client you need to fully sync the Gridcoin client to the latest block on the blockchain (green tick under connections indicates a fully synced wallet)
                        </li>
                        <li style="padding-top: 10px;">
                        If you don't want to sync from 0, then you can download a snapshot of the blockchain <a href="https://download.gridcoin.us/download/downloadstake/signed/snapshot.zip">here</a>.
                            <ul>
                                <li>
                                Note: The snapshot will not fully sync your client, but will rather bring you up to 80-90% sync. Allow your client to manually sync after the snapshot has been implemented.
                                </li>
                            </ul>
                        </li>
                        <li style="padding-top: 10px;">
                            If you are unable to acquire connections to the Gridcoin network, attempt the following:
                            <ul>
                                <li>
                                    Verify that your computer time is synced to your configured time server.
                                </li>
                                <li>
                                    Investigate whether or not your ISP is blocking P2P traffic.
                                </li>
                                <li>
                                    Verify you're running the latest version of the Gridcoin client, as there are frequent updates. Notices of updates are posted regularly on the <a href="../blog.htm">Gridcoin blog</a> and <a href="https://twitter.com/GridcoinNetwork">Twitter</a>.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/prereqs-->
        </div>
</section>
<!--/TEST AREA-->

<!--TEST AREA-->
<section  data-background-color="black" style="padding-top:0px;padding-bottom: 15px;">
        <div class="container" style="overflow:hidden;">
            <div class="row" style="margin-top:10px;">
                <div class='col-xs-12 col-sm-12 text-center' style="">
                    <h4>
                        Acquire a positive balance of Gridcoin prior to proceeding to the next step
                    </h4>
                </div>
            </div>
            <!--Contibute content-->
            <div class="row">
                <div class="col-xs-12" style="">
                    <ul style="text-align: justify; list-style-type: none; padding-left: 5px;">
                        <li style="margin-bottom: 10px; text-align:left;">
                            <ul>
                                <li>
                                    In Gridcoin's Proof-of-Stake (POS) system, rewards are minted as yearly compound interest. Users earn their BOINC rewards when they stake a POS block.
                                </li>
                                <li style="padding-top:10px;">
                                    In order to stake a block (and earn your BOINC rewards), a positive balance of GRC is required (This is the case for all POS cryptocurrencies).
                                    <ul>
                                        <li>
                                            There are 960 blocks per day that you can attempt to stake. A user with 1% of the total Gridcoin supply will stake approximately 10 blocks per day if 100% of coins are actively staking. Given that we don't experience 100% staking participation, your staking frequency estimation will likely be an underestimation.
                                        </li>
                                        <li>
                                            The formula required to work out the quantity of coins to stake in a period of time is:
                                            <ul>
                                                <li>
                                                    <code>
                                                    EstimatedDaysUntilStake=(1/(UserBalance/NetworkCoinSupply))/960
                                                    </code>
                                                </li>
                                                <li>
                                                    <code>
                                                    CoinsRequired=(1/(days*960))*NetworkCoinSupply
                                                    </code>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            The payout window is approximately 182.5 days. A staking frequency greater than this is potentially insufficient for solo-staking.
                                        </li>
                                        <li>
                                            Thusly, the rate at which you are rewarded for your BOINC work is identical to the rate at which you mint POS blocks (since you're rewarded for DPOR on top of your interest payment).
                                        </li>
                                        <li>
                                            Note: Your balance does not affect the magnitude calculation, only the rate of payment.
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</section>
<!--/TEST AREA-->
