<section  data-background-color="black" style="padding-top: 0px; padding-bottom: 15px;">

    <div class="container" style="overflow:hidden;">

        <!--Step 2 banner-->
        <div class='row' style="margin-bottom:25px; padding-top:10px;">
            <div class='col-xs-12'>
                <h4 style=" color:white; font-weight:bold;">
                    Choose BOINC projects from the whitelist
                </h4>
            </div>
        </div>
        <!--/Step 2 banner-->
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h6>Sources of whitelist data</h6>
                <ul>
                    <li>
                        Within the Gridcoin client.
                    </li>
                    <li>
                        <a href="http://wiki.gridcoin.us/Current_BOINC_Whitelist">Gridcoin wiki: Whitelist page</a>
                    </li>
                    <li>
                        <a href="/Guides/whitelist.htm">Gridcoin.us Whitelist page</a>
                    </li>
                    <li>
                        <a href="https://gridcoinstats.eu/project">Gridcoinstats.eu</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-8">
                <h6>Project selection pro-tips</h6>
                <ul>
                    <li>
                        Select projects with least participation/competiton (you earn less on a project with 1000 participants than one with 50). Use <a href="https://gridcoinstats.eu/project">Gridcoinstats</a> to help identify such projects.
                    </li>
                    <li>
                        Select projects most compatible with your computer hardware, don't crunch GPU work with a CPU.
                    </li>
                    <li>
                        Verify your projects have sufficient work units available for computation, you don't want downtime whilst projects generate new work.
                    </li>
                    <li>
                        Select a backup project in case your primary project runs out of work units or goes down.
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!--End of GRC Feature Section-->
</section>
