<section  data-background-color="black" style="padding-top: 0px; padding-bottom: 15px;">
    <!--Start of GRC Feature section-->
    <!--First row of features-->
    <div class="container" style="overflow:hidden;">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <h4 style="text-align:left; color:white;">BOINC Introduction</h4>
                <p>First of all, if you're only investing in Gridcoin you can skip this guide in favour of immediately <a href="/Guides/gridcoin-install.htm" title="Gridcoin Client installation">installing the Gridcoin Wallet</a>.</p>
                <p>In order to earn more Gridcoin, you need to crunch one or more whitelisted <a href="https://boinc.berkeley.edu/">BOINC</a> projects within team Gridcoin. You must install the <a href="https://boinc.berkeley.edu/">BOINC</a> client, select several <a href="https://boinc.berkeley.edu/">BOINC</a> projects and get crunching!</p>
                BOINC video introductions:
                <ul>
                    <li><a href="https://www.youtube.com/watch?v=MHiUninQn18">David Anderson talks BOINC, Citizen Science, and Why We Still Need You!</a></li>
                    <li><a href="https://www.youtube.com/watch?v=--Vy5ee7DwE">Serge Berig - BOINC: Compute for Good, Change the World</a></li>
                </ul>
                <h5>Not interested in earning BOINC rewards?</h5>
                <p>Switch to the "<a href="/Guides/investor-gridcoin-setup.htm">Investor guide</a>". You do not need to install or run BOINC in order to use GRC as a cryptocurrency.</p>
            </div>
            <div class="col-sm-4 hidden-xs">
                <a href="https://boinc.berkeley.edu/"><img src="/assets/img/boinc_logo2.png" alt="BOINC Logo" /></a>
            </div>
        </div>

        <div class='row' style="margin-bottom:25px; padding-top:10px;">
            <div class='col-xs-12'>
                <h4 style=" color:white; font-weight:bold;">Install BOINC</h4>
            </div>
        </div>

        <!--Step 1-->
        <div class="row" style="margin-top:10px;">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p>Navigate to the <a href="https://boinc.berkeley.edu">BOINC website</a>, download and install the appropriate BOINC client on each of the computers you wish to crunch BOINC work upon. If you're not crunching projects which require <a href="https://www.virtualbox.org/wiki/Downloadsl">VirtualBox</a> you don't need to install BOINC+VirtualBox.</p>
                <a class="btn btn-round" style="background-color:#4e0097;margin:5px;" href="https://boinc.berkeley.edu/download.php">BOINC client downloads</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                Here's some BOINC installation video tutorials:
                    <ul>
                        <li><a href="https://www.youtube.com/watch?v=laO_oMuY5xE">Rick's Performance Computing: BOINC install guide</a></li>
                        <li><a href="https://www.youtube.com/watch?v=SiQ0Ro_bCZY">Pi my life up: Setting up BOINC on a Raspberry PI</a></li>
                        <li><a href="https://www.youtube.com/watch?v=3hKUU9YWCKE">Rasim Muratovic: Installing BOINC</a></li>
                    </ul>
            </div>
        </div>
        <!--/Step 1-->

    </div>
    <!--End of GRC Feature Section-->
</section>
