<section  data-background-color="black" style="padding-top: 0px; padding-bottom: 15px;">
    <!--Start of GRC Feature section-->
    <div class="container" style="overflow:hidden;">

    <!--First row of features-->
        <!--Step 3 banner-->
        <div class='row' style="margin-top:10px;">
            <div class='col-xs-12 text-center' >
                <h4 style=" color:white; font-weight:bold;">
                    Sign up to chosen BOINC projects
                </h4>
            </div>
        </div>
        <!--/Step 3 banner-->
        <!--Step 3 banner-->
        <div class='row' style="margin-top:10px;">
            <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6' >
                <h6 style="color:white; text-align:left;">
                    Foreword prior to proceeding:
                </h6>
                <ul style="text-align: justify; list-style-type: none; padding-left: 0;">
                    <li style="margin-bottom: 10px; text-align:left;">
                        You must use the same email address for all BOINC projects.
                    </li>
                    <li style="margin-bottom: 10px; text-align:left;">
                        Currently you must be a member of team Gridcoin to earn GRC.    
                    </li>
                    <li style="margin-bottom: 10px; text-align:left;">
                        To earn GRC, only crunch whitelisted BOINC projects.
                    </li>
                    <li style="margin-bottom: 10px; text-align:left;">
                        There are two methods of adding BOINC projects; these are to manually setup each project one at a time, or to use an account manager service to speed up the process.
                    </li>
                </ul>
            </div>
            <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6' >
                <ul style="text-align: justify; list-style-type: none; padding-left: 0;">
                    <li style="text-align:left;">
                        Advantages of using an account manager:
                        <ul>
                            <li>
                                Single Sign On: One password for BOINC to remember.
                            </li>
                            <li>
                                Manage computer resources &amp; configuration from one location.
                            </li>
                            <li>
                                Manage all BOINC projects from one management portal online.
                            </li>
                        </ul>
                    </li>
                    <li style="text-align:left;">
                        Disadvantages of using an account manager:
                        <ul>
                            <li>
                                Single Sign On: If your account manager's credentials are compromised, then all of your BOINC project accounts will be compromised.
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--/Step 3 banner-->
        <!--Step 3 content-->
        <div class="row" style="margin-bottom:5px;">
            <div class="col-xs-12">
                <h4>Manually setting up projects</h4>
                <ul>
                    <li>
                        After installing and starting the BOINC Manager, you are asked to add a project or use an account manager. Select the 'add a project' radio button.
                    </li>
                    <li>
                        After clicking “Next“ choose a desired project.
                    </li>
                    <li>
                        You will be prompted to either create an account or login to an existing one. For some projects (such as World Community Grid) you have to register directly on the homepage of the project. Remember to use the same email address for all BOINC projects.
                    </li>
                    <li>
                        You will be prompted with a registration confirmation. Once you have pressed the 'Finish' button, a web browser should launch with additional registration fields required. If not, go to the project homepage (you can definitely find it via Google). You have to find the “Your Account” button and press it. The project homepage of a different project can look different, but should have the same functions!
                    </li>
                    <li>
                        Within the launched web page, enter your username (don't bother with country/post-code) then press OK.
                    </li>
                    <li>
                        You'll be next be presented with a team search field, search for and join team 'Gridcoin'. Currently, team 'Gridcoin' membership is mandatory.
                    </li>
                    <li>
                        Your computer will now be crunching work units for the chosen project within team Gridcoin.
                    </li>
                    <li>
                        Repeat these steps for all projects you want to participate in.
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" style="margin-top:10px;">
                <h4>BOINC Account Manager Guide</h4>
                <ul>
                    <li>
                        Create a BAM! account <a href="https://boincstats.com/en/bam/register">here</a>.
                    </li>
                    <li>Wait for the activation mail, and activate your account.</li>
                    <li>Login to BAM! (the login box is at the top-right of <a href="https://boincstats.com">this page</a>).</li>
                    <li>Navigate to "<a href="https://boincstats.com/en/bam/signup/">Sign-up for projects</a>" in the 'BAM!' menu and click the 'Create account' icon (<img src="/assets/img/BAM.png" alt="BAM logo" />) for every project you want to join.</li>
                    <li>
                        Follow these steps to join team Gridcoin in each project:
                        <ul>
                            <li>Navigate to the <a href="https://boincstats.com/en/bam/teams/">Team</a> page.</li>
                            <li>For each project you wish to contribute towards, tick the checkbox in the 3rd column.</li>
                            <li>Click the green 'Change/Join team' button at the bottom of the list of projects.</li>
                            <li>Enter 'Gridcoin' in the popup text field &amp; click the 'Search' button.</li>
                            <li>The page will change to just the checked projects, and will show their respective results for the team 'Gridcoin' search query in a dropdown box.</li>
                            <li>Select team 'Gridcoin' in each dropdown menu &amp; click the green 'Change/join team' button.</li>
                            <li>Click the orange 'back to overview' button.</li>
                        </ul>
                    </li>
                    <li>Navigate to "<a href="https://boincstats.com/en/bam/projects/">My projects</a>" in the 'BAM!' menu and select the projects that you want all your new hosts to attach to by click the "Attach new host by default" icon.</li>
                    <li>Attach your BOINC client to BAM!. The instructions are <a href="https://boincstats.com/en/bam/attachInstruction">here</a>.</li>
                    <li>The client will make two connections to BAM!. It will connect to all projects that are set to default attach.</li>
                    <li>Done! There are more options in BAM! to fine-tune settings and hosts. Browse around and read the <a href="https://boincstats.com/en/page/faq">F.A.Q.</a> for details.</li>
                </ul>
            </div>
        </div>
        <!--/Step 3 content-->
    </div>
    <!--End of GRC Feature Section-->
</section>
