<footer style="background: #535c25; padding-top:35px; padding-bottom:15px;">
    <div class="container">
        <div class="row">
            <!--Social links-->
            <div class="col-xs-6 col-sm-2">
                <a href="/index.htm"><h6 style="color: #30341b; font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Community</h6></a>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <a href="mailto:contact@gridcoin.us">
                            <i class="fa  fa-envelope-o" style="color: #6c7734;"><span style="color:white;"> Contact Us</span></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://cryptocointalk.com/forum/464-gridcoin-grc/">
                            <i class="fa fa-users" style="color: #6c7734;"><span style="color:white;"> Forum</span></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.fb.com/gridcoins">
                            <i class="fa fa-facebook" style="color: #6c7734;"><span style="color:white;"> Facebook</span></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/gridcoin/Gridcoin-Research">
                            <i class="fa fa-github" style="color: #6c7734;"><span style="color:white;"> Github</span></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/GridcoinNetwork">
                            <i class="fa fa-twitter" style="color: #6c7734;"><span style="color:white;"> Twitter</span></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.reddit.com/r/gridcoin">
                            <i class="fa fa-reddit" style="color: #6c7734;"><span style="color:white;"> Reddit</span></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!--/Social Links-->
            <!--Social links-->
            <div class="col-xs-6 col-sm-2">
                <a href="/index.htm"><h6 style="color: #30341b; font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Community</h6></a>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <h6 style="color: #30341b; font-weight: bold; margin-bottom: 10px; margin-top: 10px;">IRC</h6>
                        <ul style="list-style-type: none; padding-left: 0;">
                            <li>
                                <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin">
                                    <span style="color:white;"><span style="font-weight:bold; color:#6c7734;">#</span>Gridcoin</i>
                                </a>
                            </li>
                            <li>
                                <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-dev">
                                    <span style="color:white;"><span style="font-weight:bold; color:#6c7734;">#</span>Gridcoin-dev</i>
                                </a>
                            </li>
                            <li>
                                <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-german" style="color:#9A9899;"><i class="fa fa-slack" style="color:#707C34;"></i>Gridcoin-German</a>
                            </li>
                            <li>
                                <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-irpg">
                                    <span style="color:white;"><span style="font-weight:bold; color:#6c7734;">#</span>Gridcoin-irpg</i>
                                </a>
                            </li>
                            <li>
                                <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin">
                                    <span style="color:white;"><span style="font-weight:bold; color:#6c7734;">#</span>Gridcoin-Games</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#BOINC">
                                    <span style="color:white;"><span style="font-weight:bold; color:#6c7734;">#</span>BOINC</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/Social Links-->
            <!--Quick Start Steps-->
            <div class="col-xs-6 col-sm-2">
                <h6 style="color: #30341b; font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Main Guides</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="/Guides/boinc-install.htm" style="color:white;">Solo-Crunching</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="/Guides/pool.htm" style="color:white;">Pool-Crunching</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="/Guides/investor-gridcoin-setup.htm" style="color:white;">Investor mode</a>
                    </li>
                </ul>
            </div>
            <!--/Quick Start Steps-->
            <!--Guides-->
            <div class="col-xs-6 col-sm-2">
                <h6 style="color: #30341b; font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Guides</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="/Guides/whitelist.htm" style="color:white;">Project Whitelist</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="/Guides/bdac.htm" style="color:white;">BOINC DAC/DAPs</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="/Guides/security.htm" style="color:white;">Security</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="/Guides/misc.htm" style="color:white;">MISC Guides</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="/Guides/terminology.htm" style="color:white;">Terminology</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="http://wiki.gridcoin.us/FAQ" style="color:white;">GRC FAQ</a>
                    </li>
                </ul>
            </div>
            <!--/Guides-->
            <!--Exchanges-->
            <div class="col-xs-6 col-sm-2">
                <ul style="list-style-type: none; padding-left: 0;">
                    <li role="presentation"><h6 style="color: #30341b; font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Exchanges</h6></li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="https://poloniex.com/exchange/btc_grc" style="color:white;">Poloniex</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="https://c-cex.com/?p=grc-btc" style="color:white;">C-Cex</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="https://holytransaction.com/" style="color:white;">HolyTransactions</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="https://bittrex.com/Market/Index?MarketName=BTC-GRC" style="color:white;">Bittrex</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="https://www.cryptopia.co.nz/Exchange?market=GRC_BTC" style="color:white;">Cryptopia</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="https://www.banx.io/trade?c=GRC&p=BTC" style="color:white;">BANX.io</a>
                    </li>
                </ul>
            </div>
            <!--/Exchanges-->
            <!--Team Stats-->
            <div class="col-xs-6 col-sm-2">
                <ul style="list-style-type: none; padding-left: 0;">
                    <li role="presentation"><h6 style="color: #30341b; font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Team Stats</h6></li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="http://boincstats.com/en/stats/-1/team/detail/118094994/projectList" style="color:white;">Boincstats</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="http://www.boinc.netsoft-online.com/e107_plugins/boinc/bp_home.php" style="color:white;">Netsoft</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="http://stats.kwsn.net/team.php?proj=all&teamid=136036" style="color:white;">KWSN</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="http://www.allprojectstats.com/showteam.php?projekt=0&id=1822494" style="color:white;">AllProjectStats</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="http://statsbzh.boinc-af.org/team.php?name=R3JpZGNvaW4=" style="color:white;">Setibzh</a>
                    </li>
                </ul>
            </div>
            <!--/Team stats-->
        </div>
        <div class="row">
            <!--Development-->
            <div class="col-xs-6 col-sm-2">
                <ul style="list-style-type: none; padding-left: 0;">
                    <li role="presentation"><h6 style="color: #30341b; font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Development</h6></li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="/Dev/grcdevtest.htm" style="color:white;">GRC Dev/Test</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="/Dev/boincdevtest.htm" style="color:white;">BOINC Dev/Test</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="/Dev/daemon-cmd.htm" style="color:white;">Daemon CMD's</a>
                    </li>
                </ul>
            </div>
            <!--/Development-->
            <!--Publications-->
            <div class="col-xs-6 col-sm-2">
                <ul style="list-style-type: none; padding-left: 0;">
                    <li role="presentation"><h6 style="color:#30341b; font-weight:bold; margin-bottom:10px; margin-top:10px;">Publications</h6></li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="/Community/ProjectPublications.htm" style="color:white;">Project publications</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="/Community/BoincPublications.htm" style="color:white;">BOINC publications</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="http://wiki.gridcoin.us/Main_Page" style="color:white;">Gridcoin Wiki</a>
                    </li>
                </ul>
            </div>
            <!--/Publications-->
            <!--Tools-->
            <div class="col-xs-6 col-sm-2">
                <h6 style="color: #30341b; font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Tools</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="http://pool.gridcoin.co" style="color:white;">Pool.Gridcoin.Co</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="http://gridresearchcorp.com/gridcoin/" style="color:white;">Grid Research Corp</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="/Guides/3rdpartyapps.htm" style="color:white;">3rd Party BOINC Apps</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="https://www.eobot.com/" style="color:white;">Eobot</a>
                    </li>
                </ul>

            </div>
            <!--/Tools-->
            <!--Where to spend-->
            <div class="col-xs-6 col-sm-2">
                <h6 style="color: #30341b; font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Where To Spend</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="https://www.crypto-games.net/" style="color:white;">Crypto-Games</a>
                    </li>
                    <li>
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a href="http://cointopay.com/M_MarketOverview.jsp" style="color:white;">Cointopay Marketplace</a>
                    </li>
                </ul>
            </div>
            <!--/Where to spend-->
        </div>
    </div>
</footer>
<!-- End of Footer -->
<!-- Footer -->
<footer class="footer-6" style="background: #30341b; padding-top: 15px; padding-bottom: 15px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6" style="border-right: dotted; border-right-color: #535c25;">
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="//gridcoin.us10.list-manage.com/subscribe/post?u=cef5d1bd7320ac7cf9e8d126f&amp;id=9af1b7d1c9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <label for="mce-EMAIL" style="color: #535c25;">Subscribe to the official newsletter</label>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_cef5d1bd7320ac7cf9e8d126f_9af1b7d1c9" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>

                <!--End mc_embed_signup-->
                <!--/Mailchip signup form-->
            </div>
            <div class="col-xs-12 col-sm-6">
                <!--Translation link
                <span id="google_translate_element"></span>
                <script type="text/javascript">
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
                    }
                </script>
                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                /Translation link-->
            </div>
        </div>
    </div>
</footer>