<footer data-background-color="black" style="padding-top:35px; padding-bottom:15px;">
    <div class="container">
        <div class="row">
            <!--Social links-->
            <div class="col-xs-6 col-sm-2">
                <a name="Footer"></a> <!-- Link from nav -->
                <h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Community</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <a href="https://teamgridcoin.signup.team/">
                            <i class="fa  fa-envelope-o"> Contact Us</i>
                        </a>
                    </li>
                    <li>
                        <a href="https://cryptocointalk.com/forum/464-gridcoin-grc/">
                            <i class="fa fa-users"> Forum</i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/gridcoins">
                            <i class="fa fa-facebook"> Facebook</i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/gridcoin/Gridcoin-Research">
                            <i class="fa fa-github"> Github</i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/GridcoinNetwork">
                            <i class="fa fa-twitter"> Twitter</i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.reddit.com/r/gridcoin">
                            <i class="fa fa-reddit"> Reddit</i>
                        </a>
                    </li>
                    <li>
                        <a href="https://steemit.com/active/gridcoin">
                            <i class="fa fa-chevron-circle-up"> Steem</i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UC0Z3uczcC2okYRrLLCZFrMQ">
                            <i class="fa fa-youtube"> YouTube</i>
                        </a>
                    </li>
                    <li>
                        <a href="https://soundcloud.com/gridcoin-community-hangouts/">
                            <i class="fa fa-soundcloud"> SoundCloud</i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mixcloud.com/gridcoin_hangouts/">
                            <i class="fa fa-mixcloud"> Mixcloud</i>
                        </a>
                    </li>
                </ul>
            </div>
            <!--/Social Links-->
            <!--Social links-->
            <div class="col-xs-6 col-sm-2">
                <h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">IRC</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin">
                            <span style="font-weight:bold;">#</span>Gridcoin
                        </a>
                    </li>
                    <li>
                        <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-help">
                            <span style="font-weight:bold;">#</span>Gridcoin-Help
                        </a>
                    </li>
                    <li>
                        <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-german">
                            <span style="font-weight:bold;">#</span>Gridcoin-German
                        </a>
                    </li>
                    <li>
                        <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#BOINC">
                            <span style="font-weight:bold;">#</span>BOINC
                        </a>
                    </li>
                </ul>
                <!--IRC/Telegram-->
                <h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Telegram</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <a href="https://t.me/gridcoin">
                            <span style="font-weight:bold;">#</span>Gridcoin
                        </a>
                    </li>
                    <li>
                        <a href="https://t.me/gridcoin_marketing">
                            <span style="font-weight:bold;">#</span>Gridcoin Marketing
                        </a>
                    </li>
                    <li>
                        <a href="https://t.me/BOINC_Telegram">
                            <span style="font-weight:bold;">#</span>BOINC
                        </a>
                    </li>
                </ul>
            </div>
            <!--/Social Links-->
            <!--Quick Start Steps-->
            <div class="col-xs-6 col-sm-2">
                <h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Main Guides</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <a href="/Guides/boinc-install.htm">Solo-Crunching</a>
                    </li>
                    <li>
                        <a href="/Guides/pool.htm">Pool-Crunching</a>
                    </li>
                    <li>
                        <a href="/Guides/investor-gridcoin-setup.htm">Investor mode</a>
                    </li>
                </ul>
                <h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Guides</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <a href="/Guides/whitelist.htm">Project Whitelist</a>
                    </li>
                    <!--<li>
                        <a href="/Guides/bdac.htm">BOINC DAC/DAPs</a>
                    </li>-->
                    <li>
                        <a href="/Guides/security.htm">Security</a>
                    </li>
                    <li>
                        <a href="/Guides/misc.htm">MISC Guides</a>
                    </li>
                    <li>
                        <a href="/Guides/terminology.htm">Terminology</a>
                    </li>
                    <li>
                        <a href="http://wiki.gridcoin.us/FAQ">GRC FAQ</a>
                    </li>
                </ul>
            </div>
            <!--/Quick Start Steps-->
            <!--Guides-->
            <div class="col-xs-6 col-sm-2">
                <h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Where To Spend</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <a href="https://www.crypto-games.net/">Crypto-Games</a>
                    </li>
                    <li>
                        <a href="http://cointopay.com/M_MarketOverview.jsp">Cointopay Marketplace</a>
                    </li>
                    <li>
                        <a href="https://blockpay.ch/">BlockPay</a>
                    </li>
                </ul>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li role="presentation"><h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Development</h6></li>
                    <!--<li>
                        <a href="/Dev/grcdevtest.htm">GRC Dev/Test</a>
                    </li>
                    <li>
                        <a href="/Dev/boincdevtest.htm">BOINC Dev/Test</a>
                    </li>-->
                    <li>
                        <a href="/Dev/daemon-cmd.htm">Daemon CMD's</a>
                    </li>
                </ul>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li role="presentation"><h6 style="font-weight:bold; margin-bottom:10px; margin-top:10px;">Publications</h6></li>
                    <li>
                        <a href="/Community/ProjectPublications.htm">Project publications</a>
                    </li>
                    <li>
                        <a href="/Community/BoincPublications.htm">BOINC publications</a>
                    </li>
                    <li>
                        <a href="http://wiki.gridcoin.us/Main_Page">Gridcoin Wiki</a>
                    </li>
                </ul>
            </div>
            <!--/Guides-->
            <!--Exchanges-->
            <div class="col-xs-6 col-sm-2">
                <ul style="list-style-type: none; padding-left: 0;">
                    <li role="presentation"><h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Exchanges</h6></li>
                    <li>
                        <a href="https://bitsquare.io/">BitSquare</a>
                    </li>
                    <li>
                        <a href="https://bittrex.com/Market/Index?MarketName=BTC-GRC">Bittrex</a>
                    </li>
                    <li>
                        <a href="https://bit.btsabc.org/#/market/OPEN.GRC_OPEN.BTC">BTSABC</a>
                    </li>
                    <li>
                        <a href="https://btsbots.com/a/OPEN.GRC">BTSBOTS</a>
                    </li>
                    <li>
                        <a href="https://bitshares.org/">Bitshares-Light</a>
                    </li>
                    <li>
                        <a href="https://c-cex.com/?p=grc-btc">C-Cex</a>
                    </li>
                    <li>
                        <a href="https://holytransaction.com/">HolyTransaction</a>
                    </li>
                    <li>
                        <a href="https://bitshares.openledger.info/#/market/OPEN.GRC_OPEN.BTC">OpenLedger</a>
                    </li>
                    <li>
                        <a href="https://poloniex.com/exchange/btc_grc">Poloniex</a>
                    </li>
                    <li>
                        <a href="https://market.rudex.org/market/OPEN.GRC_OPEN.BTC">RUDEX</a>
                    </li>
                </ul>
            </div>
            <!--/Exchanges-->
            <!--Team Stats-->
            <div class="col-xs-6 col-sm-2">
                <ul style="list-style-type: none; padding-left: 0;">
                    <li role="presentation"><h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">GRC Stats</h6></li>
                    <li>
                        <a href="http://gridcoinstats.eu/">GridcoinStats.eu</a>
                    </li>
                    <li>
                        <a href="https://www.nuad.de/block-explorer/">nuad.de</a>
                    </li>
                    <li role="presentation"><h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Team Stats</h6></li>
                    <li>
                        <a href="http://boincstats.com/en/stats/-1/team/detail/118094994/projectList">Boincstats</a>
                    </li>
                    <li>
                        <a href="http://www.boinc.netsoft-online.com/e107_plugins/boinc/bp_home.php">Netsoft</a>
                    </li>
                    <li>
                        <a href="http://statsbzh.boinc-af.org/team.php?name=R3JpZGNvaW4=">Setibzh</a>
                    </li>
                    <li role="presentation"><h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Exchange Stats</h6></li>
                    <li>
                        <a href="http://coinmarketcap.com/currencies/gridcoin/">Coinmarketcap</a>
                    </li>
                    <li>
                        <a href="https://www.coingecko.com/en/coins/gridcoin-research">CoinGecko</a>
                    </li>
                    <li>
                        <a href="http://www.coincap.io/GRC">CoinCap.IO</a>
                    </li>
                </ul>
            </div>
            <!--/Team stats-->
        </div>
    </div>
</footer>
<!-- End of Footer -->