<footer  data-background-color="black" style="padding-top:35px; padding-bottom:15px; background-image:linear-gradient(#420479, #7235d3);">
    <div class="container" id="footer-css">
        <div class="row">
            <!--Social links-->
            <div class="col-xs-6 col-sm-2">
                <a name="Footer"></a> <!-- Link from nav -->
                <h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Community</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <a href="/blog.htm">
                            <i class="fa  fa-file-text-o"></i> Blog
                        </a>
                    </li>
                    <li>
                        <a href="/contact.htm">
                            <i class="fa  fa-envelope-o"></i> Contact Us
                        </a>
                    </li>
                    <li>
                        <a href="https://cryptocurrencytalk.com/forum/464-gridcoin-grc/">
                            <i class="fa fa-users"></i> Cryptocurrency talk
                        </a>
                    </li>
                    <li>
                        <a href="https://discord.me/gridcoin">
                            <i class="fa fa-volume-control-phone"></i> Discord
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/gridcoins">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>
                    </li>
                    <li>
                        <a href="https://www.reddit.com/r/gridcoin">
                            <i class="fa fa-reddit"></i> Reddit
                        </a>
                    </li>
                    <li>
                        <a href="https://chat.gridcoin.io/">
                            <i class="fa fa-rocket"></i> Rocket chat
                        </a>
                    </li>
                    <li>
                        <a href="https://join.slack.com/t/teamgridcoin/shared_invite/enQtMjk2NTI4MzAwMzg0LTUzMmY0YjdiNzYxYzQ0MDc3MGE1NjQ3Nzg2NWMzZTUzMjAwZjdhMWI1YWUzMDE4YzQyZjVjMjMzOTc1M2RmMmM/">
                            <i class="fa fa-slack"></i> Slack
                        </a>
                    </li>
                    <li>
                        <a href="https://steemit.com/created/gridcoin">
                            <i class="fa fa-chevron-circle-up"></i> Steemit
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/GridcoinNetwork">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                    </li>
                </ul>

                <h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Media</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <a href="https://github.com/gridcoin-community/Gridcoin-Marketing">
                            <i class="fa fa-github"></i> Gridcoin Marketing and Media Files
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mixcloud.com/gridcoin_hangouts/">
                            <i class="fa fa-mixcloud"></i> Mixcloud
                        </a>
                    </li>
                    <li>
                        <a href="https://soundcloud.com/gridcoin-community-hangouts/">
                            <i class="fa fa-soundcloud"></i> SoundCloud
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UC0Z3uczcC2okYRrLLCZFrMQ">
                            <i class="fa fa-youtube"></i> YouTube
                        </a>
                    </li>
                </ul>
            </div>
            <!--/Social Links-->
            <!--Social links-->
            <div class="col-xs-6 col-sm-2">
                <h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Development</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <a href="https://github.com/gridcoin/Gridcoin-Research">
                            <i class="fa fa-github"></i> Github
                        </a>
                    </li>
                    <li>
                        <a href="/Dev/rpc-reference.htm">
                        <i class="fa fa-code"></i> RPC Reference
                        </a>
                    </li>
                    <li>
                        <a href="/index.htm#Downloads">
                            <i class="fa fa-download"></i> Wallet Downloads
                        </a>
                    </li>
                    <li>
                        <a href="https://download.gridcoin.us/download/downloadstake/signed/snapshot.zip">
                            <i class="fa fa-download"></i> Official Snapshot
                        </a>
                    </li>
                </ul>
                <!--Telegram-->
                <h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Telegram</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <a href="https://t.me/gridcoin">
                            <i class="fa fa-telegram"></i>  Gridcoin
                        </a>
                    </li>
                    <li>
                        <a href="https://t.me/BOINC_Telegram">
                            <i class="fa fa-telegram"></i>  BOINC
                        </a>
                    </li>
                </ul>
            </div>
            <!--/Social Links-->
            <!--Quick Start Steps-->
            <div class="col-xs-6 col-sm-2">
                <h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Main Guides</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <a href="/Guides/boinc-install.htm">
                            <i class="fa fa-user"></i> Solo-Crunching
                        </a>
                    </li>
                    <li>
                        <a href="/Guides/pool.htm"><i class="fa fa-users"></i> Pool-Crunching</a>
                    </li>
                    <li>
                        <a href="/Guides/investor-gridcoin-setup.htm"><i class="fa fa-university"></i> Investor mode</a>
                    </li>
                </ul>
                <h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Guides</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <a href="/Guides/whitelist.htm"><i class="fa fa-list-alt"></i> Project Whitelist</a>
                    </li>
                    <li>
                        <a href="/Guides/security.htm"><i class="fa fa-lock"></i> Security</a>
                    </li>
                    <li>
                        <a href="/Guides/misc.htm"><i class="fa fa-file-text-o"></i> Misc. Guides</a>
                    </li>
                    <li>
                        <a href="/Guides/terminology.htm"><i class="fa fa-list"></i> Terminology</a>
                    </li>
                    <li>
                        <a href="http://wiki.gridcoin.us/FAQ"><i class="fa fa-question"></i> GRC FAQ</a>
                    </li>
                </ul>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li role="presentation"><h6 style="font-weight:bold; margin-bottom:10px; margin-top:10px;">Publications</h6></li>
                    <li>
                        <a href="/assets/img/whitepaper.pdf">
                            <i class="fa fa-file-text-o"></i> Whitepaper
                        </a>
                    </li>
                    <li>
                        <a href="/Community/ProjectPublications.htm">
                            <i class="fa fa-file-text-o"></i> Project Publications
                        </a>
                    </li>
                    <li>
                        <a href="/Community/BoincPublications.htm">
                            <i class="fa fa-file-text-o"></i> BOINC Publications
                        </a>
                    </li>
                    <li>
                        <a href="http://wiki.gridcoin.us/Main_Page">
                            <i class="fa fa-wikipedia-w"></i> Gridcoin Wiki
                        </a>
                    </li>
                </ul>
            </div>
            <!--/Quick Start Steps-->
            <!--Guides-->
            <div class="col-xs-6 col-sm-2">
                <ul style="list-style-type: none; padding-left: 0;">
                    <li role="presentation"><h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Decentralized Exchanges</h6></li>
                        <li>
                            <a href="https://bisq.network/">
                                <i class="fa fa-exchange"></i> bisq
                            </a>
                        </li>
                        <li>
                            <a href="https://market.rudex.org/#/asset/RUDEX.GRC">
                                <i class="fa fa-exchange"></i> RUDEX
                            </a>
                        </li>
                        <!--
                        <li>
                            <a href="https://bit.btsabc.org/#/market/OPEN.GRC_OPEN.BTC">
                                <i class="fa fa-exchange"></i> BTSABC
                            </a>
                        </li>
                        <li>
                            <a href="https://bitshares.org/">
                                <i class="fa fa-exchange"></i> Bitshares-Light
                            </a>
                        </li>
                        <li>
                            <a href="https://door.one/">
                                <i class="fa fa-exchange"></i> Door.One
                            </a>
                        </li>
                        <li>
                            <a href="https://bitshares.openledger.info/#/market/OPEN.GRC_OPEN.BTC">
                                <i class="fa fa-exchange"></i> OpenLedger
                            </a>
                        </li>
                      -->
                    </ul>
                <h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Spend your Gridcoin</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <a href="https://www.crypto-games.net/">
                            <i class="fa fa-gamepad"></i> Crypto-Games
                        </a>
                    </li>
                    <li>
                        <a href="https://cointopay.com/M_MarketOverview.jsp">
                            <i class="fa fa-shopping-cart"></i> Cointopay
                        </a>
                    </li>
                </ul>
            </div>
            <!--/Guides-->
            <!--Exchanges-->
            <div class="col-xs-6 col-sm-2">
                <ul style="list-style-type: none; padding-left: 0;">
                    <li role="presentation"><h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Centralized Exchanges</h6></li>
                        <li>
                            <a href="https://bittrex.com/Market/Index?MarketName=BTC-GRC">
                                <i class="fa fa-exchange"></i> Bittrex
                            </a>
                        </li>
                    <li>
                            <a href="https://www.southxchange.com/Market/Book/GRC/BTC">
                                <i class="fa fa-exchange"></i> SouthXchange
                            </a>
                        </li>
                        <li>
                            <a href="https://flyp.me/">
                                <i class="fa fa-exchange"></i> Flyp.Me
                            </a>
                        </li>
                    <li role="presentation"><h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">3rd party wallets</h6></li>
                        <!--
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.bitshares.bitshareswallet">
                                <i class="fa fa-id-card-o"></i> BitUniverse
                            </a>
                        </li>
                      -->
                        <li>
                            <a href="https://coinomi.com/">
                                <i class="fa fa-id-card-o"></i> Coinomi
                            </a>
                        </li>
                        <li>
                            <a href="https://holytransaction.com/">
                                <i class="fa fa-id-card-o"></i> HolyTransaction
                            </a>
                        </li>
                        <!--
                        <li>
                            <a href="https://www.magicw.net/">
                                <i class="fa fa-id-card-o"></i> MagicWallet
                            </a>
                        </li>
                      -->
                    </ul>
            </div>
            <!--/Exchanges-->
            <!--Team Stats-->
            <div class="col-xs-6 col-sm-2">
                <ul style="list-style-type: none; padding-left: 0;">
                    <li role="presentation"><h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Block Explorers</h6></li>
                    <li>
                        <a href="https://www.gridcoinstats.eu/block">
                            <i class="fa fa-bar-chart"></i> GridcoinStats
                        </a>
                    </li>
                    <li>
                        <a href="https://www.nuad.de/block-explorer/">
                            <i class="fa fa-bar-chart"></i> Nuad.de
                        </a>
                    </li>
                    <li>
                        <a href="https://gridcoin.network/">
                            <i class="fa fa-bar-chart"></i> Gridcoin.network
                        </a>
                    </li>
                    <li>
                        <a href="https://grcexplorer.neuralminer.io">
                            <i class="fa fa-bar-chart"></i> NeuralMiner.io
                        </a>
                    </li>
                    <li role="presentation"><h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Team Stats</h6></li>
                    <li>
                        <a href="https://boincstats.com/en/stats/-1/team/detail/118094994/projectList">
                            <i class="fa fa-pie-chart"></i> Boincstats
                        </a>
                    </li>
                    <li>
                        <a href="http://stats.free-dc.org/stats.php?page=teambycpid&team=Gridcoin">
                            <i class="fa fa-pie-chart"></i> Free-DC
                        </a>
                    </li>
                    <li>
                        <a href="http://www.boinc.netsoft-online.com/e107_plugins/boinc/bp_home.php">
                            <i class="fa fa-pie-chart"></i> Netsoft
                        </a>
                    </li>
                    <li>
                        <a href="https://statsbzh.boinc-af.org/team.php?name=R3JpZGNvaW4=">
                            <i class="fa fa-pie-chart"></i> SETIBZH
                        </a>
                    </li>
                    <li role="presentation"><h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Exchange Stats</h6></li>
                    <li>
                        <a href="https://coinmarketcap.com/currencies/gridcoin/">
                            <i class="fa fa-line-chart"></i> Coinmarketcap
                        </a>
                    </li>
                    <li>
                        <a href="https://www.coingecko.com/en/coins/gridcoin-research">
                            <i class="fa fa-line-chart"></i> CoinGecko
                        </a>
                    </li>
                    <li>
                        <a href="https://www.coincap.io/GRC">
                            <i class="fa fa-line-chart"></i> CoinCap
                        </a>
                    </li>
                </ul>
            </div>
            <!--/Team stats-->
        </div>
    </div>
</footer>
<!-- End of Footer -->
