<footer data-background-color="black" style="padding-top:35px; padding-bottom:15px;">
    <div class="container">
        <div class="row">
            <!--Social links-->
            <div class="col-xs-6 col-sm-2">
                <h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Community</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <a href="mailto:contact@gridcoin.us">
                            <i class="fa  fa-envelope-o"> Contact Us</span></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://cryptocointalk.com/forum/464-gridcoin-grc/">
                            <i class="fa fa-users"> Forum</span></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/gridcoins">
                            <i class="fa fa-facebook"> Facebook</span></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/gridcoin/Gridcoin-Research">
                            <i class="fa fa-github"> Github</span></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/GridcoinNetwork">
                            <i class="fa fa-twitter"> Twitter</span></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.reddit.com/r/gridcoin">
                            <i class="fa fa-reddit"> Reddit</span></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://steemit.com/active/gridcoin">
                            <i class="fa fa-chevron-circle-up"> Steem</span></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UC0Z3uczcC2okYRrLLCZFrMQ">
                            <i class="fa fa-youtube"> YouTube</span></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://soundcloud.com/gridcoin-community-hangouts/">
                            <i class="fa fa-soundcloud"> SoundCloud</span></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mixcloud.com/gridcoin_hangouts/">
                            <i class="fa fa-mixcloud"> Mixcloud</span></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!--/Social Links-->
            <!--Social links-->
            <div class="col-xs-6 col-sm-2">
                <h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">IRC</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin">
                            <span style="font-weight:bold;">#</span>Gridcoin</i>
                        </a>
                    </li>
                    <li>
                        <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-help">
                            <span style="font-weight:bold;">#</span>Gridcoin-Help
                        </a>
                    </li>
                    <li>
                        <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-german">
                            <span style="font-weight:bold;">#</span>Gridcoin-German
                        </a>
                    </li>
                    <li>
                        <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#BOINC">
                            <span style="font-weight:bold;">#</span>BOINC
                        </a>
                    </li>
                </ul>
                <!--IRC/Telegram-->
                <h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Telegram</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <a href="https://t.me/gridcoin">
                            <span style="font-weight:bold;">#</span>Gridcoin</i>
                        </a>
                    </li>
                    <li>
                        <a href="https://t.me/gridcoin_marketing">
                            <span style="font-weight:bold;">#</span>Gridcoin Marketing
                        </a>
                    </li>
                    <li>
                        <a href="https://t.me/BOINC_Telegram">
                            <span style="font-weight:bold;">#</span>BOINC
                        </a>
                    </li>
                </ul>
            </div>
            <!--/Social Links-->
            <!--Quick Start Steps-->
            <div class="col-xs-6 col-sm-2">
                <h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Main Guides</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <a href="/Guides/boinc-install.htm" style="color:white;">Solo-Crunching</a>
                    </li>
                    <li>
                        <a href="/Guides/pool.htm" style="color:white;">Pool-Crunching</a>
                    </li>
                    <li>
                        <a href="/Guides/investor-gridcoin-setup.htm" style="color:white;">Investor mode</a>
                    </li>
                </ul>
                <h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Guides</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <a href="/Guides/whitelist.htm" style="color:white;">Project Whitelist</a>
                    </li>
                    <li>
                        <a href="/Guides/bdac.htm" style="color:white;">BOINC DAC/DAPs</a>
                    </li>
                    <li>
                        <a href="/Guides/security.htm" style="color:white;">Security</a>
                    </li>
                    <li>
                        <a href="/Guides/misc.htm" style="color:white;">MISC Guides</a>
                    </li>
                    <li>
                        <a href="/Guides/terminology.htm" style="color:white;">Terminology</a>
                    </li>
                    <li>
                        <a href="http://wiki.gridcoin.us/FAQ" style="color:white;">GRC FAQ</a>
                    </li>
                </ul>
            </div>
            <!--/Quick Start Steps-->
            <!--Guides-->
            <div class="col-xs-6 col-sm-2">
                <h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Where To Spend</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>
                        <a href="https://www.crypto-games.net/" style="color:white;">Crypto-Games</a>
                    </li>
                    <li>
                        <a href="http://cointopay.com/M_MarketOverview.jsp" style="color:white;">Cointopay Marketplace</a>
                    </li>
                    <li>
                        <a href="https://blockpay.ch/" style="color:white;">BlockPay</a>
                    </li>
                </ul>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li role="presentation"><h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Development</h6></li>
                    <li>
                        <a href="/Dev/grcdevtest.htm" style="color:white;">GRC Dev/Test</a>
                    </li>
                    <li>
                        <a href="/Dev/boincdevtest.htm" style="color:white;">BOINC Dev/Test</a>
                    </li>
                    <li>
                        <a href="/Dev/daemon-cmd.htm" style="color:white;">Daemon CMD's</a>
                    </li>
                </ul>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li role="presentation"><h6 style="font-weight:bold; margin-bottom:10px; margin-top:10px;">Publications</h6></li>
                    <li>
                        <a href="/Community/ProjectPublications.htm" style="color:white;">Project publications</a>
                    </li>
                    <li>
                        <a href="/Community/BoincPublications.htm" style="color:white;">BOINC publications</a>
                    </li>
                    <li>
                        <a href="http://wiki.gridcoin.us/Main_Page" style="color:white;">Gridcoin Wiki</a>
                    </li>
                </ul>
            </div>
            <!--/Guides-->
            <!--Exchanges-->
            <div class="col-xs-6 col-sm-2">
                <ul style="list-style-type: none; padding-left: 0;">
                    <li role="presentation"><h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Exchanges</h6></li>
                    <li>
                        <a href="https://bitsquare.io/" style="color:white;">BitSquare</a>
                    </li>
                    <li>
                        <a href="https://bittrex.com/Market/Index?MarketName=BTC-GRC" style="color:white;">Bittrex</a>
                    </li>
                    <li>
                        <a href="https://bit.btsabc.org/#/market/OPEN.GRC_OPEN.BTC" style="color:white;">BTSABC</a>
                    </li>
                    <li>
                        <a href="https://btsbots.com/a/OPEN.GRC" style="color:white;">BTSBOTS</a>
                    </li>
                    <li>
                        <a href="https://bitshares.org/" style="color:white;">Bitshares-Light</a>
                    </li>
                    <li>
                        <a href="https://c-cex.com/?p=grc-btc" style="color:white;">C-Cex</a>
                    </li>
                    <li>
                        <a href="https://www.eobot.com/" style="color:white;">Eobot (cloud mining & multipool)</a>
                    </li>
                    <li>
                        <a href="https://holytransaction.com/" style="color:white;">HolyTransaction</a>
                    </li>
                    <li>
                        <a href="https://bitshares.openledger.info/#/market/OPEN.GRC_OPEN.BTC" style="color:white;">OpenLedger</a>
                    </li>
                    <li>
                        <a href="https://poloniex.com/exchange/btc_grc" style="color:white;">Poloniex</a>
                    </li>
                </ul>
            </div>
            <!--/Exchanges-->
            <!--Team Stats-->
            <div class="col-xs-6 col-sm-2">
                <ul style="list-style-type: none; padding-left: 0;">
                    <li role="presentation"><h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">GRC Stats</h6></li>
                    <li>
                        <a href="http://gridresearchcorp.com/gridcoin/" style="color:white;">Grid Research Corp</a>
                    </li>
                    <li>
                        <a href="http://gridcoinstats.eu/" style="color:white;">GridcoinStats.eu</a>
                    </li>
                    <li role="presentation"><h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Team Stats</h6></li>
                    <li>
                        <a href="http://boincstats.com/en/stats/-1/team/detail/118094994/projectList" style="color:white;">Boincstats</a>
                    </li>
                    <li>
                        <a href="http://www.boinc.netsoft-online.com/e107_plugins/boinc/bp_home.php" style="color:white;">Netsoft</a>
                    </li>
                    <li>
                        <a href="http://statsbzh.boinc-af.org/team.php?name=R3JpZGNvaW4=" style="color:white;">Setibzh</a>
                    </li>
                    <li role="presentation"><h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 10px;">Exchange Stats</h6></li>
                    <li>
                        <a href="http://coinmarketcap.com/currencies/gridcoin/" style="color:white;">Coinmarketcap</a>
                    </li>
                    <li>
                        <a href="https://www.coingecko.com/en/coins/gridcoin-research" style="color:white;">CoinGecko</a>
                    </li>
                    <li>
                        <a href="http://www.coincap.io/GRC" style="color:white;">CoinCap.IO</a>
                    </li>
                </ul>
            </div>
            <!--/Team stats-->
        </div>
    </div>
</footer>
<!-- End of Footer -->