<nav class="navbar navbar-toggleable-sm fixed-top navbar-transparent" color-on-scroll="75" style="margin-top:-20px; background-color: #5411b3;">

    <div class="container" style="padding-top:20px;" role="navigation">
        <div class="row">
            <div style="margin-top: 5px;">
                <a class="navbar-brand" href="/index.htm" rel="tooltip" title="Gridcoin - Securely rewarding BOINC computation on top of POS!" data-placement="bottom"><img src="/assets/img/grc-title2.png" alt="Gridcoin title" /></a>
            </div>

            <div class="btn-group" style="margin-top: 13px;">

                <div class="dropdown button-dropdown">
                    <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                        <button class="btn btn-round" style="background-color:#420479;font-weight:bold;">Community <i class="now-ui-icons arrows-1_minimal-down"></i></button>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-header">Gridcoin Community</a>
                            <a class="dropdown-item" href="/blog.htm"><i class="fa fa-file-text-o"></i> Blog</a>
                            <a class="dropdown-item" href="/contact.htm"><i class="fa fa-envelope-o"></i> Contact Us</a>
                            <a class="dropdown-item" href="https://www.facebook.com/gridcoins"><i class="fa fa-facebook"></i> Facebook</a>
                            <a class="dropdown-item" href="https://cryptocurrencytalk.com/forum/464-gridcoin-grc/"><i class="fa fa-users"></i> Forum</a>
                            <a class="dropdown-item" href="https://github.com/gridcoin/Gridcoin-Research"><i class="fa fa-github"></i> Github</a>
                            <a class="dropdown-item" href="https://www.reddit.com/r/gridcoin"><i class="fa fa-reddit"></i> Reddit</a>
                            <a class="dropdown-item" href="https://steemit.com/trending/gridcoin"><i class="fa fa-chevron-circle-up"></i> Steemit</a>
                            <a class="dropdown-item" href="https://twitter.com/GridcoinNetwork"><i class="fa fa-twitter"></i> Twitter</a>
                            <div class="dropdown-divider"></div>
                        <a class="dropdown-header">Chat</a>
                            <a class="dropdown-item" href="https://t.me/BOINC_Telegram"><i class="fa fa-telegram"></i> BOINC (Telegram)</a>
                            <a class="dropdown-item" href="https://t.me/gridcoin"><i class="fa fa-telegram"></i> Gridcoin (Telegram)</a>
                            <a class="dropdown-item" href="https://discord.me/gridcoin"><i class="fa fa-volume-control-phone"></i>  Discord</a>
                            <a class="dropdown-item" href="https://chat.gridcoin.io/"><i class="fa fa-rocket"></i> Rocket</a>
                            <a class="dropdown-item" href="https://join.slack.com/t/teamgridcoin/shared_invite/enQtMjk2NTI4MzAwMzg0LTUzMmY0YjdiNzYxYzQ0MDc3MGE1NjQ3Nzg2NWMzZTUzMjAwZjdhMWI1YWUzMDE4YzQyZjVjMjMzOTc1M2RmMmM/"><i class="fa fa-slack"></i> Slack</a>
                    </div>
                </div>

                <div class="dropdown button-dropdown">
                    <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                        <button class="btn btn-round" style="background-color:#420479;font-weight:bold;">Resources <i class="now-ui-icons arrows-1_minimal-down"></i></button>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-header">Publications</a>
                            <a class="dropdown-item" href="/assets/img/whitepaper.pdf"><i class="fa fa-file-text-o"></i> Whitepaper</a>
                            <a class="dropdown-item" href="/Community/ProjectPublications.htm"><i class="fa fa-file-text-o"></i> Project publications</a>
                            <a class="dropdown-item" href="/Community/BoincPublications.htm"><i class="fa fa-file-text-o"></i> BOINC publications</a>
                        <a class="dropdown-header">GRC Info</a>
                            <a class="dropdown-item" href="http://wiki.gridcoin.us/Main_Page"><i class="fa fa-wikipedia-w"></i> Gridcoin Wiki</a>
                            <a class="dropdown-item" href="https://www.reddit.com/r/CryptoWikis/wiki/gridcoin_basicinfo"><i class="fa fa-reddit"></i> Gridcoin Basic Info</a>
                            <a class="dropdown-item" href="https://github.com/gridcoin-community/Gridcoin-Marketing"><i class="fa fa-github"></i> Gridcoin Marketing and Media Files</a>
                        <a class="dropdown-header">Development</a>
                            <a class="dropdown-item" href="/Dev/rpc-reference.htm"><i class="fa fa-code"></i> RPC Reference</a>
                            <a class="dropdown-item" href="/index.htm#Downloads"><i class="fa fa-download"></i> Wallet Downloads</a>
                            <a class="dropdown-item" href="https://download.gridcoin.us/download/downloadstake/signed/snapshot.zip"><i class="fa fa-download"></i> Official Snapshot</a>
                        <a class="dropdown-header">Tools</a>
                            <a class="dropdown-item" href="/Guides/3rdpartyapps.htm"><i class="fa fa-wrench"></i> 3rd Party BOINC Apps</a>
                            <a class="dropdown-item" href="https://signature.statseb.fr/"><i class="fa fa-wrench"></i> Forum Signatures</a>
                    </div>
                </div>

                <div class="dropdown button-dropdown">
                    <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                        <button class="btn btn-round" style="background-color:#420479;font-weight:bold;">Guides <i class="now-ui-icons arrows-1_minimal-down"></i></button>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-header">Main Guides</a>
                            <a class="dropdown-item" href="/Guides/boinc-install.htm"><i class="fa fa-user"></i> Solo-Crunching</a>
                            <a class="dropdown-item" href="/Guides/pool.htm"><i class="fa fa-users"></i> Pool-Crunching</a>
                            <a class="dropdown-item" href="/Guides/investor-gridcoin-setup.htm"><i class="fa fa-university"></i> Investor mode</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-header">Other Guides</a>
                            <a class="dropdown-item" href="/Guides/whitelist.htm"><i class="fa fa-list-alt"></i> Project Whitelist</a>
                            <a class="dropdown-item" href="/Guides/security.htm"><i class="fa fa-lock"></i> Security</a>
                            <a class="dropdown-item" href="/Guides/misc.htm"><i class="fa fa-file-text-o"></i> Misc. Guides</a>
                            <a class="dropdown-item" href="/Guides/terminology.htm"><i class="fa fa-list"></i> Terminology</a>
                            <a class="dropdown-item" href="http://wiki.gridcoin.us/FAQ"><i class="fa fa-question"></i> GRC FAQ</a>
                    </div>
                </div>

                <div class="dropdown button-dropdown">
                    <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                        <button class="btn btn-round" style="background-color:#420479;font-weight:bold;">Trade <i class="now-ui-icons arrows-1_minimal-down"></i></button>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-header">Decentralized Exchanges</a>
                          <!--
                            <a class="dropdown-item" href="https://bitshares.openledger.info/#/market/OPEN.GRC_OPEN.BTC"><i class="fa fa-exchange"></i> OpenLedger</a>
                            <a class="dropdown-item" href="https://bit.btsabc.org/#/market/OPEN.GRC_OPEN.BTC"><i class="fa fa-exchange"></i> BTSABC</a>
                            <a class="dropdown-item" href="https://bitshares.org/"><i class="fa fa-exchange"></i> Bitshares-Light</a>
                            <a class="dropdown-item" href="https://door.one/"><i class="fa fa-exchange"></i> Door.One</a>
                          -->
                            <a class="dropdown-item" href="https://bisq.network/"><i class="fa fa-exchange"></i> bisq</a>
                            <a class="dropdown-item" href="https://market.rudex.org/#/asset/RUDEX.GRC"><i class="fa fa-exchange"></i> RUDEX</a>
                        <a class="dropdown-header">Centralized Exchanges</a>
                            <a class="dropdown-item" href="https://bittrex.com/Market/Index?MarketName=BTC-GRC"><i class="fa fa-exchange"></i> Bittrex</a>
                            <a class="dropdown-item" href="https://www.southxchange.com/Market/Book/GRC/BTC"><i class="fa fa-exchange"></i> SouthXchange</a>
                            <a class="dropdown-item" href="https://flyp.me/"><i class="fa fa-exchange"></i> Flyp.Me</a>
                    </div>
                </div>

                <div class="dropdown button-dropdown">
                    <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                        <button class="btn btn-round" style="background-color:#420479;font-weight:bold;">Spend <i class="now-ui-icons arrows-1_minimal-down"></i></button>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-header">3rd party wallets</a>
                            <!--<a class="dropdown-item" href="https://play.google.com/store/apps/details?id=com.bitshares.bitshareswallet"><i class="fa fa-id-card-o"></i> BitUniverse</a>-->
                            <a class="dropdown-item" href="https://coinomi.com/"><i class="fa fa-id-card-o"></i> Coinomi</a>
                            <a class="dropdown-item" href="https://holytransaction.com/"><i class="fa fa-id-card-o"></i> HolyTransaction</a>
                            <!--<a class="dropdown-item" href="https://www.magicw.net/"><i class="fa fa-id-card-o"></i> MagicWallet</a>-->
                        <a class="dropdown-header">Where to spend</a>
                            <a class="dropdown-item" href="https://www.crypto-games.net/"><i class="fa fa-gamepad"></i> Crypto-Games</a>
                            <a class="dropdown-item" href="https://cointopay.com/M_MarketOverview.jsp"><i class="fa fa-shopping-cart"></i> Cointopay Marketplace</a>
                        <a class="dropdown-header">Mining Services</a>
                            <a class="dropdown-item" href="https://www.eobot.com/"><i class="fa fa-cogs"></i> Eobot</a>
                    </div>
                </div>

                <div class="dropdown button-dropdown">
                    <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                        <button class="btn btn-round" style="background-color:#420479;font-weight:bold;">Pools/Stats <i class="now-ui-icons arrows-1_minimal-down"></i></button>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-header">Gridcoin Pools</a>
                            <a class="dropdown-item" href="https://www.grcpool.com/"><i class="fa fa-cogs"></i> grcpool</a>
                        <a class="dropdown-item" href="https://grc.arikado.ru/"><i class="fa fa-cogs"></i> Arikado Pool</a>
                        <a class="dropdown-header">Block Explorers</a>
                            <a class="dropdown-item" href="https://www.gridcoinstats.eu/block"><i class="fa fa-bar-chart"></i> GridcoinStats</a>
                            <a class="dropdown-item" href="https://www.nuad.de/block-explorer/"><i class="fa fa-bar-chart"></i> Nuad.de</a>
                            <a class="dropdown-item" href="https://gridcoin.network/"><i class="fa fa-bar-chart"></i> Gridcoin.network</a>
                            <a class="dropdown-item" href="https://grcexplorer.neuralminer.io/"><i class="fa fa-bar-chart"></i> NeuralMiner.io</a>
                        <a class="dropdown-header">Team Stats</a>
                            <a class="dropdown-item" href="https://boincstats.com/en/stats/-1/team/detail/118094994/projectList"><i class="fa fa-pie-chart"></i> Boincstats</a>
                            <a class="dropdown-item" href="http://stats.free-dc.org/stats.php?page=teambycpid&team=Gridcoin"><i class="fa fa-pie-chart"></i> Free-DC</a>
                            <a class="dropdown-item" href="http://www.boinc.netsoft-online.com/e107_plugins/boinc/bp_home.php"><i class="fa fa-pie-chart"></i> Netsoft</a>
                            <a class="dropdown-item" href="https://statsbzh.boinc-af.org/team.php?name=R3JpZGNvaW4="><i class="fa fa-pie-chart"></i> SETIBZH</a>
                        <a class="dropdown-header">Exchange Stats</a>
                            <a class="dropdown-item" href="https://coinmarketcap.com/currencies/gridcoin/"><i class="fa fa-line-chart"></i> Coinmarketcap</a>
                            <a class="dropdown-item" href="https://www.coingecko.com/en/coins/gridcoin-research"><i class="fa fa-line-chart"></i> CoinGecko</a>
                            <a class="dropdown-item" href="https://www.coincap.io/GRC"><i class="fa fa-line-chart"></i> CoinCap</a>
                            <a class="dropdown-item" href="https://www.worldcoinindex.com/coin/gridcoin"><i class="fa fa-line-chart"></i> WorldCoinIndex</a>
                            <a class="dropdown-item" href="https://www.cryptocompare.com/coins/grc/overview"><i class="fa fa-line-chart"></i> CryptoCompare</a>
                    </div>
                </div>

            </div>

            <div style="margin-top: 23px;">
                <a href="/index.htm#Downloads">
                    <button class="btn btn-icon btn-icon-mini" style="background-color:#4e0097;">
                        <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                    </button>
                </a>
                <a href="#Nav">
                    <button class="btn btn-icon  btn-icon-mini" style="background-color:#4e0097;">
                        <i class="now-ui-icons arrows-1_minimal-up"></i>
                    </button>
                </a>
                <a href="#Footer">
                    <button class="btn btn-icon  btn-icon-mini" style="background-color:#4e0097;">
                        <i class="now-ui-icons arrows-1_minimal-down"></i>
                    </button>
                </a>
            </div>

        </div>
    </div>

</nav>
<a name="Nav"></a> <!-- Nav link, returning user to top of website -->
