<!-- Navbar -->
<nav class="navbar navbar-toggleable-md fixed-top navbar-transparent" color-on-scroll="350" style="margin-top:-20px; background-color: #2c2c2c;">
    <div class="container">

        <div class="navbar-translate">
            <a class="navbar-brand" href="/index.htm" rel="tooltip" title="Gridcoin - Securely rewarding BOINC computation on top of POS!" data-placement="bottom" target="_blank"><img src="/Images/grc-title2.png" alt="Gridcoin title" /></a>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="../assets/img/blurred-image-1.jpg">
        
            <div class="dropdown button-dropdown hidden-xs hidden-sm">
                <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                    <button class="btn btn-default btn-round">Guides</button>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-header">Main Guides</a>
                        <a class="dropdown-item" href="/Guides/boinc-install.htm"><i class="fa fa-user"></i> Solo-Crunching</a>
                        <a class="dropdown-item" href="/Guides/pool.htm"><i class="fa fa-users"></i> Pool-Crunching</a>
                        <a class="dropdown-item" href="/Guides/investor-gridcoin-setup.htm"><i class="fa fa-university"></i> Investor mode</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-header">Other Guides</a>
                        <a class="dropdown-item" href="/Guides/whitelist.htm"><i class="fa fa-list-alt"></i> Project Whitelist</a>
                        <a class="dropdown-item" href="/Guides/bdac.htm"><i class="fa-file-code-o"></i> BOINC DAC/DAPs</a>
                        <a class="dropdown-item" href="/Guides/security.htm"><i class="fa fa-lock"></i> Security</a>
                        <a class="dropdown-item" href="/Guides/misc.htm"><i class="fa fa-file-text-o"></i> MISC Guides</a>
                        <a class="dropdown-item" href="/Guides/terminology.htm"><i class="fa fa-list"></i> Terminology</a>
                        <a class="dropdown-item" href="http://wiki.gridcoin.us/FAQ"><i class="fa fa-question"></i> GRC FAQ</a>
                </div>
            </div>

            <div class="dropdown button-dropdown hidden-xs hidden-sm">
                <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                    <button class="btn btn-default btn-round">Community</button>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-header">Gridcoin Community</li>
                        <a class="dropdown-item" href="mailto:contact@gridcoin.us"><i class="fa  fa-envelope-o"></i> Contact Us</a>
                        <a class="dropdown-item" href="https://cryptocointalk.com/forum/464-gridcoin-grc/"><i class="fa fa-users"></i> Forum</a>
                        <a class="dropdown-item" href="https://www.fb.com/gridcoins"><i class="fa fa-facebook"></i> Facebook</a>
                        <a class="dropdown-item" href="https://github.com/gridcoin/Gridcoin-Research"><i class="fa fa-github"></i> Github</a>
                        <a class="dropdown-item" href="https://twitter.com/GridcoinNetwork"><i class="fa fa-twitter"></i> Twitter</a>
                        <a class="dropdown-item" href="https://www.reddit.com/r/gridcoin"><i class="fa fa-reddit"></i> Reddit</a>
                        <a class="dropdown-item" href="http://wiki.gridcoin.us/Main_Page"><i class="fa fa-wikipedia-w"></i> Gridcoin Wiki</a>
                        <div class="dropdown-divider"></div>
                    <!--<a class="dropdown-header">BOINC Community</li>
                        <a class="dropdown-item" href="http://formula-boinc.org/"><i class="fa fa-arrow-circle-right"></i> Formula BOINC</a>
                        <a class="dropdown-item" href="http://uotd.org/"><i class="fa fa-arrow-circle-right"></i> User of the Day</a>
                        <a class="dropdown-item" href="https://boinc.berkeley.edu/dev/"><i class="fa fa-arrow-circle-right"></i> BOINC Forum</a>
                        <a class="dropdown-item" href="http://hardforum.com/index.php"><i class="fa fa-arrow-circle-right"></i> [H]ard|Forum</a>
                        <a class="dropdown-item" href="http://www.rechenkraft.net/"><i class="fa fa-arrow-circle-right"></i> Rechenkraft.net</a>
                        <a class="dropdown-item" href="http://desktopgridfederation.org/"><i class="fa fa-arrow-circle-right"></i> IDGF</a>
                        <a class="dropdown-item" href="http://www.seti-germany.de/"><i class="fa fa-arrow-circle-right"></i> Seti-Germany</a>
                        <a class="dropdown-item" href="http://www.setiusa.us"><i class="fa fa-arrow-circle-right"></i> SETI.USA</a>-->
                    <a class="dropdown-header">IRC</li>
                        <a class="dropdown-item" href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin"><i class="fa fa-slack"></i>Gridcoin</a>
                        <a class="dropdown-item" href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-help"><i class="fa fa-slack"></i>Gridcoin-Help</a>
                        <a class="dropdown-item" href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-german"><i class="fa fa-slack"></i>Gridcoin-German</a>
                        <a class="dropdown-item" href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-irpg"><i class="fa fa-slack"></i>Gridcoin-irpg</a>
                        <a class="dropdown-item" href="https://kiwiirc.com/client/irc.freenode.net:6667/#BOINC"><i class="fa fa-slack"></i>BOINC</a>
                        <div class="dropdown-divider"></div>
                    <a class="dropdown-header">Telegram</li>
                        <a class="dropdown-item" href=""><i class="fa fa-telegram"></i>Gridcoin</a>
                        <a class="dropdown-item" href=""><i class="fa fa-telegram"></i>Gridcoin_Marketing</a>
                        <a class="dropdown-item" href="n"><i class="fa fa-telegram"></i>BOINC_</a>
                </div>
            </div>

            <div class="dropdown button-dropdown hidden-xs hidden-sm">
                <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                    <button class="btn btn-default btn-round">Pools/Stats</button>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-header">Gridcoin Pool</li>
                        <a class="dropdown-item" href="http://pool.gridcoin.co/"><i class="fa fa-cogs"></i> Katiee's pool</a>                                   
                    <a class="dropdown-header">Team Stats</li>
                        <a class="dropdown-item" href="http://gridresearchcorp.com/gridcoin/"><i class="fa fa-pie-chart"></i> GridResearchCorp</a>
                        <a class="dropdown-item" href="http://boincstats.com/en/stats/-1/team/detail/118094994/projectList"><i class="fa fa-pie-chart"></i> Boincstats</a>
                        <a class="dropdown-item" href="http://www.boinc.netsoft-online.com/e107_plugins/boinc/bp_home.php"><i class="fa fa-pie-chart"></i> Netsoft</a>
                        <a class="dropdown-item" href="http://statsbzh.boinc-af.org/team.php?name=R3JpZGNvaW4="><i class="fa fa-pie-chart"></i> Setibzh</a>
                    <a class="dropdown-header">Exchange Stats</li>
                        <a class="dropdown-item" href="http://coinmarketcap.com/currencies/gridcoin/"><i class="fa fa-line-chart"></i> Coinmarketcap</a>
                        <a class="dropdown-item" href="https://www.coingecko.com/en/coins/gridcoin-research"><i class="fa fa-line-chart"></i> CoinGecko</a>
                        <a class="dropdown-item" href="http://www.coincap.io/GRC"><i class="fa fa-line-chart"></i> CoinCap</a>
                </div>
            </div>

            <div class="dropdown button-dropdown hidden-xs hidden-sm">
                <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                    <button class="btn btn-default btn-round">Acquire/Spend GRC</button>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-header">Exchanges</a>
                        <a class="dropdown-item" href="https://bitshares.openledger.info/#/market/OPEN.GRC_OPEN.BTC"><i class="fa fa-credit-card"></i> OpenLedger</a>
                        <a class="dropdown-item" href="https://bit.btsabc.org/#/market/OPEN.GRC_OPEN.BTC"><i class="fa fa-credit-card"></i> BTSABC</a>
                        <a class="dropdown-item" href="https://btsbots.com/a/OPEN.GRC"><i class="fa fa-credit-card"></i> BTSBOTS</a>
                        <a class="dropdown-item" href="https://bitshares.org/"><i class="fa fa-credit-card"></i> Bitshares-Light</a>
                        <a class="dropdown-item" href="https://bitsquare.io/"><i class="fa fa-credit-card"></i> BitSquare</a>
                        <a class="dropdown-item" href="https://holytransaction.com/"><i class="fa fa-credit-card"></i> HolyTransaction</a>
                        <a class="dropdown-item" href="https://poloniex.com/exchange/btc_grc"><i class="fa fa-credit-card"></i> Poloniex</a>
                        <a class="dropdown-item" href="https://c-cex.com/?p=grc-btc"><i class="fa fa-credit-card"></i> C-Cex</a>
                        <a class="dropdown-item" href="https://bittrex.com/Market/Index?MarketName=BTC-GRC"><i class="fa fa-credit-card"></i> Bittrex</a>
                    <a class="dropdown-header">3rd party wallets</a>
                        <a class="dropdown-item" href="https://www.coinvault.io/"><i class="fa fa-line-chart"></i> Coinvault</a>
                        <a class="dropdown-item" href="https://coinomi.com/"><i class="fa fa-line-chart"></i> Coinomi</a>
                    <a class="dropdown-header">Where to spend</a>
                        <a class="dropdown-item" href="https://www.crypto-games.net/"><i class="fa fa-gamepad"></i> Crypto-Games</a>
                        <a class="dropdown-item" href="http://cointopay.com/M_MarketOverview.jsp"><i class="fa fa-shopping-cart"></i> Cointopay Marketplace</a>
                    <a class="dropdown-header">Mining Services</a>
                        <a class="dropdown-item" href="https://www.eobot.com/"><i class="fa fa-cogs"></i> Eobot</a>
                </div>
            </div>

            <div class="dropdown button-dropdown hidden-xs hidden-sm">
                <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                    <button class="btn btn-default btn-round">Development</button>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-header">Publications</li>
                        <a class="dropdown-item" href="/Community/ProjectPublications.htm"><i class="fa fa-file-text-o"></i> Project publications</a>
                        <a class="dropdown-item" href="/Community/BoincPublications.htm"><i class="fa fa-file-text-o"></i> BOINC publications</a>
                    <a class="dropdown-header">Development</li>
                        <a class="dropdown-item" href="/Dev/grcdevtest.htm"><i class="fa fa-code"></i> GRC Dev/Testing</a>
                        <a class="dropdown-item" href="/Dev/boincdevtest.htm"><i class="fa fa-code"></i> BOINC Dev/Testing</a>
                        <a class="dropdown-item" href="/Dev/daemon-cmd.htm"><i class="fa fa-code"></i> Daemon CMD's</a>
                        <a class="dropdown-item" href="/index.htm#Downloads"><i class="fa fa-download"></i> Wallet Downloads</a>
                    <a class="dropdown-header">Tools</li>
                        <a class="dropdown-item" href="http://www.gridcoin.co/"><i class="fa fa-wrench"></i> Katiee's GRC Magnitude/Earnings Calculator</a>
                        <a class="dropdown-item" href="/Guides/3rdpartyapps.htm"><i class="fa fa-wrench"></i> 3rd Party BOINC Apps</a>
                        <a class="dropdown-item" href="http://signature.statseb.fr/"><i class="fa fa-wrench"></i> Forum Signatures</a>
                        <a class="dropdown-item" href="https://gridcoinapp.xyz/"><i class="fa fa-wrench"></i> Moises' Gridcoin Apps</a>
                </div>
            </div>

            <!-- Sidebar contents
            <div class="hidden-sm hidden-md hidden-lg">
                <ul class="navbar-nav">
                    <li role="presentation" style="color:white; margin-left:10px;">Main Guide</li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Guides/boinc-install.htm"><i class="fa fa-user"></i> Solo-Crunching</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Guides/pool.htm"><i class="fa fa-users"></i> Pool-Crunching</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Guides/investor-gridcoin-setup.htm"><i class="fa fa-university"></i> Investor mode</a>
                    </li>
                    <li role="presentation" style="color:white; margin-left:10px;">Other Guides</li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Guides/whitelist.htm"><i class="fa fa-list-alt"></i> Project Whitelist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Guides/misc.htm"><i class="fa fa-file-text-o"></i> MISC Guides</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://wiki.gridcoin.us/FAQ"><i class="fa fa-question"></i> GRC FAQ</a>
                    </li>
                    <li role="presentation" style="color:white; margin-left:10px;">Gridcoin Community</li>
                    <li class="nav-item">
                        <a class="nav-link" href="mailto:contact@gridcoin.us">
                            <i class="fa  fa-envelope-o"></i> Contact Us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://cryptocointalk.com/forum/464-gridcoin-grc/">
                            <i class="fa fa-users"></i> Forum
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.fb.com/gridcoins">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/gridcoin/Gridcoin-Research">
                            <i class="fa fa-github"></i> Github
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/GridcoinNetwork">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.reddit.com/r/gridcoin">
                            <i class="fa fa-reddit"></i> Reddit
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://steemit.com/active/gridcoin">
                            <i class="fa fa-chevron-circle-up"></i> Steem
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.youtube.com/channel/UC0Z3uczcC2okYRrLLCZFrMQ">
                            <i class="fa fa-youtube"></i> YouTube
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://soundcloud.com/gridcoin-community-hangouts/">
                            <i class="fa fa-soundcloud"></i> SoundCloud
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://wiki.gridcoin.us/Main_Page"><i class="fa fa-wikipedia-w"></i> Gridcoin Wiki</a>
                    </li>
                    <li role="presentation" style="color:white; margin-left:10px;">IRC</li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin"><i class="fa fa-slack"></i>Gridcoin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-help"><i class="fa fa-slack"></i>Gridcoin-help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-german"><i class="fa fa-slack"></i>Gridcoin-german</a>
                    </li>
                    <li role="presentation" style="color:white; margin-left:10px;">Exchanges</li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://holytransaction.com/"><i class="fa fa-credit-card"></i> HolyTransaction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://poloniex.com/exchange/btc_grc"><i class="fa fa-credit-card"></i> Poloniex</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://c-cex.com/?p=grc-btc"><i class="fa fa-credit-card"></i> C-Cex</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://bittrex.com/Market/Index?MarketName=BTC-GRC"><i class="fa fa-credit-card"></i> Bittrex</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://bitsquare.io/"><i class="fa fa-credit-card"></i> Bitsquare</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://bitshares.openledger.info/#/market/OPEN.GRC_OPEN.BTC"><i class="fa fa-credit-card"></i> OpenLedger</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://bit.btsabc.org/#/market/OPEN.GRC_OPEN.BTC"><i class="fa fa-credit-card"></i> BTSABC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://btsbots.com/a/OPEN.GRC"><i class="fa fa-credit-card"></i> BTSBOTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://bitshares.org/"><i class="fa fa-credit-card"></i> Bitshares-Light</a>
                    </li>
                    <li role="presentation" style="color:white; margin-left:10px;">Exchange Stats</li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://coinmarketcap.com/currencies/gridcoin/"><i class="fa fa-line-chart"></i> Coinmarketcap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.coingecko.com/en/coins/gridcoin-research"><i class="fa fa-line-chart"></i> CoinGecko</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.coincap.io/GRC"><i class="fa fa-line-chart"></i> Coincap</a>
                    </li>
                    <li role="presentation" class="dropdown-header" style="color:white;">3rd party wallets</li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.coinvault.io/"><i class="fa fa-line-chart"></i> Coinvault</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://coinomi.com/"><i class="fa fa-line-chart"></i> Coinomi</a>
                    </li>
                    <li role="presentation" style="color:white; margin-left:10px;">Team Stats</li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://gridresearchcorp.com/gridcoin/"><i class="fa fa-pie-chart"></i> GridResearchCorp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://boincstats.com/en/stats/-1/team/detail/118094994/projectList"><i class="fa fa-pie-chart"></i> Boincstats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.boinc.netsoft-online.com/e107_plugins/boinc/bp_home.php"><i class="fa fa-pie-chart"></i> Netsoft</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.allprojectstats.com/showteam.php?projekt=0&id=1822494"><i class="fa fa-pie-chart"></i> AllProjectStats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://statsbzh.boinc-af.org/team.php?name=R3JpZGNvaW4="><i class="fa fa-pie-chart"></i> Setibzh</a>
                    </li>
                    <li role="presentation" style="color:white; margin-left:10px;">Where to spend</li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.crypto-games.net/"><i class="fa fa-gamepad"></i> Crypto-Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://cointopay.com/M_MarketOverview.jsp"><i class="fa fa-shopping-cart"></i> Cointopay Marketplace</a>
                    </li>
                    <li class="nav-item">
                        <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                        <a class="nav-link" href="https://blockpay.ch/" style="color:white;">BlockPay</a>
                    </li>
                    <li role="presentation" style="color:white; margin-left:10px;">Publications</li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Community/ProjectPublications.htm"><i class="fa fa-file-text-o"></i> Project publications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Community/BoincPublications.htm"><i class="fa fa-file-text-o"></i> BOINC publications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://wiki.gridcoin.us/Main_Page"><i class="fa fa-wikipedia-w"></i> Gridcoin Wiki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index.htm#Downloads">
                            <i class="fa fa-download"></i> Wallet Downloads
                        </a>
                    </li>
                    <li role="presentation" style="color:white; margin-left:10px;">Tools</li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Guides/3rdpartyapps.htm"><i class="fa fa-wrench"></i> 3rd Party BOINC Apps</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://signature.statseb.fr/"><i class="fa fa-wrench"></i> Forum Signatures</a>
                    </li>
                </ul>
            </div>
            <!-- /sidebar contents -->
        </div>

        <div class="navbar-translate">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
</nav>