<nav class="navbar navbar-expand-lg fixed-top shadow justify-content-center" id="navheader">
    <div class="container justify-content-center">
        <div class="row">
            <div>
                <a class="navbar-brand" href="/index.htm" rel="tooltip" title="Gridcoin - Securely rewarding BOINC computation on top of POS!" data-placement="bottom"><img src="/assets/img/grc-title2.png" alt="Gridcoin title" /></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span>
            </button>       
            <div class="collapse navbar-collapse mt-0" id="navbarCollapse">
                <ul class="navbar-nav d-flex align-items-center">
                    <li class="nav-item dropdown">
                        <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <button class="btn dropdown-toggle grcbtn btn-sm rounded-pill font-weight-bold">Community</button></a>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <h3 class="dropdown-header">Gridcoin Community</h3>
                            <a class="dropdown-item" href="/blog.htm">Blog</a>
                            <a class="dropdown-item" href="/contact.htm">Contact Us</a>
                            <a class="dropdown-item" href="https://www.facebook.com/gridcoins">Facebook</a>
                            <a class="dropdown-item" href="https://cryptocurrencytalk.com/forum/464-gridcoin-grc/">Forum</a>
                            <a class="dropdown-item" href="https://github.com/gridcoin-community/Gridcoin-Research">Github</a>
                            <a class="dropdown-item" href="https://www.reddit.com/r/gridcoin">Reddit</a>
                            <a class="dropdown-item" href="https://steemit.com/trending/gridcoin">Steemit</a>
                            <a class="dropdown-item" href="https://whaleshares.io/trending/gridcoin">Whaleshares</a>
                            <a class="dropdown-item" href="https://twitter.com/GridcoinNetwork">Twitter</a>
                            <div class="dropdown-divider"></div>
                            <h3 class="dropdown-header">Chat</h3>
                            <a class="dropdown-item" href="https://t.me/BOINC_Telegram">BOINC Telegram</a>
                            <a class="dropdown-item" href="https://t.me/gridcoin">Gridcoin Telegram</a>
                            <a class="dropdown-item" href="https://discord.me/gridcoin">Discord</a>
                            <a class="dropdown-item" href="https://chat.gridcoin.io/">Rocket</a>
                            <a class="dropdown-item" href="https://join.slack.com/t/teamgridcoin/shared_invite/enQtMjk2NTI4MzAwMzg0LTUzMmY0YjdiNzYxYzQ0MDc3MGE1NjQ3Nzg2NWMzZTUzMjAwZjdhMWI1YWUzMDE4YzQyZjVjMjMzOTc1M2RmMmM/">Slack</a>
                            <a class="dropdown-item" href="https://jq.qq.com/?_wv=1027&k=5fDyjCV">Gridcoin 中国 qq 集团</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <button class="btn dropdown-toggle grcbtn btn-sm rounded-pill font-weight-bold">Resources</button></a>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <h3 class="dropdown-header">Publications</h3>
                            <a class="dropdown-item" href="/assets/img/whitepaper.pdf">Gridcoin Whitepaper</a>
                            <a class="dropdown-item" href="https://boinc.berkeley.edu/wiki/Publications_by_BOINC_projects">BOINC Project Publications</a>
                            <a class="dropdown-item" href="https://scholar.google.co.uk/scholar?q=BOINC">BOINC Academic Articles</a>
                            <div class="dropdown-divider"></div>
                            <h3 class="dropdown-header">GRC Info</h3>
                            <a class="dropdown-item" href="http://wiki.gridcoin.us/Main_Page">Gridcoin Wiki</a>
                            <a class="dropdown-item" href="https://www.reddit.com/r/CryptoWikis/wiki/gridcoin_basicinfo">Gridcoin Basic Info</a>
                            <a class="dropdown-item" href="https://github.com/gridcoin-community/Gridcoin-Marketing">Gridcoin Marketing and Media Files</a>
                            <div class="dropdown-divider"></div>
                            <h3 class="dropdown-header">Development</h3>
                            <a class="dropdown-item" href="/Dev/rpc-reference.htm">RPC Reference</a>
                            <a class="dropdown-item" href="/index.htm#Downloads">Wallet Downloads</a>
                            <a class="dropdown-item" href="https://download.gridcoin.us/download/downloadstake/signed/snapshot.zip">Official Snapshot</a>
                            <div class="dropdown-divider"></div>
                            <h3 class="dropdown-header">Tools</h3>
                            <a class="dropdown-item" href="https://signature.statseb.fr/">Forum Signatures</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <button class="btn dropdown-toggle grcbtn btn-sm rounded-pill font-weight-bold">Guides</button></a>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <h3 class="dropdown-header">Main Guides</h3>
                            <a class="dropdown-item" href="/Guides/boinc-install.htm">Solo-Crunching</a>
                            <a class="dropdown-item" href="/Guides/pool.htm">Pool-Crunching</a>
                            <a class="dropdown-item" href="/Guides/investor-gridcoin-setup.htm">Investor mode</a>
                            <div class="dropdown-divider"></div>
                            <h3 class="dropdown-header">Other Guides</h3>
                            <a class="dropdown-item" href="/Guides/whitelist.htm">Project Whitelist</a>
                            <a class="dropdown-item" href="/Guides/security.htm">Security</a>
                            <a class="dropdown-item" href="/Guides/misc.htm">Misc. Guides</a>
                            <a class="dropdown-item" href="/Guides/terminology.htm">Terminology</a>
                            <a class="dropdown-item" href="http://wiki.gridcoin.us/FAQ">GRC FAQ</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <button class="btn dropdown-toggle grcbtn btn-sm rounded-pill font-weight-bold">Trade & Spend</button></a>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <h3 class="dropdown-header">Exchanges</h3>
                            <!--
                            <a class="dropdown-item" href="https://bitshares.openledger.info/#/market/OPEN.GRC_OPEN.BTC"><i class="fa fa-exchange"></i> OpenLedger</a>
                            -->
                            <a class="dropdown-item" href="https://www.bitker.com/#/bbTrades/grc_btc">Bitker</a>
                            <a class="dropdown-item" href="https://bittrex.com/Market/Index?MarketName=BTC-GRC">Bittrex</a>
                            <a class="dropdown-item" href="https://flyp.me/">Flyp.Me</a>
                            <a class="dropdown-item" href="https://market.rudex.org/#/asset/RUDEX.GRC">RUDEX</a>
                            <a class="dropdown-item" href="https://www.southxchange.com/Market/Book/GRC/BTC">SouthXchange</a>
                            <div class="dropdown-divider"></div>
                            <h3 class="dropdown-header">3rd party wallets</h3>
                            <a class="dropdown-item" href="https://coinomi.com/">Coinomi</a>
                            <a class="dropdown-item" href="https://holytransaction.com/">HolyTransaction</a>
                            <div class="dropdown-divider"></div>
                            <h3 class="dropdown-header">Where to spend</h3>
                            <a class="dropdown-item" href="https://cointopay.com/M_MarketOverview.jsp">Cointopay Marketplace</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <button class="btn dropdown-toggle grcbtn btn-sm rounded-pill font-weight-bold">Pool & Stats</button></a>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-header">Gridcoin Pools</a>
                            <a class="dropdown-item" href="https://www.grcpool.com/">grcpool</a>
                            <a class="dropdown-item" href="https://grc.arikado.ru/">Arikado Pool</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-header">Block Explorers</a>
                            <a class="dropdown-item" href="https://www.gridcoinstats.eu/block">GridcoinStats</a>
                            <a class="dropdown-item" href="https://www.nuad.de/block-explorer/">Nuad.de</a>
                            <a class="dropdown-item" href="https://gridcoin.network/">Gridcoin.network</a>
                            <a class="dropdown-item" href="https://grcexplorer.neuralminer.io/">NeuralMiner.io</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-header">Team Stats</a>
                            <a class="dropdown-item" href="https://boincstats.com/en/stats/-1/team/detail/118094994/projectList">Boincstats</a>
                            <a class="dropdown-item" href="http://stats.free-dc.org/stats.php?page=teambycpid&team=Gridcoin">Free-DC</a>
                            <a class="dropdown-item" href="http://www.boinc.netsoft-online.com/e107_plugins/boinc/bp_home.php">Netsoft</a>
                            <a class="dropdown-item" href="https://statsbzh.boinc-af.org/team.php?name=R3JpZGNvaW4=">SETIBZH</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-header">Exchange Stats</a>
                            <a class="dropdown-item" href="https://coinmarketcap.com/currencies/gridcoin/">Coinmarketcap</a>
                            <a class="dropdown-item" href="https://www.coingecko.com/en/coins/gridcoin-research">CoinGecko</a>
                            <a class="dropdown-item" href="https://www.coincap.io/GRC">CoinCap</a>
                            <a class="dropdown-item" href="https://www.worldcoinindex.com/coin/gridcoin">WorldCoinIndex</a>
                            <a class="dropdown-item" href="https://www.cryptocompare.com/coins/grc/overview">CryptoCompare</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="nav align-items-center">
                <a class="nav-item" href="/index.htm#Downloads">
                    <button class="btn grcbtn btn-sm rounded-circle">
                        <span class="oi oi-cloud-download"></span>
                    </button>
                </a>
                <!--
                <a href="#Nav">
                    <button class="btn btn-icon">
                        <i class="now-ui-icons arrows-1_minimal-up"></i>
                    </button>
                </a>
                <a href="#Footer">
                    <button class="btn btn-icon">
                        <i class="now-ui-icons arrows-1_minimal-down"></i>
                    </button>
                </a>-->
            </div>
        </div>
    </div>
</nav>