<header class="" style="margin-top:-20px; padding-top:0px;" >
    <div class="container">
        <div class="row">
            <nav class="navbar" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="brand" href="/index.htm"><img src="/Images/grc-title2.png" style="position:absolute; margin-top:10px; height:25px;" alt="Gridcoin title" /></a>
                </div>
                <div class="collapse navbar-collapse pull-right">
                    <!--Dropdown menu-->
                    <ul class="nav pull-left hidden-xs hidden-sm">
                        <li style="margin-right:35%;"><button type="button" class="navbar-toggle"></button></li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Guides</a>
                            <ul class="dropdown-menu dropdown-menu-inverse" role="menu" style="text-align:center;">
                                <li role="presentation" class="dropdown-header" style="color:white;">Main Guides</li>
                                <li>
                                    <a href="/Guides/boinc-install.htm"><i class="fa fa-user" style="color:#707C34;"></i> <span style="color:#9A9899;">Solo-Crunching</span></a>
                                </li>
                                <li>
                                    <a href="/Guides/pool.htm"><i class="fa fa-users" style="color:#707C34;"></i> <span style="color:#9A9899;">Pool-Crunching</span></a>
                                </li>
                                <li>
                                    <a href="/Guides/investor-gridcoin-setup.htm"><i class="fa fa-university" style="color:#707C34;"></i> <span style="color:#9A9899;">Investor mode</span></a>
                                </li>
                                <li role="presentation" class="dropdown-header" style="color:white;">Other Guides</li>
                                <li>
                                    <a href="/Guides/whitelist.htm" style="color:#9A9899;"><i class="fa fa-list-alt" style="color:#707C34;"></i> Project Whitelist</a>
                                </li>
                                <li>
                                    <a href="/Guides/bdac.htm" style="color:#9A9899;"><i class="fa-file-code-o" style="color:#707C34;"></i> BOINC DAC/DAPs</a>
                                </li>
                                <li>
                                    <a href="/Guides/security.htm" style="color:#9A9899;"><i class="fa fa-lock" style="color:#707C34;"></i> Security</a>
                                </li>
                                <li>
                                    <a href="/Guides/misc.htm" style="color:#9A9899;"><i class="fa fa-file-text-o" style="color:#707C34;"></i> MISC Guides</a>
                                </li>
                                <li>
                                    <a href="/Guides/terminology.htm" style="color:#9A9899;"><i class="fa fa-list" style="color:#707C34;"></i> Terminology</a>
                                </li>
                                <li>
                                    <a href="http://wiki.gridcoin.us/FAQ" style="color:#9A9899;"><i class="fa fa-question" style="color:#707C34;"></i> GRC FAQ</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Community</a>
                            <ul class="dropdown-menu dropdown-menu-inverse" role="menu" style="text-align:center;">
                                <li role="presentation" class="dropdown-header" style="color:white;">Gridcoin Community</li>
                                <li>
                                    <a href="mailto:contact@gridcoin.us" style="color:#9A9899;">
                                        <i class="fa  fa-envelope-o" style="color:#707C34;"></i> Contact Us
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cryptocointalk.com/forum/464-gridcoin-grc/" style="color:#9A9899;">
                                        <i class="fa fa-users" style="color:#707C34;"></i> Forum
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.fb.com/gridcoins" style="color:#9A9899;">
                                        <i class="fa fa-facebook" style="color:#707C34;"></i> Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/gridcoin/Gridcoin-Research" style="color:#9A9899;">
                                        <i class="fa fa-github" style="color:#707C34;"></i> Github
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/GridcoinNetwork" style="color:#9A9899;">
                                        <i class="fa fa-twitter" style="color:#707C34;"></i> Twitter
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.reddit.com/r/gridcoin" style="color:#9A9899;">
                                        <i class="fa fa-reddit" style="color:#707C34;"></i> Reddit
                                    </a>
                                </li>
                                <li>
                                    <a href="http://wiki.gridcoin.us/Main_Page" style="color:#9A9899;"><i class="fa fa-wikipedia-w" style="color:#707C34;"></i> Gridcoin Wiki</a>
                                </li>
                                <li role="presentation" class="dropdown-header" style="color:white;">BOINC Community</li>
                                <li>
                                    <a href="http://formula-boinc.org/" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> Formula BOINC</a>
                                </li>
                                <li>
                                    <a href="http://uotd.org/" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> User of the Day</a>
                                </li>
                                <li>
                                    <a href="https://boinc.berkeley.edu/dev/" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> BOINC Forum</a>
                                </li>
                                <li>
                                    <a href="http://hardforum.com/index.php" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> [H]ard|Forum</a>
                                </li>
                                <li>
                                    <a href="http://www.rechenkraft.net/" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> Rechenkraft.net</a>
                                </li>
                                <li>
                                    <a href="http://desktopgridfederation.org/" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> IDGF</a>
                                </li>
                                <li>
                                    <a href="http://www.seti-germany.de/" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> Seti-Germany</a>
                                </li>
                                <li>
                                    <a href="http://www.setiusa.us" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> SETI.USA</a>
                                </li>
                                <li role="presentation" class="dropdown-header" style="color:white;">IRC</li>
                                <li>
                                    <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin" style="color:#9A9899;"><i class="fa fa-slack" style="color:#707C34;"></i>Gridcoin</a>
                                </li>
                                <li>
                                    <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-help" style="color:#9A9899;"><i class="fa fa-slack" style="color:#707C34;"></i>Gridcoin-Help</a>
                                </li>
                                <li>
                                    <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-german" style="color:#9A9899;"><i class="fa fa-slack" style="color:#707C34;"></i>Gridcoin-German</a>
                                </li>
                                <li>
                                    <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-irpg" style="color:#9A9899;"><i class="fa fa-slack" style="color:#707C34;"></i>Gridcoin-irpg</a>
                                </li>
                                <li>
                                    <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#BOINC" style="color:#9A9899;"><i class="fa fa-slack" style="color:#707C34;"></i>BOINC</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Exchanges</a>
                            <ul class="dropdown-menu dropdown-menu-inverse" role="menu" style="text-align:center;">
                                <li role="presentation" class="dropdown-header" style="color:white;">Exchanges</li>
                                <li>
                                    <a href="https://holytransaction.com/" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> HolyTransactions</a>
                                    <a href="https://poloniex.com/exchange/btc_grc" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> Poloniex</a>
                                    <a href="https://c-cex.com/?p=grc-btc" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> C-Cex</a>
                                    <a href="https://bittrex.com/Market/Index?MarketName=BTC-GRC" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> Bittrex</a>
                                    <a href="https://bitsquare.io/" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> BitSquare</a>
                                    <a href="https://bitshares.openledger.info/#/market/OPEN.GRC_OPEN.BTC" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> OpenLedger</a>
                                    <a href="https://bit.btsabc.org/#/market/OPEN.GRC_OPEN.BTC" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> BTSABC</a>
                                    <a href="https://btsbots.com/a/OPEN.GRC" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> BTSBOTS</a>
                                    <a href="https://bitshares.org/" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> Bitshares-Light</a>
                                </li>
                                <li role="presentation" class="dropdown-header" style="color:white;">3rd party wallets</li>
                                <li>
                                    <a href="https://www.coinvault.io/" style="color:#9A9899;"><i class="fa fa-line-chart" style="color:#707C34;"></i> Coinvault</a>
                                </li>
                                <li>
                                    <a href="https://coinomi.com/" style="color:#9A9899;"><i class="fa fa-line-chart" style="color:#707C34;"></i> Coinomi</a>
                                </li>
                                <li role="presentation" class="dropdown-header" style="color:white;">Where to spend</li>
                                <li>
                                    <a href="https://www.crypto-games.net/" style="color:#9A9899;"><i class="fa fa-gamepad" style="color:#707C34;"></i> Crypto-Games</a>
                                    <a href="http://cointopay.com/M_MarketOverview.jsp" style="color:#9A9899;"><i class="fa fa-shopping-cart" style="color:#707C34;"></i> Cointopay Marketplace</a>
                                </li>
                                <li role="presentation" class="dropdown-header" style="color:white;">Mining Services</li>
                                <li>
                                    <a href="https://www.eobot.com/" style="color:#9A9899;"><i class="fa fa-cogs" style="color:#707C34;"></i> Eobot</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pools/Stats</a>
                            <ul class="dropdown-menu dropdown-menu-inverse" role="menu" style="text-align:center;">
                                <li role="presentation" class="dropdown-header" style="color:white;">Gridcoin Pool</li>
                                <li>
                                    <a href="http://pool.gridcoin.co/" style="color:#9A9899;"><i class="fa fa-cogs" style="color:#707C34;"></i> Katiee's pool</a>                                   
                                </li>
                                <li role="presentation" class="dropdown-header" style="color:white;">Team Stats</li>
                                <li>
                                    <a href="http://gridresearchcorp.com/gridcoin/" style="color:#9A9899;"><i class="fa fa-pie-chart" style="color:#707C34;"></i> GridResearchCorp</a>
                                    <a href="http://boincstats.com/en/stats/-1/team/detail/118094994/projectList" style="color:#9A9899;"><i class="fa fa-pie-chart" style="color:#707C34;"></i> Boincstats</a>
                                    <a href="http://www.boinc.netsoft-online.com/e107_plugins/boinc/bp_home.php" style="color:#9A9899;"><i class="fa fa-pie-chart" style="color:#707C34;"></i> Netsoft</a>
                                    <a href="http://statsbzh.boinc-af.org/team.php?name=R3JpZGNvaW4=" style="color:#9A9899;"><i class="fa fa-pie-chart" style="color:#707C34;"></i> Setibzh</a>
                                </li>
                                <li role="presentation" class="dropdown-header" style="color:white;">Exchange Stats</li>
                                <li>
                                    <a href="http://coinmarketcap.com/currencies/gridcoin/" style="color:#9A9899;"><i class="fa fa-line-chart" style="color:#707C34;"></i> Coinmarketcap</a>
                                    <a href="https://www.coingecko.com/en/coins/gridcoin-research" style="color:#9A9899;"><i class="fa fa-line-chart" style="color:#707C34;"></i> CoinGecko</a>
                                    <a href="http://www.coincap.io/GRC" style="color:#9A9899;"><i class="fa fa-line-chart" style="color:#707C34;"></i> CoinCap</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Development</a>
                            <ul class="dropdown-menu dropdown-menu-inverse" role="menu" style="text-align:center;">
                                <li role="presentation" class="dropdown-header" style="color:white;">Publications</li>
                                <li>
                                    <a href="/Community/ProjectPublications.htm" style="color:#9A9899;"><i class="fa fa-file-text-o" style="color:#707C34;"></i> Project publications</a>
                                    <a href="/Community/BoincPublications.htm" style="color:#9A9899;"><i class="fa fa-file-text-o" style="color:#707C34;"></i> BOINC publications</a>
                                </li>
                                <li role="presentation" class="dropdown-header" style="color:white;">Development</li>
                                <li>
                                    <a href="/Dev/grcdevtest.htm" style="color:#9A9899;"><i class="fa fa-code" style="color:#707C34;"></i> GRC Dev/Testing</a>
                                </li>
                                <li>
                                    <a href="/Dev/boincdevtest.htm" style="color:#9A9899;"><i class="fa fa-code" style="color:#707C34;"></i> BOINC Dev/Testing</a>
                                </li>
                                <li>
                                    <a href="/Dev/daemon-cmd.htm" style="color:#9A9899;"><i class="fa fa-code" style="color:#707C34;"></i> Daemon CMD's</a>
                                </li>
                                <li>
                                    <a href="/index.htm#Downloads" style="color:#9A9899;">
                                        <i class="fa fa-download" style="color:#707C34;"></i> Wallet Downloads
                                    </a>
                                </li>
                                <li role="presentation" class="dropdown-header" style="color:white;">Tools</li>
                                <li>
                                    <a href="http://www.gridcoin.co/" style="color:#9A9899;"><i class="fa fa-wrench" style="color:#707C34;"></i> Katiee's GRC Magnitude/Earnings Calculator</a>
                                </li>
                                <li>
                                    <a href="/Guides/3rdpartyapps.htm" style="color:#9A9899;"><i class="fa fa-wrench" style="color:#707C34;"></i> 3rd Party BOINC Apps</a>
                                </li>
                                <li>
                                    <a href="http://signature.statseb.fr/" style="color:#9A9899;"><i class="fa fa-wrench" style="color:#707C34;"></i> Forum Signatures</a>
                                </li>
                                <li>
                                    <a href="https://gridcoinapp.xyz/" style="color:#9A9899;"><i class="fa fa-wrench" style="color:#707C34;"></i> Moises' Gridcoin Apps</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <!--Translation link-->
                            <span id="google_translate_element"></span>
                            <script type="text/javascript">
                                function googleTranslateElementInit() {
                                    new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
                                }
                            </script>
                            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                            <!--/Translation link-->
                        </li>
                        <li style="margin-right:35%;"><button type="button" class="navbar-toggle"></button></li>
                    </ul>
                    <!--/Dropdown Menu-->
                    <!--Menu for xs devices-->
                    <ul class="nav pull-left hidden-lg hidden-md" style="list-style-type: none;">
                        <li role="presentation" style="color:white; margin-left:10px;">Quick-Start Guide</li>
                        <li>
                            <a href="/Guides/boinc-install.htm"><span style="color:#707C34;">Step 1:</span> <span style="color:#9A9899;">Setup BOINC</span></a>
                        </li>
                        <li>
                            <a href="/Guides/gridcoin-install.htm"><span style="color:#707C34;">Step 2:</span> <span style="color:#9A9899;">Setup Gridcoin</span></a>
                        </li>
                        <li>
                            <a href="/Guides/acquire-grc.htm"><span style="color:#707C34;">Step 3:</span> <span style="color:#9A9899;">Acquire GRC</span></a>
                        </li>
                        <li>
                            <a href="/Guides/earn-grc.htm"><span style="color:#707C34;">Step 4:</span> <span style="color:#9A9899;">Earn GRC</span></a>
                        </li>
                        <!-- -->
                        <li role="presentation" style="color:white; margin-left:10px;">Other Guides</li>
                        <li>
                            <a href="/Guides/whitelist.htm" style="color:#9A9899;"><i class="fa fa-list-alt" style="color:#707C34;"></i> Project Whitelist</a>
                        </li>
                        <li>
                            <a href="/Guides/bdac.htm" style="color:#9A9899;"><i class="fa-file-code-o" style="color:#707C34;"></i> BOINC DAC/DAPs</a>
                        </li>
                        <li>
                            <a href="/Guides/security.htm" style="color:#9A9899;"><i class="fa fa-lock" style="color:#707C34;"></i> Security</a>
                        </li>
                        <li>
                            <a href="/Guides/misc.htm" style="color:#9A9899;"><i class="fa fa-file-text-o" style="color:#707C34;"></i> MISC Guides</a>
                        </li>
                        <li>
                            <a href="/Guides/terminology.htm" style="color:#9A9899;"><i class="fa fa-list" style="color:#707C34;"></i> Terminology</a>
                        </li>
                        <li>
                            <a href="http://wiki.gridcoin.us/FAQ" style="color:#9A9899;"><i class="fa fa-question" style="color:#707C34;"></i> GRC FAQ</a>
                        </li>
                        <!-- -->
                        <li role="presentation" style="color:white; margin-left:10px;">Gridcoin Community</li>
                        <li>
                            <a href="mailto:contact@gridcoin.us" style="color:#9A9899;">
                                <i class="fa  fa-envelope-o" style="color:#707C34;"></i> Contact Us
                            </a>
                        </li>
                        <li>
                            <a href="https://cryptocointalk.com/forum/464-gridcoin-grc/" style="color:#9A9899;">
                                <i class="fa fa-users" style="color:#707C34;"></i> Forum
                            </a>
                        </li>
                        <li>
                            <a href="https://www.fb.com/gridcoins" style="color:#9A9899;">
                                <i class="fa fa-facebook" style="color:#707C34;"></i> Facebook
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/gridcoin/Gridcoin-Research" style="color:#9A9899;">
                                <i class="fa fa-github" style="color:#707C34;"></i> Github
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/GridcoinNetwork" style="color:#9A9899;">
                                <i class="fa fa-twitter" style="color:#707C34;"></i> Twitter
                            </a>
                        </li>
                        <li>
                            <a href="http://www.reddit.com/r/gridcoin" style="color:#9A9899;">
                                <i class="fa fa-reddit" style="color:#707C34;"></i> Reddit
                            </a>
                        </li>
                        <li>
                            <a href="https://steemit.com/active/gridcoin" style="color:#9A9899;">
                                <i class="fa fa-chevron-circle-up" style="color: #707C34;"><span style="color:white;"> Steem</span></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC0Z3uczcC2okYRrLLCZFrMQ" style="color:#9A9899;">
                                <i class="fa fa-youtube" style="color: #707C34;"><span style="color:white;"> YouTube</span></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://soundcloud.com/gridcoin-community-hangouts/" style="color:#9A9899;">
                                <i class="fa fa-soundcloud" style="color: #707C34;"><span style="color:white;"> SoundCloud</span></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://wiki.gridcoin.us/Main_Page" style="color:#9A9899;"><i class="fa fa-wikipedia-w" style="color:#707C34;"></i> Gridcoin Wiki</a>
                        </li>
                        <li role="presentation" style="color:white; margin-left:10px;">BOINC Community</li>
                        <li>
                            <a href="http://formula-boinc.org/" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> Formula BOINC</a>
                        </li>
                        <li>
                            <a href="http://uotd.org/" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> User of the Day</a>
                        </li>
                        <li>
                            <a href="https://boinc.berkeley.edu/dev/" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> BOINC Forum</a>
                        </li>
                        <li>
                            <a href="http://hardforum.com/index.php" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> [H]ard|Forum</a>
                        </li>
                        <li>
                            <a href="http://www.rechenkraft.net/" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> Rechenkraft.net</a>
                        </li>
                        <li>
                            <a href="http://desktopgridfederation.org/" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> IDGF</a>
                        </li>
                        <li>
                            <a href="http://www.seti-germany.de/" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> Seti-Germany</a>
                        </li>
                        <li>
                            <a href="http://www.setiusa.us" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> SETI.USA</a>
                        </li>
                        <li role="presentation" style="color:white; margin-left:10px;">IRC</li>
                        <li>
                            <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin" style="color:#9A9899;"><i class="fa fa-slack" style="color:#707C34;"></i>Gridcoin</a>
                        </li>
                        <li>
                            <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-help" style="color:#9A9899;"><i class="fa fa-slack" style="color:#707C34;"></i>Gridcoin-help</a>
                        </li>
                        <li>
                            <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-german" style="color:#9A9899;"><i class="fa fa-slack" style="color:#707C34;"></i>Gridcoin-german</a>
                        </li>
                        <li>
                            <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-irpg" style="color:#9A9899;"><i class="fa fa-slack" style="color:#707C34;"></i>Gridcoin-irpg</a>
                        </li>
                        <li>
                            <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#BOINC" style="color:#9A9899;"><i class="fa fa-slack" style="color:#707C34;"></i>BOINC</a>
                        </li>
                        <!-- -->
                        <li role="presentation" style="color:white; margin-left:10px;">Exchanges</li>
                        <li>
                            <a href="https://holytransaction.com/" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> HolyTransactions</a>
                        </li>
                        <li>
                            <a href="https://poloniex.com/exchange/btc_grc" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> Poloniex</a>
                        </li>
                        <li>
                            <a href="https://c-cex.com/?p=grc-btc" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> C-Cex</a>
                        </li>
                        <li>
                            <a href="https://bittrex.com/Market/Index?MarketName=BTC-GRC" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> Bittrex</a>
                        </li>
                        <li>
                            <a href="https://bitsquare.io/" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> Bitsquare</a>
                        </li>
                        <li>
                            <a href="https://bitshares.openledger.info/#/market/OPEN.GRC_OPEN.BTC" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> OpenLedger</a>
                        </li>
                        <li>
                            <a href="https://bit.btsabc.org/#/market/OPEN.GRC_OPEN.BTC" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> BTSABC</a>
                        </li>
                        <li>
                            <a href="https://btsbots.com/a/OPEN.GRC" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> BTSBOTS</a>
                        </li>
                        <li>
                            <a href="https://bitshares.org/" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> Bitshares-Light</a>
                        </li>
                        <li role="presentation" style="color:white; margin-left:10px;">Exchange Stats</li>
                        <li>
                            <a href="http://coinmarketcap.com/currencies/gridcoin/" style="color:#9A9899;"><i class="fa fa-line-chart" style="color:#707C34;"></i> Coinmarketcap</a>
                        </li>
                        <li>
                            <a href="https://www.coingecko.com/en/coins/gridcoin-research" style="color:#9A9899;"><i class="fa fa-line-chart" style="color:#707C34;"></i> CoinGecko</a>
                        </li>
                        <li>
                            <a href="http://www.coincap.io/GRC" style="color:#9A9899;"><i class="fa fa-line-chart" style="color:#707C34;"></i> Coincap</a>
                        </li>
                        <li role="presentation" class="dropdown-header" style="color:white;">3rd party wallets</li>
                        <li>
                            <a href="https://www.coinvault.io/" style="color:#9A9899;"><i class="fa fa-line-chart" style="color:#707C34;"></i> Coinvault</a>
                        </li>
                        <li>
                            <a href="https://coinomi.com/" style="color:#9A9899;"><i class="fa fa-line-chart" style="color:#707C34;"></i> Coinomi</a>
                        </li>
                        <li role="presentation" style="color:white; margin-left:10px;">Team Stats</li>
                        <li>
                            <a href="http://gridresearchcorp.com/gridcoin/" style="color:#9A9899;"><i class="fa fa-pie-chart" style="color:#707C34;"></i> GridResearchCorp</a>
                        </li>
                        <li>
                            <a href="http://boincstats.com/en/stats/-1/team/detail/118094994/projectList" style="color:#9A9899;"><i class="fa fa-pie-chart" style="color:#707C34;"></i> Boincstats</a>
                        </li>
                        <li>
                            <a href="http://www.boinc.netsoft-online.com/e107_plugins/boinc/bp_home.php" style="color:#9A9899;"><i class="fa fa-pie-chart" style="color:#707C34;"></i> Netsoft</a>
                        </li>
                        <li>
                            <a href="http://www.allprojectstats.com/showteam.php?projekt=0&id=1822494" style="color:#9A9899;"><i class="fa fa-pie-chart" style="color:#707C34;"></i> AllProjectStats</a>
                        </li>
                        <li>
                            <a href="http://statsbzh.boinc-af.org/team.php?name=R3JpZGNvaW4=" style="color:#9A9899;"><i class="fa fa-pie-chart" style="color:#707C34;"></i> Setibzh</a>
                        </li>
                        <li role="presentation" style="color:white; margin-left:10px;">Where to spend</li>
                        <li>
                            <a href="https://www.crypto-games.net/" style="color:#9A9899;"><i class="fa fa-gamepad" style="color:#707C34;"></i> Crypto-Games</a>
                        </li>
                        <li>
                            <a href="http://cointopay.com/M_MarketOverview.jsp" style="color:#9A9899;"><i class="fa fa-shopping-cart" style="color:#707C34;"></i> Cointopay Marketplace</a>
                        </li>
                        <li role="presentation" style="color:white; margin-left:10px;">Mining Services</li>
                        <li>
                            <a href="https://www.eobot.com/" style="color:#9A9899;"><i class="fa fa-cogs" style="color:#707C34;"></i> Eobot</a>
                        </li>
                        <li>
                            <img src="/Images/FrontPage/arrow.png" style="width:14px;" alt="->" />
                            <a href="https://blockpay.ch/" style="color:white;">BlockPay</a>
                        </li>
                        <!-- -->
                        <li role="presentation" style="color:white; margin-left:10px;">Publications</li>
                        <li>
                            <a href="/Community/ProjectPublications.htm" style="color:#9A9899;"><i class="fa fa-file-text-o" style="color:#707C34;"></i> Project publications</a>
                        </li>
                        <li>
                            <a href="/Community/BoincPublications.htm" style="color:#9A9899;"><i class="fa fa-file-text-o" style="color:#707C34;"></i> BOINC publications</a>
                        </li>
                        <li>
                            <a href="http://wiki.gridcoin.us/Main_Page" style="color:#9A9899;"><i class="fa fa-wikipedia-w" style="color:#707C34;"></i> Gridcoin Wiki</a>
                        </li>
                        <li role="presentation" style="color:white; margin-left:10px;">Development</li>
                        <li>
                            <a href="/Dev/grcdevtest.htm" style="color:#9A9899;"><i class="fa fa-code" style="color:#707C34;"></i> GRC Dev/Testing</a>
                        </li>
                        <li>
                            <a href="/Dev/boincdevtest.htm" style="color:#9A9899;"><i class="fa fa-code" style="color:#707C34;"></i> BOINC Dev/Testing</a>
                        </li>
                        <li>
                            <a href="/Dev/daemon-cmd.htm" style="color:#9A9899;"><i class="fa fa-code" style="color:#707C34;"></i> Daemon CMD's</a>
                        </li>
                        <li>
                            <a href="/index.htm#Downloads" style="color:#9A9899;">
                                <i class="fa fa-download" style="color:#707C34;"></i> Wallet Downloads
                            </a>
                        </li>
                        <!-- -->
                        <li role="presentation" style="color:white; margin-left:10px;">Tools</li>
                        <li>
                            <a href="/Guides/3rdpartyapps.htm" style="color:#9A9899;"><i class="fa fa-wrench" style="color:#707C34;"></i> 3rd Party BOINC Apps</a>
                        </li>
                        <li>
                            <a href="http://signature.statseb.fr/" style="color:#9A9899;"><i class="fa fa-wrench" style="color:#707C34;"></i> Forum Signatures</a>
                        </li>
                        <li style="margin-right:35%; margin-top:10px;"><button type="button" class="btn btn-default navbar-toggle btn-xs btn-inverse"></button></li>
                    </ul>
                    <!--/Menu for xs devices-->
                </div>
            </nav>
        </div>
    </div>
</header>