<section class="grc-bgcolor mt-5 pt-5" data-background-color="black">
    <div class="container">
        <div class="row">           
            <div class="col-12">
                <h1 class="font-weight-bold">How can I participate?</h1>
                <p>
                    You can participate as either a miner or an investor.
                </p>
                <ul>
                    <li>
                        <strong>Miners</strong> earn Gridcoin by participating in approved, whitelisted BOINC projects. To redeem their rewards, miners must stake blocks.
                        <ul>
                            <li>
                                <strong>Solo Miners</strong> stake blocks on their own, which typically requires a balance of at least 5000 GRC.
                            </li>
                            <li>
                                <strong>Pool Miners</strong> avoid this initial investment by letting a third party (the pool) stake blocks on their behalf.
                                Pool mining is recommended for new users with a low initial balance.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Investors</strong> own Gridcoin but do not participate in BOINC mining. By using their balances to stake blocks, investors help secure the network and are rewarded 10 GRC per block.
                    </li>
                </ul>
            </div>

            <div class="col-12 text-center">
                <table class="table table-sm table-dark table-hover table-striped table-bordered">
                    <thead>
                        <tr class="d-none d-sm-table-row">
                            <th>
                            </th>
                            <th>
                                Solo
                            </th>
                            <th>
                                Pool
                            </th>
                            <th>
                                Investor
                            </th>
                        </tr>
                        <tr class="d-table-row d-sm-none">
                            <th>
                            </th>
                            <th>
                                Solo
                            </th>
                            <th>
                                Pool
                            </th>
                            <th>
                                POS
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                BOINC rewards
                            </td>
                            <td>
                                ✔️
                            </td>
                            <td>
                                ✔️
                            </td>
                            <td>
                                ❌
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Constant Block Rewards
                            </td>
                            <td>
                                ✔️
                            </td>
                            <td>
                                ❌
                            </td>
                            <td>
                                ✔️
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Secures network
                            </td>
                            <td>
                                ✔️
                            </td>
                            <td>
                                ❌
                            </td>
                            <td>
                                ✔️
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Decentralized
                            </td>
                            <td>
                                ✔️
                            </td>
                            <td>
                                ❌
                            </td>
                            <td>
                                ✔️
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ability to vote
                            </td>
                            <td>
                                ✔️
                            </td>
                            <td>
                                ❌
                            </td>
                            <td>
                                ✔️
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Keep 100% of Rewards
                            </td>
                            <td>
                                ✔️
                            </td>
                            <td>
                                ❌
                            </td>
                            <td>
                                ✔️
                            </td>
                        </tr>
                        <tr>
                            <td>
                                No upfront investment
                            </td>
                            <td>
                                ❌
                            </td>
                            <td>
                                ✔️
                            </td>
                            <td>
                                ❌
                            </td>
                        </tr>
                        <tr class="d-none d-sm-table-row">
                            <td>
                                BOINC Leaderboards
                            </td>
                            <td>
                                BOINCstats, Gridcoinstats &amp; others
                            </td>
                            <td>
                                Pool only
                            </td>
                            <td>
                                Gridcoinstats
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-12 d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                        <a class="page-link" href="/guide/welcome.htm">Back</a>
                        </li>
                        <li class="page-item "><a class="page-link font-weight-bold" href="#"><button class="btn btn-sm btn-round">&bull;</button></a></li>
                        <li class="page-item active"><a class="page-link font-weight-bold" href="#"><button class="btn btn-sm btn-round">&bull;</button></a></li>
                        <li class="page-item"><a class="page-link font-weight-bold" href="#"><button class="btn btn-sm btn-round">&bull;</button></a></li>
                        <li class="page-item">
                        <a class="page-link" href="/guide/participate.htm">Continue</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>