<section class="grc-bgcolor mt-5 pt-5" data-background-color="black">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <img src="/assets">
            </div>
            <div class="col-12">
            <h1 class="font-weight-bold">Welcome to Gridcoin!</h1>
            <p>
                Gridcoin was officially launched October 16, 2013 by its pseudonmy developer Rob Halförd. Like most cryptocurrencies, Gridcoin works without the intervention of a third party organization.
            </p>
            <p>
                There was a change from the original Gridcoin protocal (Gridcoin-Classic) to Gridcoin-Research, the "actual Gridcoin" on October 11, 2014.
                Gridcoin-Classic used a hybrid Proof-of-work that allowed for the network to be secured with the help of mining sofware alongside POS.
                Comparatively an improvement upon Bitcoin but computational resources were still being wasted.
                The work users were doing from BOINC were only being used to measure a subsidy distributed through the blocks.
            </p>
            <p>
                Gridcoin-Research no longer uses scrypt mining or POW hashing because of how much energy is required to secure the network through these algorithms.
                With the change to Gridcoin-Research, and the DPOR reward system, nearly all of the energy goes to science.
                The compute power to secure the blockchain is minimal, in-contrast.
                In the Distributed-Proof-of-Research reward system, the BOINC work is used to measure the subsidy and provide a unique alternative to classic Proof-of-Work schemes while an adapted Proof-of-Stake system secures the overall network.
            </p>
            <div class="col-12 d-flex justify-content-center">
                <nav aria-label="Guide Pages">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Back</a></li>

                        <li class="page-item d-flex"><span class="btn-sm btn-round grcbtn active"></span></li>
                        <li class="page-item d-flex"><span class="btn-sm btn-round grcbtn"></span></li>
                        <li class="page-item d-flex"><span class="btn-sm btn-round grcbtn"></span></li>

                        <li class="page-item"><a class="page-link" href="/guide/participate.htm">Continue</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>