---
title: "Gridcoin - Step 3: Sync client &amp; acquire Gridcoin"
description: "Step 3 of the solo crunching guide; Informing the user how to sync the client and where to acquire Gridcoins."
---
<section class="guide-menu-top grc-bgcolor" data-background-color="black">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <h5>Step 1</h5>
                <hr />
                <a href="{{ site.baseurl }}/Guides/boinc-install.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                        Setup BOINC &amp; Projects
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <h5>Step 2</h5>
                <hr />
                <a href="{{ site.baseurl }}/Guides/gridcoin-install.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Setup Gridcoin Research Client
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <h5>Step 3</h5>
                <hr />
                <a href="{{ site.baseurl }}/Guides/acquire-grc.htm">
                    <button class="btn btn-success" id="Guide-Button">
                    Sync client &amp; Acquire Gridcoin
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <h5>Step 4</h5>
                <hr />
                <a href="{{ site.baseurl }}/Guides/earn-grc.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Earn Gridcoin via POS and DPOR
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

    {% include _acquire.htm %}
    {% include _acquire_details.htm %}

<section class="guide-menu-bot grc-bgcolor" data-background-color="black">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <h5>Step 1</h5>
                <hr />
                <a href="{{ site.baseurl }}/Guides/boinc-install.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                        Setup BOINC &amp; Projects
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <h5>Step 2</h5>
                <hr />
                <a href="{{ site.baseurl }}/Guides/gridcoin-install.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Setup Gridcoin Research Client
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <h5>Step 3</h5>
                <hr />
                <a href="{{ site.baseurl }}/Guides/acquire-grc.htm">
                    <button class="btn btn-success" id="Guide-Button">
                    Sync client &amp; Acquire Gridcoin
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <h5>Step 4</h5>
                <hr />
                <a href="{{ site.baseurl }}/Guides/earn-grc.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Earn Gridcoin via POS and DPOR
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
