---
title: "Gridcoin - Step 1: BOINC Installation"
description: "Step 1 of the solo crunching guide; Introducing the user to BOINC, instructing them how to install the BOINC client then join BOINC projects."
redirect_from:
  - "/Guides/boinc-install.htm"
---
<section class="guide-menu-top grc-bgcolor">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <h5>Step 1</h5>
                <hr />
                <a href="/Guides/boinc-install.htm">
                    <button class="btn btn-success" id="Guide-Button">
                        Setup BOINC &amp; Projects
                    </button>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <h5>Step 2</h5>
                <hr />
                <a href="/Guides/gridcoin-install.htm">
                    <button class="btn btn-secondary" id="Guide-Button">
                    Setup Gridcoin Research Client
                    </button>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <h5>Step 3</h5>
                <hr />
                <a href="/Guides/acquire-grc.htm">
                    <button class="btn btn-secondary" id="Guide-Button">
                    Sync client &amp; Acquire Gridcoin
                    </button>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <h5>Step 4</h5>
                <hr />
                <a href="/Guides/earn-grc.htm">
                    <button class="btn btn-secondary" id="Guide-Button">
                    Earn Gridcoin via POS and DPOR
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

{% include _solo_boinc_intro.htm %}
{% include _boinc_1C.htm %}
{% include _boinc_1B.htm %}

<section class="guide-menu-bot grc-bgcolor">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <h5>Step 1</h5>
                <hr />
                <a href="/Guides/boinc-install.htm">
                    <button class="btn btn-success" id="Guide-Button">
                        Setup BOINC &amp; Projects
                    </button>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <h5>Step 2</h5>
                <hr />
                <a href="/Guides/gridcoin-install.htm">
                    <button class="btn btn-secondary" id="Guide-Button">
                    Setup Gridcoin Research Client
                    </button>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <h5>Step 3</h5>
                <hr />
                <a href="/Guides/acquire-grc.htm">
                    <button class="btn btn-secondary" id="Guide-Button">
                    Sync client &amp; Acquire Gridcoin
                    </button>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <h5>Step 4</h5>
                <hr />
                <a href="/Guides/earn-grc.htm">
                    <button class="btn btn-secondary" id="Guide-Button">
                    Earn Gridcoin via PoS and DPOR
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
