---
title: "Gridcoin - Step 2: Acquire Gridcoin"
description: "Step 2 of the 'Acquire Gridcoin' guide; Informing users where they can aquire Gridcoin."
---
<section class="guide-menu-top grc-bgcolor" data-background-color="black">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <h5>Step 1</h5>
                <hr />
                <a href="/Guides/investor-gridcoin-setup.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Setup Gridcoin Research Client
                    </button>
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <h5>Step 2</h5>
                <hr />
                <a href="/Guides/investor-acquire-grc.htm">
                    <button class="btn btn-success" id="Guide-Button">
                    Sync client &amp; Acquire Gridcoin
                    </button>
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <h5>Step 3</h5>
                <hr />
                <a href="/Guides/investor-earn-grc.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Earn Gridcoin via POS
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

    <%= partial "/layouts/partials/acquire" %>
    <%= partial "/layouts/partials/acquire_details" %>


<section class="guide-menu-bot grc-bgcolor" data-background-color="black">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <h5>Step 1</h5>
                <hr />
                <a href="/Guides/investor-gridcoin-setup.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Setup Gridcoin Research Client
                    </button>
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <h5>Step 2</h5>
                <hr />
                <a href="/Guides/investor-acquire-grc.htm">
                    <button class="btn btn-success" id="Guide-Button">
                    Sync client &amp; Acquire Gridcoin
                    </button>
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <h5>Step 3</h5>
                <hr />
                <a href="/Guides/investor-earn-grc.htm">
                    <button class="btn btn-simple" id="Guide-Button">
                    Earn Gridcoin via POS
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
