---
title: "Gridcoin - Step 1: BOINC Installation"
description: "Step 1 of the 'Pool Crunching' guide; Instructing users how to install the BOINC client and join a Gridcoin pool."
---
<section class="guide-menu-top grc-bgcolor">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                <h5>Step 1</h5>
                <hr />
                <a href="/Guides/pool.htm">
                    <button class="btn btn-success" id="Guide-Button">
                        Setup BOINC &amp; Join a pool
                    </button>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                <h5 >Step 2</h5>
                <hr />
                <a href="/Guides/pool-gridcoin-install.htm">
                    <button class="btn btn-secondary" id="Guide-Button">
                        Setup Gridcoin Research Client
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

{% include _boinc_1A.htm %}

<section class="grc-bgcolor">
    <!--Start of GRC Feature section-->
    <div class="container">

    <!--First row of features-->
        <!--Step 3 banner-->
        <div class='row'>
            <div class='col-12 text-center' >
                <h4 class="text-bold">
                    Sign up to a Gridcoin pool
                </h4>
            </div>
        </div>
        <!--/Step 3 banner-->
        <!--Step 3 banner-->
        <div class='row'>
            <div class='col-12 col-sm-12 col-md-12 col-lg-12' >
                <h6>
                    There is currently two pools:
                </h6>
                <a href="https://www.grcpool.com/"><button class="btn btn-round grcbtn">GRCPOOL</button></a><br/>
                <a href="https://grc.arikado.ru/"><button class="btn btn-round grcbtn">Arikado Pool</button></a><br/>

                <h6>GRCPOOL has created several video tutorials for new users:</h6>
                <a href="https://www.youtube.com/watch?v=79rTDNjdOf8"><button class="btn btn-round grcbtn">Setup BOINC</button></a>
                <a href="https://www.youtube.com/watch?v=dB-Hmg94E6s"><button class="btn btn-round grcbtn">Android Setup</button></a>
                <a href="https://www.youtube.com/watch?v=FjVjqZnhMZA"><button class="btn btn-round grcbtn">Receive Gridcoin</button></a>
            </div>
        </div>
    </div>
</section>

{% include _boinc_1C.htm %}

<section class="guide-menu-bot grc-bgcolor">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                <h5>Step 1</h5>
                <hr />
                <a href="/Guides/pool.htm">
                    <button class="btn btn-success" id="Guide-Button">
                        Setup BOINC &amp; Join a pool
                    </button>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                <h5>Step 2</h5>
                <hr />
                <a href="/Guides/pool-gridcoin-install.htm">
                    <button class="btn btn-secondary" id="Guide-Button">
                        Setup Gridcoin Research Client
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
