---
title: "Gridcoin - Project Whitelist"
description: "The Gridcoin whitelist is a list of community-approved BOINC projects which are applicable for earning Gridcoin."
redirect_from:
  - "/Guides/whitelist.htm"
---
<section class="whitelist grc-bgcolor grclink mb-5">
        <!--Start of GRC Feature section-->
        <!--First row of features-->
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <h5>Whitelist justification</h5>
                    <p>The whitelist was created to increase security and to focus user's resources on active projects.</p>

                    <h5>Discussion</h5>
                    <p><a href="https://cryptocurrencytalk.com/topic/29841-discussion-boinc-whitelist-monitoring/">CCT Whitelist thread</a></p>
                    <p><a href="https://cryptocurrencytalk.com/forum/2436-projects/">Projects subforum</a></p>
                </div>

                <div class="col-12 col-sm-8">
                    <h5>Please note:</h5>
                    <p>You will only be rewarded Gridcoin for whitelisted BOINC projects.</p>
                    <p>Any BOINC work done outside of the whitelisted BOINC projects will not be rewarded Gridcoin.</p>
                    <p>Want a project whitelisted? <a href="https://cryptocurrencytalk.com/forum/2436-projects/">Create a thread about it</a>! More details about adding a project to the whitelist can be found <a href="https://github.com/gridcoin-community/Gridcoin-Tasks/issues/227">here</a> on section 7</p>
                    <p>You can check whitelisted project details on <a href="https://gridcoinstats.eu/project">Gridcoinstats</a>.</p>
                    <p>The whitelist is verifiable on the wallet on the projects tab on the beacon menu or with the <code>listprojects</code> command</p>
                </div>
            </div>
        </div>
        <!--/Second row of features-->
        <div class="container">
            <div class="row">
                <div class='col-12 text-center'>
                    <h3>Greylist</h3>
                    <p>When projects are running out of work or are offline for temporary maintenance they are placed on the Greylist.  These projects will not reward Gridcoin until they meet the requirements to be placed back on the whitelist again.  Please see various social media (Twitter, Facebook, Reddit, Slack) for notices about greylisted projects.</p>
                    <p>Please see <a href="https://gridcoin.ddns.net/pages/project-list.php">This unofficial Gridcoin greylist monitoring website</a> for daily updates on which projects are added and removed from the Greylist.</p>
                    <p><a href="https://gridcoin.ddns.net/pages/project-list-process.php">This document</a> outlines the Greylist procedure for all whitelisted projects.</p>
                </div>
            </div>
        </div>
        <!--End of GRC Feature Section-->
</section>

<section class="whitelist-2 text-center">
    <h2 class="mb-2 anchor-adjust" id="projects">Whitelisted Projects</h2>
    <div class="mb-4">There are a total of {{ site.data.whitelist.projects.size }} projects whitelisted. Note that some could currently be on the greylist</div>
    <!-- BOINC Content -->
    <div class="container">
        <div class="row text-center">
            <div class="col-12 d-none d-md-block">
                <table class="table table-sm table-dark table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Project
                            </th>
                            <th>
                                Goal
                            </th>
                            <th>
                                Sponsor
                            </th>
                            <th>
                                CPU
                            </th>
                            <th>
                                GPU
                            </th>
                            <th>
                                Team
                            </th>
                            <th>
                                Stats
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in site.data.whitelist.projects %}
                            <tr>
                                <td>
                                    <a href="{{ project.link }}">{{ project.name }}</a>
                                </td>
                                <td>
                                    {{ project.goal }}
                                </td>
                                <td>
                                    {{ project.sponsor }}
                                </td>
                                <td class="table-color-{{project.cpu}}">{% comment %} uses either table-color-yes or table-color-no for the class (green or red coloring) {% endcomment %}
                                    {% if project.cpu == "yes" %}
                                      ✔️
                                    {% else %}
                                      ❌
                                    {% endif %}
                                </td>
                                <td class="table-color-{{project.gpu}}">
                                    {% if project.gpu == "yes" %}
                                      ✔️
                                    {% else %}
                                      ❌
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ project.team }}" title="Gridcoin Team Link">📊</a>
                                </td>
                                <td>
                                    <a href="{{ project.stats }}" title="Project stats">📈</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-12 d-none d-sm-block d-md-none">
                <table class="table table-sm table-dark table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Project
                            </th>
                            <th>
                                Sponsor
                            </th>
                            <th>
                                CPU
                            </th>
                            <th>
                                GPU
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in site.data.whitelist.projects %}
                            <tr>
                                <td>
                                    <a href="{{ project.link }}">{{ project.name }}</a>
                                </td>
                                <td>
                                    {{ project.sponsor }}
                                </td>
                                <td class="table-color-{{project.cpu}}"> 
                                    {% if project.cpu == "yes" %}
                                      ✔️
                                    {% else %}
                                      ❌
                                    {% endif %}
                                </td>
                                <td class="table-color-{{project.gpu}}">
                                    {% if project.gpu == "yes" %}
                                      ✔️
                                    {% else %}
                                      ❌
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-12 d-sm-none">
                <table class="table table-sm table-dark table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Project
                            </th>
                            <th>
                                CPU
                            </th>
                            <th>
                                GPU
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in site.data.whitelist.projects %}
                            <tr>
                                <td>
                                    <a href="{{ project.link }}">{{ project.name }}</a>
                                </td>
                                <td class="table-color-{{project.cpu}}">
                                    {% if project.cpu == "yes" %}
                                      ✔️
                                    {% else %}
                                      ❌
                                    {% endif %}
                                </td>
                                <td class="table-color-{{project.gpu}}">
                                    {% if project.gpu == "yes" %}
                                      ✔️
                                    {% else %}
                                      ❌
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>