---
title: "Gridcoin - BOINC Publications"
layout: layout
---
    <!--Intro-->
    <section data-background-color="black" style=" padding-bottom:0px;">
        <div class="container">
            <div class='row'>
                <div class='col-xs-12 text-center'>
                    <h4 style="font-weight:bold;">BOINC Publications</h4>
                </div>
            </div>
        </div>
    </section>
    <!--/Intro-->
    <section data-background-color="black" style="padding-top:10px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4>Papers and talks on BOINC</h4>
                    <p>
                        Here's a <a class="wiki" href="https://boinc.berkeley.edu/trac/wiki/ConferenceList">list of conferences related to volunteer computing</a>.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h5>Talks on video</h5>
                    <ul>
                        <li>
                            <a href="http://boinc.berkeley.edu/talks/ihep_12.pdf">Using volunteered resources for data-intensive computing and storage</a>, Institute for High Energy Physics, Beijing, April 2012.
                        </li>
                        <li>
                            <a class="ext-link" href="http://www.liftconference.com/distributed-computing-distributed-thinking"><span class="icon">​</span>Francois Grey at Lift, Feb 2008</a>
                        </li>
                        <li>
                            <a class="ext-link" href="http://youtube.com/watch?v=GzATbET3g54"><span class="icon">​</span>David Baker talks about Rosetta@home</a>
                        </li>
                        <li>
                            <a class="ext-link" href="http://youtube.com/watch?v=8iSRLIK-x6A"><span class="icon">​</span>David Anderson talks about the origins of BOINC</a> (2006)
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h5 id="Populararticles">Popular articles</h5>
                    <ul>
                        <li>
                            <a href="http://boinc.berkeley.edu/boinc2.pdf">Public Computing: Reconnecting People to Science</a>. David P. Anderson. Conference on Shared Knowledge and the Web. Residencia de Estudiantes, Madrid, Spain, Nov. 17-19 2003. (A paper about BOINC's goals. Also available in <a href="http://boinc.berkeley.edu/madrid.html">HTML</a>, <a class="ext-link" href="http://www.seti.nl/content.php?c=boinc_berkeley_madrid"><span class="icon">​</span>HTML/Dutch</a>.
                        </li>
                        <li>
                            <a href="http://boinc.berkeley.edu/distributing_science_final.pdf">Distributing Science</a>, by D. Carroll, C. Rahmlow, T. Psiaki, and G. Wojtaszczyk, July 2005.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h5 id="Books">Books</h5>
                    <ul>
                        <li>
                            C.B. Ries, <a class="ext-link" href="http://www.springer.com/computer/swe/book/978-3-642-23382-1"><span class="icon">​</span>BOINC - Hochleistungsrechnen mit Berkeley Open Infrastructure for Network Computing</a>, Berlin Heidelberg: Springer-Verlag, ISBN: 978-3-642-23282
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h5 id="PhDThesis">PhD Thesis</h5>
                    <ul>
                        <li>
                            C.B. Ries <a class="ext-link" href="http://christianbenjaminries.de/dissertation/PhD-Thesis-Christian_Benjamin_Ries-2013.pdf"><span class="icon">​</span>UML for BOINC: A Modelling Language Approach for the Development of Distributed Applications based on the Berkeley Open Infrastructure for Network Computing</a>, Ph.D. dissertation, Glyndŵr University of Wales (UK), Department of Computing (approx. 12 MB, pdf)
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h5 id="TechnicalpapersinvolvingBOINC">Technical papers involving BOINC</h5>
                    <ul>
                        <li>
                            C.B. Ries and V. Grout, <a class="ext-link" href="http://christianbenjaminries.de/research/2013SCSE.pdf"><span class="icon">​</span>Code Generation Approaches for an Automatic Transformation of the Unified Modeling Language to the Berkeley Open Infrastructure for Network Computing Framework</a>, in Proc. International Conference on Soft Computing and Software Engineering (SCSE'13), San Francisco (USA): SF State University
                        </li>
                        <li>
                            C.B. Ries, C. Schröder, and V. Grout, <a class="ext-link" href="http://christianbenjaminries.de/research/Approach-of-Ries.pdf"><span class="icon">​</span>Model-based Generation of Workunits, Computation Sequences, Series and Service Interfaces for BOINC based Projects</a>, in Proc. International Conference on Software Engineering Research and Practice (SERP'12), part of WORLDCOMP'12, USA, Las Vegas, July, 2012
                        </li>
                        <li>
                            C.B. Ries, C. Schröder, and V. Grout, <a class="ext-link" href="http://www.christianbenjaminries.de/research/Approach-of-Ries.pdf"><span class="icon">​</span>A UML Profile for the Berkeley Open Infrastructure for Network Computing (BOINC)</a>, in Proc. IEEE Conference on  Computer Applications and Industrial Electronics (ICCAIE 2011), Malaysia, Penang, December, 2011
                        </li>
                        <li>
                            C.B. Ries, C. Schröder, and V. Grout, <a class="ext-link" href="http://www.christianbenjaminries.de/research/SEIN2011.pdf"><span class="icon">​</span>Generation of an Integrated Development Environment (IDE) for Berkeley Open Infrastructure for Network Computing (BOINC)</a>, in Proc. Seventh Collaborative Research Symposium on Security,  E-learning, Internet and Networking (SEIN 2011), Germany, Furtwangen,  October, 2011
                        </li>
                        <li>
                            <a class="ext-link" href="http://www.christianbenjaminries.de/research/Ries-IMCSIT2010.pdf"><span class="icon">​</span>A Modeling Language Approach for the Abstraction of the Berkeley Open Infrastructure for Network Computing (BOINC) Framework</a>, Christian Benjamin Ries, Thomas Hilbig, and Christian Schröder, in Proc. IEEE International Multiconference on Computer Science and Information Technology (IMCSIT), Poland, Wisla, October, 2010
                        </li>
                        <li>
                            <a class="ext-link" href="http://hal.archives-ouvertes.fr/docs/00/53/89/32/PDF/model_synth.pdf"><span class="icon">​</span>Correlated Resource Models of Internet End Hosts</a> Eric Heien, Derrick Kondo, David P. Anderson.  31st International Conference on Distributed Computing Systems (ICDCS), Minneapolis, Minnesota, USA, 2011.
                        </li>
                        <li>
                            <a class="ext-link" href="http://christianbenjaminries.de/research/PAPER-COMSOL_Conference_2010-Ries-Schroeder.pdf"><span class="icon">​</span>ComsolGrid - A framework for performing large-scale parameter studies using Comsol Multiphysics and Berkeley Open Infrastructure for Network Computing (BOINC)</a>. Christian Benjamin Ries and Christian Schröder, COMSOL Multiphysics Conference, Proceedings of the COMSOL Conference, ISBN: 978-0-9825697-6-4, France, Paris, 2010
                        </li>
                        <li>
                            <a class="ext-link" href="http://mescal.imag.fr/membres/derrick.kondo/pubs/javadi_tpds10.pdf"><span class="icon">​</span>Discovering Statistical Models of Availability in Large Distributed Systems: An Empirical Study of SETI@home.</a> Bahman Javadi, Derrick Kondo, Jean-Marc Vincent, David P. Anderson. IEEE Transactions on Parallel and Distributed Computing.
                        </li>
                        <li>
                            Oded Nov, Ofer Arazy, and David P. Anderson. Crowdsourcing for science: understanding and enhancing SciSourcing contribution. The Changing Dynamics of Scientific Collaborations, workshop at CSCW 2010, Savannah GA, Feb. 7 2010.
                        </li>
                        <li>
                            <a class="ext-link" href="http://mescal.imag.fr/membres/derrick.kondo/pubs/andrzejak_noms10.pdf"><span class="icon">​</span>Exploiting Non-Dedicated Resources for Cloud Computing</a>. Artur Andrzejak, Derrick Kondo and David P. Anderson. To appear in the 12th IEEE/IFIP Network Operations &amp; Management Symposium (NOMS 2010), Osaka, Japan April 19-23, 2010.
                        </li>
                        <li>
                            A Communication Framework for Fault-tolerant Parallel Execution.  Nagarajan Kanna, Jaspal Subhlok, Edgar Gabriel, Eshwar Rohit and David Anderson.  The 22nd International Workshop on Languages and Compilers for Parallel Computing, Newark, Delaware, Oct 8-10 2009.
                        </li>
                        <li>
                            <a href="http://boinc.berkeley.edu/heien_09.pdf">Computing Low Latency Batches with Unreliable Workers in Volunteer Computing Environments</a>. Eric M. Heien, David P. Anderson, and Kenichi Hagihara. To appear, Journal of Grid Computing.
                        </li>
                        <li>
                            <a href="http://boinc.berkeley.edu/estrada_09.pdf">Performance Prediction and Analysis of BOINC Projects: An Empirical Study with EmBOINC</a>.  Trilce Estrada, Michela Taufer, David Anderson. To appear, Journal of Grid Computing.
                        </li>
                        <li>
                            <a class="ext-link" href="http://mescal.imag.fr/membres/derrick.kondo/pubs/javadi_mascots09.pdf"><span class="icon">​</span>Mining for Statistical Models of Availability in Large-Scale Distributed Systems: An Empirical Study of SETI@home.</a> Bahman Javadi, Derrick Kondo, Jean-Marc Vincent, David P. Anderson. 17th Annual Meeting of the IEEE/ACM International Symposium on Modelling, Analysis and Simulation of Computer and Telecommunication Systems, Sept 21-23 2009, London.
                        </li>
                        <li>
                            <a class="ext-link" href="http://gcl.cis.udel.edu/publications/conferences/009ICCS/paper.pdf"><span class="icon">​</span>Balancing Scientist Needs and Volunteer Preferences in Volunteer Computing Using Constraint Optimization</a>.  James Atlas, Trilce Estrada, Keith Decker, Michela Taufer. ICCS 2009.
                        </li>
                        <li>
                            <a class="ext-link" href="http://mescal.imag.fr/membres/derrick.kondo/pubs/kondo_hcw09.pdf"><span class="icon">​</span>Cost-Benefit Analysis of Cloud Computing versus Desktop Grids</a>.  Derrick Kondo, Bahman Javadi, Paul Malecot, Franck Cappello and David Anderson.  18th International Heterogeneity in Computing Workshop, May 25 2009, Rome.
                        </li>
                        <li>
                            EmBOINC: An Emulator for Performace Analysis of BOINC Projects.  Trilce Estrada, Michela Taufer, Kevin Reed, David Anderson. 3rd Workshop on Desktop Grids and Volunteer Computing Systems (PCGrid 2009), May 29, 2009, Rome.
                        </li>
                        <li>
                            <a href="http://boinc.berkeley.edu/boinc_papers/hicss_08/hicss_08.pdf">Celebrating Diversity in Volunteer Computing</a>.  David P. Anderson and Kevin Reed.  Hawaii International Conference on System Sciences (HICSS), January 5-8, 2009. (Best Paper award)
                        </li>
                        <li>
                            <a href="http://boinc.berkeley.edu/boinc_papers/dsom08.pdf">Ensuring Collective Availability in Volatile Resource Pools via Forecasting</a>.  Artur Andrzejak, Derrick Kondo, and David P. Anderson.  19th IFIP/IEEE International Workshop on Distributed Systems: Operations and Management (DSOM 2008), Samos Island, Greece, September 22-26, 2008.
                        </li>
                        <li>
                            <a href="http://boinc.berkeley.edu/boinc_papers/grid08.pdf">On Correlated Availability in Internet-Distributed Systems</a>.  Derrick Kondo, Artur Andrzejak, and David P. Anderson.   9th IEEE/ACM International Conference on Grid Computing (Grid 2008), Tsukuba, Japan, Sept 29 - Oct 1 2008.
                        </li>
                        <li>
                            <a href="http://boinc.berkeley.edu/boinc_papers/client_sch_eval/client_sch_eval.pdf">Performance Evaluation of Scheduling Policies for Volunteer Computing</a>. Derrick Kondo, David P. Anderson and John McLeod VII. 3rd IEEE International Conference on e-Science and Grid Computing.  Banagalore, India, December 10-13 2007.
                        </li>
                        <li>
                            <a href="http://boinc.berkeley.edu/boinc_papers/sched/paper.pdf">Local Scheduling for Volunteer Computing</a>. David P. Anderson and John McLeod VII. Workshop on Large-Scale, Volatile Desktop Grids (PCGrid 2007) held in conjunction with the IEEE International Parallel &amp; Distributed Processing Symposium (IPDPS), March 30, 2007, Long Beach.
                        </li>
                        <li>
                            <a href="http://boinc.berkeley.edu/boinc_papers/api/text.pdf">Designing a Runtime System for Volunteer Computing</a>. David P. Anderson, Carl Christensen and Bruce Allen. Supercomputing '06 (The International Conference for High Performance Computing, Networking, Storage and Analysis), Tampa, November 2006.
                        </li>
                        <li>
                            <a class="ext-link" href="http://gcl.cis.udel.edu/publications/conferences/006escience_testrada.pdf"><span class="icon">​</span>The Effectiveness of Threshold-Based Scheduling Policies in BOINC Projects</a>.  Trilce Estrada, David A. Flores, Michela Taufer, Patricia J. Teller, Andre Kerstens, David P. Anderson. Second IEEE International Conference on e-Science and Grid Computing (e-Science'06), p. 88.
                        </li>
                        <li>
                            <a href="http://boinc.berkeley.edu/boinc_papers/internet/paper.pdf">The Computational and Storage Potential of Volunteer Computing</a>. David P. Anderson and Gilles Fedak IEEE/ACM International Symposium on Cluster Computing and the Grid, Singapore, May 16-19, 2006.
                        </li>
                        <li>
                            <a href="http://boinc.berkeley.edu/boinc_papers/server_perf/server_perf.pdf">High-Performance Task Distribution for Volunteer Computing</a>. David P. Anderson, Eric Korpela, Rom Walton First IEEE International Conference on e-Science and Grid Technologies. 5-8 December 2005, Melbourne
                        </li>
                        <li>
                            <a class="ext-link" href="http://gcl.cis.udel.edu/publications/conferences/005hcw_mtaufer.pdf"><span class="icon">​</span>Homogeneous Redundancy: a Technique to Ensure Integrity of Molecular Simulation Results Using Public Computing</a>. M. Taufer, D. Anderson, P. Cicotti, C.L. Brooks III. From 19th IEEE International Parallel and Distributed Processing Symposium (IPDPS'05) Heterogeneous Computing Workshop. April 4 2005, Denver CO.
                        </li>
                        <li>
                            <a class="ext-link" href="http://www.fatbat.dk/thesis/"><span class="icon">​</span>Developing Distributed Computing Solutions Combining Grid Computing and Public Computing</a>. Jakob Gregor Pedersen &amp; Christian Ulrik Søttrup. Master's thesis from University of Copenhagen. March 2005. (Describes tools for transparently moving jobs between Condor and BOINC.)
                        </li>
                        <li>
                            Distributed MD4 Password Hashing with Grid Computing Package BOINC.  Stephen Pellicer, Yi Pan and Minyi Guo.  Grid and Cooperative Computing – GCC 2004. Third International Conference Wuhan, China, October 21-24, 2004 Proceedings.
                        </li>
                        <li>
                            <a href="http://boinc.berkeley.edu/grid_paper_04.pdf">BOINC: A System for Public-Resource Computing and Storage</a>. David P. Anderson. 5th IEEE/ACM International Workshop on Grid Computing. November 8, 2004, Pittsburgh, USA.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h5>Project-specific papers</h5>
                    <ul>
                        <li>
                            Science@Duquesne: <a class="ext-link" href="http://dx.doi.org/10.1021%2Fjp806269w"><span class="icon">​</span>Structure of Aqueous Sodium Perchlorate Solutions</a>, Ignacio J. General, Eliana K. Asciutto and Jeffry D. Madura, J. Phys. Chem. B, 2008, 112 (48), pp 15417–15425.
                        </li>
                        <li>
                            <a class="ext-link" href="http://cdsweb.cern.ch/record/1115355"><span class="icon">​</span>Distributed computing and farm management with application to the search for heavy gauge bosons using the ATLAS experiment at the LHC</a>. Lopez-Perez, Juan Antonio.  PhD thesis, Jan. 2008.
                        </li>
                        <li>
                            <span class="icon">​</span>Expanding the reach of Grid computing: combining Globus- and BOINC-based systems.  Myers, D. S., A. L. Bazinet and M. P. Cummings.  2008.  Pages 71-85.  In Talbi, E.-G. and A. Zomaya (Eds.) Grids for Bioinformatics and Computational Biology, Wiley Book Series on Parallel and Distributed Computing.  John Wiley &amp; Sons, New York.
                        </li>
                        <li>
                            <a href="http://boinc.berkeley.edu/Pellicer2005.pdf">Gene Sequence Alignment on a Public Computing Platform</a>.  Stephen Pellicer, Nova Ahmed, Yi Pan, and Yao Zheng. Proceedings of the 2005 International Conference on Parallel Processing Workshops (ICPP@'05), 2005.
                        </li>
                        <li>
                            <span class="icon">​</span>The Challenge of Volunteer Computing With Lengthy Climate Model Simulations. Carl Christensen, Tolu Aina and David Stainforth. First IEEE International Conference on e-Science and Grid Technologies. 5-8 December 2005, Melbourne
                        </li>
                        <li>
                            <span class="icon">​</span>Reporting@Home:  Delivering Dynamic Graphical Feedback to Participants in Community Computing Projects. Stuart Ozer, David E. Kim, David Baker (Microsoft Research Technical report MSR-TR-2007-17).
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!--Start of Boinc Publications-->
                    <h5>Other papers on volunteer computing</h5>
                    <ul>
                        <li>
                            A. Marosi, G. Gombas, Z. Balaton, P. Kacsuk.  <a class="ext-link" href="http://www.coregrid.net/mambo/images/stories/TechnicalReports/tr-0100.pdf"><span class="icon">​</span>SZTAKI Desktop Grid: Building a Scalable, Secure Platform for Desktop Grid Computing</a>.  CoreGRID Technical Report TR-100.
                        </li>
                        <li>
                            M. Taufer, A. Kerstens, T. Estrada, D.A. Flores, and P.J. Teller: SimBA: a Discrete Event Simulator for Performance Prediction of Volunteer Computing Projects. Proceedings of the International Workshop on Principles of Advanced and Distributed Simulation 2007 (PADS'07), June 2007, San Diego, California, USA.
                        </li>
                        <li>
                            M. Taufer, A. Kerstens, T. Estrada, D.A. Flores, R. Zamudio, P.J. Teller, R. Armen, and C.L. Brooks III: <span class="icon">​</span>Moving Volunteer Computing towards Knowledge-Constructed, Dynamically-Adaptive Modeling and Scheduling. Proceedings of the First Workshop on Large-Scale, Volatile Desktop Grids (PCGrid'07), in conjunction with IPDPS'07 March 2007, Long Beach, California, USA.
                        </li>
                        <li>
                            <a class="ext-link" href="http://www.merrimack.edu/~dtoth/papers_and_slides/513-046.pdf"><span class="icon">​</span>SLINC: A Framework for Volunteer Computing</a>, James Baldassari, David Finkel, and David Toth, Proceedings of the 18th IASTED International Conference on Parallel and Distributed Computing and Systems - PDCS 2006, November 13-15, 2006, Dallas, Texas, USA.
                        </li>
                        <li>
                            <a href="http://boinc.berkeley.edu/cieslak.pdf">BOINC on JXTA</a> by Marcin Cieslak (Thesis from Technical University of Wroclaw, Poland).
                        </li>
                        <li>
                            Silaghi, G. , Araujo, F. , Domingues, P. , Silva, L. M. , Arenas, A. <a class="ext-link" href="http://epubs.cclrc.ac.uk/bitstream/2002/PCGrid2008-final.pdf"><span class="icon">​</span>Defeating Colluding Nodes in Desktop Grid Computing Platforms</a>. in Proceedings of the 22nd IPDPS conference, PCGrid2008 workshop, Miami, USA, April 2008.
                        </li>
                        <li>
                            D. Toth <a class="ext-link" href="http://www.merrimack.edu/~dtoth/papers_and_slides/631-005_PDCS_2008.pdf"><span class="icon">​</span>The Impact of Multi-Core Architectures on Task Retrieval Policies for Volunteer Computing</a>. Proceedings of The 20th IASTED International Conference on Parallel and Distributed Computing and Systems - PDCS 2008, November 16-18, 2008, pp. 330-335, Orlando, Florida, USA.
                        </li>
                        <li>
                            D. Toth and D. Finkel <a class="ext-link" href="http://www.merrimack.edu/~dtoth/papers_and_slides/PCGrid_2008.pdf"><span class="icon">​</span>Increasing the Amount of Work Completed by Volunteer Computing Projects with Task Distribution Policies</a>. Proceedings of the 2nd Workshop on Desktop Grids and Volunteer Computing Systems (PCGrid 2008), in conjunction with IPDPS'08, April 18, 2008, Miami, Florida, USA.
                        </li>
                        <li>
                            D. Toth <a class="ext-link" href="http://www.merrimack.edu/~dtoth/papers_and_slides/SEPADS_2007_540-118.pdf"><span class="icon">​</span>Volunteer Computing with Video Game Consoles</a>. Proceedings of the 6th WSEAS International Conference on Software Engineering, Parallel and Distributed Systems (SEPADS 2007), February 16-19, 2007, Corfu, Greece.
                        </li>
                        <li>
                            D. Toth and D. Finkel <a class="ext-link" href="http://www.merrimack.edu/~dtoth/papers_and_slides/SEPADS_2007_540-126.pdf"><span class="icon">​</span>Characterizing Resource Availability for Volunteer Computing and its Impact on Task Distribution Methods</a>. Proceedings of the 6th WSEAS International Conference on Software Engineering, Parallel and Distributed Systems (SEPADS 2007), February 16-19, 2007, Corfu, Greece.
                        </li>
                        <li>
                            D. Toth and D. Finkel.   <a class="ext-link" href="http://www.merrimack.edu/~dtoth/papers_and_slides/pdcs05.pdf"><span class="icon">​</span>A Comparison of Techniques for Distributing File-based Tasks for Public-Resource Computing</a>. Proceedings of The 17th IASTED International Conference on Parallel and Distributed Computing and Systems - PDCS 2005, November 14-16, 2005, pp. 398-403, Phoenix, Arizona, USA.
                        </li>
                        <li>
                            Kan Watanabe, Masaru Fukushi, Susumu Horiguchi. Optimal Spot-checking to minimize the Computation Time in Volunteer Computing. Proceedings of the 22nd IPDPS conference, PCGrid2008 workshop, Miami, USA, April 2008.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End of Boinc Publications-->
    </section>