---
title: "Gridcoin - Project Publications"
description: "A list of scientific papers published by BOINC projects."
---
<!--Intro-->
<section  data-background-color="black" style="padding-bottom: 0px; padding-top:52px; margin-top: 20px;">
    <div class="container">
        <div class='row'>
            <div class='col-xs-12 text-center'>
                <h4 style="font-weight:bold;">Project Publications</h4>
            </div>
        </div>
    </div>
</section>
<!--/Intro-->

<!-- Community links -->
<section  data-background-color="black" style="padding-top:10px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h4>Brief</h4>
                <p>Science research projects typically publish their results in <a href="https://en.wikipedia.org/wiki/Scientific_journals" class="extiw" title="wikipedia:Scientific journals"> scientific journals</a>.</p>
                <p>Preliminary results are often published in <a href="https://en.wikipedia.org/wiki/Scientific_conference" class="extiw" title="wikipedia:Scientific conference"> conferences</a>.</p>
                <p>In the academic world, the scientific contribution of a project is measured largely by the number of its publications, and the prestige of the journals and conferences in which they appear (high-prestige journals include <b>Nature</b>, <b>Science</b>, and <b>PNAS</b>).</p>
                <p>We encourage BOINC volunteers to support projects that make a major scientific contribution.</p>
                <o>Keep in mind that doing research and publishing papers may take several years, so newer projects will naturally have few or no publications.</p>
                <p>The following scientific papers have resulted from BOINC-based projects (this list does not include papers about volunteer computing or about BOINC itself; those are <a rel="nofollow" class="external text" href="http://boinc.berkeley.edu/trac/wiki/BoincPapers">here</a>).</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h5> <span class="mw-headline" id="Climateprediction.net"> <a rel="nofollow" class="external text" href="http://climateprediction.net/">Climateprediction.net</a> </span></h5>
                <ul>
                    <li>
                        James Murphy, David Sexton, David Barnett, Gareth Jones, Mark Webb, Matthew Collins &amp; David Stainforth, Quantification of modelling uncertainties in a large ensemble of climate change simulations, Nature, 430, pp. 768-772, August 2004.
                    </li>
                    <li>
                        D. A. Stainforth, T. Aina, C. Christensen, M. Collins, N. Faull, D. J. Frame, J. A. Kettleborough, S. Knight, A. Martin, J. M. Murphy, C. Piani, D. Sexton, L. A. Smith, R. A. Spicer, A. J. Thorpe &amp; M. R. Allen, Uncertainty in predictions of the climate response to rising levels of greenhouse gases, Nature, 433, pp. 403-406, January 2005.
                    </li>
                    <li>
                        D. J. Frame, B. B. B. Booth, J. A. Kettleborough, D. A. Stainforth, J. M. Gregory, M. Collins, and M. R. Allen, Constraining climate forecasts: The role of prior assumptions, Geophysical Review Letters, 32, May 2005.
                    </li>
                    <li>
                        C. Piani, D. J. Frame, D. A. Stainforth, and M. R. Allen, <a rel="nofollow" class="external text" href="http://www.agu.org/pubs/crossref/2005/2005GL024452.shtml">Constraints on climate change from a multi-thousand member ensemble of simulations</a>, Geophysical Review Letters, 32, December 2005.
                    </li>
                    <li>
                        P. Pall, M.R. Allen, D.A. Stone, <a rel="nofollow" class="external text" href="http://www.springerlink.com/content/7qu6714203652815/">Testing the Clausius-Clapeyron constraint on changes in extreme precipitation under CO2 warming</a>. Climate Dynamics, 23:4, pp. 351-363, August 2006.
                    </li>
                    <li>
                        M. Collins and S. Knight (Eds.),  Ensembles and probabilities: a new era in the prediction of climate change, Phil. Trans. R. Soc. A, Print: 1364-503X, Online: 1471-2962, 2007.
                    </li>
                    <li>
                        C.G. Knight, S.H.E. Knight, N. Massey, T. Aina, C. Christensen, D.J. Frame, J.A. Kettleborough, A. Martin, S. Pascoe, B. Sanderson, D.A. Stainforth, M.R. Allen, <a rel="nofollow" class="external text" href="http://www.pnas.org/cgi/content/abstract/104/30/12259">Association of parameter, software and hardware variation with large scale behavior across 57,000 climate models</a>, PNAS, July 2007.
                    </li>
                    <li>
                        B. M. Sanderson, R. Knutti, T. Aina, C. M. Christensen, N. E. Faull, D. J. Frame, W. J. Ingram, C. Piani, D. A. Stainforth, D. A. Stone and M. R. Allen. Constraints on model response to greenhouse gas forcing and the role of sub-grid scale processes, Journal of Climate, in press, 2007.
                    </li>
                    <li>
                        C. Piani, T. Aina, C. Christensen, D. Frame, N. Faull and M. Allen. <a rel="nofollow" class="external text" href="http://www.agu.org/pubs/crossref/2007/2007JD008712.shtml">Regional probabilistic climate forecasts from a multi-thousand, multi-model ensemble of simulations</a>, Journal of Geophysical Research, accepted, 2007.
                    </li>
                    <li>
                        D. J. Frame, N. E. Faull, M. M. Joshi &amp; M. R. Allen,  <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/sites/entrez?db=pubmed&amp;uid=17580293&amp;cmd=showdetailview&amp;indexed=google">Probabilistic climate forecasts and inductive problems</a>, Philosophical Transactions of the Royal Society A,  2007.
                    </li>
                    <li>
                        D. Ackerley, E. J. Highwood, and D. J. Frame, <a rel="nofollow" class="external text" href="http://www.agu.org/pubs/crossref/2009/2008JD010532.shtml">Quantifying the effects of perturbing the physics of an interactive sulfur scheme using an ensemble of GCMs on the climateprediction.net platform</a>, J. Geophys. Res., 114, D01203, January 2009.
                    </li>
                    <li>
                        D.J. Frame, T. Aina, C.M. Christensen, N. E. Fall, S.H.E. Knight, C. Piani, S.M. Rosier, K. Yamazaki, Y. Yamazaki and M.R. Allen, <a rel="nofollow" class="external text" href="http://dx.doi.org/doi:10.1098/rsta.2008.0240">The climateprediction.net BBC climate change experiment: design of the coupled model ensemble</a>, Philosophical Transactions of The Royal Society A, 367, pp.855-870, 2009.
                    </li>
                    <li>
                        H. Fowler, D. Cooley, S. Sain and M. Thurston, Detecting change in UK extreme precipitation using results from the climateprediction.net BBC climate change experiment, 2010, Extremes DOI 10.1007/s10687-010-0101-y.
                    </li>
                    <li>
                        Pardeep Pall, Tolu Aina, Dáithí A. Stone, Peter A. Stott, Toru Nozawa, Arno G. J. Hilberts, Dag Lohmann, Myles R. Allen. <a rel="nofollow" class="external text" href="http://www.nature.com/nature/journal/v470/n7334/full/nature09762.html">Anthropogenic greenhouse gas contribution to flood risk in England and Wales in autumn 2000</a>. Nature, Volume 470, 382–385 (17 February 2011).
                    </li>
                </ul>
                </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h5> <span class="mw-headline" id="Docking.40home"> Docking@home </span></h5>
                <ul>
                    <li>
                        T. Estrada, R. Armen, and M. Taufer: Automatic Selection of Near-Native Protein-Ligand Conformations using a Hierarchical Clustering and Volunteer Computing. In Proceedings of the International Conference On Bioinformatics and Computational Biology (ACM-BCB), August 2010, Niagara Falls, NY, USA.
                    </li>
                </ul>
                </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h5> <span class="mw-headline" id="Einstein.40Home"> <a rel="nofollow" class="external text" href="http://einstein.phys.uwm.edu/">Einstein@Home</a> </span></h5>
                <ul>
                    <li>
                        Online Report on the S3 Analysis: <a rel="nofollow" class="external free" href="http://einstein.phys.uwm.edu/FinalS3Results">http://einstein.phys.uwm.edu/FinalS3Results</a>
                    </li>
                    <li>
                        Paper on the S4 analysis:  <a rel="nofollow" class="external text" href="http://scitation.aip.org/getabs/servlet/GetabsServlet?prog=normal&amp;id=PRVDAQ000079000002022001000001&amp;idtype=cvips&amp;gifs=yes">Einstein@Home search for periodic gravitational waves in LIGO S4 data</a>, by B. Abbott et al. (the LIGO Scientific Collaboration),  Phys. Rev. D 79, 022001 (2009)
                    </li>
                    <li>
                        Paper on the early S5 analysis:  <a rel="nofollow" class="external text" href="http://scitation.aip.org/getabs/servlet/GetabsServlet?prog=normal&amp;id=PRVDAQ000080000004042003000001&amp;idtype=cvips&amp;gifs=yes">Einstein@Home search for periodic gravitational waves in early S5 LIGO data</a>.  Abbott, B.P. et al. (the LIGO Scientific Collaboration)  Phys. Rev. D 80, 042003 (2009).
                    </li>
                    <li>
                        Paper about the first radio pulsar discovery: <a rel="nofollow" class="external text" href="http://www.sciencemag.org/cgi/rapidpdf/science.1195253v1?ijkey=fUmYrDCDRI/K2&amp;keytype=ref&amp;siteid=sci">Pulsar Discovery by Global Volunteer Computing</a>. B. Knispel, B. Allen, J. M. Cordes, J. S. Deneva, D. Anderson et. al. Science 10 September 2010: Vol. 329. no. 5997, p. 1305
                    </li>
                    <li>
                        Paper about the second radio pulsar discovery: <a rel="nofollow" class="external text" href="http://stacks.iop.org/2041-8205/732/i=1/a=L1">Arecibo PALFA Survey and Einstein@Home: Binary Pulsar Discovery by Volunteer Computing</a>. B. Knispel, P. Lazarus, B. Allen, D. Anderson et. al. Astrophysical Journal Letters 732, p. L1, 2011.
                    </li>
                </ul>
                </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h5> <span class="mw-headline" id="GPUGRID.net"> <a rel="nofollow" class="external text" href="https://www.gpugrid.net/">GPUGRID.net</a> </span></h5>
                <p>
                    All publications with pdfs are available at <a rel="nofollow" class="external free" href="http://multiscalelab.org/Publications">http://multiscalelab.org/Publications</a>
                </p>
                <ul>
                    <li>
                        T. Giorgino and G. De Fabritiis, <a rel="nofollow" class="external text" href="https://www.gpugrid.net/forum_thread.php?id=2523">A high-throughput steered molecular dynamics study on the free energy profile of ion permeation through gramicidin A</a>, in press J. Chem. Theory Comput. (2011).
                    </li>
                    <li>
                        I. Buch, S. K. Sadiq and G. De Fabritiis, <a rel="nofollow" class="external text" href="https://www.gpugrid.net/forum_thread.php?id=2524">Optimized potential of mean force calculations of standard binding free energy</a>, in press J. Chem. Theory Comput. (2011)
                    </li>
                    <li>
                        Ignasi Buch, Toni Giorgino, and G. De Fabritiis, <a rel="nofollow" class="external text" href="https://www.gpugrid.net/forum_thread.php?id=2543">Complete reconstruction of an enzyme-inhibitor binding process by molecular dynamics simulations</a>, PNAS 2011&#160;; published ahead of print June 6, 2011, doi:10.1073/pnas.1103547108
                    </li>
                    <li>
                        I. Buch, M. J. Harvey, T. Giorgino, D. P. Anderson, and G. De Fabritiis. <a rel="nofollow" class="external text" href="http://pubs.acs.org/doi/abs/10.1021/ci900455r">High-Throughput All-Atom Molecular Dynamics Simulations Using Distributed Computing</a>. J. Chem. Inf. Model, March 2010.
                    </li>
                    <li>
                        J. Selent, F. Sanz, M. Pastor and G. De Fabritiis, Induced Effects of Sodium Ions on Dopaminergic G-Protein Coupled Receptors, PLOS Computational Biology, 6, e1000884 (2010) pdf.
                    </li>
                    <li>
                        K. Sadiq and G. De Fabritiis,Explicit solvent dynamics and energetics of HIV-1 protease flap-opening and closing, Proteins 78, 2873 (2010) pdf.
                    </li>
                    <li>
                        G. Giupponi, M. Harvey and G. De Fabritiis, The impact of accelerator processors for high-throughput molecular modeling and simulation. Drug Discovery Today 13, 1052-8 (2008).
                    </li>
                    <li>
                        G. De Fabritiis, P. Coveney and J. Villa-Freixa, Energetics of K+ permeability through Gramicidin A by forward-reverse steered molecular dynamics. Proteins 73, 185-94 (2008).
                    </li>
                    <li>
                        M. Harvey, G. Giupponi, J. Villa-Freixa and G. De Fabritiis, PS3GRID.NET: Building a distributed supercomputer using the PlayStation 3. Distributed &amp; Grid Computing - Science Made Transparent for Everyone. Principles, Applications and Supporting Communities (2007).
                    </li>
                    <li>
                        PS3GRID.NET: A distributed computing environment for molecular simulations on the PlayStation 3. Presentation at the international symposium of biomedical informatics, 26-27 June Barcelona (2007).
                    </li>
                    <li>
                        G. De Fabritiis, Performance of the Cell processor for biomolecular simulations. Comp. Phys. Commun. 176, 660 (2007).
                    </li>
                </ul>
                </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h5> <span class="mw-headline" id="Lattice"> <a rel="nofollow" class="external text" href="http://boinc.umiacs.umd.edu/">Lattice</a> </span></h5>
                <ul>
                    <li>
                        Varadan, R., Assfalg, M., Raasi, S., Pickart, C. &amp; Fushman, D. Structural determinants for selective recognition of a Lys48-linked polyubiquitin chain by a UBA domain. Molecular Cell 18, 687-98 (2005).
                    </li>
                    <li>
                        Grand, J., M. P. Cummings, A. G. Rebelo, T. H. Ricketts, and M. C. Neel. Biased data reduce efficiency and effectiveness of conservation reserve networks. Ecology Letters 10:364-374 (2007).
                    </li>
                    <li>
                        Tishkoff, S. A., Gonder, M. K., Henn, B. M., Mortensen, H., Knight, A., Gignoux, C., Fernandopulle, N., Lema, G., Nyambo, T. B., Ramakrishnan, U., Reed, F. A. &amp; Mountain, J. L. <a rel="nofollow" class="external text" href="http://mbe.oxfordjournals.org/cgi/content/full/24/10/2180">History of click-speaking populations of Africa inferred from mtDNA and Y chromosome genetic variation</a>. Molecular Biology and Evolution 24:2180-2195 (2007).
                    </li>
                    <li>
                        Pettengill, J. B., &amp; M. C. Neel. 2008. <a rel="nofollow" class="external text" href="http://www.biomedcentral.com/1471-2148/8/264">Phylogenetic patterns and conservation among North American members of the genus <i>Agalinis</i> (Orobanchaceae)</a>. BMC Evolutionary Biology 8:264.
                    </li>
                    <li>
                        Regier, J. C., Zwick, A., Cummings, M. P., Kawahara, A. Y., Cho, S., Weller, S. J., Roe, A. D., Baixeras-Almela, J., Brown, J. W., Parr, C. S., Davis, D. R., Epstein, M. E., Hallwachs, W., Hausmann, A., Janzen, D. H., Kitching, I. J., Solis, M. A., Yen, S.-H., Bazinet, A., &amp; Mitter, C. <a rel="nofollow" class="external text" href="http://www.biomedcentral.com/1471-2148/9/280">Toward reconstructing the evolution of advanced moths and butterflies (Lepidoptera: Ditrysia): an initial molecular study</a>. BMC Evolutionary Biology 9:280 (2009).
                    </li>
                    <li>
                        Regier, J.C., Shultz, J. W., Zwick, A., Hussey, A., Ball, B., Wetzer, R., Martin J. W. &amp; C.W. Cunningham C. W. <a rel="nofollow" class="external text" href="http://www.nature.com/nature/journal/v463/n7284/full/nature08742.html">Arthropod relationships revealed by phylogenomic analysis of nuclear protein-coding sequences</a>. Nature 463:1079-1083 (2010).
                    </li>
                    <li>
                        Reyna-Fab&#237;n, M., Laclette, J. P., Cummings, M. P., Sarma S. S. S., &amp; Garc&#237;a-Varela, M. Validating the systematic position of <i>Plationus</i> Segers, Murugan &amp; Dumont, 1993 (Rotifera: Brachionidae) using sequences of the large subunit of the nuclear ribosomal DNA and of cytochrome c oxidase. Hydrobiologia 644:361-370 (2010).
                    </li>
                    <li>
                        Regier, J.C., Zwick, A. <a rel="nofollow" class="external text" href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0023408">Sources of Signal in 62 Protein-Coding Nuclear Genes for Higher-Level Phylogenetics of Arthropods</a>. PLoS ONE 6(8): e23408. doi:10.1371/journal.pone.0023408 (2011).
                    </li>
                    <li>
                        Zwick, A, Regier JC, Mitter C, Cummings MP. <a rel="nofollow" class="external text" href="http://onlinelibrary.wiley.com/doi/10.1111/j.1365-3113.2010.00543.x/full">Increased gene sampling yields robust support for higher-level clades within Bombycoidea (Lepidoptera).</a> Syst Entomol. 36:31–43 (2011).
                    </li>
                    <li>
                        Kawahara, AY, Ohshima I, Kawakita A, Regier JC, Mitter C, Cummings MP, Davis DR, Wagner DL, De Prinis J, Lopez-Vaamonde C. <a rel="nofollow" class="external text" href="http://www.biomedcentral.com/1471-2148/11/182">Increased gene sampling provides ber support for higher-level groups within gracillariid leaf mining moths and relatives (Lepidoptera: Gracillariidae)</a>. BMC Evol Biol. 11:182 (2011).
                    </li>
                    <li>
                        Cho, S, Zwick A, Regier JC, Mitter C, Cummings MP, Yao J, Du Z, Zhao H, Kawahara AY, Weller S et al. Can deliberately incomplete gene sample augmentation improve a phylogeny estimate for the advanced moths and butterflies (Hexapoda: Lepidoptera)? Syst Biol. In press.
                    </li>
                </ul>
                </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h5> <span class="mw-headline" id="LHC.40home"> <a rel="nofollow" class="external text" href="https://lhcathome.cern.ch/">LHC@home</a> </span></h5>
                <ul>
                    <li>
                        Herr, Werner; Kaltchev, D.I.; McIntosh, E.; Schmidt, F. <a rel="nofollow" class="external text" href="http://cdsweb.cern.ch/record/972345?ln=en">Large scale beam-beam simulations for the CERN LHC using distributed computing resources</a>.  10th European Particle Accelerator Conference, Edinburgh, UK, 26 - 30 Jun 2006, pp.526
                    </li>
                </ul>
                <ul>
                    <li>
                        McIntosh, E; Schmidt, F; de Dinechin, F. <a rel="nofollow" class="external text" href="http://boinc.berkeley.edu/MOM1MP01.pdf">Massive Tracking On Heterogeneous Platforms</a>.  9th International Computational Accelerator Physics Conference (ICAP), October 2006
                    </li>
                </ul>
                </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h5> <span class="mw-headline" id="malariacontrol.net"> <a rel="nofollow" class="external text" href="http://www.malariacontrol.net/">malariacontrol.net</a> </span></h5>
                <ul>
                    <li>
                        Penny MA, Maire N, Studer A, Schapira A, Smith TA. <a rel="nofollow" class="external text" href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0003193">What Should Vaccine Developers Ask? Simulation of the Effectiveness of Malaria Vaccines</a>. PLoS ONE 3(9): e3193. doi:10.1371/journal.pone.0003193 (2008)
                    </li>
                    <li>
                        Ross A, Penny M, Maire N, Studer A, Carneiro I, Schellenberg D, Greenwood B, Tanner M, Smith T. <a rel="nofollow" class="external text" href="http://www.plosone.org/article/info:doi%2F10.1371%2Fjournal.pone.0002661">Modelling the Epidemiological Impact of Intermittent Preventive Treatment against Malaria in Infants</a>. PLoS ONE 3(7): e2661 doi:10.1371/journal.pone.0002661. (2008)
                    </li>
                    <li>
                        Smith T, Maire N, Ross A, Penny M, Chitnis N, Schapira A, Studer A, Genton B, Lengeler C, Tediosi F, de Savigny D, Tanner M. Towards a comprehensive simulation model of malaria epidemiology and control. Parasitology (13):1507-16. (2008)
                    </li>
                    <li>
                        Gosoniu L, Vounatsou P, Sogoba N, Maire N, Smith T. Mapping malaria risk in West Africa using a Bayesian nonparametric non-stationary model. Computational Statistics and Data Analysis 53: 3358-3371. (2009)
                    </li>
                    <li>
                        Tediosi F, Maire N, Penny MA, Studer A, Smith TA. <a rel="nofollow" class="external text" href="http://www.malariajournal.com/content/8/1/127">Simulation of the cost-effectiveness of malaria vaccines</a>. Malaria Journal 8:127 doi:10.1186/1475-2875-8-127 (2009)
                    </li>
                    <li>
                        Chitnis N, Schapira A, Smith T, Steketee R. Comparing the effectiveness of malaria vector-control interventions through a mathematical model. Am J Trop Med Hyg. 83(2) (2010)
                    </li>
                    <li>
                        Ross A, Smith TA. <a rel="nofollow" class="external text" href="http://malariajournal.com/content/9/1/132">Interpreting malaria age-prevalence and incidence curves: a simulation study of the effects of different types of heterogeneity</a>. Malaria Journal 8:127 doi:10.1186/1475-2875-9-132 (2010)
                    </li>
                    <li>
                        Carneiro I, Smith L, Ross A, Roca-Feltrer A, Greenwood B, Schellenberg JA, Smith TA, Schellenberg D. <a rel="nofollow" class="external text" href="http://www.who.int/bulletin/volumes/88/11/09-072397/en/index.html">Intermittent preventive treatment for malaria in infants: a decision-support tool for sub-Saharan Africa</a>. Bulletin of the World Health Organization 2010;88:807-814. doi: 10.2471/BLT.09.072397 (2010)
                    </li>
                    <li>
                        Smith TA, Chitnis N, Briët OJ, Tanner M. Uses of mosquito-stage transmission-blocking vaccines against Plasmodium falciparum. Trends Parasitol. 2011 Jan 27. [Epub ahead of print]
                    </li>
                    <li>
                        Ross A, Maire N, Sicuri E, Smith T, Conteh L. <a rel="nofollow" class="external text" href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0018391">Determinants of the Cost-Effectiveness of Intermittent Preventive Treatment for Malaria in Infants and Children</a>. PLoS ONE 6(4): e18391. doi:10.1371/journal.pone.0018391 (2011)
                    </li>
                    <li>
                        Bretscher MT, Maire N, Chitnis N, Felger I, Owusu-Agyei S, Smith T. <a rel="nofollow" class="external text" href="http://www.sciencedirect.com/science/article/pii/S175543651100020X">The distribution of Plasmodium falciparum infection durations</a>. Epidemics 3, 109-118 (2011)
                    </li>
                    <li>
                        Maire N, Shilcutt SD, Walker DG, Tediosi F, Smith TA. Cost-Effectiveness of the Introduction of a Pre-Erythrocytic Malaria Vaccine into the Expanded Program on Immunization in Sub-Saharan Africa: Analysis of Uncertainties Using a Stochastic Individual-Based Simulation Model of Plasmodium falciparum Malaria. Value in Health 14:1028–1038 (2012)
                    </li>
                    <li>
                        Crowell V, Hardy D, Briet O, Chitnis N, Maire N, Smith T, <a rel="nofollow" class="external text" href="http://www.sciencedirect.com/science/article/pii/S1755436511000442">Can we depend on case management to prevent re-establishment of P. falciparum malaria, after local interruption of transmission?</a>. Epidemics 4, 1–8 (2012)
                    </li>
                    <li>
                        Smith T , Ross A , Maire N , Chitnis N , Studer A , et al. <a rel="nofollow" class="external text" href="http://www.plosmedicine.org/article/info%3Adoi%2F10.1371%2Fjournal.pmed.1001157">Ensemble Modeling of the Likely Public Health Impact of a Pre-Erythrocytic Malaria Vaccine</a>. PLoS Med 9(1): e1001157. doi:10.1371/journal.pmed.1001157
                    </li>
                    <li>
                        Briet OJT, Hardy D, Smith TA <a rel="nofollow" class="external text" href="http://www.malariajournal.com/content/11/1/20">Importance of factors determining the effective lifetime of a mass, long-lasting, insecticidal net distribution: a sensitivity analysis</a>. Malaria Journal 11:20 doi:10.1186/1475-2875-11-20 (2012)
                    </li>
                    <li>
                        Brooks A, Briet OJT, Hardy D, Steketee R, Smith T. <a rel="nofollow" class="external text" href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0032587">Simulated Impact of RTS,S/AS01 Vaccination Programs in the Context of Changing Malaria Transmission</a>. PLoS ONE 7(3): e32587. doi:10.1371/journal.pone.0032587 (2012)
                    </li>
                </ul>
                </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h5> <span class="mw-headline" id="Milkyway.40home"> <a rel="nofollow" class="external text" href="https://milkyway.cs.rpi.edu/milkyway/">Milkyway@home</a> </span></h5>
                <ul>
                    <li>
                        Travis Desell, David P. Anderson, Malik Magdon-Ismail, Heidi Newberg, Boleslaw Szymanski and Carlos A. Varela. An Analysis of Massively Distributed Evolutionary Algorithms. In the Proceedings of the 2010 IEEE Congress on Evolutionary Computation (IEEE CEC 2010), Barcelona, Spain, July 2010. To Appear.
                    </li>
                    <li>
                        Travis Desell, Malik Magdon-Ismail, Boleslaw Szymanski, Carlos A. Varela, Heidi Newberg and David P. Anderson. Validating Evolutionary Algorithms on Volunteer Computing Grids. In the Proceedings of the 10th IFIP International Conference on Distributed Applications and Interoperable Systems (DAIS 2010), Amsterdam, Netherlands, June 2010. To Appear.
                    </li>
                    <li>
                        Nathan Cole, Travis Desell, Daniel Lombranaa Gonzalez, Francisco Fernandez de Vega, Malik Magdon-Ismail, Heidi Newberg, Boleslaw Szymanski and Carlos Varela. Evolutionary Algorithms on Volunteer Computing Platforms: The MilkyWay@Home Project. In F. Fernandez de Vega, E. Cantu-Paz (Eds.): Parallel and Distributed Computational Intelligence, SCI 269, pp 63-90. Springer-Verlag Berlin Heidelberg. 2010
                    </li>
                    <li>
                        Travis Desell. Asynchronous Global Optimization for Massive-Scale Computing. PhD thesis. Rensselaer Polytechnic Institute. 2009
                    </li>
                    <li>
                        Travis Desell, Malik Magdon-Ismail, Boleslaw Szymanski, Carlos Varela, Heidi Newberg and Nathan Cole. Robust Asynchronous Optimization for Volunteer Computing Grids. In the 5th IEEE International Conference on e-Science (eScience2009), Oxford, UK, pages 263-270, December 2009.
                    </li>
                    <li>
                        Travis Desell, Anthony Waters, Malik Magdon-Ismail, Boleslaw Szymanski, Carlos Varela, Matthew Newby, Heidi Newberg, Andreas Przystawik and Dave Anderson. Accelerating the MilkyWay@Home volunteer computing project with GPUs. In 8th International Conference on Parallel Processing and Applied Mathematics (PPAM 2009), Wroclaw, Poland, September 2009. To appear.
                    </li>
                    <li>
                        Nathan Cole. Maximum Likelihood Fitting of Tidal Streams with Application to the Sagittarius Dwarf Tidal Tails. PhD thesis. Rensselaer Polytechnic Institute. 2009.
                    </li>
                    <li>
                        Nathan Cole, Heidi Newberg, Malik Magdon-Ismail, Travis Desell, Kristopher Dawsey, Warren Hayashi, Jonathan Purnell, Boleslaw Szymanski, Carlos A. Varela, Benjamin Willett, and James Wisniewski. Maximum Likelihood Fitting of Tidal Streams with Application to the Sagittarius Dwarf Tidal Tails. Astrophysical Journal, 683:750-766, 2008.
                    </li>
                    <li>
                        Travis Desell, Boleslaw Szymanski, and Carlos A. Varela. An Asynchronous Hybrid Genetic-Simplex Search for Modeling the Milky Way Galaxy using Volunteer Computing. In Genetic and Evolutionary Computation Conference (GECCO 2008), Atlanta, Georgia, pages 921-928, July 2008.
                    </li>
                    <li>
                        Travis Desell, Boleslaw Szymanski, and Carlos A. Varela. Asynchronous Genetic Search for Scientific Modeling on Large-Scale Heterogeneous Environments. In Proceedings of the 17th International Heterogeneity in Computing Workshop (HCW/IPDPS'08), Miami, FL, pages 12pp, April 2008. IEEE.
                    </li>
                    <li>
                        Boleslaw Szymanski, Travis Desell, and Carlos A. Varela. The Effect of Heterogeneity on Asynchronous Panmictic Genetic Search. In Proc. of the Seventh International Conference on Parallel Processing and Applied Mathematics (PPAM'2007), LNCS, Gdansk, Poland, September 2007.
                    </li>
                    <li>
                        Travis Desell, Nathan Cole, Malik Magdon-Ismail, Heidi Newberg, Boleslaw Szymanski, and Carlos A. Varela. Distributed and Generic Maximum Likelihood Evaluation. In 3rd IEEE International Conference on e-Science and Grid Computing (eScience2007), Bangalore, India, pages 337-344, December 2007. Best paper finalist.
                    </li>
                </ul>
                </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                    <h5> <span class="mw-headline" id="POEM"> <a rel="nofollow" class="external text" href="http://boinc.fzk.de/poem/">POEM</a> </span></h5>
                <ul>
                    <li>
                        Meliciani I, Klenin K, Strunk T, Schmitz K, Wenzel W. (2009) Probing hot spots on protein-protein interfaces with all-atom free-energy simulation. J Chem Phys.  131, 034114.
                    </li>
                </ul>
                </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h5> <span class="mw-headline" id="QMC.40Home"> QMC@Home </span></h5>
                <ul>
                    <li>
                        Korth, M., Lüchow, A., and Grimme, S.  <a rel="nofollow" class="external text" href="http://pubs.acs.org/cgi-bin/abstract.cgi/jpcafh/2008/112/i10/abs/jp077592t.html">Toward the Exact Solution of the Electronic Schrödinger Equation for Noncovalent Molecular Interactions: Worldwide Distributed Quantum Monte Carlo Calculations</a>, J. Phys. Chem. A, 112 (10), 2104 -2109.
                    </li>
                </ul>
                </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h5> <span class="mw-headline" id="Quake_Catcher_Network"> Quake Catcher Network </span></h5>
                <ul>
                    <li>
                        Elizabeth S. Cochran, Jesse F. Lawrence, Carl Christensen, and Ravi S. Jakka. The Quake-Catcher Network: Citizen Science Expanding Seismic Horizons.   Seismological Research Letters, Jan/Feb 2009.
                    </li>
                </ul>
                </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h5> <span class="mw-headline" id="Rosetta.40home"> <a rel="nofollow" class="external text" href="https://boinc.bakerlab.org/rosetta/">Rosetta@home</a> </span></h5>
                <ul>
                    <li>
                        Windbichler N, Menichelli M, Papathanos PA, Thyme SB, Li H, Ulge UY, Hovde BT, Baker D, Monnat RJ Jr, Burt A, Crisanti A.  <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pubmed/21508956">A synthetic homing endonuclease-based gene drive system in the human malaria mosquito</a>. Nature 12;473(7346):212-5 (2011).
                    </li>
                    <li>
                        Fleishman SJ, Whitehead TA, Ekiert DC, Dreyfus C, Corn JE, Strauch EM, Wilson IA, Baker D. <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pubmed/21566186">Computational design of proteins targeting the conserved stem region of influenza hemagglutinin</a>. Science 13;332(6031):816-21 (2011).
                    </li>
                    <li>
                        Karanicolas J, Corn JE, Chen I, Joachimiak LA, Dym O, Peck SH, Albeck S, Unger T, Hu W, Liu G, Delbecq S, T Montelione G, P Spiegel C, Liu DR, Baker D. <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pubmed/21458342">A de novo protein binding pair by computational design and directed evolution</a>. Mol Cell 42(2):250-60 (2011).
                    </li>
                    <li>
                        Siegel JB, Zanghellini A, Lovick HM, Kiss G, Lambert AR, St Clair JL, Gallaher JL, Hilvert D, Gelb MH, Stoddard BL, Houk KN, Michael FE, Baker D. <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pubmed/20647463">Computational design of an enzyme catalyst for a stereoselective bimolecular Diels-Alder reaction</a>. Science 329(5989):309-13 (2010).
                    </li>
                    <li>
                        Weerapana E, Wang C, Simon GM, Richter F, Khare S, Dillon MB, Bachovchin DA, Mowen K, Baker D, Cravatt BF. <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pubmed/21085121">Quantitative reactivity profiling predicts functional cysteines in proteomes</a>. Nature 468(7325):790-5 (2010).
                    </li>
                    <li>
                        Srivatsan Raman, Oliver F. Lange, Paolo Rossi, Michael Tyka, Xu Wang, James Aramini, Gaohua Liu, Theresa A. Ramelot, Alexander Eletsky, Thomas Szyperski, Michael A. Kennedy, James Prestegard, Gaetano T. Montelione, David Baker. <a rel="nofollow" class="external text" href="http://www.sciencemag.org/cgi/content/abstract/327/5968/1014">NMR Structure Determination for Larger Proteins Using Backbone-Only Data</a>. Science 327, 1014-18 (2010).
                    </li>
                    <li>
                        Shen Y, Vernon R, Baker D, Bax A. <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2683404/?tool=pubmed">De novo protein structure generation from incomplete chemical shift assignments</a>. J. Biomol. NMR 43, 63-78 (2009).
                    </li>
                    <li>
                        Das R, Baker D. <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2631639/?tool=pubmed">Prospects for de novo phasing with de novo protein models</a>. Acta Crystallogr. D Biol. Crystallogr. 65, 169-75 (2009).
                    </li>
                    <li>
                        Das R, André I, Shen Y, Wu Y, Lemak A, Bansal S, Arrowsmith CH, Szyperski T, Baker D. <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2770007/?tool=pubmed">Simultaneous prediction of protein folding and docking at high resolution</a>. Proc. Natl. Acad. Sci. U.S.A. 106, 18978–83 (2009).
                    </li>
                    <li>
                        Kidd BA, Baker D, Thomas WE. <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2720451/?tool=pubmed">Computation of conformational coupling in allosteric proteins</a>. PLoS Comput. Biol. 5, e1000484 (2009).
                    </li>
                    <li>
                        Shen Y, Lange O, Delaglio F, Rossi P, Aramini JM, Liu G, Eletsky A, Wu Y, Singarapu KK, Lemak A, Ignatchenko A, Arrowsmith CH, Szyperski T, Montelione GT, Baker D, Bax A. <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2290745/?tool=pubmed">Consistent blind protein structure generation from NMR chemical shift data</a>. Proc. Natl. Acad. Sci. U.S.A. 105, 4685-90 (2008).
                    </li>
                    <li>
                        Rhiju Das, Madhuri Kudaravalli, Magdalena Jonikas, Alain Laederach, Robert Fong, Jason P. Schwans, David Baker, Joseph A. Piccirilli, Russ B. Altman, and Daniel Herschlag. <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2393762/?tool=pubmed">Structural inference of native and partially folded RNA by high throughput contact mapping</a>. Proc. Natl. Acad. Sci. U.S.A. 105, 4144-9 (2008).
                    </li>
                    <li>
                        Qian B, Raman S, Das R, Bradley P, McCoy AJ, Read RJ, Baker D. <a rel="nofollow" class="external text" href="http://www.nature.com/nature/journal/v450/n7167/abs/nature06249.html">High-resolution structure prediction and the crystallographic phase problem</a>. Nature 450, 259-64 (2007).
                    </li>
                    <li>
                        Wang C, Bradley P, Baker D. <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pubmed/17825317">Protein-protein docking with backbone flexibility</a>. J. Mol. Biol. 373, 503-19  (2007).
                    </li>
                    <li>
                        Das R, Qian B, Raman S, Vernon R, Thompson J, Bradley P, Khare S, Tyka MD, Bhat D, Chivian D, Kim DE, Sheffler WH, Malmström L, Wollacott AM, Wang C, Andre I, Baker D. <a rel="nofollow" class="external text" href="http://www3.interscience.wiley.com/cgi-bin/abstract/116323415/ABSTRACT?CRETRY=1&amp;SRETRY=0">Structure prediction for CASP7 targets using extensive all-atom refinement with Rosetta@home</a>. Proteins 69 Suppl 8, 118-28 (2007).
                    </li>
                    <li>
                        Das R, Baker D. <a rel="nofollow" class="external text" href="http://www.pnas.org/cgi/content/abstract/0703836104v1?etoc">Automated de novo prediction of native-like RNA tertiary structures</a>. Proc. Natl. Acad. Sci. U.S.A. 104, 14664-9 (2007).
                    </li>
                    <li>
                        Misura KM, Chivian D, Rohl CA, Kim DE, Baker D. <a rel="nofollow" class="external text" href="http://www.pubmedcentral.nih.gov/articlerender.fcgi?artid=1459360">Physically realistic homology models built with ROSETTA can be more accurate than their templates</a>. Proc. Natl. Acad. Sci. U.S.A. 103, 5361-6  (2006).
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h5> <span class="mw-headline" id="SAT.40home"> <a rel="nofollow" class="external text" href="http://sat.isa.ru/pdsat">SAT@home</a> </span></h5>
                <ul>
                    <li>
                        Posypkin, Mikhail and Semenov, Alexander and Zaikin, Oleg (2012) Using BOINC desktop grid to solve large scale SAT problems. Computer Science, 13 (1). pp. 25-34. ISSN 1508-2806
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h5> <span class="mw-headline" id="SETI.40home"> <a rel="nofollow" class="external text" href="https://setiathome.berkeley.edu">SETI@home</a> </span></h5>
                <ul>
                    <li>
                        David P. Anderson, Jeff Cobb, Eric Korpela, Matt Lebofsky, Dan Werthimer. SETI@home: An Experiment in Public-Resource Computing. Communications of the ACM, Vol. 45 No. 11, November 2002, pp. 56-61.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h5> <span class="mw-headline" id="SIMAP"> SIMAP </span></h5>
                <ul>
                    <li>
                        Rattei T, Tischler P, Arnold R, Hamberger F, Krebs J, Krumsiek J, Wachinger B, Stümpflen V, Mewes W.  <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pubmed/18037617">SIMAP--structuring the network of protein similarities.</a>  Nucleic Acids Res. 2008 Jan;36(Database issue):D289-92. Epub 2007 Nov 23.
                    </li>
                    <li>
                        Rattei T, Arnold R, Tischler P, Lindner D, Stümpflen V, Mewes HW.  <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pubmed/16381858">SIMAP: the similarity matrix of proteins</a>.  Nucleic Acids Res. 2006 Jan 1;34(Database issue):D252-6.
                    </li>
                    <li>
                        Arnold R, Rattei T, Tischler P, Truong MD, Stümpflen V, Mewes W. <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pubmed/16204123">SIMAP--the similarity matrix of proteins</a>.   Bioinformatics. 2005 Sep 1;21 Suppl 2:ii42-6.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                        <h5> <span class="mw-headline" id="Spinhenge.40home"> Spinhenge@home </span></h5>
                <ul>
                    <li>
                        Christian Schröder, Ruslan Prozorov, Paul Kögerler, Matthew D. Vannette, Xikui Fang, Marshall Luban, Akira Matsuo, Koichi Kindo, Achim Müller, Ana Maria Todea, <a rel="nofollow" class="external text" href="http://arxiv.org/abs/0801.2065">Multiple nearest-neighbor exchange model for the frustrated Keplerate magnetic molecules Mo72Fe30 and Mo72Cr30</a>. submitted to Phys. Rev. B (2008), arXiv.org e-Print archiv, Jan 2008
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                        <h5> <span class="mw-headline" id="uFluids"> <a rel="nofollow" class="external text" href="http://www.ufluids.net">uFluids</a> </span></h5>
                <ul>
                    <li>
                        Robert E Manning &amp; Steven H. Collicott, <a rel="nofollow" class="external text" href="http://www.ufluids.net/files/AIAApaper05.pdf">Bubble Penetration Through a Single Layer Sphere Bed</a>. 45th AIAA Aerospace Sciences Meeting and Exhibit, January 2006.
                    </li>
                    <li>
                        Robert E. Manning Jr, <a rel="nofollow" class="external text" href="http://www.ufluids.net/files/Master_thesis.pdf">Gas Bubble Stability in a Sphere Layer</a>, Master Thesis - July 2006.
                    </li>
                    <li>
                        Jonathan P. Braun, <a rel="nofollow" class="external text" href="http://www.ufluids.net/files/MSThesis_JPB_2008.pdf">Zero Gravity Two-Phase Stability Solutions of Droplets in a bent circular cylinder</a>, Master Thesis - 2008.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                        <h5> <span class="mw-headline" id="Virtual_Prairie"> Virtual Prairie </span></h5>
                <ul>
                    <li>
                        C. Monya, M. Garbeyb, M. Smaouib, M.-L. Benota. Large scale parameter study of an individual-based model of clonal plant with volunteer computing.  Ecological Modelling 222 (2011) 935–946.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
            
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
            <h5> <span class="mw-headline" id="World_Community_Grid"> <a rel="nofollow" class="external text" href="https://www.worldcommunitygrid.org/">World Community Grid</a> </span></h5>
                <p>
                    <b>The Clean Energy Project</b>
                </p>
                <ul>
                    <li>
                        Roberto Olivares-Amaya, Carlos Amador-Bedolla, Johannes Hachmann, Sule Atahan-Evrenk, Roel S. Sánchez-Carrera, Leslie Vogt and Alán Aspuru-Guzik <a rel="nofollow" class="external text" href="http://pubs.rsc.org/en/Content/ArticleLanding/2011/EE/c1ee02056k">Accelerated computational discovery of high-performance materials for organic photovoltaics by means of cheminformatics</a> Energy &amp; Environmental Science, 2011, 4, 4849-4861 doi:10.1039/C1EE02056K
                    </li>
                    <li>
                        Johannes Hachmann, Roberto Olivares-Amaya, Sule Atahan-Evrenk, Carlos Amador-Bedolla, Alan Aspuru-Guzik,<a rel="nofollow" class="external text" href="http://meetings.aps.org/link/BAPS.2011.MAR.J28.4">The Harvard Clean Energy Project. Large-scale computational screening and design of molecular motifs for organic photovoltaics on the World Community Grid</a> American Physical Society, APS March Meeting 2011, March 21-25, 2011, abstract #J28.004
                    </li>
                    <li>
                        Sokolov, A.N. et al. <a rel="nofollow" class="external text" href="http://www.nature.com/ncomms/journal/v2/n8/full/ncomms1451.html">From computational discovery to experimental characterization of a high hole mobility organic crystal</a>. Nat. Commun. 2:437 doi: 10.1038/ncomms1451 (2011).
                    </li>
                </ul>
                <p>
                    <br />
                    <b>Computing for Clean Water</b>
                </p>
                <ul>
                    <li>
                        Ming D. Ma, Luming Shen,*, John Sheridan, Jefferson Zhe Liu, Chao Chen, and Quanshui Zheng <a rel="nofollow" class="external text" href="http://pre.aps.org/abstract/PRE/v83/i3/e036316">Friction of water slipping in carbon nanotubes</a>.  Phys. Rev. E 83, 036316 (2011)
                    </li>
                </ul>
                <p>
                    <br />
                    <b>Discovering Dengue Drugs - Together</b>
                </p>
                <ul>
                    <li>
                        Tomlinson SM, Malmstrom RD, Watowich SJ. <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pubmed/19519486">New approaches to structure-based discovery of dengue protease inhibitors.</a> Infect Disord Drug Targets. 2009 Jun;9(3):327-43.
                    </li>
                </ul>
                <p>
                    <br />
                    <b>FightAIDS@Home</b>
                </p>
                <ul>
                    <li>
                        Cosconati S, Forli S, Perryman AL, Harris R, Goodsell DS, Olson AJ. <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pubmed/21532931">Virtual Screening with AutoDock: Theory and Practice.</a> Expert Opin Drug Discov. 2010 Jun 1;5(6):597-607
                    </li>
                    <li>
                        Perryman AL, Forli S, Morris GM, Burt C, Cheng Y, Palmer MJ, Whitby K, McCammon JA, Phillips C, Olson AJ. <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pubmed/20096702">A dynamic model of HIV integrase inhibition and drug resistance</a> J Mol Biol. 2010 Mar 26;397(2):600-15. Epub 2010 Jan 22.
                    </li>
                    <li>
                        Perryman, A. L., Zhang, Q., Soutter, H. H., Rosenfeld, R., McRee, D. E., Olson, A. J., Elder, J. E. and David Stout, C. (2010), <a rel="nofollow" class="external text" href="http://onlinelibrary.wiley.com/doi/10.1111/j.1747-0285.2009.00943.x/abstract">Fragment-Based Screen against HIV Protease</a>. Chemical Biology &amp; Drug Design, 75: 257–268. doi: 10.1111/j.1747-0285.2009.00943.x
                    </li>
                    <li>
                        Morris GM, Huey R, Lindstrom W, Sanner MF, Belew RK, Goodsell DS, Olson AJ. <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pubmed/19399780">AutoDock4 and AutoDockTools4: Automated docking with selective receptor flexibility</a>. J Comput Chem. 2009 Dec;30(16):2785-91.
                    </li>
                    <li>
                        Max W. Chang, William Lindstrom, Arthur J. Olson, and Richard K. Belew .  <a rel="nofollow" class="external text" href="http://pubs.acs.org/cgi-bin/abstract.cgi/jcisd8/2007/47/i03/abs/ci700044s.html">Analysis of HIV Wild-Type and Mutant Structures via in Silico Docking against Diverse Ligand Libraries</a>.  J. Chem. Inf. Model., 47 (3), 1258 -1262, 2007.
                    </li>
                </ul>
                <p>
                    <br />
                    <b>Help Conquer Cancer</b>
                </p>
                <ul>
                    <li>
                        Yulia Kotseruba, Christian A Cumbaa1 and Igor Jurisica, <a rel="nofollow" class="external text" href="http://iopscience.iop.org/1742-6596/341/1/012027">High-throughput protein crystallization on the World Community Grid and the GPU</a> 2012 Journal of Physics: Conference Series 341 012027 doi:10.1088/1742-6596/341/1/012027
                    </li>
                    <li>
                        Christian A. Cumbaa, Igor Jurisica, <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pubmed/20072819">Protein crystallization analysis on the World Community Grid</a> J Struct Funct Genomics (2010) 11:61–69 doi:10.1007/s10969-009-9076-9
                    </li>
                    <li>
                        Edward H. Snell, Angela M. Lauricella, Stephen A. Potter, Joseph R. Luft, Stacey M. Gulde, Robert J. Collins, Geoff Franks, Michael G. Malkowski, Christian Cumbaa, Igor Jurisica, and George T. DeTitta <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2631118/">Establishing a training set through the visual analysis of crystallization trials. Part II: crystal examples</a> Acta Crystallogr D Biol Crystallogr. 2008 November 1; 64(Pt 11): 1131–1137. doi:10.1107/S0907444908028059
                    </li>
                    <li>
                        Edward H. Snell,ab* Joseph R. Luft,ab Stephen A. Potter,a Angela M. Lauricella,a Stacey M. Gulde,a Michael G. Malkowski,ab Mary Koszelak-Rosenblum,a Meriem I. Said,a Jennifer L. Smith,a Christina K. Veatch,a Robert J. Collins,a Geoff Franks,a Max Thayer,a Christian Cumbaa,c Igor Jurisica,c and George T. DeTittaab <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2631114/">Establishing a training set through the visual analysis of crystallization trials. Part I: ∼150 000 images</a> Acta Crystallogr D Biol Crystallogr. 2008 November 1; 64(Pt 11): 1123–1130. doi:10.1107/S0907444908028047
                    </li>
                    <li>
                        C.A. Cumbaa &amp; I. Jurisica, Scale Changes Everything – Crystallography Image Analysis on the World Community Grid. 22nd High Performance Computing Symposium - Québec City, CA. June, 2008
                    </li>
                </ul>
                <p>
                    <br />
                    <b>Help Cure Muscular Dystrophy</b>
                </p>
                <ul>
                    <li>
                        Stefan Engelen Ladislas A. Trojan, Sophie Sacquin-Mora, Richard Lavery, and Alessandra Carbone. <a rel="nofollow" class="external text" href="http://www.ploscompbiol.org/article/info:doi/10.1371/journal.pcbi.1000267">Joint Evolutionary Trees: A Large-Scale Method To Predict Protein Interfaces Based on Sequence Sampling</a> PLoS Comput Biol. 2009 January; 5(1): e1000267. doi:10.1371/journal.pcbi.1000267
                    </li>
                    <li>
                        Sophie Sacquin-Mora1, Alessandra Carbone, and Richard Lavery. <a rel="nofollow" class="external text" href="http://dx.doi.org/10.1016/j.jmb.2008.08.002">Identification of Protein Interaction Partners and Protein–Protein Interaction Sites</a> Journal of Molecular Biology, 2008 Aug 7.
                    </li>
                    <li>
                        V. Bertsis, R. Bolze, F. Desprez, K. Reed. <a rel="nofollow" class="external text" href="http://lara.inist.fr/bitstream/2332/1341/1/RR2007-49.pdf">Large Scale Execution of a Bioinformatic Application on a Volunteer Grid</a>.   Workshop on Parallel and Distributed Scientific and Engineering Computing (PDSEC), In conjunction with IPDPS 2008, Miami, Florida, April, 2008.
                    </li>
                    <li>
                        Viktors Bertis, Raphaël Bolze, Frédéric Desprez and Kevin Reed. <a rel="nofollow" class="external text" href="http://www.springerlink.com/content/d285t3w3m4126l01/">From Dedicated Grid to Volunteer Grid: Large Scale Execution of a Bioinformatics Application</a> Journal of Grid Computing Volume 7, Number 4, 463-478, DOI: 10.1007/s10723-009-9130-7
                    </li>
                </ul>
                <p>
                    <br />
                    <b>Help Defeat Cancer</b>
                </p>
                <ul>
                    <li>
                        Foran DJ, Yang L, Chen W, Hu J, Goodell LA, Reiss M, Wang F, Kurc T, Pan T, Sharma A, Saltz JH. <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pubmed/21606133">ImageMiner: a software system for comparative analysis of tissue microarrays using content-based image retrieval, high-performance computing, and grid technology.</a> J Am Med Inform Assoc. 2011 Jul-Aug;18(4):403-15. Epub 2011 May 23.
                    </li>
                    <li>
                        Patrick Widener, Wenjin Chen, Fusheng Wang, Lin Yang, Jun Hu, Vicky Chu, Joel H. Saltz, David J. Foran, and Tahsin Kurc. <a rel="nofollow" class="external text" href="http://pleiad.umdnj.edu/CBII/pdfs/hpc-miccai2010-djf.pdf">Grid-Enabled, High-performance Microscopy Image Analysis</a>. The 2nd International Workshop on High-Performance Medical Image Computing for Image-Assisted Clinical Intervention and Decision-Making. Bejing, China. HP-MICCAI 2010 International Workshop. Pages 70-79, 2010.
                    </li>
                    <li>
                        Yang L, Chen W, Meer P, Salaru G, Goodell LA, Berstis V, Foran DJ. <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pubmed/19369162">Virtual microscopy and grid-enabled decision support for large-scale analysis of imaged pathology specimens</a> IEEE Trans Inf Technol Biomed. 2009 Jul;13(4):636-44. Epub 2009 Apr 14.
                    </li>
                    <li>
                        Yang L, Tuzel O, Chen W, Meer P, Salaru G, Goodell LA, Foran DJ. <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pubmed/19171530">PathMiner: a Web-based tool for computer-assisted diagnostics in pathology.</a> IEEE Trans Inf Technol Biomed. 2009 May;13(3):291-9. Epub 2009 Jan 20.
                    </li>
                    <li>
                        Lin Yang, Wenjin Chen, Peter Meer1, Gratian Salaru, Michael D. Feldman, and David J. Foran <a rel="nofollow" class="external text" href="http://pleiad.umdnj.edu/IBM/pdfs/Yang_et_al_miccai07.pdf">High Throughput Analysis of Breast Cancer Specimens on the Grid</a>.   Proceedings on Medical Image Computing and Computer-Assisted Intervention. (MICCAI) Brisbane, Australia. October, 2007.
                    </li>
                </ul>
                <p>
                    <br />
                    <b>Human Proteome Folding</b>
                </p>
                <ul>
                    <li>
                        Drew K, Winters P, Butterfoss GL, Berstis V, Uplinger K, Armb J, Riffle M, Schweighofer E, Bovermann B, Goodlett DR, Davis TN, Shasha D, Malmström L, Bonneau R. <a rel="nofollow" class="external text" href="http://genome.cshlp.org/content/21/11/1981.full">The Proteome Folding Project: Proteome-scale prediction of structure and function</a> Genome Res. 2011 Nov;21(11):1981-94. Epub 2011 Aug 8.
                    </li>
                    <li>
                        Boxem, Mike; Maliga, Zoltan; Klitgord, Niels; Li, Na; Lemmens, Irma; Mana, Miyeko; de Lichtervelde, Lorenzo; Mul, Joram D.; van de Peut, Diederik; Devos, Maxime; Simonis, Nicolas; Yildirim, Muhammed A.; Cokol, Murat; Kao, Huey-Ling; de Smet, Anne-Sophie; Wang, Haidong; Schlaitz, Anne-Lore; Hao, Tong; Milstein, Stuart; Fan, Changyu; Tipsword, Mike; Drew, Kevin; Galli, Matilde; Rhrissorrakrai, Kahn; Drechsel, David; Koller, Daphne; Roth, Frederick P.; Iakoucheva, Lilia M.; Dunker, A. Keith; Bonneau, Richard; Gunsalus, Kristin C.; Hill, David E.; Piano, Fabio; Tavernier, Jan; van den Heuvel, Sander; Hyman, Anthony A.; Vidal, Marc <a rel="nofollow" class="external text" href="http://www.cell.com/retrieve/pii/S0092867408008866?cc=y#">A Protein Domain-Based Interactome Network for C. elegans Early Embryogenesis</a> Cell doi:10.1016/j.cell.2008.07.009 (volume 134 issue 3 pp.534 - 545)
                    </li>
                    <li>
                        Bonneau, Richard; Facciotti, Marc T.; Reiss, David J.; Schmid, Amy K.; Pan, Min; Kaur, Amardeep; Thorsson, Vesteinn; Shannon, Paul; Johnson, Michael H.; Bare, J. Christopher; Longabaugh, William; Vuthoori, Madhavi; Whitehead, Kenia; Madar, Aviv; Suzuki, Lena; Mori, Tetsuya; Chang, Dong-Eun; DiRuggiero, Jocelyne; Johnson, Carl H.; Hood, Leroy; Baliga, Nitin S. <a rel="nofollow" class="external text" href="http://www.cell.com/abstract/S0092-8674%2807%2901416-X#">A Predictive Model for Transcriptional Control of Physiology in a Free Living Cell</a> Cell doi:10.1016/j.cell.2007.10.053 (volume 131 issue 7 pp.1354 - 1365)
                    </li>
                    <li>
                        Lars Malmström, Michael Riffle, Charlie E. M. Strauss, Dylan Chivian, Trisha N. Davis, Richard Bonneau, David Baker.  <a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pubmed/17373854">Superfamily Assignments for the Yeast Proteome through Integration of Structure Prediction with the Gene Ontology</a>.  PLoS Biol 5(4).
                    </li>
                </ul>
                <p>
                    <br />
                    <b>Genome Comparison</b>
                </p>
                <ul>
                    <li>
                        Thomas Dan Otto, Marcos Catanho, Cristian Tristão, Márcia Bezerra, Renan Mathias Fernandes, Guilherme Steinberger Elias, Alexandre Capeletto Scaglia, Bill Bovermann, Viktors Berstis, Sergio Lifschitz, Antonio Basílio de Miranda and Wim Degrave <a rel="nofollow" class="external text" href="http://bioinformatics.oxfordjournals.org/content/26/5/705.full">ProteinWorldDB: querying radical pairwise alignments among protein sets from complete genomes</a> Bioinformatics (2010) 26 (5): 705-707. doi: 10.1093/bioinformatics/btq011
                    </li>
                </ul>
                <p>
                    <br />
                    <b>Nutritious Rice for the World</b>
                </p>
                <ul>
                    <li>
                        Ling-Hong Hung, Michal Guerquin and Ram Samudrala <a rel="nofollow" class="external text" href="http://www.biomedcentral.com/1756-0500/4/97">GPU-Q-J, a fast method for calculating root mean square deviation (RMSD) after optimal superposition</a> BMC Research Notes 2011, 4:97 doi:10.1186/1756-0500-4-97
                    </li>
                </ul>
                <h5><a rel="nofollow" class="external text" href="http://www.evolutionary-research.net/">Evolution@home</a></h5>
                <ul>
                    <li>
                        Laurence Loewe, Asher D Cutter, <a rel="nofollow" class="external text" href="http://www.biomedcentral.com/1471-2148/8/125">On the potential for extinction by Muller's Ratchet in <i>Caenorhabditis elegans</i></a>, BMC Evolutionary Biology 8:125.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>