<!DOCTYPE html>
<html class="h-100" lang="en">
    {% include _head.htm %}
    <body class="h-100">
        {% include _header.htm %}
        <div class="min-h-80">{{ content }}</div>
        {% include _footer.htm %}

        <!--   Core JS Files   -->
        <script src="/assets/js/core/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="/assets/js/core/bootstrap-4.3.1.bundle.min.js" type="text/javascript"></script>
        <script src="/assets/js/fetch-release.js" type="text/javascript"></script>
    </body>
</html>
