---
title: "Gridcoin - Contact Us"
description: "How to get in contact with the Gridcoin developers and community."
---
<section data-background-color="black" style="padding-bottom: 5px; padding-top:90px; margin-top: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>How to get in contact with us!</h3>
                <p>The Gridcoin community as of mid August has approximately 12k registered users in team Gridcoin, with approx 3k actively crunching. These users are spread across many platforms such as:
                <ul>
                    <li>
                        <a href="https://cryptocurrencytalk.com/forum/464-gridcoin-grc/">CryptoCurrencyTalk - Gridcoin Subforum</a>
                    </li>
                    <li>
                        <a href="https://t.me/gridcoin">Gridcoin's Telegram channel</a> (~300 users)
                    </li>
                    <li>
                        <a href="https://teamgridcoin.signup.team/">Gridcoin's Slack channel</a> (~300 users)
                    </li>
                    <li>
                        <a href="https://discord.gg/Bt4YHxJ">Gridcoin's Discord channel</a>
                    </li>
                    <li>
                        <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin">Gridcoin on the FreeNode IRC network</a> (~100 users)
                    </li>
                    <li>
                        <a href="https://www.reddit.com/r/gridcoin">/r/gridcoin subreddit</a>
                    </li>
                    <li>
                        <a href="https://steemit.com/trending/gridcoin">#Gridcoin Steemit tag</a>
                    </li>
                </ul>
                <p>If you're looking to report security concerns:</p>
                <ul>
                    <li>Email "contact@gridcoin.us" to get Rob's attention (lead dev).</li>
                    <li>Alternatively: Jump into the <a href="https://teamgridcoin.signup.team/">Slack channel</a> or the <a href="https://t.me/gridcoin">Telegram channel</a> and ask for an administrator.</li>
                </ul>
                <p>If you have non-critical Gridcoin client issues/bugs you wish to raise awareness of then please <a href="https://github.com/gridcoin/Gridcoin-Research/issues">submit an issue on the GitHub repo</a>.</p>
                <p>If you're interested in collaborating towards Gridcoin's future development then don't hesitate to join Slack/Telegram/Discord/CryptoCurrencyTalk/GitHub to begin working with others on your ideas.</p>
            </div>
        </div>
    </div>
</section>
