---
title: "Gridcoin - Exchanges"
description: "Where to buy Gridcoin"
---
<section  data-background-color="black" style="padding-bottom: 5px; padding-top:90px; margin-top: 0px;">
    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>How to buy Gridcoin?</h3>
                <p>On most centralized exchanges you need to first <a href="https://www.bitcoin.com/buy-bitcoin">buy Bitcoin</a> in order to buy Gridcoin, except from on <a href="https://flyp.me">Flyp.me</a> where you can exchange several cryptocurrencies for gridcoin.</p>
                <p>On the Bitshares based decentralized exchanges you can trade any bitshares based asset for OPEN.GRC (Gridcoin via Openledger exchange), including several fiat cryptocurrencies. You can find the most liquid trading pairs by viewing <a href="http://cryptofresh.com/a/OPEN.GRC">Cryptofresh</a> or the <a href="http://cryptofresh.com/a/OPEN.GRC">Bitshares-Explorer</a> websites.</p>
                <p>An advantage of decentralized exchanges over centralized exchanges is that you are your own bank, the risk of the exchange being hacked and your funds stolen is far less likely than with centralized exchanges.</p>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="text-align: center; ">
                <h3>Decentralized exchanges</h3>
                    <ul style="list-style-type: none; padding-left: 0;">
                        <li style="margin-bottom: 10px;">
                            <ul style="list-style-type: none;">
                                <li>
                                    <a href="https://bitsquare.io/">
                                        <img src="../Images/Exchanges/BitSquare.png" alt="BitSquare" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://door.one/">
                                        <img src="../Images/Exchanges/doorone.png" alt="DoorOne" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://bitshares.org/">
                                        <img src="../Images/Exchanges/bitshares.png" alt="Bitshares" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://bit.btsabc.org/#/market/OPEN.GRC_OPEN.BTC">
                                        <img src="../Images/Exchanges/BTSABC.png" alt="BTSABC" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://bitshares.openledger.info/#/market/OPEN.GRC_OPEN.BTC">
                                        <img src="../Images/Exchanges/OL.png" alt="OpenLedger" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://market.rudex.org/market/OPEN.GRC_OPEN.BTC">
                                        <img src="../Images/Exchanges/RUDEX.png" alt="RUDEX" />
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="text-align: center; ">
                <h3>Centralized exchanges</h3>
                    <ul style="list-style-type: none; padding-left: 0;">
                        <li style="margin-bottom: 10px;">
                            <ul style="list-style-type: none;">
                                <li>
                                    <a href="https://bittrex.com/Market/?MarketName=BTC-GRC">
                                        <img src="../Images/Exchanges/bittrex.png" alt="Bittrex" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://c-cex.com/?p=grc-btc">
                                        <img src="../Images/Exchanges/ccex2.png" alt="c-cex" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://flyp.me/">
                                        <img src="../Images/Exchanges/flypme.png" alt="Flyp.Me" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://holytransaction.com/">
                                        <img src="../Images/Exchanges/Holy.png" alt="HolyTransaction" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://poloniex.com/exchange#btc_grc">
                                        <img src="../Images/Exchanges/poloniex.png" alt="poloniex" />
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
            </div>

        </div>
        
    </div>
</section>
