---
title: "Gridcoin - Rewarding Scientific Distributed Computing"
description: "Gridcoin is a cryptocurrency which rewards volunteer distributed computation performed on the BOINC platform on top of Proof of Stake."
---
<!-- Intro-->
<section data-background-color="color" style="margin-top:-20px; padding-top: 150px; padding-bottom:65px; background-image:linear-gradient(#7235d3, #420479);">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align: center; width: 100%;">

                <img src="/assets/img/GridcoinBlocks_Header_Transparent.png" alt="logo" style="padding-top:15px;">
                <!--<img src="/assets/img/LOGO/GRCVertical_Purple_White_Solid.png" alt="logo" style="padding-top:15px; width: 250px;">-->
                <h4 style="font-weight: bold;">Rewarding Volunteer Distributed Computing</h4>
            </div>
        </div>
    </div>
</section>
<!--/end of intro-->

<!--What is Gridcoin section-->
<section  data-background-color="black" style="padding-bottom:15px;">
    <div class="container">
        <div class="row" style="padding-top:75px;">
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:5px;">
                <h3 style="text-align: center;">What is Gridcoin?</h3>
                <p>
                    Gridcoin is an open source <a href="https://en.wikipedia.org/wiki/Cryptocurrency">cryptocurrency</a> (Ticker: GRC) which <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-Research">securely rewards</a> <a href="https://en.wikipedia.org/wiki/Volunteer_computing">volunteer computing</a> performed upon the <a href="https://boinc.berkeley.edu/">BOINC platform</a> in a decentralized manner on top of <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-Stake">proof of stake</a>.
                </p>
                <p>
                    <a href="https://boinc.berkeley.edu/">BOINC</a> is an open-source volunteer computing grid which combines the processing power of all individual users for the purposes of scientific research. It's free, production ready and many projects already harness volunteered computing power to <a href="/Guides/whitelist.htm">attempt to cure cancer/AIDS/Ebola/malaria, map the Milky Way galaxy, crack Enigma machine codes, etc.</a>.
                </p>
                <p>
                    If you require a serious amount of distributed computing power for free, you can easily <a href="https://github.com/marius311/boinc-server-docker">create a BOINC project</a> and the Gridcoin network can potentially reward your active userbase to help offset their electricity bills and improve userbase retention.
                </p><br>
                <div class="col-xs-12" style="text-align: center; width: 100%;">
                    <a href="https://github.com/gridcoin-community/Whitepaper/blob/master/Gridcoin_White_Paper_1.0.0.pdf" target="_blank"><button class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;text-align: center;">Gridcoin Whitepaper</button></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/End of "What is Gridcoin" section-->

<section data-background-color="black" style="overflow-x: hidden; padding-top: 25px;">
    <!-- BOINC Content -->
    <div class="container">
        <div class="row">
            <div class="hidden-sm-down col-md-12 col-lg-12">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th style="color:white;">
                                Solo Crunching
                            </th>
                            <th style="color:white;">
                                Pool Crunching
                            </th>
                            <th style="color:white;">
                                Investor Mode
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Earn BOINC rewards
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Earn 1.5% APR
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Helps secure network
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Decentralized
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ability to vote
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Keep 100% of Rewards
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                No upfront investment
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                BOINC Leaderboards
                            </td>
                            <td>
                                BOINCstats, Gridcoinstats &amp; others
                            </td>
                            <td>
                                Pool only
                            </td>
                            <td>
                                Gridcoinstats
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <a href="/Guides/boinc-install.htm"><button class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;">Solo Crunching Guide</button></a>
                            </td>
                            <td>
                                <a href="/Guides/pool.htm"><button class="btn btn-round" style="background-color:#420479;font-weight:bold;">Pool Crunching Guide</button></a>
                            </td>
                            <td>
                                <a href="/Guides/investor-gridcoin-setup.htm" class="text-center"><button class="btn btn-round" style="background-color:#420479;font-weight:bold;">Investor Guide</button></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12 col-sm-12 hidden-md-up">
                <table class="table table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th style="color:white;">
                                Solo
                            </th>
                            <th style="color:white;">
                                Pool
                            </th>
                            <th style="color:white;">
                                Investor
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Earn BOINC rewards
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Earn 1.5% APR
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Helps secure network
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Decentralized
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ability to vote
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Keep 100% of Rewards
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                No upfront investment
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <a href="/Guides/boinc-install.htm"><button class="btn btn-round" style="background-color:#420479;font-weight:bold;">Guide</button></a>
                            </td>
                            <td>
                                <a href="/Guides/pool.htm"><button class="btn btn-round" style="background-color:#420479;font-weight:bold;">Guide</button></a>
                            </td>
                            <td>
                                <a href="/Guides/investor-gridcoin-setup.htm" class="text-center"><button class="btn btn-round" style="background-color:#420479;font-weight:bold;">Guide</button></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


    <!-- download -->
<section style="margin-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align:center; width: 100%;">
                <a name="Downloads"></a>
                <h4 style="color:white; font-weight:bold;">
                    Download the Latest Gridcoin Updates
                </h4>
                <p style="color:#93aa4f; font-weight:bold;">
                	Current Wallet Version: 3.7.11.0
                </p>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <!--GRC Research Downloads-->
            <div class="col-xs-12 col-sm-4">
                <h4 style="color:white;">Gridcoin Research Wallet (Windows)</h4>
                    <a class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;" href="https://download.gridcoin.us/download/downloadstake/GridcoinResearch.msi">
                        Download
                    </a>
                    <h4 style="color:white;">Gridcoin Research Wallet (MacOS DMG)</h4>
                    <a class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;" href="https://github.com/Git-Jiro/homebrew-jiro/releases">
                        Download
                    </a>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h4 style="color:white;">Gridcoin Research Wallet (Linux)</h4>
                    <a class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;" href="https://software.opensuse.org/package/gridcoinresearch">.rpm <span class="hidden-xs hidden-sm">(opensuse/fedora)</span> package</a><br/>
                    <a class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;" href="https://code.launchpad.net/~gridcoin/+archive/ubuntu/gridcoin-stable">.deb <span class="hidden-xs hidden-sm">(debian/ubuntu)</span> package</a><br/>
                    <a class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;" href="https://aur.archlinux.org/packages/gridcoinresearch-qt">Archlinux AUR package</a>
            </div>
            <!--/GRC Research Downloads-->
            <!--MISC-->
            <div class="col-xs-12 col-sm-4">
                <h4 style="color:white;">Other</h4>
                    <a class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;" href="https://efmer.com/download-boinctasks/">BOINCtasks</a><br/>
                    <a class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;" href="https://boinc.berkeley.edu/download_all.php">BOINC Clients</a><br/>
                    <a class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;" href="https://github.com/marius311/boinc-server-docker">BOINC server docker container</a>
            </div>
            <!--/MISC-->
        </div>
    </div>
</section>
<!--/downloads-->