---
title: "Gridcoin - Rewarding Scientific Distributed Computing"
description: "Gridcoin is a cryptocurrency which rewards volunteer distributed computation performed on the BOINC platform on top of Proof of Stake."
---
<!-- Intro-->
<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img class="img-fluid" src="/assets/img/GridcoinBlocks_Header_Transparent.png" alt="Gridcoin Logo">
                <h1 class="font-weight-bold">Rewarding Volunteer Distributed Computing</h1>
            </div>
        </div>
    </div>
</section>
<!--/end of intro-->

<!--What is Gridcoin section-->
<section class="grc-bgcolor grclink">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="font-weight-bold py-3">What is Gridcoin?</h1>
                <p>
                    Gridcoin is an open source <a href="https://en.wikipedia.org/wiki/Cryptocurrency">cryptocurrency</a> (Ticker: GRC) which securely rewards <a href="https://en.wikipedia.org/wiki/Volunteer_computing">volunteer computing</a> performed on the <a href="https://boinc.berkeley.edu/">BOINC platform</a>.
                </p>
                <h1 class="font-weight-bold py-3">What is BOINC?</h1>
                <p>
                    <a href="https://boinc.berkeley.edu/">BOINC</a> is an open source volunteer computing grid which combines the processing power of individual users for the purposes of scientific research. It is free to use and already home to 30+ projects spanning a range of scientific disciplines. Examples include protein structure prediction (<a href="https://boinc.bakerlab.org/rosetta/">Rosetta@home</a>), mapping the Milky Way galaxy (<a href="https://milkyway.cs.rpi.edu/milkyway/">Milkyway@home</a>), and tackling problems in public health and clean energy (<a href="https://www.worldcommunitygrid.org/discover.action">World Community Grid</a>).
                </p>
                <h1 class="font-weight-bold py-3">How can I participate?</h1>
                <p>
                    Individuals: Join BOINC and start earning Gridcoin for your contributions! See the 'Guides' section for details.
                </p>
                <p>
                    Researchers and institutions: Tap into the spare processing power of tens of thousands of volunteers, and create your own BOINC project for free! In turn, the Gridcoin network can reward your project's userbase to encourage participation and improve user retention.
                </p>
                <div class="col-12">
                    <a href="/assets/img/whitepaper.pdf" target="_blank"><button class="btn rounded-pill grcbtn">Gridcoin Whitepaper</button></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/End of "What is Gridcoin" section-->

<!-- BOINC Content -->
<section class="grc-bgcolor">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <table class="table table-sm table-dark table-hover table-striped table-bordered">
                    <thead>
                        <tr class="d-none d-md-table-row">
                            <th>
                            </th>
                            <th>
                                Solo Crunching
                            </th>
                            <th>
                                Pool Crunching
                            </th>
                            <th>
                                Investor Mode
                            </th>
                        </tr>
                        <tr class="d-none d-sm-table-row d-md-none">
                            <th>
                            </th>
                            <th>
                                Solo
                            </th>
                            <th>
                                Pool
                            </th>
                            <th>
                                Investor
                            </th>
                        </tr>
                        <tr class="d-table-row d-sm-none">
                            <th>
                            </th>
                            <th>
                                Solo
                            </th>
                            <th>
                                Pool
                            </th>
                            <th>
                                POS
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                BOINC rewards
                            </td>
                            <td>
                                ✔️
                            </td>
                            <td>
                                ✔️
                            </td>
                            <td>
                                ❌
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Constant Block Rewards
                            </td>
                            <td>
                                ✔️
                            </td>
                            <td>
                                ❌
                            </td>
                            <td>
                                ✔️
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Secures network
                            </td>
                            <td>
                                ✔️
                            </td>
                            <td>
                                ❌
                            </td>
                            <td>
                                ✔️
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Decentralized
                            </td>
                            <td>
                                ✔️
                            </td>
                            <td>
                                ❌
                            </td>
                            <td>
                                ✔️
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ability to vote
                            </td>
                            <td>
                                ✔️
                            </td>
                            <td>
                                ❌
                            </td>
                            <td>
                                ✔️
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Keep 100% of Rewards
                            </td>
                            <td>
                                ✔️
                            </td>
                            <td>
                                ❌
                            </td>
                            <td>
                                ✔️
                            </td>
                        </tr>
                        <tr>
                            <td>
                                No upfront investment
                            </td>
                            <td>
                                ❌
                            </td>
                            <td>
                                ✔️
                            </td>
                            <td>
                                ❌
                            </td>
                        </tr>
                        <tr class="d-none d-sm-table-row">
                            <td>
                                BOINC Leaderboards
                            </td>
                            <td>
                                BOINCstats, Gridcoinstats &amp; others
                            </td>
                            <td>
                                Pool only
                            </td>
                            <td>
                                Gridcoinstats
                            </td>
                        </tr>
                        <tr class="d-none d-md-table-row">
                            <td>
                                Guide available
                            </td>
                            <td>
                                <a href="/Guides/boinc-install.htm"><button class="btn rounded-pill grcbtn">Solo Crunching Guide</button></a>
                            </td>
                            <td>
                                <a href="/Guides/pool.htm"><button class="btn rounded-pill grcbtn">Pool Crunching Guide</button></a>
                            </td>
                            <td>
                                <a href="/Guides/investor-gridcoin-setup.htm"><button class="btn rounded-pill grcbtn">Investor Guide</button></a>
                            </td>
                        </tr>
                        <tr class="d-none d-sm-table-row d-md-none">
                            <td>
                                Guide available
                            </td>
                            <td>
                                <a href="/Guides/boinc-install.htm"><button class="btn rounded-pill grcbtn">Solo Guide</button></a>
                            </td>
                            <td>
                                <a href="/Guides/pool.htm"><button class="btn rounded-pill grcbtn">Pool Guide</button></a>
                            </td>
                            <td>
                                <a href="/Guides/investor-gridcoin-setup.htm"><button class="btn rounded-pill grcbtn">Investor Guide</button></a>
                            </td>
                        </tr>
                        <tr class="d-table-row d-sm-none">
                            <td>
                                Guide available
                            </td>
                            <td>
                                <a href="/Guides/boinc-install.htm"><button class="btn rounded-circle btn-sm grcbtn">✔️</button></a>
                            </td>
                            <td>
                                <a href="/Guides/pool.htm"><button class="btn rounded-circle btn-sm grcbtn">✔️</button></a>
                            </td>
                            <td>
                                <a href="/Guides/investor-gridcoin-setup.htm"><button class="btn rounded-circle btn-sm grcbtn">✔️</button></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


<!-- download -->
<section class="grc-bgcolor py-4"  data-background-color="black">
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <a name="Downloads"></a>
                <h1 class="font-weight-bold">
                    Download the latest Gridcoin Research Wallet
                </h1>
                <p class="text-success font-weight-bold">
                	Current Wallet Version: 4.0.1.0 (Leisure)
                </p>
            </div>
        </div>
        <div class="row">
            <!--GRC Research Downloads-->
            <div class="col-12 col-sm-6 d-flex flex-column py-3">
                <h4 class="font-weight-bold">Windows 64-bit</h4>
                <a href="https://download.gridcoin.us/download/downloadstake/GridcoinResearch.msi">
                    <button class="btn rounded-pill grcbtn my-1"> 
                        Download MSI
                    </button>
                </a>
                <a href="https://download.gridcoin.us/download/downloadstake/GridcoinResearch.msi.sha256">
                    <button class="btn rounded-pill grcbtn my-1">
                        SHA256 Checksum
                    </button>
                </a>
            </div>
            <div class="col-12 col-sm-6 d-flex flex-column py-3">
                <h4 class="font-weight-bold">
                    MacOS
                </h4>
                <a href="https://github.com/Git-Jiro/homebrew-jiro/releases">
                    <button class="btn rounded-pill grcbtn my-1">
                        Download DMG
                    </button>
                </a>
            </div>
            <div class="col-12 col-sm-6 d-flex flex-column align-items-center py-3">
                <h4 class="font-weight-bold">
                    Linux
                </h4>
                <a class="text-decoration-none" href="https://software.opensuse.org/package/gridcoinresearch">
                    <button class="btn rounded-pill grcbtn my-1 d-flex">
                        .rpm package <span class="d-none d-md-block">(opensuse/fedora)</span>
                    </button>
                </a>
                <a class="text-decoration-none" href="https://code.launchpad.net/~gridcoin/+archive/ubuntu/gridcoin-stable">
                    <button class="btn rounded-pill grcbtn my-1 d-flex">
                        .deb package <span class="d-none d-md-block">(debian/ubuntu)</span>
                    </button>
                </a>
                <a href="https://aur.archlinux.org/packages/gridcoinresearch-qt">
                    <button class="btn rounded-pill grcbtn my-1">
                        Archlinux AUR package
                    </button>
                </a>
            </div>
            <!--/GRC Research Downloads-->
            <!--MISC-->
            <div class="col-12 col-sm-6 d-flex flex-column py-3">
                <h4 class="font-weight-bold">Other downloads</h4>
                <a href="https://boinc.berkeley.edu/download_all.php">
                    <button class="btn rounded-pill grcbtn my-1">
                        BOINC Clients
                    </button>
                </a>
                <a href="https://boinc.berkeley.edu/wiki/Add-on_software">
                    <button class="btn rounded-pill grcbtn my-1">
                        BOINC Add-on software
                    </button>
                </a>
                <a href="https://github.com/marius311/boinc-server-docker">
                    <button class="btn rounded-pill grcbtn my-1">
                        BOINC server Docker container
                    </button>
                </a>
            </div>
            <!--/MISC-->
        </div>
    </div>
</section>
<!--/downloads-->