---
title: "Gridcoin: Rewarding Scientific Distributed Computing"
---
<!-- Intro-->
<section data-background-color="color" style="margin-top:-20px; padding-top: 150px; padding-bottom:100px; background-color:#282828;background-image: url(Images/space2.jpg); background-size:cover; background-repeat: no-repeat; background-position: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <img src="/Images/grc-title3.png" alt="logo" style="padding-top:15px;">
                <h4 style="color: silver; margin-bottom: 15px; margin-top: 15px; font-weight: bold; text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);">Rewarding Volunteer Distributed Computing</h4>
            </div>
        </div>
    </div>
</section>
<!--/end of intro-->
<!--What is Gridcoin section-->
<section data-background-color="black" style="padding-bottom:15px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 hidden-xs" style="text-align:center;">
                <img src="/Images/FrontPage/visual.png" alt="GRC"  style="width: 400px; padding-top:75px;" />
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12" style="margin-bottom:5px;">
                <h3 style="text-align: left; color: white;">What is Gridcoin?</h3>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li style="margin-bottom: 10px; text-align:left;">
                        Gridcoin <span style="color:#88a13c;">(Ticker: GRC)</span> is a decentralized, open source math-based digital asset <a href="https://en.wikipedia.org/wiki/Cryptocurrency">(cryptocurrency)</a>. It performs transactions peer-to-peer cryptographically without the need for a central issuing authority.
                    </li>
                    <li style="margin-bottom: 10px; text-align:left;">
                        Gridcoin was the first block chain protocol that delivered a working algorithm that equally rewards and cryptographically proves solving <a href="https://boinc.berkeley.edu/">BOINC</a> (Berkeley Open Infrastructure for Network Computing) hosted work, which can be virtually any kind of distributed computing process <span style="color:#88a13c;">(GPU/CPU/Sensor/Etc)</span>.
                    </li>
                    <li style="margin-bottom: 10px; text-align:left;">
                        <a href="https://boinc.berkeley.edu/">BOINC</a> is an open-source volunteer oriented computing grid that combines the processing power of all individual users for the purposes of scientific research. It's free, and harnesses the unused clock cycles from processors and graphics cards to <a href="/Guides/whitelist.htm">attempt to cure cancer/aids/ebola/malaria, map the milkyway, crack enigma codes, etc.</a>.
                    </li>
                    <li style="margin-bottom: 10px; text-align:left;">
                        Gridcoin rewards BOINC computation using the Distributed Proof of Research <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-Research">(DPOR)</a> reward mechanism, which is a combination of Proof of BOINC <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-BOINC">(POB)</a> and Proof of Stake <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-Stake">(POSv2)</a>.
                    </li>
                    <li style="margin-bottom: 10px; text-align:left;">
                         Proof of Work <a href="https://en.wikipedia.org/wiki/Proof-of-work_system">(POW)</a> consensus mechanisms are not utilised by the Gridcoin network, making the Gridcoin cryptocurrency network far more energy efficient than any existing POW cryptocurrencies.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--/End of "What is Gridcoin" section-->
<!--Getting started section-->
<section data-background-color="black" style="padding-bottom: 5px;">
    <div class="container" style="overflow:hidden;">
        <div class="row">
            <div class="col-xs-12" style="text-align:center;">
                <h4 style="color:white; font-weight:bold;">How to earn Gridcoin for BOINC computation</h4>
                <h5 style="color:white; font-weight:bold;">Approximately 48,000 Gridcoins are generated each day through the DPOR reward mechanism.</h5>
            </div>
        </div>
<!--
        <div class="row table-responsive" style="margin-top:20px;">
        <table class="table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        Earning method
                    </th>
                    <th>
                        Advantages
                    </th>
                    <th>
                        Disadvantages
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Solo Crunching
                    </td>
                    <td>
                         <ul style="list-style-type: none; padding-left: 0;">
                            <li style="text-align:left; margin-bottom: 10px;">
                                Your individual user statistics are tracked across multiple BOINC and Gridcoin statistics websites.
                            </li>
                            <li style="text-align:left; margin-bottom: 10px;">
                                By regularly staking, you're processing broadcast transactions and helping secure the Gridcoin network.
                            </li>
                            <li style="text-align:left; margin-bottom: 10px;">
                                Staking with the windows client helps maintain an accurate Neural Network of BOINC statistics. 
                            </li>
                            <li style="text-align:left; margin-bottom: 10px;">
                                You can vote using your balance and DPOR weight within the client. You lose this ability when pool crunching.
                            </li>
                        </ul>
                    </td>
                    <td>
                         <ul style="list-style-type: none; padding-left: 0;">
                            <li style="text-align:left; margin-bottom: 10px;">
                                Since Distributed Proof of Research <span style="color:#88a13c;">(DPOR - BOINC reward mechanism)</span> is rewarded on top of the Proof of Stake <span style="color:#88a13c;">(POSv2)</span> cryptocurrency reward mechanism, an initial balance of Gridcoin is required in order to continuously stake blocks. An desired increased probability/frequency of staking requires an increased gridcoin balance. 
                            </li>
                        </ul>                        
                    </td>
                </tr>
                <tr>
                    <td>
                        Pool Crunching
                    </td>
                    <td>
                         <ul style="list-style-type: none; padding-left: 0;">
                            <li style="text-align:left; margin-bottom: 10px;">
                            No need to stake or acquire an initial balance of Gridcoin in order to receive DPOR <span style="color:#88a13c;">(BOINC rewards)</span>.
                            </li>
                            <li style="text-align:left; margin-bottom: 10px;">
                            Users with a low gridcoin balance in their wallet will experience faster DPOR payouts through the pool than through solo-staking. You can switch to solo-staking once you've built up a sufficient balance to stake with at the frequency you desire.
                            </li>
                        </ul>                        
                    </td>
                    <td>
                        <ul style="list-style-type: none; padding-left: 0;">
                            <li style="text-align:left; margin-bottom: 10px;">
                                Since Distributed Proof of Research <span style="color:#88a13c;">(DPOR - BOINC reward mechanism)</span> is rewarded on top of the Proof of Stake <span style="color:#88a13c;">(POSv2)</span> cryptocurrency reward mechanism, an initial balance of Gridcoin is required in order to continuously stake blocks. An desired increased probability/frequency of staking requires an increased gridcoin balance. 
                            </li>
                        </ul>                        
                    </td>
                </tr>
                <tr>
                    <td>
                        Investor mode
                    </td>
                    <td>
                        <ul style="list-style-type: none; padding-left: 0;">
                            <li style="text-align:left; margin-bottom: 10px;">
                                By staking blocks, you're processing broadcast transactions and helping secure the Gridcoin network.
                            </li>
                            <li style="text-align:left; margin-bottom: 10px;">
                                Staking with the windows client helps maintain an accurate Neural Network of BOINC statistics for the Gridcoin network. 
                            </li>
                            <li style="text-align:left; margin-bottom: 10px;">
                                You can vote using your balance to vote on important matters within the Gridcoin client.
                            </li>
                        </ul>                        
                    </td>
                    <td>
                        <ul style="list-style-type: none; padding-left: 0;">
                            <li style="text-align:left; margin-bottom: 10px;">
                                You'll earn less Gridcoin than those participating in DPOR, since you'll only earn interest on your Gridcoin balance.
                            </li>
                        </ul>                        
                    </td>
                </tr>
            </tbody>
        </table>
        </div>

-->

        <div class="row" style="margin-top:20px;">
            <div class="col-xs-12 col-sm-6 col-md-6" style="background-color: #2d2d2d; padding-bottom: 1000px; margin-bottom: -1000px; ">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-10">
                    <h4 style="color:white;text-align:center;font-weight:bold;">Solo Crunching</h4>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold;">Advantages</h6>
                     <ul style="list-style-type: none; padding-left: 0;">
                        <li style="text-align:left; margin-bottom: 10px;">
                            Your individual user statistics are tracked across multiple BOINC and Gridcoin statistics websites.
                        </li>
                        <li style="text-align:left; margin-bottom: 10px;">
                            By regularly staking, you're processing broadcast transactions and helping secure the Gridcoin network.
                        </li>
                        <li style="text-align:left; margin-bottom: 10px;">
                            You can vote using your balance and DPOR weight within the client. You lose this ability when pool crunching.
                        </li>
                    </ul>
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold;">Disadvantages</h6>
                     <ul style="list-style-type: none; padding-left: 0;">
                        <li style="text-align:left; margin-bottom: 10px;">
                            Since Distributed Proof of Research <span style="color:#88a13c;">(DPOR - BOINC reward mechanism)</span> is rewarded on top of the Proof of Stake <span style="color:#88a13c;">(POSv2)</span> cryptocurrency reward mechanism, an initial balance of Gridcoin is required in order to continuously stake blocks. An desired increased probability/frequency of staking requires an increased gridcoin balance. 
                        </li>
                        <li style="text-align: center;">
                            <a href="/Guides/boinc-install.htm"><button class="btn btn-primary btn-simple">Solo Crunching Guide</button></a>
                        </li>
                    </ul>
                    </br>
            
                </div>
                <div class="col-xs-1">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <div class="col-xs-10 col-xs-offset-1">
                    <h5 style="color: white; text-align: center; font-weight: bold;">Pool Crunching</h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold;">Advantages</h6>
                     <ul style="list-style-type: none; padding-left: 0;">
                        <li style="text-align:left; margin-bottom: 10px;">
                        No need to stake or acquire an initial balance of Gridcoin in order to earn Gridcoin.
                        </li>
                        <li style="text-align:left; margin-bottom: 10px;">
                        Users with a low gridcoin balance in their wallet (less than several thousand) earn GRC rewards faster using a pool than through solo-staking. You can switch to solo-staking once you've built up a sufficient balance capable of staking at the frequency you desire.
                        </li>
                    </ul>
                    <h6 style="color: #707c34; margin-top: 0px; font-weight: bold;">Disadvantages</h6>
                     <ul style="list-style-type: none; padding-left: 0;">
                        <li style="text-align:left; margin-bottom: 10px;">
                        Pools charge fees on earnings.
                        </li>
                        <li style="text-align:left; margin-bottom: 10px;">
                        Pools introduce centralization to Gridcoin.
                        </li>
                        <li style="text-align:left; margin-bottom: 10px;">
                        You cannot use your DPOR weight to vote on polls within the Gridcoin client.
                        </li>
                        <li style="text-align:left; margin-bottom: 10px;">
                        Your individual BOINC statistics will likely only be reported on the pool website, all other BOINC/Gridcoin stat sites will report stats only for the pool's BOINC account. 
                        </li>
                        <li style="text-align: center;">
                            <a href="/Guides/pool.htm"><button class="btn btn-simple btn-primary btn-simple">Pool Crunching Guide</button></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="overflow:hidden;">
        <div class="row" style="text-align: center;">
            <div class="col-xs-12" style="text-align: center;">
                <h4 style="color:white; font-weight:bold;">Earn Gridcoin through Proof of Stake</h4>
                <h5 style="color:white; font-weight:bold;">Interest is 1.5% APR</h5>
            </div>
        </div>

        <div class="row">
            <div class="hidden-xs col-sm-3 col-md-3">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">  
                <h5 style="color: white; text-align: center; font-weight: bold;">Investor mode</h5>
                <hr style="border-color: #40413c;" />
                <h6 style="color: #707c34; margin-top: 0px; font-weight: bold;">Advantages</h6>
                 <ul style="list-style-type: none; padding-left: 0;">
                    <li style="text-align:left; margin-bottom: 10px;">
                        By staking blocks, you're processing broadcast transactions and helping secure the Gridcoin network.
                    </li>
                    <li style="text-align:left; margin-bottom: 10px;">
                        Staking with the windows client helps maintain an accurate Neural Network of BOINC statistics for the Gridcoin network. 
                    </li>
                    <li style="text-align:left; margin-bottom: 10px;">
                        You can vote using your balance to vote on important matters within the Gridcoin client.
                    </li>
                </ul>
                <h6 style="color: #707c34; margin-top: 0px; font-weight: bold;">Disadvantages</h6>
                 <ul style="list-style-type: none; padding-left: 0;">
                    <li style="text-align:left; margin-bottom: 10px;">
                        You'll earn less Gridcoin than those participating in DPOR, since you'll only earn interest on your Gridcoin balance.
                    </li>
                    <li style="text-align: center;">
                        <a href="/Guides/investor-gridcoin-setup.htm" class="text-center"><button class="btn btn-primary btn-simple text-center">Investor Guide</button></a>
                    </li>
                </ul>
            </div>
            <div class="hidden-xs col-sm-3 col-md-3">
            </div>
        </div>
    </div>
</section>
<!--/Getting started section-->
    <!-- download -->
<section data-background-color="black">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align:center;">
                <h4 style="color:white; font-weight:bold;">
                    Gridcoin Downloads<a name="Downloads"></a>
                </h4>
            </div>
        </div>
        <div class="row">
            <!--GRC Research Downloads-->
            <div class="col-xs-12 col-sm-4">
                <div class="plan" style="margin-bottom:10px;border-color:#40413c">
                    <div class="title" style="color:white;">Windows</div>
                    <a class="btn btn-simple btn-default" style="margin:5px;" href="http://download.gridcoin.us/download/downloadstake/GridcoinResearch.msi">
                        Gridcoin Research Wallet
                    </a>
                    <!--<a class="btn btn-primary" style="margin:5px;" href="http://download.gridcoin.us/download/gridcoind.exe">Gridcoin Daemon</a>-->
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="plan" style="margin-bottom:10px;border-color:#40413c">
                    <div class="title" style="color:white;">Linux</div>
                        <a class="btn btn-simple btn-default" style="margin:5px;" href="https://build.opensuse.org/package/show/home:theMarix/gridcoin">.rpm <span class="hidden-xs hidden-sm">(opensuse/fedora)</span> package</a>
                        <a class="btn btn-simple btn-default" style="margin:5px;" href="https://code.launchpad.net/~gridcoin/+archive/ubuntu/gridcoin-stable">.deb <span class="hidden-xs hidden-sm">(debian/ubuntu)</span> package</a>
                        <a class="btn btn-simple btn-default" style="margin:5px;" href="https://aur.archlinux.org/packages/gridcoinresearch-qt">Archlinux AUR package</a>
                </div>
            </div>
            <!--/GRC Research Downloads-->
            <!--MISC-->
            <div class="col-xs-12 col-sm-4">
                <div class="plan" style="margin-bottom:10px;border-color:#40413c">
                    <div class="title" style="color:white;">Other</div>
                    <a class="btn btn-simple btn-default" style="margin:5px;" href="/Guides/gridcoin-install.htm">
                        Gridcoin Install Guides
                    </a>
                    <a class="btn btn-simple btn-default" style="margin:5px;" href="https://boinc.berkeley.edu/download_all.php">
                        BOINC Clients
                    </a>
                </div>
            </div>
            <!--/MISC-->
        </div>
    </div>
</section>
<!--/downloads-->
<!--GRC Feature section-->
<section data-background-color="black" style="padding-bottom: 5px;">
    <div class="container" style="overflow:hidden;">
        <div class='col-xs-12 text-center' style="text-align:center;">
            <h4 style="color:white; font-weight:bold;">GRIDCOIN'S FEATURES</h4>
        </div>
        <div class="row" style="padding-top:25px;">
            <div class="col-xs-12 col-sm-4 col-md-4" data-background-color="black" style="padding-bottom: 1000px; margin-bottom: -1000px;">
                <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-Stake">
                    <!--<img src="/Images/FrontPage/icon01.png" alt="Graph" height="100" width="100" style="padding-top:15px; margin-bottom:-25px;">-->
                    <h6 style="color:white; font-weight:bold;">
                        PROOF-OF-STAKE
                    </h6>
                </a>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li style="margin-bottom: 10px;">
                        Gridcoin Research utilises proof of stake (POSv2) as its primary distributed consensus mechanism. There is no proof of work (POW) within the Gridcoin network's consensus mechanism.
                    </li>
                    <li style="margin-bottom: 10px;">
                        The Proof-of-Stake mechanism uses the stake (balance) of the holder to attempt to mint the next block in the blockchain. The larger a user's stake in gridcoin, the higher the probability that the user will mint the next block.
                    </li>
                    <li style="text-align:center;">
                        <a class="btn btn-simple btn-default" href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-Stake">
                            Read more about POS
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4" style="padding-bottom: 1000px; margin-bottom: -1000px;">
                <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-BOINC">
                    <!--<img src="/Images/FrontPage/icon02.png" alt="BOINC Logo" height="100" width="100" style="padding-top:15px; margin-bottom:-25px;">-->
                    <h6 style="color:white; font-weight:bold;">
                        PROOF-OF-BOINC
                    </h6>
                </a>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li style="margin-bottom: 10px;">
                        When a researcher registers for individual BOINC projects, a cross project ID (CPID) is generated by BOINC and used within the Gridcoin network to securely track verified BOINC contributions made by GRC participants.
                    </li>
                    <li style="text-align:center;">
                        <a class="btn btn-simple btn-default" href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-BOINC">
                            Read more about POB
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4" style="padding-bottom: 1000px; margin-bottom: -1000px;">
                <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-Research">
                    <!--<img src="/Images/FrontPage/icon03.png" alt="POR" height="100" width="100" style="padding-top:15px; margin-bottom:-25px;">-->
                    <h6 style="color:white; font-weight:bold;">
                        DISTRIBUTED-PROOF-OF-RESEARCH
                    </h6>
                </a>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li style="margin-bottom: 10px;">
                        Proof of stake (POS) and Proof of BOINC (POB) are tied together by Distributed Proof of Research (DPOR).
                    </li>
                    <li style="margin-bottom: 10px;">
                        The GRC network queries BOINC project servers directly & the network agrees on a superblock once per 24 hours to track BOINC statistics and register new users. Users are rewarded their DPOR earnings on top of their staked blocks.
                    </li>
                    <li style="text-align:center;">
                        <a class="btn btn-simple btn-default" href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-Research">
                            Read more about DPOR
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4" style="padding-bottom: 1000px; margin-bottom: -1000px;">
                <!--<img src="/Images/FrontPage/icon04.png" alt="leccy" height="100" width="100" style="padding-top:15px; margin-bottom:-25px;" />-->
                <h6 style="color:white; font-weight:bold;">Decentralized Voting</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li>The Gridcoin client has inbuilt decentralized voting & plans to expand on blockchain based voting systems.</li>
                    <li  style="text-align:center; padding-top:10px;"><a class="btn btn-simple btn-default" href="http://finance.gridcoin.us:8080/images/gridcoin%20decentralized%20voting%20system.pdf">Voting guide</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4" style="padding-bottom: 1000px; margin-bottom: -1000px;">
                <!--<img src="/Images/FrontPage/icon05.png" alt="Whitelist" height="100" width="100" style="padding-top:15px; margin-bottom:-25px;">-->
                <h6 style="color:white; font-weight:bold;">BOINC WHITELIST</h6>
                <ul style="list-style-type: none; padding-left: 0;"
                    <li style="margin-bottom: 10px;">
                        Gridcoin has implemented a BOINC project whitelist to prevent shenanigans and improve Gridcoin's network security.
                    </li>
                    <li style="margin-bottom: 10px;">
                        The Gridcoin community is looking into creating a thorough whitelisting process; Stay tuned for more info!
                    </li>
                    <li style="text-align:center;">
                        <a class="btn btn-simple btn-default" href="/Guides/whitelist.htm">Read more about the whitelist</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4" style="padding-bottom: 1000px; margin-bottom: -1000px;">
                <!--<img src="/Images/FrontPage/icon06.png" alt="science" height="100" width="100" style="padding-top:15px; margin-bottom:-25px;" />-->
                <h6 style="color:white; font-weight:bold;">HELP ADVANCE SCIENCE</h6>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li style="margin-bottom: 10px;">
                        With Gridcoin, not only will you be rewarded with GRC - you'll be aiding important research such as attempting to solve cancer/aids/ebola/malaria, mapping the milkyway, folding protiens, finding prime numbers, etc.
                    </li>
                    <li>
                        Even just by using Gridcoin as a currency, you'll be helping establish the Gridcoin economy - ensuring the thousands of BOINC contributors are able to cover electricity costs.
                    </li>
                    <li style="text-align:center;">
                        <a class="btn btn-simple btn-default" href="/Community/ProjectPublications.htm">BOINC project publications</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End of GRC Feature Section-->

<!--Types of BOINC Projects-->
<section data-background-color="black" style="padding-bottom: 25px;">
    <div class="container" style="overflow:hidden;">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center; padding-bottom:15px; padding-top:5px;">
                        <h4 style="color:white; font-weight:bold;">Types of BOINC Projects</h4>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6" style="padding-bottom: 1000px; margin-bottom: -1000px; ">
                        <!--<img src="/Images/FrontPage/icon07.png" alt="Volunteer" style="padding-top: 25px; height: 150px;">-->
                        <h6 style="color:white;">Volunteer/Non-Profit</h6>
                        <ul style="list-style-type: none; padding-left: 0px;">
                            <li style="margin: 5px;">
                                <b>Scientists:</b> use BOINC to create a <a href="https://boinc.berkeley.edu/volunteer.php">volunteer computing project</a>.
                            </li>
                            <li style="margin: 5px;">
                                <b>Universities:</b> use BOINC to create a <a href="https://boinc.berkeley.edu/trac/wiki/VirtualCampusSupercomputerCenter">Virtual Campus Supercomputing Center</a>.
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6" style="padding-bottom: 1000px; margin-bottom: -1000px; ">
                        <!--<img src="/Images/FrontPage/icon08.png" alt="Commercial" style="padding-top: 25px; height: 150px;">-->
                        <h6 style="color:white;">Commercial/For-Profit</h6>
                        <ul style="list-style-type: none; padding-left: 0px;">
                            <li style="margin: 5px;">
                                <b>Companies:</b> use BOINC for <a href="https://boinc.berkeley.edu/dg.php">desktop Grid computing</a>.
                            </li>
                            <li style="margin: 5px;">
                                Create a commercial BOINC project (such as a video rendering project), charge customer and distribute pay to BOINC contributors.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h4 style="color:white; font-weight:bold;">Potential BOINC tech</h4>
                <ul style="list-style-type: none; padding-left: 0px;">
                    <li>
                        <b>Compute</b>: Tensorflow, Apache Spark/Storm, MapReduce, etc.
                    </li>
                    <li>
                        <b>Storage</b>: Cassandra
                    </li>
                    <li>
                        <b>Virtualization</b>: Virtualbox, Docker.
                    </li>
                    <li>
                        <b>Hardware</b>: Sensors, ARM, x86, GPUs, ASIC, etc.
                    </li>
                </ul>
            </div>
<!--            <div class="col-md-4 col-sm-4 col-xs-12" style="padding-bottom: 1000px; margin-bottom: -1000px; ">
                <img src="/Images/FrontPage/icon09.png" alt="DAC" style="padding-top:25px;height:150px;">
                <h6 style="color:white;">BOINC DAC</h6>
                <ul style="list-style-type: none; padding-left: 0px;">
                    <li style="margin: 5px;"><a href="/guides/bdac.htm">
                        Create a decentralized autonomous BOINC corporation.</a>
                    </li>
                    <li style="margin: 5px;">
                        Create a decentralized company that anyone can profit from, and anyone can submit relevant work units towards for GRC.
                    </li>
                    <li style="margin: 5px;">
                        Examples: Decentralized storage, virtual worlds/marketplaces, anonymous TOR BOINC projects.
                    </li>
                </ul>
            </div>-->
        </div>
    </div>
</section>
<!--/BOINC Projects-->

<!--Banner for social media buttons-->
<section data-background-color="black" style="padding-top: 15px; padding-bottom: 10px; ">
    <div class="container">
        <div class='row'>
            <div class='col-xs-12 text-center'>
                <h4 style="color:white; font-weight:bold;">SOCIAL MEDIA</h4>
            </div>
        </div>
    </div>
</section>
<!--/Banner for press/social media buttons-->
<section data-background-color="black" style="">
    <div class="container">
        <!--Social Media-->
        <div class="row" style="text-align:center;">
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://twitter.com/GridcoinNetwork"><img src="/Images/Social/128-twitter.png" alt="twitter" /></a>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://www.fb.com/gridcoins"><img src="/Images/Social/128-facebook.png" alt="facebook" /></a>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://github.com/gridcoin/Gridcoin-Research"><img src="/Images/Social/128-github.png" style="background-color: #b0c4de;" alt="g+" /></a>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://www.reddit.com/r/gridcoin"><img src="/Images/Social/128-reddit.png" alt="reddit" /></a>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://cryptocointalk.com/forum/464-gridcoin-grc/"><img src="/Images/Social/128-forum.png" alt="cryptocointalk gridcoin" /></a>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin"><img src="/Images/Social/128-mirc.png" alt="IRC" /></a>
            </div>
        </div>
        <!--/Social Media-->
        <!--Social Media-->
        <div class="row" style="text-align:center;">
            <div class="col-xs-2 col-sm-2 col-xs-offset-1" style="margin-top:10px;">
                <a href="https://soundcloud.com/gridcoin-community-hangouts"><img src="/Images/Social/128-soundcloud.png" alt="Soundcloud" /></a>
            </div>
            <div class="col-xs-2 col-sm-2" style="margin-top:10px;">
                <a href="https://www.mixcloud.com/gridcoin_hangouts/"><img src="/Images/Social/mixcloud.jpeg" alt="Mixcloud" /></a>
            </div>
            <div class="col-xs-2 col-sm-2" style="margin-top:10px;">
                <a href="https://steemit.com/active/gridcoin"><img src="/Images/Social/Steem.png" alt="Steem" /></a>
            </div>
            <div class="col-xs-2 col-sm-2" style="margin-top:10px;">
                <a href="https://t.me/gridcoin"><img src="/Images/Social/128-telegram.png" alt="Steem" /></a>
            </div>
            <div class="col-xs-2 col-sm-2" style="margin-top:10px;">
                <a href="https://www.youtube.com/channel/UC0Z3uczcC2okYRrLLCZFrMQ"><img src="/Images/Social/128-youtube.png" alt="Youtube" /></a>
            </div>
            <div class="col-xs-2 col-sm-2" style="margin-top:10px;">
                <a href="https://gridcoin.tumblr.com/"><img src="/Images/Social/128-tumblr.png" alt="Tumblr" /></a>
            </div>
        </div>
        <!--/Social Media-->
    </div>
</section>
<!-- End of download -->