---
title: "Gridcoin - Rewarding Scientific Distributed Computing"
description: "Gridcoin is a cryptocurrency which rewards volunteer distributed computation performed on the BOINC platform on top of Proof of Stake."
---
<!-- Intro-->
<section data-background-color="color" style="margin-top:-20px; padding-top: 150px; padding-bottom:100px; background-image:linear-gradient(#7d00f4, #41007f);">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align: center; width: 100%;">
                <img src="/Images/LOGO/GRCVertical_Purple&White_Solid.png" alt="logo" style="padding-top:15px; width: 250px;">
                <!--<h4 style="color: silver; margin-bottom: 15px; margin-top: 15px; font-weight: bold; text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);">Rewarding Volunteer Distributed Computing</h4>-->
            </div>
        </div>
    </div>
</section>
<!--/end of intro-->
<!--What is Gridcoin section-->
<section  data-background-color="black" style="padding-bottom:15px;">
    <div class="container">
        <div class="row" style="padding-top:75px;">
            <!--<div class="col-md-4 col-sm-4 hidden-xs" style="text-align:center;">
                <img src="/Images/LOGO/GRCVertical_Purple_Transparent.png" alt="GRC"  style="width: 400px;" />
            </div>-->
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:5px;">
                <h3 style="text-align: left;">What is Gridcoin?</h3>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li style="margin-bottom: 10px; text-align:left;">
                        Gridcoin <span style="color:#7d00f4;">(Ticker: GRC)</span> is a decentralized, open source math-based digital asset (<a href="https://en.wikipedia.org/wiki/Cryptocurrency">cryptocurrency</a>) which performs transactions peer-to-peer cryptographically without the need for a central issuing authority.
                    </li><!--
                    <li style="margin-bottom: 10px; text-align:left;">
                        Gridcoin was the first block chain protocol that delivered a working algorithm that equally rewards and cryptographically proves solving <a href="https://boinc.berkeley.edu/">BOINC</a> (Berkeley Open Infrastructure for Network Computing) hosted work, which can be virtually any kind of distributed computing process <span style="color:#7d00f4;">(GPU/CPU/Sensor/Etc)</span>.
                    </li>
                    <li style="margin-bottom: 10px; text-align:left;">
                        <a href="https://boinc.berkeley.edu/">BOINC</a> is an open-source volunteer oriented computing grid that combines the processing power of all individual users for the purposes of scientific research. It's free, and harnesses the unused clock cycles from processors and graphics cards to <a href="/Guides/whitelist.htm">attempt to cure cancer/aids/ebola/malaria, map the milkyway, crack enigma codes, etc.</a>.
                    </li>-->
                    <li style="margin-bottom: 10px; text-align:left;">
                        Gridcoin securely <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-Research">rewards</a> volunteer distributed computing performed upon the <a href="https://boinc.berkeley.edu/" style="color:#7d00f4;">BOINC platform</a> in a decentralized manner on top of proof of stake. Projects range from attempting to cure diseases to searching for extraterrestrial life! You can distribute virtually any kind of distributed computing process through BOINC (utilizing GPU/CPU/Sensors/etc).
                    </li>
                    <li style="margin-bottom: 10px; text-align:left;">
                        The BOINC network is currently made up of approximately 500k active users and 4 million registered users - a massive potential userbase for Gridcoin and a serious amount of computing power available for scientific research!
                    </li>
                    <li style="margin-bottom: 10px; text-align:left;">
                        Anyone who needs a serious amount of distributed computing power can run a BOINC project to create a distributed cloud service of their own desire (fairly easily) whilst the Gridcoin network rewards their project's volunteers on their behalf.
                    </li>
                    <!--
                    <li style="margin-bottom: 10px; text-align:left;">
                        Gridcoin rewards BOINC computation using the Distributed Proof of Research <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-Research">(DPOR)</a> reward mechanism, which is a combination of Proof of BOINC <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-BOINC">(POB)</a> and Proof of Stake <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-Stake"></a>.
                    </li>-->
                    <li style="margin-bottom: 10px; text-align:left;">
                         Proof of Work <a href="https://en.wikipedia.org/wiki/Proof-of-work_system">(POW)</a> consensus mechanisms are not utilised by the Gridcoin network, making the Gridcoin cryptocurrency network far more energy efficient than any existing POW cryptocurrency.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--/End of "What is Gridcoin" section-->
<!--Getting started section-->
<section  data-background-color="black" style="padding-bottom: 5px;">
    <div class="container" style="overflow:hidden;">
        <div class="row">
            <div class="col-xs-12" style="text-align: center; width: 100%;">
                <h4 style="color:white; font-weight:bold;">How to earn Gridcoin for BOINC computation</h4>
                <h5 style="color:white; font-weight:bold;">Approximately 50k GRC are distributed as BOINC rewards each day</h5>
            </div>
        </div>

        <div class="row" style="margin-top:20px;">
            <div class="col-xs-12 col-sm-6 col-md-6" style="background-color: #2d2d2d; padding-bottom: 1000px; margin-bottom: -1000px; ">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-10">
                    <h4 style="color:white;text-align:center;font-weight:bold;">Solo Crunching</h4>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #7d00f4; margin-top: 0px; font-weight: bold;">Advantages</h6>
                     <ul style="list-style-type: none; padding-left: 0;">
                        <li style="text-align:left; margin-bottom: 10px;">
                            Your individual user statistics are tracked across multiple BOINC and Gridcoin statistics websites.
                        </li>
                        <li style="text-align:left; margin-bottom: 10px;">
                            By regularly staking, you're processing broadcast transactions and helping secure the Gridcoin network.
                        </li>
                        <li style="text-align:left; margin-bottom: 10px;">
                            You can vote using your balance and DPOR weight within the client. You lose this ability when pool crunching.
                        </li>
                    </ul>
                    <h6 style="color: #7d00f4; margin-top: 0px; font-weight: bold;">Disadvantages</h6>
                     <ul style="list-style-type: none; padding-left: 0;">
                        <li style="text-align:left; margin-bottom: 10px;">
                            Since Distributed Proof of Research <span style="color:#7d00f4;">(DPOR - BOINC reward mechanism)</span> is rewarded on top of the Proof of Stake cryptocurrency reward mechanism, an initial balance of Gridcoin is required in order to continuously stake blocks. A desired increased probability/frequency of staking requires an increased Gridcoin balance. 
                        </li>
                        <li style="text-align: center;">
                            <a href="/Guides/boinc-install.htm"><button class="btn btn-round" style="background-color:#4e0097;margin:5px;margin-top:35px;font-weight:bold;">Solo Crunching Guide</button></a>
                        </li>
                    </ul>
            
                </div>
                <div class="col-xs-1">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">
                <div class="col-xs-10 col-xs-offset-1">
                    <h5 style="color: white; text-align: center; font-weight: bold; padding-top: 32px;"><a href="/Guides/pool.htm">Pool Crunching</a></h5>
                    <hr style="border-color: #40413c;" />
                    <h6 style="color: #7d00f4; margin-top: 0px; font-weight: bold;">Advantages</h6>
                     <ul style="list-style-type: none; padding-left: 0;">
                        <li style="text-align:left; margin-bottom: 10px;">
                        No need to stake or acquire an initial balance of Gridcoin in order to earn Gridcoin.
                        </li>
                        <li style="text-align:left; margin-bottom: 10px;">
                        Users with a low Gridcoin balance in their wallet (less than several thousand) earn Gridcoin rewards faster using a pool than through solo-staking. You can switch to solo-staking once you've built up a sufficient balance capable of staking at the frequency you desire.
                        </li>
                    </ul>
                    <h6 style="color: #7d00f4; margin-top: 0px; font-weight: bold;">Disadvantages</h6>
                     <ul style="list-style-type: none; padding-left: 0;">
                        <li style="text-align:left; margin-bottom: 10px;">
                        Pools charge fees on earnings.
                        </li>
                        <li style="text-align:left; margin-bottom: 10px;">
                        Pools introduce centralization to Gridcoin.
                        </li>
                        <li style="text-align:left; margin-bottom: 10px;">
                        You cannot use your DPOR weight to vote on polls within the Gridcoin client.
                        </li>
                        <li style="text-align:left; margin-bottom: 10px;">
                        Your individual BOINC statistics will likely only be reported on the pool website, all other BOINC/Gridcoin stat sites will report stats only for the pool's BOINC account. 
                        </li>
                        <li style="text-align: center;">
                            <a href="/Guides/pool.htm"><button class="btn btn-round" style="background-color:#4e0097;font-weight:bold;">Pool Crunching Guide</button></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="overflow:hidden;">
    
        <div class="row">
            <div class="col-xs-12" style="text-align: center; width: 100%;">
                <h4 style="color:white; font-weight:bold;">Earn Gridcoin through Proof of Stake</h4>
                <h5 style="color:white; font-weight:bold;">Interest is 1.5% APR</h5>
            </div>
        </div>

        <div class="row">
            <div class="hidden-xs col-sm-3 col-md-3">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6" style="background-color: #303030;padding-bottom: 1000px; margin-bottom: -1000px; ">  
                <h5 style="color: white; text-align: center; font-weight: bold; padding-top:25px;"><a href="/Guides/investor-gridcoin-setup.htm" class="text-center">Investor mode</a></h5>
                <hr style="border-color: #40413c;" />
                <h6 style="color: #7d00f4; margin-top: 0px; font-weight: bold;">Advantages</h6>
                 <ul style="list-style-type: none; padding-left: 0;">
                    <li style="text-align:left; margin-bottom: 10px;">
                        By staking blocks, you're processing broadcast transactions and helping secure the Gridcoin network.
                    </li>
                    <li style="text-align:left; margin-bottom: 10px;">
                        Staking with the windows client helps maintain an accurate Neural Network of BOINC statistics for the Gridcoin network. 
                    </li>
                    <li style="text-align:left; margin-bottom: 10px;">
                        You can vote on important community initiatives within the Gridcoin client.
                    </li>
                </ul>
                <h6 style="color: #7d00f4; margin-top: 0px; font-weight: bold;">Disadvantages</h6>
                 <ul style="list-style-type: none; padding-left: 0;">
                    <li style="text-align:left; margin-bottom: 10px;">
                        You'll earn less Gridcoin than those participating in DPOR, since you'll only earn interest on your Gridcoin balance.
                    </li>
                    <li style="text-align: center;">
                        <a href="/Guides/investor-gridcoin-setup.htm" class="text-center"><button class="btn btn-round" style="background-color:#4e0097;font-weight:bold;">Investor Guide</button></a>
                    </li>
                </ul>
            </div>
            <div class="hidden-xs col-sm-3 col-md-3">
            </div>
        </div>
    </div>
</section>
<!--/Getting started section-->
    <!-- download -->
<section >
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align:center; width: 100%;">
                <a name="Downloads"></a>
                <h4 style="color:white; font-weight:bold;">
                    Gridcoin Downloads
                </h4>
            </div>
        </div>
        <div class="row">
            <!--GRC Research Downloads-->
            <div class="col-xs-12 col-sm-4">
                <div class="plan" style="margin-bottom:10px;border-color:#40413c; text-align: center;">
                    <div class="title" style="color:white;">Windows</div>
                    <a class="btn btn-round" style="background-color:#4e0097;margin:5px;font-weight:bold;" href="http://download.gridcoin.us/download/downloadstake/GridcoinResearch.msi">
                        Gridcoin Research Wallet
                    </a>
                    <!--<a class="btn btn-primary" style="margin:5px;" href="http://download.gridcoin.us/download/gridcoind.exe">Gridcoin Daemon</a>-->
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="plan" style="margin-bottom:10px;border-color:#40413c; text-align: center;">
                    <div class="title" style="color:white;">Linux</div>
                        <a class="btn btn-round" style="background-color:#4e0097;margin:5px;font-weight:bold;" href="https://software.opensuse.org/package/gridcoinresearch">.rpm <span class="hidden-xs hidden-sm">(opensuse/fedora)</span> package</a><br/>
                        <a class="btn btn-round" style="background-color:#4e0097;margin:5px;font-weight:bold;" href="https://code.launchpad.net/~gridcoin/+archive/ubuntu/gridcoin-stable">.deb <span class="hidden-xs hidden-sm">(debian/ubuntu)</span> package</a><br/>
                        <a class="btn btn-round" style="background-color:#4e0097;margin:5px;font-weight:bold;" href="https://aur.archlinux.org/packages/gridcoinresearch-qt">Archlinux AUR package</a>
                </div>
            </div>
            <!--/GRC Research Downloads-->
            <!--MISC-->
            <div class="col-xs-12 col-sm-4">
                <div class="plan" style="margin-bottom:10px;border-color:#40413c; text-align: center;">
                    <div class="title" style="color:white;">Other</div>
                    <a class="btn btn-round" style="background-color:#4e0097;margin:5px;font-weight:bold;" href="https://boinc.berkeley.edu/download_all.php">BOINC Clients</a><br/>
                    <a class="btn btn-round" style="background-color:#4e0097;margin:5px;font-weight:bold;" href="http://efmer.com/b/?q=boinctasks_download">Boinctasks</a><br/>

                </div>
            </div>
            <!--/MISC-->
        </div>
    </div>
</section>
<!--/downloads-->

<section  data-background-color="black" style="margin-bottom: 50px;">
    <div class="container">
        <!--Social Media-->
        <div class="row" style="text-align:center;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center; padding-bottom:15px; padding-top:5px;">
                <h4 style="color:white; font-weight:bold;">Social Media</h4>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://twitter.com/GridcoinNetwork"><img src="/Images/Social/128-twitter.png" alt="twitter" /></a>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://www.fb.com/gridcoins"><img src="/Images/Social/128-facebook.png" alt="facebook" /></a>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://github.com/gridcoin/Gridcoin-Research"><img src="/Images/Social/128-github.png" style="background-color: #b0c4de;" alt="github" /></a>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://www.reddit.com/r/gridcoin"><img src="/Images/Social/128-reddit.png" alt="reddit" /></a>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://cryptocurrencytalk.com/forum/464-gridcoin-grc/"><img src="/Images/Social/128-cctalk.png" alt="cryptocurrencytalk gridcoin" /></a>
            </div>
            <div class="col-xs-4 col-sm-2" style="margin-top:10px;">
                <a href="https://kiwiirc.com/client/irc.freenode.net:6697/#gridcoin-help"><img src="/Images/Social/128-kiwiirc.png" alt="kiwiirc" /></a>
            </div>
        </div>
        <!--/Social Media-->
        <!--Social Media-->
        <div class="row" style="text-align:center;">
            <div class="col-xs-2 col-sm-2 col-xs-offset-1" style="margin-top:20px;">
                <a href="https://soundcloud.com/gridcoin-community-hangouts"><img src="/Images/Social/128-soundcloud.png" alt="soundcloud" /></a>
            </div>
            <div class="col-xs-2 col-sm-2" style="margin-top:20px;">
                <a href="https://www.mixcloud.com/gridcoin_hangouts/"><img src="/Images/Social/128-mixcloud.png" alt="mixcloud" /></a>
            </div>
            <div class="col-xs-2 col-sm-2" style="margin-top:20px;">
                <a href="https://steemit.com/active/gridcoin"><img src="/Images/Social/128-steemit.png" alt="steemit" /></a>
            </div>
            <div class="col-xs-2 col-sm-2" style="margin-top:20px;">
                <a href="https://t.me/gridcoin"><img src="/Images/Social/128-telegram.png" alt="telegram" /></a>
            </div>
            <div class="col-xs-2 col-sm-2" style="margin-top:20px;">
                <a href="https://www.youtube.com/channel/UC0Z3uczcC2okYRrLLCZFrMQ"><img src="/Images/Social/128-youtube.png" alt="youtube" /></a>
            </div>
            <div class="col-xs-2 col-sm-2" style="margin-top:20px;">
                <a href="https://gridcoin.tumblr.com/"><img src="/Images/Social/128-tumblr.png" alt="tumblr" /></a>
            </div>
        </div>
        <!--/Social Media-->
        <!--Social Media-->
        <div class="row" style="text-align:center;">
            <div class="col-xs-2 col-sm-2" style="margin-top:30px;">
                <a href="https://discord.gg/Bt4YHxJ"><img src="/Images/Social/128-discord.png" alt="discord" /></a>
            </div>
            <div class="col-xs-2 col-sm-2" style="margin-top:30px;">
                 <a href="https://plus.google.com/116846427793240288155"><img src="/Images/Social/128-googleplus.png" alt="google plus" /></a>
             </div>
        <!--/Social Media-->
    </div>
</section>
<!-- End of download -->
