---
title: "Gridcoin - Rewarding Scientific Distributed Computing"
description: "Gridcoin is a cryptocurrency which rewards volunteer distributed computation performed on the BOINC platform on top of Proof of Stake."
---
<!-- Intro-->
<section data-background-color="color" style="margin-top:-20px; padding-top: 150px; padding-bottom:65px; background-image:linear-gradient(#7d00f4, #41007f);">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align: center; width: 100%;">
                <img src="/Images/LOGO/GRCVertical_Purple_White_Solid.png" alt="logo" style="padding-top:15px; width: 250px;">
                <h4 style="font-weight: bold;">Rewarding Volunteer Distributed Computing</h4>
            </div>
        </div>
    </div>
</section>
<!--/end of intro-->

<!--What is Gridcoin section-->
<section  data-background-color="black" style="padding-bottom:15px;">
    <div class="container">
        <div class="row" style="padding-top:75px;">
            <!--<div class="col-md-4 col-sm-4 hidden-xs" style="text-align:center;">
                <img src="/Images/LOGO/GRCVertical_Purple_Transparent.png" alt="GRC"  style="width: 400px;" />
            </div>-->
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:5px;">
                <h3 style="text-align: center;">What is Gridcoin?</h3>
                <p style="margin-bottom: 10px;">
                    Gridcoin seeks to create a decentralized and sustainable distributed processing network which prioritizes both the utilization of existing Idle Processing Potential (IPP) and the creation of a free to host ecosystem for researchers and individuals with data to process.
                </p>
                <p style="margin-bottom: 10px;">
                    To this end, Gridcoin has created an open source blockchain based digital asset (Ticker: GRC) secured by Proof of Stake, and which rewards those who volunteer their IPP to the grid computing network, BOINC.  BOINC, The Berkeley Open Infrastructure for Network Computing, is an open-source distributed processing network which provides scientists and enthusiasts with a means to host data for free.  Volunteers then offer their IPP to specific BOINC projects which help map the Milky Way, detect near earth asteroids, find prime numbers, fold proteins, test cures and vaccines, test chemical and molecular combinations, Search for Extraterrestrial Life (SETI), crack codes from WWII, and more.
                </p>
                <p style="margin-bottom: 10px;">
                    Unlike our competitors, Gridcoin believes that the power to analyze the endless data of the universe belongs to everyone, not just those with the funds to purchase mass volumes of processing power.  Gridcoin also believes that a network which encourages individuals and entities to volunteer their IPP presents a more efficient and sustainable option than a network which incentivizes the centralization of processing power.
                </p>
                <p style="margin-bottom: 10px;">
                    By directly rewarding those who volunteer their idle processing power to BOINC, Gridcoin hopes to create an ecosystem in which valuable data, or worthwhile research, is defined by how volunteers move their IPP among the array of projects.  This, with no concern for finding the greatest reward.
                </p>
            </div>
        </div>
    </div>
</section>
                
<!--<section  data-background-color="black" style="padding-bottom:15px;">
    <div class="container">
        <div class="row" style="padding-top:75px;">
            <div class="col-md-4 col-sm-4 hidden-xs" style="text-align:center;">
                <img src="/Images/LOGO/GRCVertical_Purple_Transparent.png" alt="GRC"  style="width: 400px;" />
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:5px;">
                <h3 style="text-align: center;">What is Gridcoin?</h3>
                <p style="margin-bottom: 10px;">
                    Gridcoin (Ticker: <span style="font-weight:bold;">GRC</span>) is a decentralized, open source math-based digital asset (<a href="https://en.wikipedia.org/wiki/Cryptocurrency">cryptocurrency</a>) which performs transactions peer-to-peer cryptographically without the need for a central issuing authority.
                </p>
                <li style="margin-bottom: 10px; text-align:left;">
                    Gridcoin was the first block chain protocol that delivered a working algorithm that equally rewards and cryptographically proves solving <a href="https://boinc.berkeley.edu/">BOINC</a> (Berkeley Open Infrastructure for Network Computing) hosted work, which can be virtually any kind of distributed computing process <span style="font-weight:bold;">(GPU/CPU/Sensor/Etc)</span>.
                </li>
                <li style="margin-bottom: 10px; text-align:left;">
                    <a href="https://boinc.berkeley.edu/">BOINC</a> is an open-source volunteer oriented computing grid that combines the processing power of all individual users for the purposes of scientific research. It's free, and harnesses the unused clock cycles from processors and graphics cards to <a href="/Guides/whitelist.htm">attempt to cure cancer/aids/ebola/malaria, map the milkyway, crack enigma codes, etc.</a>.
                </li>
                <p style="margin-bottom: 10px;">
                    Gridcoin <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-Research">securely rewards</a> <a href="https://en.wikipedia.org/wiki/Volunteer_computing">volunteer distributed computing</a> performed upon the <a href="https://boinc.berkeley.edu/" style="font-weight:bold;">BOINC platform</a> in a decentralized manner on top of <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-Stake">proof of stake</a>. Projects range from <a href="https://www.worldcommunitygrid.org/discover.action">attempting to cure diseases</a> to <a href="https://setiathome.berkeley.edu/">searching for extraterrestrial life</a>! You can distribute virtually any kind of distributed computation through <a href="https://boinc.berkeley.edu/" style="font-weight:bold;">BOINC</a> (utilizing GPU/CPU/FPGA/Mobiles/ARM/Sensors/etc..).
                </p>
                <p style="margin-bottom: 10px;">
                    The BOINC network is currently made up of approximately 500k active users and 4 million registered users - a massive potential userbase for Gridcoin and a serious amount of computing power available for volunteer computing projects!
                </p>
                <p style="margin-bottom: 10px;">
                    Anyone interested in accessing serious amounts of distributed computing power can run a BOINC project to create a distributed cloud service of their own desire (fairly easily) whilst the Gridcoin network potentially rewards their project's volunteers on their behalf. Volunteer computing is substantially cheaper than cloud computing services, the 
                </p>
                
                <li style="margin-bottom: 10px; text-align:left;">
                    Gridcoin rewards BOINC computation using the Distributed Proof of Research <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-Research">(DPOR)</a> reward mechanism, which is a combination of Proof of BOINC <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-BOINC">(POB)</a> and Proof of Stake <a href="http://wiki.gridcoin.us/Proof-of-Research#Proof-of-Stake"></a>.
                </li>
                <p style="margin-bottom: 10px;">
                     Proof of Work (<a href="https://en.wikipedia.org/wiki/Proof-of-work_system">POW</a>) consensus mechanisms are not utilised by the Gridcoin network, making the Gridcoin cryptocurrency network far more energy efficient than any existing POW cryptocurrency.
                </p>
            </div>
        </div>
    </div>
</section>-->
<!--/End of "What is Gridcoin" section-->

<section data-background-color="black" style="overflow-x: hidden; padding-top: 25px;">
    <!-- BOINC Content -->
    <div class="container">
        <div class="row">
            <div class="hidden-sm-down col-md-12 col-lg-12">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th style="color:white;">
                                Solo Crunching
                            </th>
                            <th style="color:white;">
                                Pool Crunching
                            </th>
                            <th style="color:white;">
                                Investor Mode
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Earn BOINC rewards
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#7d00f4;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Earn 1.5% APR
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#7d00f4;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Helps secure network
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#7d00f4;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Decentralized
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#7d00f4;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ability to vote
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#7d00f4;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Keep 100% of Rewards
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#7d00f4;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                No upfront investment
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#7d00f4;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#7d00f4;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                BOINC Leaderboards
                            </td>
                            <td>
                                Boincstats, Gridcoinstats &amp; others
                            </td>
                            <td>
                                Pool only
                            </td>
                            <td>
                                Gridcoinstats
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <a href="/Guides/boinc-install.htm"><button class="btn btn-round" style="background-color:#4e0097;margin:5px;font-weight:bold;">Solo Crunching Guide</button></a>
                            </td>
                            <td>
                                <a href="/Guides/pool.htm"><button class="btn btn-round" style="background-color:#4e0097;font-weight:bold;">Pool Crunching Guide</button></a>
                            </td>
                            <td>
                                <a href="/Guides/investor-gridcoin-setup.htm" class="text-center"><button class="btn btn-round" style="background-color:#4e0097;font-weight:bold;">Investor Guide</button></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12 col-sm-12 hidden-md-up">
                <table class="table table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th style="color:white;">
                                Solo
                            </th>
                            <th style="color:white;">
                                Pool
                            </th>
                            <th style="color:white;">
                                Investor
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Earn BOINC rewards
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#7d00f4;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Earn 1.5% APR
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#7d00f4;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Helps secure network
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#7d00f4;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Decentralized
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#7d00f4;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ability to vote
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#7d00f4;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Keep 100% of Rewards
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#7d00f4;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                No upfront investment
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#7d00f4;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#7d00f4;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <a href="/Guides/boinc-install.htm"><button class="btn btn-round" style="background-color:#4e0097;font-weight:bold;">Guide</button></a>
                            </td>
                            <td>
                                <a href="/Guides/pool.htm"><button class="btn btn-round" style="background-color:#4e0097;font-weight:bold;">Guide</button></a>
                            </td>
                            <td>
                                <a href="/Guides/investor-gridcoin-setup.htm" class="text-center"><button class="btn btn-round" style="background-color:#4e0097;font-weight:bold;">Guide</button></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


    <!-- download -->
<section style="margin-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align:center; width: 100%;">
                <a name="Downloads"></a>
                <h4 style="color:white; font-weight:bold;">
                    Gridcoin Downloads
                </h4>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <!--GRC Research Downloads-->
            <div class="col-xs-12 col-sm-4">
                <h4 style="color:white;">Windows</h4>
                    <a class="btn btn-round" style="background-color:#4e0097;margin:5px;font-weight:bold;" href="http://download.gridcoin.us/download/downloadstake/GridcoinResearch.msi">
                        Gridcoin Research Wallet
                    </a>
                    <h4 style="color:white;">MacOS</h4>
                    <a class="btn btn-round" style="background-color:#4e0097;margin:5px;font-weight:bold;" href="https://github.com/Git-Jiro/homebrew-jiro/releases">
                        DMG packages
                    </a>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h4 style="color:white;">Linux</h4>
                    <a class="btn btn-round" style="background-color:#4e0097;margin:5px;font-weight:bold;" href="https://software.opensuse.org/package/gridcoinresearch">.rpm <span class="hidden-xs hidden-sm">(opensuse/fedora)</span> package</a><br/>
                    <a class="btn btn-round" style="background-color:#4e0097;margin:5px;font-weight:bold;" href="https://code.launchpad.net/~gridcoin/+archive/ubuntu/gridcoin-stable">.deb <span class="hidden-xs hidden-sm">(debian/ubuntu)</span> package</a><br/>
                    <a class="btn btn-round" style="background-color:#4e0097;margin:5px;font-weight:bold;" href="https://aur.archlinux.org/packages/gridcoinresearch-qt">Archlinux AUR package</a>
            </div>
            <!--/GRC Research Downloads-->
            <!--MISC-->
            <div class="col-xs-12 col-sm-4">
                <h4 style="color:white;">Other</h4>
                    <a class="btn btn-round" style="background-color:#4e0097;margin:5px;font-weight:bold;" href="http://efmer.com/b/?q=boinctasks_download">Boinctasks</a><br/>
                    <a class="btn btn-round" style="background-color:#4e0097;margin:5px;font-weight:bold;" href="https://boinc.berkeley.edu/download_all.php">BOINC Clients</a><br/>
                    <a class="btn btn-round" style="background-color:#4e0097;margin:5px;font-weight:bold;" href="https://github.com/marius311/boinc-server-docker">BOINC server docker container</a>
            </div>
            <!--/MISC-->
        </div>
    </div>
</section>
<!--/downloads-->