---
title: "Gridcoin - Rewarding Scientific Distributed Computing"
description: "Gridcoin is a cryptocurrency which rewards volunteer distributed computation performed on the BOINC platform on top of Proof of Stake."
---
<!-- Intro-->
<section data-background-color="color" style="margin-top:-20px; padding-top: 150px; padding-bottom:65px; background-image:linear-gradient(#7235d3, #420479);">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align: center; width: 100%;">

                <img src="/assets/img/GridcoinBlocks_Header_Transparent.png" alt="logo" style="padding-top:15px;">
                <!--<img src="/assets/img/LOGO/GRCVertical_Purple_White_Solid.png" alt="logo" style="padding-top:15px; width: 250px;">-->
                <h4 style="font-weight: bold;">Rewarding Volunteer Distributed Computing</h4>
            </div>
        </div>
    </div>
</section>
<!--/end of intro-->

<!--What is Gridcoin section-->
<section  data-background-color="black" style="padding-bottom:15px;">
    <div class="container">
        <div class="row" style="padding-top:75px;">
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:5px;">
                <h3 style="text-align: center;">What is Gridcoin?</h3>
                <p>
                    Gridcoin is an open source <a href="https://en.wikipedia.org/wiki/Cryptocurrency">cryptocurrency</a> (Ticker: GRC) which securely rewards <a href="https://en.wikipedia.org/wiki/Volunteer_computing">volunteer computing</a> performed on the <a href="https://boinc.berkeley.edu/">BOINC platform</a>.
                </p>
                <h3 style="text-align: center; padding-top: 5px">What is BOINC?</h3>
                <p>
                    <a href="https://boinc.berkeley.edu/">BOINC</a> is an open source volunteer computing grid which combines the processing power of individual users for the purposes of scientific research. It is free to use and already home to 30+ projects spanning a range of scientific disciplines. Examples include protein structure prediction (<a href="https://boinc.bakerlab.org/rosetta/">Rosetta@home</a>), mapping the Milky Way galaxy (<a href="https://milkyway.cs.rpi.edu/milkyway/">Milkyway@home</a>), searching for record prime numbers (<a href="http://primegrid.com/">Primegrid</a>), and tackling problems in public health and clean energy (<a href="https://www.worldcommunitygrid.org/discover.action">World Community Grid</a>).
                </p>
                <h3 style="text-align: center;";>How can I participate?</h3>
                <p>
                    Individuals: Join BOINC and start earning Gridcoin for your contributions! See the 'Guides' section for details.
                </p>
                <p>
                    Researchers and institutions: Tap into the spare processing power of tens of thousands of volunteers, and create your own BOINC project for free! In turn, the Gridcoin network can reward your project's userbase to encourage participation and improve user retention.
                </p><br>
                <div class="col-xs-12" style="text-align: center; width: 100%;">
                    <a href="/assets/img/whitepaper.pdf" target="_blank"><button class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;text-align: center;">Gridcoin Whitepaper</button></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/End of "What is Gridcoin" section-->

<section data-background-color="black" style="overflow-x: hidden; padding-top: 25px;">
    <!-- BOINC Content -->
    <div class="container">
        <div class="row">
            <div class="hidden-sm-down col-md-12 col-lg-12">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th style="color:white;">
                                Solo Crunching
                            </th>
                            <th style="color:white;">
                                Pool Crunching
                            </th>
                            <th style="color:white;">
                                Investor Mode
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Earn BOINC rewards
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Earn 1.5% APR
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Helps secure network
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Decentralized
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ability to vote
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Keep 100% of Rewards
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                No upfront investment
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                BOINC Leaderboards
                            </td>
                            <td>
                                BOINCstats, Gridcoinstats &amp; others
                            </td>
                            <td>
                                Pool only
                            </td>
                            <td>
                                Gridcoinstats
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <a href="/Guides/boinc-install.htm"><button class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;">Solo Crunching Guide</button></a>
                            </td>
                            <td>
                                <a href="/Guides/pool.htm"><button class="btn btn-round" style="background-color:#420479;font-weight:bold;">Pool Crunching Guide</button></a>
                            </td>
                            <td>
                                <a href="/Guides/investor-gridcoin-setup.htm" class="text-center"><button class="btn btn-round" style="background-color:#420479;font-weight:bold;">Investor Guide</button></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12 col-sm-12 hidden-md-up">
                <table class="table table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th style="color:white;">
                                Solo
                            </th>
                            <th style="color:white;">
                                Pool
                            </th>
                            <th style="color:white;">
                                Investor
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Earn BOINC rewards
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Earn 1.5% APR
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Helps secure network
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Decentralized
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ability to vote
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Keep 100% of Rewards
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                No upfront investment
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" style="color:white;" aria-hidden="true"></i>
                            </td>
                            <td>
                                <i class="fa fa-minus" style="color:#5411b3;" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <a href="/Guides/boinc-install.htm"><button class="btn btn-round" style="background-color:#420479;font-weight:bold;">Guide</button></a>
                            </td>
                            <td>
                                <a href="/Guides/pool.htm"><button class="btn btn-round" style="background-color:#420479;font-weight:bold;">Guide</button></a>
                            </td>
                            <td>
                                <a href="/Guides/investor-gridcoin-setup.htm" class="text-center"><button class="btn btn-round" style="background-color:#420479;font-weight:bold;">Guide</button></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


    <!-- download -->
<section style="margin-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align:center; width: 100%;">
                <a name="Downloads"></a>
                <h4 style="color:white; font-weight:bold;">
                    Download the Latest Gridcoin Updates
                </h4>
                <p style="color:#93aa4f; font-weight:bold;">
                	Current Wallet Version: 3.7.16.0
                </p>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <!--GRC Research Downloads-->
            <div class="col-xs-12 col-sm-4">
                <h4 style="color:white;">Gridcoin Research Wallet (Windows 64 Bit)</h4>
                    <a class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;" href="https://download.gridcoin.us/download/downloadstake/GridcoinResearch.msi">
                        Download MSI
                    </a><br />
                    <a class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;" href="https://download.gridcoin.us/download/downloadstake/GridcoinResearch.msi.sha256">
                        SHA256 Checksum
                    </a>
                    
                    <h4 style="color:white;">Gridcoin Research Wallet (MacOS DMG)</h4>
                    <a class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;" href="https://github.com/Git-Jiro/homebrew-jiro/releases">
                        Download
                    </a>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h4 style="color:white;">Gridcoin Research Wallet (Linux)</h4>
                    <a class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;" href="https://software.opensuse.org/package/gridcoinresearch">.rpm <span class="hidden-xs hidden-sm">(opensuse/fedora)</span> package</a><br/>
                    <a class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;" href="https://code.launchpad.net/~gridcoin/+archive/ubuntu/gridcoin-stable">.deb <span class="hidden-xs hidden-sm">(debian/ubuntu)</span> package</a><br/>
                    <a class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;" href="https://aur.archlinux.org/packages/gridcoinresearch-qt">Archlinux AUR package</a>
            </div>
            <!--/GRC Research Downloads-->
            <!--MISC-->
            <div class="col-xs-12 col-sm-4">
                <h4 style="color:white;">Other</h4>
                    <a class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;" href="https://efmer.com/download-boinctasks/">BOINCtasks</a><br/>
                    <a class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;" href="https://boinc.berkeley.edu/download_all.php">BOINC Clients</a><br/>
                    <a class="btn btn-round" style="background-color:#420479;margin:5px;font-weight:bold;" href="https://github.com/marius311/boinc-server-docker">BOINC server docker container</a>
            </div>
            <!--/MISC-->
        </div>
    </div>
</section>
<!--/downloads-->
