---
title: "Gridcoin - BOINC Development/Test"
layout: layout
---
<!--Intro-->
<section data-background-color="black" style=" padding-bottom:0px;">
    <div class="container">
        <div class='row'>
            <div class='col-xs-12 text-center'>
                <h4 style="font-weight:bold;">BOINC Project Development & Test</h4>
            </div>
        </div>
    </div>
</section>
<!--/Intro-->
    <!-- Guide links -->
    <section data-background-color="black" style="min-height:100%">
       <div class="container">
            <div class="col-sm-10 col-sm-offset-1" style="padding-top:25px; padding-bottom:25px;">
                <div class="row">
                    <h4>Official BOINC Development:</h4>
                    The Berkeley Open Infrastructure for Network Computing (BOINC) is an open source middleware system for volunteer and grid computing. It was originally developed to support the SETI@home project before it became useful as a platform for other distributed applications in areas as diverse as mathematics, medicine, molecular biology, climatology, environmental science, and astrophysics. The intent of BOINC is to make it possible for researchers to tap into the enormous processing power of personal computers around the world.<br />
                    <br />
                    BOINC has been developed by a team based at the Space Sciences Laboratory (SSL) at the University of California, Berkeley led by David Anderson, who also leads SETI@home.                    <br />
                </div>
                <br />
                <div class="row">
                        <h4>
                            BOINC Links
                        </h4>
                    <div class="col-sm-6">
                        <h6>Important BOINC DEV links:</h6>
                        <ul>
                            <li>
                                <a href="https://boinc.berkeley.edu/trac/wiki/ProjectMain">Wiki documenting creation and operation of BOINC projects</a>
                            </li>
                            <li>
                                <a href="https://boinc.berkeley.edu/trac/wiki/SoftwareDevelopment">BOINC software development wiki</a>
                            </li>
                            <li>
                                <a href="http://boinc.berkeley.edu/wiki/User_manual">BOINC client software wiki</a>
                            </li>
                        </ul>
                        <h6>Misc links</h6>
                        <ul>
                            <li>
                                <a href="https://boinc.berkeley.edu/dev/">Message Boards</a>
                            </li>
                            <li>
                                <a href="https://boinc.berkeley.edu/email_lists.php">Email lists</a>
                            </li>
                            <li>
                                <a href="https://boinc.berkeley.edu/trac/wiki/ProjectPeople">Personnel and contributors</a>
                            </li>
                            <li>
                                <a href="https://boinc.berkeley.edu/trac/wiki/BoincEvents">Events</a>
                            </li>
                            <li>
                                <a href="https://boinc.berkeley.edu/trac/wiki/ResearchProjects">Projects</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h6>BOINC is currently seeking help in the following areas:</h6>
                        <ul>
                            <li>
                                <a href="https://boinc.berkeley.edu/trac/wiki/DevProjects">Programming</a>
                            </li>
                            <li>
                                <a href="https://boinc.berkeley.edu/trac/wiki/TranslateIntro">Translation</a>
                            </li>
                            <li>
                                <a href="https://boinc.berkeley.edu/trac/wiki/AlphaInstructions">Testing</a>
                            </li>
                            <li>
                                <a href="https://boinc.berkeley.edu/trac/wiki/WikiMeta">Documentation</a>
                            </li>
                            <li>
                                <a href="http://boinc.berkeley.edu/wiki/Publicizing_BOINC">Publicity</a>
                            </li>
                        </ul>
                        Please help the BOINC community out where ever you can.<br />
                    </div>
                </div>
                <br />
                <div class="row">
                    <h4>BOINC Project Development:</h4>
                    <h6>Who should consider implementing a BOINC project?</h6>
                    <ul>
                        <li>
                            Scientists: use BOINC to create a <a href="https://boinc.berkeley.edu/volunteer.php">volunteer computing project</a> giving you the computing power of thousands of CPUs.
                        </li>
                        <li>
                            Universities: use BOINC to create a <a href="https://boinc.berkeley.edu/trac/wiki/VirtualCampusSupercomputerCenter">Virtual Campus Supercomputing Center</a>.
                        </li>
                        <li>
                            Companies: use BOINC for <a href="https://boinc.berkeley.edu/dg.php">desktop Grid computing</a>.
                        </li>
                    </ul>
                    <h6>How do you create a BOINC project?</h6>
                    <ul>
                        <li>
                            Read this official (old) '<a href="https://boinc.berkeley.edu/boinc.pdf">creating boinc projects</a>' pdf guide to get an understanding of how to implement a boinc project.
                        </li>
                        <li>
                            Look into the <a href="https://boinc.berkeley.edu/trac/wiki/CreateProjectCookbook">Project creation cookbook</a> to simplify the implementation of a BOINC project.
                        </li>
                        <li>
                            '<a href="http://www.spy-hill.net/myers/help/boinc/boinc-on-linux.html">Building BOINC and BOINC applications on linux</a>' - October 2009
                        </li>
                        <li>
                            Bear in mind, the BOINC server has to run on linux - so you'll need some minor linux skills and a linux environment to deploy the project to.
                        </li>
                        <li>
                            If you only have a windows environment, try running the server in a linux VM.
                        </li>
                    </ul>
                    <h6>How do you get a BOINC project whitelisted for Gridcoin?</h6>
                    <ul>
                        <li>
                            For the time being, there is no procedure for being screened prior to being whitelisted; this will soon change, and peer review of open source code will be mandatory.
                        </li>
                        <li>
                            For the time being, the only dependancy prior to being whitelisted is available work for users to compute.
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <h4>Potential areas of development for new BOINC projects:</h4>
                    <ul>
                        <li>
                            A decentralized autonomous boinc project that has no central authority would be incredibly liberating for gridcoin, as there would be no central website to attack if someone was so inclined.
                        </li>
                        <li>
                            Commercial BOINC projects: Customer needs 'x' calculated/processed & pays 'y' GRC for 'z' work units being distributed on the network. Each completed work unit gets (y/z) reward for their computing power. Perhaps the boinc project takes a tiny fee to pay for the server.
                        </li>
                        <li>
                            Proof of bandwidth projects: Previously volunteer-only projects can now offer a monetary incentive via GRC; take for example running a TOR exit node.
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <h4>Got an idea for a new BOINC project?</h4>
                    Visit the <a href="https://cryptocointalk.com/topic/10694-brainstorm-session-ideas-for-boinc-projects/">BOINC project brainstorming thread</a> on the official forums, and share what you've thought of.
                </div>
            </div>
        </div>
    </section>
        <!-- End of guide links -->