---
title: "Gridcoin - Development/Test"
layout: layout
---
<!--Intro-->
<section data-background-color="black" style=" padding-bottom:0px;">
    <div class="container">
        <div class='row'>
            <div class='col-xs-12 text-center'>
                <h4 style="color:white; font-weight:bold;">Gridcoin Development</h4>
            </div>
        </div>
    </div>
</section>
<!--/Intro-->
<section data-background-color="black">
    <div class="container">
        <div class="col-sm-12" style="padding-top:25px; padding-bottom:25px;">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1 alert alert-warning" style="text-align:center;">
                    <h5>We're actively looking for developers!</h5>
                    Developer roles are unfortunatley non-paid roles; this is an open source free project.<br />
                    Prefered areas of experience: C++, unit testing, knowledge of the blockchain, cryptocurrency algorithms, distributed computing, boinc, etc.<br />
                    Contact <a href="mailto:contact@gridcoin.us?Subject=Developer%20Application" target="_top">Rob Halförd</a>, or join the <a href="https://cryptocointalk.com/forum/464-gridcoin-grc/">forums</a> if interested.<br />
                </div>
                <div class="col-sm-5 alert alert-warning" style="text-align: center; margin-left: 15px;">
                    <h5>We're looking for package maintainers!</h5>
                    We're looking for dedicated & experienced package maintainers for as many operating systems as possible.<br />
                    If you're interested, jump right in to the <a href="https://cryptocointalk.com/topic/25724-group-research-build-automation-package-support/">Packaging thread</a>.
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <h6>Gridcoin change logs</h6>
                    <ul>
                        <li>
                            <a href="http://wiki.gridcoin.us/Release_Info">Wiki: Detailed release info</a>
                        </li>
                        <li>
                            <a href="https://github.com/gridcoin/Gridcoin-Research/commits/master">Github: Latest Commits</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h6>Got ideas for improving Gridcoin?</h6>
                    Submit your ideas to <a href="https://cryptocointalk.com/topic/1453-wishlist-todo-list/">this thread</a> and we'll discuss the potential for the development of said idea.
                </div>
                <div class="col-sm-4">
                    <h6>Interested in GRC DEV?</h6>
                    Visit the <a href="https://cryptocointalk.com/forum/2378-development/">GRC Development sub-forum</a> to pick a development project that interests you.
                </div>
            </div>
        </div>
    </div>
</section>
<!--Intro-->
<section data-background-color="black" style=" padding-bottom:0px; padding-top:0px">
    <div class="container">
        <div class='row'>
            <div class='col-xs-12 text-center'>
                <h4 style="color:white; font-weight:bold;">Gridcoin Testing</h4>
            </div>
        </div>
    </div>
</section>
<!--/Intro-->
    <div style="min-height:100%">
        <!-- download -->
        <section class="price-1">
            <div class="container">
                <!--
                <div class="row">
                    <div class="col-sm-12 alert-warning" style="text-align:center;">
                        <h5>We're actively looking for beta testers!</h5>
                        No application or previous experience is neccessary!<br />
                        Help us out on the test-net to improve gridcoin!<br />
                    </div>
                </div>
                -->
                <div class="row">
                <h5>Testing new version of Gridcoin in testnet</h5>
                Perhaps it's the case that you've not got the expertise to contribute towards programming projects, if you want to seriously help out development with no knowledge of the underlying code, you can help out the testnet testing of gridcoin.<br />
                Testing new versions of gridcoin prior to test is crucial to the stability of the production network; we don't want everyone to update only for a bug to cause serious problems on the live network. Hence, every bug we find in testnet is invaluable towards Gridcoin.<br />
                <a href="https://cryptocointalk.com/forum/2378-development/">Check the development sub-forum for Beta testing/Testnet threads!</a><br />
                <br />
                <h5>Things to note!</h5>
                <ul>
                    <li>
                        GRC earned during testnet testing is not real! If you can't accept that, don't test.
                    </li>
                    <li>
                        If you experience a crash/hang/error, you should attempt to gather as much information on the error - screenshots/logs/files and submit the results to the testnet thread (linked above).
                    </li>
                    <li>
                        By pointing some computing power at the gridcoin testnet, you'll not only be helping make gridcoin more secure, but you'll be getting inside info on the latest features that will be coming to gridcoin; this can play to your advantage over lazy miners.
                    </li>
                </ul>
            </div>
            <!--/.container-->
        </section>
        <!-- End of download -->
    </div>
        <!-- End of guide links -->